<!DOCTYPE html>
<html>
<head>
{{ f_SetIsMobile(true) }}
	<!--  common javascript & CSS header -->
	{% if app.request.query.get('type') == 'workflow' or app.request.query.get('type') == 'document' %}
		{# Handle hide and when show below header only if document is opend by itself e.g workflow screen #}
		{% include 'DocovaBundle:Mobile:mobileDocumentCommonScriptsHeader.html.twig'%}
	{% endif %}
	
		<!-- common JS Header -->
	{# Common shared Document JS header #}
	{% include 'DocovaBundle:Mobile:mobileDocumentCommonJSHeader.html.twig'%}

	{% if subforms %}
		{% for subform in subforms %}
			{% if subform['JSHeader'] != false %}
			<script language="javascript" type="text/javascript" src="{% if subform['JSHeader'] starts with 'sfCustomSection-' %}{{ asset('upload/js/') }}{% else %}{{ asset('bundles/docova/js/custom/') }}{% endif %}{{ subform['JSHeader'] ~ '.js' }}" charset="UTF-8"></script>
			{% endif %}
		{% endfor %}
	{% endif %}
	{% if workflow_options|length > 0 %}
		{% if workflow_options['JSHeader'] != false %}
		<script language="javascript" type="text/javascript" src="{{ asset('bundles/docova/js/custom/') ~ workflow_options['JSHeader'] ~ '.js' }}" charset="UTF-8"></script>
		{% endif %}
	{% endif %}
</head>
<body text="#000000" bgcolor="#FFFFFF">

{% set actionParams = "EditDocument&Mobile=true&device=" ~ app.request.query.get('device') ~ "&type=" ~ app.request.query.get('type')%}

	<form action="{% if document %}{{ path('docova_editdocument', { 'doc_id' : document.getId }) }}?{{ actionParams }}{% else %}{{ path('docova_documentpage', { 'mobile' : 'mDocument'}) }}?OpenDocument&ParentUNID={{ folder_info.getId }}&folderid={{ folder_info.getId }}&typekey={{ document_type.getId }}&mode=&device=&Seq=1#reload{% endif %}" enctype="multipart/form-data" name="_mDocument" method="post">

		<!-- data exchange -->
		<span style="display: none;"> 
			<input type=hidden id="DocKey" name="DocKey" value="{% if document %}{{ document.getId }}{% endif %}" />
			<input type="hidden" id="OFileNames" name="OFileNames" value="" /> 
			<input type="hidden" id="OFileDates" name="OFileDates" value="" />
		</span>
		
		<!----------------------- docInfo variable -------------------------------->
		{% include 'DocovaBundle:Mobile:mobileDocumentEditDocInfo.html.twig'%}
	
		<!---------------------------- INLINE CSS ---------------------------------->		
		{% include 'DocovaBundle:Mobile:mobileDocumentCommInlineCSS.html.twig'%}
		

{% if app.request.query.get('type') == 'workflow' or app.request.query.get('type') == 'document' %}
<div  data-role="page">
	<div data-role="content" data-theme="c">
		<ul data-role="listview" data-inset="true" itemtype="document" data-theme="c">
			<li>
{% endif %}
		<!-------------------- Top Section of Document -------------------------------------------->
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr valign="top" align="left">
				<td>
					<!-------------------- Document Heading -------------------------------------------->
					<div id="mDocHead" style="float: left;">
						<h3 class="ui-li-heading">
							<img src="{{ asset('bundles/docova/images/FIcon_GreenDoc.jpg') }}" />{{ document_type.getDocName }}
						</h3>
					</div>
				</td>
				<td align="right">
					<!-------------------- Form Buttons -------------------------------------------->
					<div style="display: inline;">
						<!-- standard form buttons start -->
						<!-- Save And Close -->
						<button  class="pageBtns" data-role="none" id="btnSaveAndClose" onClick="HandleSaveClick();return false;">Save and Close</button>
					</div> 
					<!-- workflow/other buttons -->
					<div style="display: inline;">
					{% if action_buttons|length > 0 %}
						{% for button in action_buttons %}
							{% if button['Label'] != 'Workflow' and button['Visible'] == true %}
						<button class="pageBtns" data-role="none" id="btn{{ button['Label']|replace({' ' : ''}) }}"	onClick="{{ button['Script']|raw }}">{{ button['Label'] }}</button>
							{% endif %}
						{% endfor %}
					{% endif %}
					</div>
				</td>
			</tr>
		</table>
		<!-------------------- Default Document Fields -------------------------------------------->
		<div id="mDocBody" style="display:;">
			<p>
				<strong>{{ document_type.getSubjectLabel }}:</strong>
				<input name="Subject" value="{% if document %}{{ document.getDocTitle }}{% endif %}" />
			</p>
			<p>
				<strong>Status:</strong> {% if document %}{{ document.getDocStatus }}{% else %}Draft{% endif %}
			</p>
		</div>
		<!-------------------- Hidden More Section Fields -------------------------------------------->
		<div id="mDocMore" style="display: none;">
			<table cellpadding="3" width="100%" border="0" cellspacing="0"
				cellpadding="0">
				<tr valign="top">
					<td class="fieldLabelCell" width="15%">Author:</td>
					<td class="fieldCell" width="85%">{% if document and document.getAuthor %}{{ document.getAuthor.getUsername }}{% endif %}</td>
				</tr>

				<tr valign="top">
					<td class="fieldLabelCell" width="15%">Document Date:</td>
					<td class="fieldCell" width="85%">{% if document %}{{ document.getDateCreated|date('d/m/Y') }}{% endif %}</td>
				</tr>

				<tr valign="top">
					<td class="fieldLabelCell" width="15%">Description:</td>
					<td class="fieldCell" width="85%">{% if document %}{{ document.getDescription }}{% endif %}&nbsp;</td>
				</tr>

				<tr valign="top">
					<td class="fieldLabelCell" width="15%">Keywords:</td>
					<td class="fieldCell" width="85%">{% if document %}{{ document.getKeywords }}{% endif %}&nbsp;</td>
				</tr>

				<tr valign="top">
					<td class="fieldCell" width="15%">Review cycle:</td>
					<td class="fieldCell" width="85%"></div> As per applicable policy.<br>
					</td>
				</tr>

				<tr valign="top">
					<td class="fieldCell" width="15%">Archiving:</td>
					<td class="fieldCell" width="85%">As per applicable policy</td>
				</tr>
			</table>

			<table cellpadding="3" width="100%" border="0" cellspacing="0"
				cellpadding="0">
				<tr valign="top">
					<td class="fieldLabelCell" width="22%">Owner:</td>
					<td class="fieldCell" width="78%">{% if document %}{{ document.getOwner.getUsername }}{% endif %}</td>
				</tr>

				<tr valign="top">
					<td class="fieldLabelCell" width="22%">Additional Editors:</td>
					<td class="fieldCell" width="78%">{{ doc_editors }}&nbsp;</td>
				</tr>

				<tr valign="top">
					<td class="fieldLabelCell" width="22%">Restrict read access to:</td>
					<td class="fieldCell" width="78%">{{ doc_readers }}&nbsp;</td>
				</tr>
			</table>
		</div>
		<!-------------------- Configurable content section: START -------------------------------------------->
		<div id="mDocCustom" class=".ui-li-desc">
			<!-- section 1 -->
			{% if subforms %}
				{% for subform in subforms %}
				{{ subform['HTML']|raw }}
				{% endfor %}
			{% endif %}
			<!-------------------- Configurable content section: END -------------------------------------------->
		</div>
		<!-------------------- Workflow section (default location) -------------------------------------------->
		{% if workflows|length and (not workflow_options.isCreated or not workflow_options.isCompleted) and not document_type.getHideWorkflow %}
			{% for workflow in workflows %}
				{{ workflow|raw }}
			{% endfor %}
		{% endif %}
{% if app.request.query.get('type') == 'workflow' or app.request.query.get('type') == 'document' %}
			</li>
		</ul>
	</div>
</div> 
<!-- end of JQM div page & content -->
{% endif %}
		<!-------------------- Default document security -------------------------------------------->
	</form>
</body>
</html>
