<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1.5 user-scalable=yes">
 <META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
 <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0"> 
 <META HTTP-EQUIV="EXPIRES" CONTENT="0">
<title>DOCOVA Mobile</title>
<link rel="stylesheet" href="{{ asset('bundles/docova/jquery.mobile/jquery.mobile.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/docova/jquery.mobile/jquery.mobile.structure.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/docova/jquery.mobile/jquery.mobile.theme.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/docova/jquery.mobile.plugins/jqmDateBox/jqm-datebox.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/mobile/mobile.css') }}" />

<script src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script src="{{ asset('bundles/docova/jquery.mobile/jquery.mobile.js') }}"></script>