<!doctype html>
<html>
<head>
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness-flat/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleForm.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/admin/styleNewAppBuilder.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/font-awesome/css/all.min.css') }}">
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/ace/src-noconflict/ace.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/admin/appBuilderJS.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/js/admin/sfWorkspaceCommonJsHeader.js') }}"></script>
<script language="JavaScript" type="text/javascript">
var initFormName = "";
var editor = null;
var info = {
  "UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
  "UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
  "UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
  "UserNamesList" : "",
  "UserRoles" : "[Administration]",
  "HTTP_Referer" : "{{ url('docova_appbuilderframes') }}",
  "Query_String" : "openForm&AppID={{ app.request.query.get('AppID') }}",
  "Query_String_Decoded" : "openForm&AppID={{ app.request.query.get('AppID') }}",
  "Path_Info_Decoded" : "{{ isAgent ? path('docova_appagentbuilder') : path('docova_appscriptlibbuilder') }}?openForm&AppID={{ app.request.query.get('AppID') }}",
  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "PortalWebPath" : "{{ url('docova_homepage') }}",
  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "HomePageWeb" : "{{ path('docova_homepage') }}",
  "SessionDateFormat" : "{{ settings.getDefaultDateFormat|lower|replace({'yyyy' : 'yy'}) }}",
  "SSLState" : "{{ 'https' in app.request.getscheme|lower ? 'ON' : 'OFF' }}",
  "AppID" : "{{ app.request.query.get('AppID') }}",
  "FormUNID":"{{ document ? document.getId : '' }}",
  "DesignElementType" : "{% if isAgent %}Agent{% else %}ScriptLibrary{% endif %}",
  "DesignElementLabel" : "{% if isAgent %}Agent{% else %}ScriptLibrary{% endif %}",
  "TriggerDesignCreation" : ""
};
function getinfovar(){
   return info;
}
InitVars(info);

$(function() {
	$(document).on("contextmenu", function(e){ e.preventDefault(); e.stopPropagation();});
	
	var temptype = docInfo.DesignElementType;

	editor = ace.edit(temptype + "Code");
	editor.setTheme("ace/theme/chrome");
	editor.getSession().setMode("ace/mode/php");
	
	$(".ui-layout-east").resizable({
		handles: 'w',
 		ghost: true,
 		resize:function( e,ui ){
 			$(".ui-resizable-helper").css("border-left", " 8px solid  rgb(221,221,221)");
 		},
 		stop: function(e, ui){
 			resizeNewPanelHorizontal(ui);	
			editor.resize(true);			
		}
	});
	//calculate the widths of the panels - horizontal
	$("#eastpane").width("414px").css({
		'left' : 'auto',
		'right' : '0'
	});
	$("#inner-center").width($("#divContentSection").width() - $("#eastpane").outerWidth() - 15);
	
	$(window).resize(function(e) {
		e = e || event;
		if (e.target == window) {
			$("#inner-center").width($("#divContentSection").width() - $(".ui-layout-east").outerWidth() - 15);
			$(".ui-layout-east").css("left", "");
		}
		editor.resize(true);
	});

	$('#right-panel-tabs').tabs({
		collapsible: true,
		activate: function(e, ui) {
			if (!ui.newPanel.html()) {
				$('#eastpane').width($('#vertical-tabs').width() + 10).css({
					'left' : 'auto',
					'right' : '0'
				});
			}
			else {
				$('#eastpane').width(414).css({
					'left' : 'auto',
					'right' : '0'
				});
			}
			$("#inner-center").width($("#divContentSection").width() - $(".ui-layout-east").outerWidth() - 15);
			$(".ui-layout-east").css("left", "");
		}
	});

	$('#AgentSchedule').on('change', function() {
		refreshDisplay();
	});

	$('#frm-properties TH[expcol^="ag"]').on('click', function(){
		if ($('#frm-properties TR.'+ $(this).attr('expcol')).first().is(':visible')) {
			$('#frm-properties TR.'+ $(this).attr('expcol')).hide();
			$(this).children('i').prop('class', 'far fa-caret-right');
		}
		else {
			$('#frm-properties TR.'+ $(this).attr('expcol')).show();
			$(this).children('i').prop('class', 'far fa-caret-down');
		}
	});
	
//	$(".ui-layout-south").height("200px");	
//	$("#inner-center").height ( ($("#divContentSection").height() - $(".ui-layout-south").outerHeight())-10  );
    $( "#tabs" + temptype).tabs();

	//---Loads the design content either default or existing---
	LoadContent();
	
	//-- refresh hide show for properties
	refreshDisplay();
	//show divContentSection
	$("#divContentSection").css("display", "block");

	//special case where this document/form is being loaded with the sole intent of triggering the process of creating the back end design document
	if(docInfo && docInfo.TriggerDesignCreation && docInfo.TriggerDesignCreation != ""){
		doCreateDesignElement({disablesigning : true, disablecompile : true});
		window.location = "about:blank";  //clear the current contents
	}
});

function LoadContent(){
	var nl = "\r\n";
	var temptype = docInfo.DesignElementType;
	var lctemptype = temptype.toLowerCase();
	
	if (docInfo.FormUNID && docInfo.FormUNID != ""){	
		var DesignDocUNID = docInfo.FormUNID;
		var elementURL = docInfo.PortalWebPath + "ReadContent/" + DesignDocUNID + "?OpenDocument&DesignElement="+ docInfo.DesignElementType +"&AppID=" + docInfo.AppID + "&" + (new Date()).valueOf();	
	
		jQuery.ajax({
    		url: elementURL,
    		async: false, 
			success: function (results) {
    			//Get/Set formname
    			Docova.Utils.setField({
    				field: 'DEName',
    				value: Docova.Utils.allTrim(jQuery(results).filter('#DEName').html())
    			});

    			Docova.Utils.setField({
    				field: 'DEAlias',
    				value: Docova.Utils.allTrim(jQuery(results).filter('#DEAlias').html())
    			});

    			Docova.Utils.setField({
    				field: 'DEType',
    				value: Docova.Utils.allTrim(jQuery(results).filter('#DEType').html())
    			});

    			Docova.Utils.setField({
    				field: 'ProhibitDesignUpdate',
    				value: Docova.Utils.allTrim(jQuery(results).filter('#ProhibitDesignUpdate').html())
    			});
		
				//--Retrieve a set of additional properties
				var properties = jQuery(results).filter('#DEProperties').html();

				Docova.Utils.setField({
					field: 'AgentSchedule',
					value: Docova.Utils.allTrim(jQuery(properties).filter('#agentschedule').html())
				});

				Docova.Utils.setField({
					field: 'StartDayOfMonth',
					value: Docova.Utils.allTrim(jQuery(properties).filter('#startdayofmonth').html())
				});						

				Docova.Utils.setField({
					field: 'StartWeekDay',
					value: Docova.Utils.allTrim(jQuery(properties).filter('#startweekday').html())
				});						

				Docova.Utils.setField({
					field: 'StartHour',
					value: Docova.Utils.allTrim(jQuery(properties).filter('#starthour').html())
				});					
				Docova.Utils.setField({
					field: 'StartMinutes',
					value: Docova.Utils.allTrim(jQuery(properties).filter('#startminutes').html())
				});							
				Docova.Utils.setField({
					field: 'StartHourAMPM',
					value: Docova.Utils.allTrim(jQuery(properties).filter('#starthourampm').html())
				});						

				Docova.Utils.setField({
					field: 'IntervalHours',
					value: Docova.Utils.allTrim(jQuery(properties).filter('#intervalhours').html())
				});						
				Docova.Utils.setField({
					field: 'IntervalMinutes',
					value: Docova.Utils.allTrim(jQuery(properties).filter('#intervalminutes').html())
				});				
	
				Docova.Utils.setField({
					field: 'RunAs',
					value: Docova.Utils.allTrim(jQuery(properties).filter('#runas').html())
				});						
				Docova.Utils.setField({
					field: 'RuntimeSecurityLevel',
					value: Docova.Utils.allTrim(jQuery(properties).filter('#runtimesecuritylevel').html())
				});						

    			//-----Set the initFormName.  Use this global var to compare when saving or closing the form. If changed, the "old" design element will need to be deleted-----
    			initFormName = Docova.Utils.getField('DEName');
    			var t = null;
    			t = $(results).filter("#DECode").html();
    			if ( t ) {
    				t =  decodeURIComponent(atob(t));
    				//-----Get the code and insert it in the form
    				editor.setValue(t);
    				editor.focus();
    				editor.resize(true);
    				editor.scrollToLine(1, true, true, function () {});
    				editor.gotoLine(1, 0, true);
    			}
			}
		});
	//-- no existing content so set defaults
	}else{
		var dt = new Date();
		var defaultCode = [];
		defaultCode.push('<?php');
		defaultCode.push('');
		defaultCode.push('function Initialize()');
		defaultCode.push("{");
		defaultCode.push('	');
		defaultCode.push('}');
/*		
		defaultCode.push("<?php");
		defaultCode.push('use Symfony\\Bundle\\FrameworkBundle\\Command\\ContainerAwareCommand;');
		defaultCode.push('use Symfony\\Component\\Console\\Input\\InputInterface;');
		defaultCode.push('use Symfony\\Component\\Console\\Output\\OutputInterface;');
		defaultCode.push('use Symfony\\Component\\Console\\Input\\InputArgument;');
		defaultCode.push('use Symfony\\Component\\Console\\Input\\InputOption;\n');
		defaultCode.push("class SampleAgentCommand extends ContainerAwareCommand");
		defaultCode.push("{");
		defaultCode.push('	private $_em;');
		defaultCode.push('	private $_router;');
		defaultCode.push("	protected function configure()");
		defaultCode.push('	{');
		defaultCode.push("		$this->setName('docova:sampleagent')");
		defaultCode.push("			->setDescription('Description of your agent!');");
		defaultCode.push('	}\n');
		defaultCode.push('	protected function execute(InputInterface $input, OutputInterface $output)');
		defaultCode.push('	{');
		defaultCode.push('		$this->setEntityManager();');
		defaultCode.push('		$this->setRouter();\n');
		defaultCode.push('		//your code and logic should be defined here.');
		defaultCode.push('	}\n');
		defaultCode.push('	private function setEntityManager()');
		defaultCode.push('	{');
		defaultCode.push("		$this->_em = $this->getContainer()->get('doctrine')->getManager();");
		defaultCode.push('	}\n');
		defaultCode.push('	private function setRouter()');
		defaultCode.push('	{');
		defaultCode.push("		$this->_router = $this->getContainer()->get('router');");
		defaultCode.push('	}');
		defaultCode.push('}');
*/
		editor.getSession().setValue(defaultCode.join(nl));				
		editor.focus();
		editor.resize(true);
		editor.scrollToLine(1, true, true, function () {});
		editor.gotoLine(1, 0, true);						
	}
	
	return true;		
}

function refreshDisplay(){
	jQuery("#monthly").hide();
	jQuery("#weekly").hide();
	jQuery("#time").hide();
	jQuery("#hourly").hide();

	var sched = jQuery("#AgentSchedule").val();
	if(sched == "" || sched == "0"){
		//developer can pick whether to run non scheduled agents as admin or web user
		jQuery("#RunAs").prop("disabled", false);
	}else{
		//scheduled agents need to run as admin
		jQuery("#RunAs").val("A");		
		jQuery("#RunAs").prop("disabled", true);		
	
		if(sched == "1"){
			//multiple times per day
			jQuery("#hourly").show();
		}else if(sched == "D"){
			//daily
			jQuery("#time").show();	
		}else if(sched == "W"){
			//weekly
			jQuery("#weekly").show();
			jQuery("#time").show();			
		}else if(sched == "M"){
			//monthly
			jQuery("#monthly").show();		
			jQuery("#time").show();			
		}	
	}			
}

function resizeNewPanelHorizontal( ui )
{
	var elem = ui.element.parent();
	var parentWidth = ui.element.parent().width();
	var divTwo = ui.element.prev();
	var id = ui.element.attr("id");
	var remainingSpace = parentWidth - ( ui.element.width() + 15);
	if (remainingSpace < 710) {
		remainingSpace = 710;
		ui.element.width(parentWidth - 690);
		$(".ui-layout-east").resizable();
	}
	else if (ui.element.width() <= 414) {
		$("#eastpane").width("414px").css({
			'left' : 'auto',
			'right' : '0'
		});
		$("#inner-center").width($("#divContentSection").width() - $("#eastpane").outerWidth() - 15);
		$(".ui-layout-east").resizable();
	}
    divTwo.width(remainingSpace);
	if ($("#inner-center").width() > ($("#divContentSection").outerWidth() - $("#eastpane").outerWidth() - 40))
	{
		$("#inner-center").width($("#divContentSection").width() - $("#eastpane").width() - 15);
	}
}
</script>
</head>
<body text="#000000" bgcolor="#FFFFFF">
	<form method="post" action="" name="_AppAgentBuilder">
		<div id="divContentSection" class="app-page" style="display: none;">
			<div class="ui-layout-center" id="inner-center">
				<div id="actionbar_box" class="ui-widget ui-tabs ui-widget-header" style="height:27px;"></div>
				<div id="layout-tabs" class="scroll" style="padding-top:5px;">
					<div id="divAgentBuilder"></div>
					<div id="dsnAgentCode" style="height: 98%; background-color: #ffffff;">
						<div id="divAgentCode" style="height: 100%;">
							<pre name="AgentCode" id="AgentCode" style="margin: 0; height: 100%;"></pre>
						</div>
					</div>
				</div>
				<!-- end layout-tabs -->
				<ul id="tdActionBar">
					<li><a onclick="closeDocumentPrompt('{% trans %}Closing Agent{% endtrans %}', '{% trans %}Would you like to save any recent changes?{% endtrans %}'); return false;" href="" primary="ui-icon-close" secondary="">{% trans %}Close{% endtrans %}</a></li>
					<li><a onclick="SaveForm(false, false); return false;" href="" primary="ui-icon-disk" secondary="">{% trans %}Save{% endtrans %}</a></li>
					<li><a onclick="SaveForm(false, true); return false;" href="" primary="ui-icon-disk" secondary="">{% trans %}Save and Close{% endtrans %}</a></li>
				</ul>
			</div>
			<!-- end inner-center -->
			<div class="ui-layout-east" id="eastpane" style="right:0;">
        		<div id="right-panel-tabs">
        			<ul id="vertical-tabs">
						<li title="{% trans %}General{% endtrans %}"><a class="far fa-tasks" href="#frm-properties"></a></li>
					</ul>
        			<div id="frm-properties">
       					<h3 class="tool_box_header ui-widget-header" id="element-type">{% trans %}General{% endtrans %}</h3>
						<div class="prp-container">
							<table class="tblRows" width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr valign="top">
									<td width="40%" class="frmLabel">{% trans %}Agent Name{% endtrans %}:</td>
									<td width="60%">
										<input name="DEName" value="" id="DEName" class="manualEntry prp_inputs">
										<font>{% trans %}Enter an Agent name.{% endtrans %} eg: UpdateData</font>
									</td>
								</tr>
								<tr valign="top">
									<td width="40%" class="frmLabel">{% trans %}Agent Alias{% endtrans %}:</td>
									<td width="60%">
										<input name="DEAlias" value="" id="DEAlias" class="manualEntry prp_inputs" />
										<font>{% trans %}Enter an Agent name alias.{% endtrans %} eg: custupdatedata</font>
									</td>
								</tr>
								<tr valign="top">
									<td width="40%" class="frmLabel">{% trans %}Agent Type{% endtrans %}:</td>
									<td width="60%">
										<select name="DESubType" id="DESubType" class="combobox">
											<option selected>PHP</option>
										</select>
										<font>{% trans %}Select the language type for the agent{% endtrans %}. eg: PHP</font>
									</td>
								</tr>
								<tr valign="top">
									<td class="frmLabel" width="40%">{% trans %}Design Replace{% endtrans %}:</td>
									<td width="60%">
										<label> <input type="checkbox" name="ProhibitDesignUpdate" value="PDU" id="ProhibitDesignUpdate">{% trans %}Prohibit Design Update{% endtrans %}</label>
									</td>
								</tr>
								<tr valign="top">
									<th colspan="2" expcol="agschedule"><i class="far fa-caret-right"></i>{% trans %}Schedule{% endtrans %}</th>
								</tr>
								<tr valign="top" class="agschedule" style="display:none;">
									<td width="40%" class="frmLabel">{% trans %}Scheduled{% endtrans %}:</td>
									<td width="60%">
    									<select name="AgentSchedule" id="AgentSchedule" class="combobox">
    										<option value="0">{% trans %}Never{% endtrans %}</option>
    										<option value="1">{% trans %}More than once{% endtrans %}</option>
    										<option value="D">{% trans %}Daily{% endtrans %}</option>
    										<option value="W">{% trans %}Weekly{% endtrans %}</option>
    										<option value="M">{% trans %}Monthly{% endtrans %}</option>
    									</select>
    									<font>{% trans %}Select whether this agent should run on schedule or not{% endtrans %}</font>
									</td>
								</tr>
								<tr valign="top" id="monthly" style="display:none;">
									<td width="40%" class="frmLabel">{% trans %}Day of Month{% endtrans %}:</td>
									<td width="60%"><input type="text" name="StartDayOfMonth" id="StartDayOfMonth" value="" style="width:40px" /></td>
								</tr>
								<tr valign="top" id="weekly" style="display:none;">
									<td width="40%" class="frmLabel">{% trans %}Week Day{% endtrans %}:</td>
									<td width="60%"><select name="StartWeekDay" id="StartWeekDay" class="combobox">
										<option></option>
										<option value="sunday">{% trans %}Sunday{% endtrans %}</option>
										<option value="monday">{% trans %}Monday{% endtrans %}</option>
										<option value="tueseday">{% trans %}Tuesday{% endtrans %}</option>
										<option value="wednesday">{% trans %}Wednesday{% endtrans %}</option>
										<option value="thursday">{% trans %}Thursday{% endtrans %}</option>
										<option value="friday">{% trans %}Friday{% endtrans %}</option>
										<option value="saturday">{% trans %}Saturday{% endtrans %}</option>
									</select></td>
								</tr>
								<tr valign="top" id="time" style="display:none;">
									<td width="40%" class="frmLabel">{% trans %}Time{% endtrans %}:</td>
									<td width="60%">
										<select name="StartHour" id="StartHour" style="width:40px;">
											<option></option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option>
											<option>9</option>
											<option>10</option>
											<option>11</option>
											<option>12</option>
										</select> : 
										<select name="StartMinutes" id="StartMinutes" style="width:40px;">
											<option></option>
											<option>00</option>
											<option>05</option>
											<option>10</option>
											<option>15</option>
											<option>20</option>
											<option>25</option>
											<option>30</option>
											<option>35</option>
											<option>40</option>
											<option>45</option>
											<option>50</option>
											<option>55</option>
										</select>&nbsp;&nbsp;
										<select name="StartHourAMPM" id="StartHourAMPM" style="width:40px;">
											<option></option>
											<option value="1">AM</option>
											<option value="2">PM</option>
										</select>
									</td>
								</tr>
								<tr valign="top" id="hourly" style="display:none;">
									<td width="40%" class="frmLabel">{% trans %}Hours/Minutes{% endtrans %}</td>
									<td width="60%">
										<input type="text" name="IntervalHours" id="IntervalHours" style="width:40px" /> {% trans %}Hours{% endtrans %} /
										<input type="text" name="IntervalMinutes" id="IntervalMinutes" style="width:40px" /> {% trans %}Minutes{% endtrans %}
									</td>
								</tr>
								<tr valign="top">
									<th colspan="2" expcol="agsecurity"><i class="far fa-caret-right"></i>{% trans %}Security{% endtrans %}</th>
								</tr>
								<tr valign="top" class="agsecurity" style="display:none;">
									<td width="40%" class="frmLabel">{% trans %}Run agent as{% endtrans %}:</td>
									<td width="60%">
										<select name="RunAs" id="RunAs" class="combobox" />
											<option value="U">{% trans %}Active User{% endtrans %}</option>
											<option value="A">{% trans %}Database Admin{% endtrans %}</option>
										</select>
									</td>
								</tr>
								<tr valign="top" class="agsecurity" style="display:none;">
									<td width="40%" class="frmLabel">{% trans %}Runtime security level{% endtrans %}:</td>
									<td width="60%">
										<select name="RuntimeSecurityLevel" id="RuntimeSecurityLevel" class="combobox">
											<option value="1">1. {% trans %}Do not allow restricted operations{% endtrans %}</option>
											<option value="2">2. {% trans %}Allow restricted operations{% endtrans %}</option>
											<option value="3">3. {% trans %}Allow restricted operations with full admin rights{% endtrans %}</option>
										</select>
									</td>
								</tr>
							</table>
						</div>
        			</div>
        			<!-- end frm-properteis -->
				</div>
			</div>
			<!-- end eastpane -->
		</div>
	</form>
</body>
</html>