<!doctype html>
<html>
<head>
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness-flat/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleForm.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/admin/styleNewAppBuilder.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/font-awesome/css/all.min.css') }}">
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/ace/src-noconflict/ace.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/admin/appBuilderJS.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/js/admin/sfWorkspaceCommonJsHeader.js') }}"></script>
<script language="JavaScript" type="text/javascript">
var initFormName = "";
var editor = null;
var info = {
  "UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
  "UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
  "UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
  "UserNamesList" : "",
  "UserRoles" : "[Administration]",
  "HTTP_Referer" : "{{ url('docova_appbuilderframes') }}",
  "Query_String" : "openForm&AppID={{ app.request.query.get('AppID') }}",
  "Query_String_Decoded" : "openForm&AppID={{ app.request.query.get('AppID') }}",
  "Path_Info_Decoded" : "{{ path('docova_cssbuilder') }}?openForm&AppID={{ app.request.query.get('AppID') }}",
  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "PortalWebPath" : "{{ url('docova_homepage') }}",
  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length-2] }}",
  "HomePageWeb" : "{{ path('docova_homepage') }}",
  "SSLState" : "{{ 'https' in app.request.getscheme|lower ? 'ON' : 'OFF' }}",
  "AppID" : "{{ app.request.query.get('AppID') }}",
  "FormUNID":"{{ appCss ? appCss.getId : '' }}",
  "DesignElementType" : "CSS",
  "DesignElementLabel" : "CSS",
  "TriggerDesignCreation" : ""
};
function getinfovar(){
   return info;
}
InitVars(info);

$(function() {
	$(document).on("contextmenu", function(e){ e.preventDefault(); e.stopPropagation();});
	var temptype = docInfo.DesignElementType;

	editor = ace.edit(temptype + "Code");
	editor.setTheme("ace/theme/chrome");
	editor.getSession().setMode("ace/mode/css");
	
	$(".ui-layout-east").resizable({
		handles: 'w',
 		ghost: true,
 		resize:function( e,ui ){
 			$(".ui-resizable-helper").css("border-left", " 8px solid  rgb(221,221,221)");
 		},
 		stop: function(e, ui){
 			resizeNewPanelHorizontal(ui);	
			editor.resize(true);			
		}
	});
	//calculate the widths of the panels - horizontal
	$("#eastpane").width("414px").css({
		'left' : 'auto',
		'right' : '0'
	});
	$("#inner-center").width($("#divContentSection").width() - $("#eastpane").outerWidth() - 15);
	
	$(window).resize(function(e) {
		e = e || event;
		if (e.target == window) {
			$("#inner-center").width($("#divContentSection").width() - $(".ui-layout-east").outerWidth() - 15);
			$(".ui-layout-east").css("left", "");
		}
		editor.resize(true);
	});

	$('#right-panel-tabs').tabs({
		collapsible: true,
		activate: function(e, ui) {
			if (!ui.newPanel.html()) {
				$('#eastpane').width($('#vertical-tabs').width() + 10).css({
					'left' : 'auto',
					'right' : '0'
				});
			}
			else {
				$('#eastpane').width(414).css({
					'left' : 'auto',
					'right' : '0'
				});
			}
			$("#inner-center").width($("#divContentSection").width() - $(".ui-layout-east").outerWidth() - 15);
			$(".ui-layout-east").css("left", "");
		}
	});
	
//	$(".ui-layout-south").height("200px");	
//	$("#inner-center").height ( ($("#divContentSection").height() - $(".ui-layout-south").outerHeight())-10  );
    $( "#tabs" + temptype).tabs();

	//---Loads the design content either default or existing---
	LoadContent();
	
	//show divContentSection
	$("#divContentSection").css("display", "block");
	//special case where this document/form is being loaded with the sole intent of triggering the process of creating the back end design document
	if(docInfo && docInfo.TriggerDesignCreation && docInfo.TriggerDesignCreation != ""){
		doCreateDesignElement();
		window.location = "about:blank";  //clear the current contents
	}
});

function LoadContent(){
	var nl = "\r\n";
	var temptype = docInfo.DesignElementType;
	var lctemptype = temptype.toLowerCase();
	
	if (docInfo.FormUNID && docInfo.FormUNID != ""){	
		var DesignDocUNID = docInfo.FormUNID;
		var elementURL = docInfo.PortalWebPath + "ReadContent/" + DesignDocUNID + "?OpenDocument&DesignElement=CSS&AppID=" + docInfo.AppID + "&" + (new Date()).valueOf();	
	
		jQuery.ajax({
        	url: elementURL,
        	async: false, 
			success: function (results) {
    			//Get/Set formname
    			Docova.Utils.setField({
    				field: 'DEName',
    				value: Docova.Utils.allTrim(jQuery(results).filter('#DEName').html())
    			});
    			Docova.Utils.setField({
    				field: 'DEAlias',
    				value: Docova.Utils.allTrim(jQuery(results).filter('#DEAlias').html())
    			});
    			Docova.Utils.setField({
    				field: 'DEType',
    				value: Docova.Utils.allTrim(jQuery(results).filter('#DEType').html())
    			});
    			Docova.Utils.setField({
    				field: 'ProhibitDesignUpdate',
    				value: Docova.Utils.allTrim(jQuery(results).filter('#ProhibitDesignUpdate').html())
    			});
    		
    			//-----Set the initFormName.  Use this global var to compare when saving or closing the form. If changed, the "old" design element will need to be deleted-----
    			initFormName = Docova.Utils.getField('DEName');
    			var t = null;
    			t = $(results).filter("#DECSS").html();				
    			if ( t ) {
    				t = atob(t);
    				try{
    					t = decodeURIComponent(t);
    				} catch(e){}
    				//-----Get the code and insert it in the form
    				editor.setValue(t);
    				editor.focus();
    				editor.resize(true);
    				editor.scrollToLine(1, true, true, function () {});
    				editor.gotoLine(1, 0, true);
    			}
			}
		});
	//-- no existing content so set defaults
	}
	return true;		
}

function resizeNewPanelHorizontal( ui )
{
	var elem = ui.element.parent();
	var parentWidth = ui.element.parent().width();
	var divTwo = ui.element.prev();
	var id = ui.element.attr("id");
	var remainingSpace = parentWidth - ( ui.element.width() + 15);
	if (remainingSpace < 710) {
		remainingSpace = 710;
		ui.element.width(parentWidth - 690);
		$(".ui-layout-east").resizable();
	}
	else if (ui.element.width() <= 414) {
		$("#eastpane").width("414px").css({
			'left' : 'auto',
			'right' : '0'
		});
		$("#inner-center").width($("#divContentSection").width() - $("#eastpane").outerWidth() - 15);
		$(".ui-layout-east").resizable();
	}
    divTwo.width(remainingSpace);
	if ($("#inner-center").width() > ($("#divContentSection").outerWidth() - $("#eastpane").outerWidth() - 40))
	{
		$("#inner-center").width($("#divContentSection").width() - $("#eastpane").width() - 15);
	}
}
</script>
</head>
<body text="#000000" bgcolor="#FFFFFF">
	<form method="post" action="" name="_AppCSSBuilder">
		<div id="divContentSection" class="app-page" style="display: none;">
			<div class="ui-layout-center" id="inner-center">
				<div id="actionbar_box" class="ui-widget ui-tabs ui-widget-header" style="height:27px;"></div>
				<div id="layout-tabs" class="scroll" style="padding-top:5px;">
					<div id="divCSSBuilder"></div>
					<div id="dsnCSSCode" style="height: 98%; background-color: #ffffff;">
						<div id="divCSSCode" style="position: relative; height: 100%;">
							<pre name="CSSCode" id="CSSCode" style="height: 100%;"></pre>
						</div>
					</div>
				</div>
				<!-- end layout-tabs -->
				<ul id="tdActionBar">
					<li><a onclick="closeDocumentPrompt('{% trans %}Closing CSS{% endtrans %}', '{% trans %}Would you like to save any changes?{% endtrans %}'); return false;" href="" primary="ui-icon-close" secondary="">{% trans %}Close{% endtrans %}</a></li>
					<li><a onclick="SaveForm(true, false); return false;" href="" primary="ui-icon-disk" secondary="">{% trans %}Save{% endtrans %}</a></li>
					<li><a onclick="SaveForm(true, true); return false;" href="" primary="ui-icon-disk" secondary="">{% trans %}Save and Close{% endtrans %}</a></li>
				</ul>
			</div>
			<!-- end inner-center -->
			<div class="ui-layout-east" id="eastpane" style="right:0;">
        		<div id="right-panel-tabs">
        			<ul id="vertical-tabs">
						<li title="{% trans %}General{% endtrans %}"><a class="far fa-tasks" href="#frm-properties"></a></li>
					</ul>
        			<div id="frm-properties">
       					<h3 class="tool_box_header ui-widget-header" id="element-type">{% trans %}General{% endtrans %}</h3>
						<div class="prp-container">
							<table class="tblRows" width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr valign="top">
									<td width="40%" class="frmLabel">{% trans %}CSS Name{% endtrans %}:</td>
									<td width="60%">
										<input name="DEName" value="" id="DEName" class="manualEntry prp_inputs">
										<font>{% trans %}Enter a CSS file name.{% endtrans %} eg: example.css</font>
									</td>
								</tr>
								<tr valign="top">
									<td width="40%" class="frmLabel">{% trans %}Design Replace{% endtrans %}:</td>
									<td width="60%">
										<label><input type="checkbox" name="ProhibitDesignUpdate" value="PDU" id="ProhibitDesignUpdate">{% trans %}Prohibit Design Update{% endtrans %}</label>
										<input type="hidden" name="DEAlias" value="" id="DEAlias" />
									</td>
								</tr>
							</table>
						</div>
        			</div>
        			<!-- end frm-properteis -->
				</div>
			</div>
			<!-- end eastpane -->
		</div>
	</form>
</body>
</html>