<!doctype html>
<html>
<head>
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness-flat/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleForm.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/admin/styleNewAppBuilder.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/font-awesome/css/all.min.css') }}">
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/ace/src-noconflict/ace.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jqueryLayouts.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa_ieemu_xpath.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/admin/appBuilderJS.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/js/admin/sfWorkspaceCommonJsHeader.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/js/DesignImportFunctions.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/js/FormulaLanguage.js') }}"></script>
<script language="JavaScript" type="text/javascript">
var info = {
  "DocID" : "{{ appSubform ? appSubform.getId : '' }}",
  "DocKey" : "{{ appSubform ? appSubform.getId : '' }}",
  "DocumentNumber" : "",
  "SystemKey" : "{{ settings.getSystemKey }}",
  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
  "PortalWebPath" : "{{ url('docova_homepage') }}",
  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
  "ImgPath" : "{{ asset('bundles/docova/images/' ~ appId ~ '/') }}",
  "IsNewDoc" : "{{ appSubform ? '' : 1 }}",
  "isDocBeingEdited" : "true",
  "AppID" : "{{ appId }}",
  "SSLState" : "{{ 'https' in app.request.getscheme|lower ? 'ON' : 'OFF' }}",
  "DocTypeID":"",
  "FormUNID":"{{ appSubform ? appSubform.getId : '' }}",
  "DesignElementType" : "Subform",
  "DesignElementLabel" : "Subform",
  "TriggerDesignCreation" : "{{ app.request.query.get('TriggerDesignCreation') }}"
};
function getinfovar(){
   return info;
}
InitVars(info);

var initFormName = "";
var editor = null;
var activeObj = null;
var elementEvents = [];
var currElem = null;
var dropIntervalId;
var currManualEntry;
var currRange; //current range in contenteditable div
var currSel;  //current selection in contenteditable div
var editor = null; //For ACE.
var $draghelper;
var initFormName = "";
var formID;
var resizefrompanel=false;
var defaultVal = null; //hold last val for.inputEntry class fields
var currEditAction = ""  //global so that it can be set in setColor where colorpicker utilizes a callback funtion to setTextColor
var is_ie = false;
{% include 'DocovaBundle:AppBuilder:FontAwesomeIcons.html.twig' %}

$(function() {
 	editor = ace.edit("JSHeaderCode");
 	editor.session.on('changeMode', function(e, session){
       if ("ace/mode/javascript" === session.getMode().$id) {
          if (!!session.$worker) {
              session.$worker.send("setOptions", [{
                  "maxerr": 10000
              }]);
          }
       }
	});	
	editor.getSession().setMode("ace/mode/javascript");
	
	//---is IE browser
	is_ie = (detectIE() !== false);
	
	//---Loads the Page design---
	LoadContent();
	$(".ui-layout-east").resizable({
		handles: 'w',
 		ghost: true,
 		resize:function( e,ui ){
 			$(".ui-resizable-helper").css("border-left", " 8px solid  rgb(221,221,221)");
 		},
 		stop: function(e, ui){
 			resizeNewPanelHorizontal(ui);	
			setSelectors();
			var bcWidth = $(".ui-layout-center").width() - 40;
			$("#eBreadCrumbs").css("width",  bcWidth + "px");
		}
	});
	
	$("#selectEmbView").change( function() {
		getViewType($(this).find("option:selected").text());
	});
	
	//calculate the widths of the panels - horizontal
	$("#eastpane").width("414px").css({
		'left' : 'auto',
		'right' : '0'
	});
	$("#inner-center").width($("#divContentSection").width() - $("#eastpane").outerWidth() - 15);
	InitFontAwesomeIcons();
	$(window).resize(function(e) {
		e = e || event;
		if (e.target == window) {
			$("#inner-center").width($("#divContentSection").width() - $(".ui-layout-east").outerWidth() - 15);
			$(".ui-layout-east").css("left", "");
		}
		editor.resize(true);
	});

	$("#ltab").click(function(event){
		event.preventDefault();
		$(".selectable").removeClass("selected");
		$("#layout,#layout_m").sortable("disable");
		$("#layout-tabs").css("display", "");
		$('#element-type').html('{% trans %}Subform Properties{% endtrans %}');
		$("#tabsForm").css("display", "");
		$("#element_properties").css("display", "none");
		$('#prStyle').css('display', 'none');
		$('#prHideShow').css('display', 'none');
		$('#prEvents').css('display', 'none');
		$(".selector").hide();
		currElem = null; //make currElem nothing
	});

	$('h3.tool_box_header').on('click', function(){
		var header = '';
		var showTarget = $(this).attr('target');
		$('h3.tool_box_header').each(function(){
			if ($(this).attr('target') != showTarget) {
				$('#'+ $(this).attr('target')).slideUp();
			}
		});
		if (!currElem) {
			switch(showTarget) {
    			case 'prProperties':
    				$("#tabsForm").show();
    				$("#element_properties").css("display", "none");
    				header = '{% trans %}Subform Properties{% endtrans %}';
    				$('#element-type').html(header.replace(/^\w/, c => c.toUpperCase()));
    				break;
    			case 'prStyle':
    				$('#frmStyle').show();
    				$('#elmStyle').hide();
    				break;
				case 'prHideShow':
        			$('#frmHideShow').show();
        			$('#elmHideShow').hide();
					break;
    			case 'prEvents':
        			$('#frmEvents').show();
        			$('#elmEvents').hide();
        			break;
			}
			if ($('#'+showTarget).is(':hidden')) {
				$('#'+showTarget).slideDown();
			}
			else {
				$('#'+showTarget).slideUp();
			}
		}
		else {
			$('#frmStyle').hide();
			$("#tabsForm").hide();
			switch(showTarget) {
				case 'prProperties':
    				$("#element_properties").show();
    				header = $(currElem).attr('elem') + ' Properties';
					break;
				case 'prStyle':
    				$('#frmStyle').hide();
    				$('#elmStyle').show();
					break;
				case 'prHideShow':
        			$('#frmHideShow').hide();
        			$('#elmHideShow').show();
					break;
				case 'prEvents':
        			$('#frmEvents').hide();
        			$('#elmEvents').show();
					break;
			}
			if ($('#'+showTarget).is(':hidden')) {
				$('#'+showTarget).slideDown();
			}
			else {
				$('#'+showTarget).slideUp();
			}
		}
	});

	$(".inputEntryColor").change(function(){
		var helper = $(this).prev("input");
		if ( helper.length > 0){
			helper.val($(this).val());
		}
	});

	$(".colorpickerhelper").change ( function(){
		$(this).next("input").val($(this).val());
	});

	//---Set tabs to tabs---
	$( "#layout-tabs" ).tabs();

	$('#right-panel-tabs').tabs({
		collapsible: true,
		activate: function(e, ui) {
			if (!ui.newPanel.html()) {
				if ( e.cancelable) manualClose = true;
				$('#eastpane').width($('#vertical-tabs').width() + 10).css({
					'left' : 'auto',
					'right' : '0'
				});
			}
			else {
				$('#eastpane').width(414).css({
					'left' : 'auto',
					'right' : '0'
				});
				if ( e.cancelable) manualClose = false;
			}
			$("#inner-center").width($("#divContentSection").width() - $(".ui-layout-east").outerWidth() - 15);
			$(".ui-layout-east").css("left", "");
		}
	});

	$('.prp-scripts').on('click', function(){
		var $this = $(this);
		if ($this.next('UL').is(':hidden')) {
			if ($('#code-categories > LI > UL:not(:hidden)').length) {
    			$('#code-categories > LI > UL:not(:hidden)').slideUp(350, function(){
    				$this.next('UL').slideDown(350);
    			});
			}
			else {
				$this.next('UL').slideDown(350);
			}
		}
		else {
			$this.next('UL').slideUp(350);
		}
	});

	$('#loadScripts').on('click', function(){
		var twig = {},
			js = {},
			css = {};

		$('#twig-scripts, #js-scripts, #css-scripts').html('');
		$('#layout').find(':input, div[elemtype=field], div[elemtype=section], TR, TD, TABLE, P').each(function(){
			if (($(this).prop('tagName').toUpperCase() == 'TR' || $(this).prop('tagName').toUpperCase() == 'TD') && !$(this).attr('elem')) {
				$(this).attr('elem', $(this).prop('tagName').toUpperCase());
			}

			//-- begin fetching twigs
			if ($(this).attr('fdefault') && $.trim($(this).attr('fdefault')) != '') {
				var tmp = $(this).attr('fdefault');
				if (!($(this).prop('id') in twig)) {
					twig[$(this).prop('id')] = [];
				}
				twig[$(this).prop('id')].push({ 'Default Values': (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase() });
			}
			if ($(this).attr('fformula') && $.trim($(this).attr('fformula')) != '') {
				var tmp = $(this).attr('fformula');
				if (!($(this).prop('id') in twig)) {
					twig[$(this).prop('id')] = [];
				}
				twig[$(this).prop('id')].push({ 'Formula': (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase() });
			}
			if ($(this).attr('fplaceholder') && $.trim($(this).attr('fplaceholder')) != '') {
				var tmp = $(this).attr('fplaceholder');
				if (!($(this).prop('id') in twig)) {
					twig[$(this).prop('id')] = [];
				}
				twig[$(this).prop('id')].push({ 'Place Holders': (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase() });
			}
			if ($(this).attr('ftranslate') && $.trim($(this).attr('ftranslate')) != '') {
				var tmp = $(this).attr('ftranslate');
				if (!($(this).prop('id') in twig)) {
					twig[$(this).prop('id')] = [];
				}
				twig[$(this).prop('id')].push({ 'Translations' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase() });
			}
			if ($(this).attr('customhidewhen') && $.trim($(this).attr('customhidewhen')) != '') {
				var tmp = $(this).attr('customhidewhen');
				if (!($(this).prop('id') in twig)) {
					twig[$(this).prop('id')] = [];
				}
				var type = $(this).attr('elem') ? $(this).attr('elem').toUpperCase() : $(this).prop('tagName').toUpperCase();
				twig[$(this).prop('id')].push({ 'Hide/Show' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': type, 'Index': $($(this).prop('tagName')).index(this) });
			}
			if ($(this).attr('plrestrictto') && $.trim($(this).attr('plrestrictto')) != '') {
				var tmp = $(this).attr('plrestrictto');
				if (!($(this).prop('id') in twig)) {
					twig[$(this).prop('id')] = [];
				}
				twig[$(this).prop('id')].push({ 'Category Restrictions' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase() });
			}
			if ($(this).attr('subformformula') && $.trim($(this).attr('subformformula')) != '') {
				var tmp = $(this).attr('subformformula');
				if (!($(this).prop('id') in twig)) {
					twig[$(this).prop('id')] = [];
				}
				twig[$(this).prop('id')].push({ 'Computed Subforms Script' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase() });
			}
			if ($(this).attr('barcodedata') && $.trim($(this).attr('barcodedata')) != '') {
				var tmp = $(this).attr('barcodedata');
				if (!($(this).prop('id') in twig)) {
					twig[$(this).prop('id')] = [];
				}
				twig[$(this).prop('id')].push({ 'Barcode Data Script' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase() });
			}
			if ($(this).attr('googlelatitude') && $.trim($(this).attr('googlelatitude')) != '') {
				var tmp = $(this).attr('googlelatitude');
				if (!($(this).prop('id') in twig)) {
					twig[$(this).prop('id')] = [];
				}
				twig[$(this).prop('id')].push({ 'Map Altitude Script' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase() });
			}
			if ($(this).attr('googlelongitude') && $.trim($(this).attr('googlelongitude')) != '') {
				var tmp = $(this).attr('googlelongitude');
				if (!($(this).prop('id') in twig)) {
					twig[$(this).prop('id')] = [];
				}
				twig[$(this).prop('id')].push({ 'Map Longitude Script' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase() });
			}
			if ($(this).attr('googlepostalcode') && $.trim($(this).attr('googlepostalcode')) != '') {
				var tmp = $(this).attr('googlepostalcode');
				if (!($(this).prop('id') in twig)) {
					twig[$(this).prop('id')] = [];
				}
				twig[$(this).prop('id')].push({ 'Map Postal Code Script' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase() });
			}
			if ($(this).attr('city') && $.trim($(this).attr('city')) != '') {
				var tmp = $(this).attr('city');
				if (!($(this).prop('id') in twig)) {
					twig[$(this).prop('id')] = [];
				}
				twig[$(this).prop('id')].push({ 'Weather City Script' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase() });
			}
			if ($(this).attr('countervalue') && $.trim($(this).attr('countervalue')) != '') {
				var tmp = $(this).attr('countervalue');
				if (!($(this).prop('id') in twig)) {
					twig[$(this).prop('id')] = [];
				}
				twig[$(this).prop('id')].push({ 'Counter Box Value' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase() });
			}
			if ($(this).attr('countertitle') && $.trim($(this).attr('countertitle')) != '') {
				var tmp = $(this).attr('countertitle');
				if (!($(this).prop('id') in twig)) {
					twig[$(this).prop('id')] = [];
				}
				twig[$(this).prop('id')].push({ 'Counter Box Subtitle' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase() });
			}
			if ($(this).attr('sectionformula') && $.trim($(this).attr('sectionformula')) != '') {
				var tmp = $(this).attr('sectionformula');
				if (!($(this).prop('id') in twig)) {
					twig[$(this).prop('id')] = [];
				}
				twig[$(this).prop('id')].push({ 'Sections Formula' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase() });
			}
			
			//-- begin fetching js codes
			if ($(this).attr('linkedembrefreshscript') && $.trim($(this).attr('linkedembrefreshscript')) != '') {
				var tmp = $(this).attr('linkedembrefreshscript');
				if (!($(this).prop('id') in js)) {
					js[$(this).prop('id')] = [];
				}
				js[$(this).prop('id')].push({ 'Refresh Script' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase() });
			}
			if ($(this).attr('fonclick') && $.trim($(this).attr('fonclick')) != '') {
				var tmp = $(this).attr('fonclick');
				if (!($(this).prop('id') in js)) {
					js[$(this).prop('id')] = [];
				}
				js[$(this).prop('id')].push({ 'On Click' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase(), 'Index': $($(this).prop('tagName')).index(this) });
			}
			if ($(this).attr('fonchange') && $.trim($(this).attr('fonchange')) != '') {
				var tmp = $(this).attr('fonchange');
				if (!($(this).prop('id') in js)) {
					js[$(this).prop('id')] = [];
				}
				js[$(this).prop('id')].push({ 'On Change' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase(), 'Index': $($(this).prop('tagName')).index(this) });
			}
			if ($(this).attr('fonblur') && $.trim($(this).attr('fonblur')) != '') {
				var tmp = $(this).attr('fonblur');
				if (!($(this).prop('id') in js)) {
					js[$(this).prop('id')] = [];
				}
				js[$(this).prop('id')].push({ 'On Blur' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase(), 'Index': $($(this).prop('tagName')).index(this) });
			}
			if ($(this).attr('fonfocus') && $.trim($(this).attr('fonfocus')) != '') {
				var tmp = $(this).attr('fonfocus');
				if (!($(this).prop('id') in js)) {
					js[$(this).prop('id')] = [];
				}
				js[$(this).prop('id')].push({ 'On Focus' : (tmp.length > 250 ? (tmp.substr(0, 250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase(), 'Index': $($(this).prop('tagName')).index(this) });
			}

			//-- begin fetching CSS (additional style)
			if ($(this).attr('additional_style') && $.trim($(this).attr('additional_style')) != '') {
				var tmp = $(this).attr('additional_style');
				if (!($(this).prop('id') in css)) {
					css[$(this).prop('id')] = [];
				}

				css[$(this).prop('id')].push({ 'Additional CSS' : (tmp.length > 250 ? (tmp.substr(0,250) + ' ...') : tmp), 'Type': $(this).attr('elem').toUpperCase(), 'Index': $($(this).prop('tagName')).index(this) });
			}

			if ($(this).prop('tagName').toUpperCase() == 'TR' || $(this).prop('tagName').toUpperCase() == 'TD') {
				$(this).removeAttr('elem');
			}
		});

		if (!$.isEmptyObject(twig)) {
			for (elem in twig) {
				for (var x = 0; x < twig[elem].length; x++) {
					var category = Object.keys(twig[elem][x]);
					category = category[0];
					if (!$('#twig-scripts').find('li[category="'+ category.toLowerCase() +'"]').length && category != 'Type') {
						$('#twig-scripts').append('<li category="'+ category.toLowerCase() +'"><strong>'+ category +'</strong><ul></ul></li>');
					}
					var tmp_array = ['PAR', 'TR', 'TD'];
					var tmp_html = '<li targetElem="'+ (tmp_array.indexOf(twig[elem][x]['Type']) != -1 ? twig[elem][x]['Index'] : elem) +'"><span style="display:none;">'+ twig[elem][x]['Type'] +':'+ elem +'</span>'+ twig[elem][x][category] + '</li>';
					$('li[category="'+ category.toLowerCase() +'"]').find('UL').append(tmp_html);
				}
			}
		}
		else {
			$('#twig-scripts').html('<li>No DOCOVA Script</li>');
		}
		if (!$.isEmptyObject(js)) {
			for (elem in js) {
				for (var x = 0; x < js[elem].length; x++) {
					var category = Object.keys(js[elem][x]);
					category = category[0];
					if (!$('#js-scripts').find('li[category="'+ category.toLowerCase() +'"]').length) {
						$('#js-scripts').append('<li category="'+ category.toLowerCase() +'"><strong>'+ category +'</strong><ul></ul></li>');
					}
					var tmp_array = ['PAR', 'TR', 'TD'];
					var tmp_html = '<li targetElem="'+ (tmp_array.indexOf(js[elem][x]['Type']) != -1 ? js[elem][x]['Index'] : elem) +'"><span style="display:none;">'+ js[elem][x]['Type'] +':'+ elem +'</span>'+ js[elem][x][category] + '</li>';
					$('li[category="'+ category.toLowerCase() +'"]').find('UL').append(tmp_html);
				}
			}
		}
		else {
			$('#js-scripts').html('<li>No Java Script</li>');
		}
		if(!$.isEmptyObject(css)) {
			for (elem in css) {
				for (var x = 0; x < css[elem].length; x++) {
					var category = Object.keys(css[elem][x]);
					category = category[0];
					if (!$('#css-scripts').find('li[category="'+ category.toLowerCase() +'"]').length) {
						$('#css-scripts').append('<li category="'+ category.toLowerCase() +'"><strong>'+ category +'</strong><ul></ul></li>');
					}
					var tmp_array = ['PAR', 'TR', 'TD'];
					var tmp_html = '<li targetElem="'+ (tmp_array.indexOf(css[elem][x]['Type']) != -1 ? css[elem][x]['Index'] : elem) +'"><span style="display:none;">'+ css[elem][x]['Type'] +':'+ elem +'</span>'+ css[elem][x][category] + '</li>';
					$('li[category="'+ category.toLowerCase() +'"]').find('UL').append(tmp_html);
				}
			}
		}
		else {
			$('#css-scripts').html('<li>No Additional CSS</li>');
		}
	});

	$('#twig-scripts, #js-scripts, #css-scripts').on('click', 'li[targetElem]', function(){
		var targetElem = $(this).attr('targetElem');
		if (!isNaN(targetElem)) {
			var tmp_type = $(this).find('span').text();
			tmp_type = tmp_type.split(':');
			tmp_type = tmp_type[0];

			if (tmp_type == 'PAR') {
				targetElem = $('P:eq('+ targetElem +')');
			}
			else {
				targetElem = $(tmp_type+':eq('+ targetElem +')');
			}
		}
		else {
			targetElem = $('#' + targetElem);
		}
		setCurrElem(targetElem);
		setSelectable(); 
		setSelected();

		if ($(this).closest('.script-section').prop('id') == 'twig-scripts') {
			if ($(this).parent().prev('strong').text().toLowerCase() == 'hide/show') {
				if ($('#prHideShow').is(':hidden')) {
					$('H3[target=prHideShow]').trigger('click');
				}
			}
			else {
				if ($('#prProperties').is(':hidden')) {
					$('#element-type').trigger('click');
				}
			}
		}
		else if ($(this).closest('.script-section').prop('id') == 'js-scripts' && $('#prEvents').is(':hidden')) {
			$('h3[target=prEvents]').trigger('click');
		}
		else if ($(this).closest('.script-section').prop('id') == 'css-scripts' && $('#prStyle').is(':hidden')) {
			$('h3[target=prStyle]').trigger('click');
			if ($('.prOther').is(':hidden')) {
				$('TH[expcol=prOther]').trigger('click');
			}
		}
	});

	$('#twig-scripts, #js-scripts, #css-scripts').on('mouseenter', 'li[targetElem]', function(){
		var targetElem = $(this).attr('targetElem');
		if (!isNaN(targetElem)) {
			var tmp_type = $(this).find('span').text();
			tmp_type = tmp_type.split(':');
			tmp_type = tmp_type[0];

			if (tmp_type == 'PAR') {
				targetElem = $('P:eq('+ targetElem +')');
			}
			else {
				targetElem = $(tmp_type+':eq('+ targetElem +')');
			}
		}
		else {
			targetElem = $('#' + targetElem);
		}

		var pos = targetElem.offset();
		var html = '<div id="docova_hover_reveal_code" style="width:'+ targetElem.outerWidth() +'px;height:'+ targetElem.outerHeight() +'px;top:'+ (pos.top-1) +'px;left:'+ (pos.left-1) +'px;"></div>';
		$('#docova_hover_reveal_code').remove();
		$(document.body).append(html);
	});

	$('#twig-scripts, #js-scripts, #css-scripts').on('mouseleave', 'li[targetElem]', function(){
		$('#docova_hover_reveal_code').remove();
	});

	var all$$funcs =  getAll$$Functions();
	$('span.longtext_values').on('click', function() {
		var $this = $(this);
		var target = $this.attr('target');
		var value = $('#'+target).val();
		if ($.trim(value) != '') {
			$('#divMultiLinePopup #multilineinput').text(value);
		}
		else {
			value = '';
			$('#divMultiLinePopup #multilineinput').text('');
		}
		var html = $('#divMultiLinePopup').html();
		var dlgTextInput = window.top.Docova.Utils.createDialog({
			id: "divDlgMultiLineInput",
			title: "{% trans %}Enter Script/Value{% endtrans %}",
			height: 313,
			width: 800,
			dlghtml: html,
			resizable: true,
			sourcewindow: window,
			sourcedocument: document,
			onOpen : function () 
			{
				
				var obj = $( "#divDlgMultiLineInput #docova_formula_helper" , window.top.document);
				var dlg = $("#divDlgMultiLineInput", window.top.document);
				var tbox = $("#divDlgMultiLineInput #multilineinput", window.top.document);
				var btn = $( "#divDlgMultiLineInput #btnInsertFormula", window.top.document );
				obj.autocomplete({
  					source: all$$funcs,
  					appendTo: dlg,
  					open : function () {
  						$("#divDlgMultiLineInput ul.ui-menu", window.top.document).width( $(this).innerWidth() ); 
  						$("#divDlgMultiLineInput ul.ui-menu", window.top.document).height( dlg.height() -30 ); 
  						$("#divDlgMultiLineInput ul.ui-menu", window.top.document).css("overflow-x", "hidden")
  					},
					select : function(e, ui) {
  	  					if ($.trim(ui.item.value) != '')
  	  	  				{
      						if (tbox.val() != "" ){
      				  			tbox.val(tbox.val() + "\n" + $.trim(ui.item.value));
      				  		}else{
      				  			tbox.val($.trim(ui.item.value));
      				  		}
  	  	  				}
  	  				}
				});

				btn.on('click', function()
				{
					if ( trim(obj.val()) == "" ) return;

					if ( tbox.val() != "" ){
			  			tbox.val (tbox.val() + "\n" + $.trim(obj.val()) );
			  		}else{
			  			tbox.val ($.trim(obj.val()));
			  		}
				});

			},

			buttons: {
				"{% trans %}OK{% endtrans %}": function (){
					var tbox = $("#divDlgMultiLineInput #multilineinput", window.top.document);
					var input_value = tbox.val();
					$('#'+target).val(input_value);
					$this.text(input_value);
					setProperties();
					dlgTextInput.closeDialog();
				},
				"{% trans %}Cancel{% endtrans %}": function(){
					dlgTextInput.closeDialog();
				}
			}
		});
	});

	$('#layout').on('drop', function(e) {
		elementDropped(e);
	});

	$('#prStyle TH[expcol^="pr"]').on('click', function(){
		if ($('#prStyle TR.'+ $(this).attr('expcol')).first().is(':visible')) {
			$('#prStyle TR.'+ $(this).attr('expcol')).hide();
			$(this).children('i').prop('class', 'far fa-caret-right');
		}
		else {
			//first hide all rows (TR)
			$('#prStyle TR[class^=pr]').hide();
			$('#prStyle TH[expcol^=pr] i').prop('class', 'far fa-caret-right');
			//now just show the clicked section
			$('#prStyle TR.'+ $(this).attr('expcol')).show();
			$(this).children('i').prop('class', 'far fa-caret-down');
		}
	});

	//---Set add tab button function---
	$("#btnAddTab").button({
		text: false,
		icons: {primary: "ui-icon-plus"}
	})
	.click(function( event ) {
		event.preventDefault();
		addTab();
	});	
	//---Set delete tab button function---
	$("#btnDeleteTab").button({
		text: false,
		icons: {primary: "ui-icon-minus"}
	})
	.click(function( event ) {
		event.preventDefault();
		deleteTab();
	});

	$("#btn-PrimaryIcon, #pcklt-PrimaryIcon").button({
		text: false,
		icons: {primary: "ui-icon-squaresmall-plus"}
	})
	.click(function( event ) {
		event.preventDefault();
		if ($(this).prop('id') == 'pcklt-PrimaryIcon') {
			selectIcon("picklist_PrimaryIcon");
		}
		else {
			selectIcon("btn_PrimaryIcon");
		}
	});
		
	$("#btn-SecondaryIcon, #pcklt-SecondaryIcon").button({
		text: false,
		icons: {primary: "ui-icon-squaresmall-plus"}
	})
	.click(function( event ) {
		event.preventDefault();
		if ($(this).prop('id') == 'pcklt-PrimaryIcon') {
			selectIcon("picklist_SecondaryIcon");
		}
		else {
			selectIcon("btn_SecondaryIcon");
		}
	});
		
	$("#btn-CellBorderApplyAll").button({
		text: false,
		label: "{% trans %}Apply border to all cells{% endtrans %}",
		icons: {primary: "ui-icon-squaresmall-plus"}
	})
	.click(function( event ) {
		event.preventDefault();
		CellBorderApplyAll();
	});
	
	$("#btn-CellBorderReset").button({
		text: false,
		label: "{% trans %}Reset cell to default{% endtrans %}",
		icons: {primary: "ui-icon-squaresmall-minus"}
	})
	.click(function( event ) {
		event.preventDefault();
		CellBorderReset();
	});
	
	$("#btn-CellPaddingApplyAll").button({
		text: false,
		label: "{% trans %}Apply padding to all cells{% endtrans %}",
		icons: {primary: "ui-icon-squaresmall-plus"}
	})
	.click(function( event ) {
		event.preventDefault();
		CellPaddingApplyAll();
	});

	$("#btn-CellColorApplyRow").button({
		text: false,
		label: "{% trans %}Apply color to row cells{% endtrans %}",
		icons: {primary: "ui-icon-squaresmall-plus"}
	})
	.click(function( event ) {
		event.preventDefault();
		CellColorApplyRow();
	});

	$("#btn-CounterIcon").button({
		text: false,
		icons: {primary: "ui-icon-squaresmall-plus"}
	})
	.click(function( event ) {
		event.preventDefault();
		selectIcon("counterIcon");
	});
 
    $(".btnOpenApp") //view open app button
    	.button({
    		text: false,
    		icons: {primary: "ui-icon-copy"}
    	})
    	.click(function( event ) {
    		event.preventDefault();
    		ABOpenApp()
    	});

    $(".btnClearApp") //clear app buttons
		.button({
			text: false,
			icons: {primary: "ui-icon-arrowreturn-1-s"}
		})
		.click(function( event ) {
			event.preventDefault();
			ClearSelApp();
    	});

	//This establishes sortable for layout so that it can be used, then disables it.
	//Later code can then turn sortable on and off
	$("#layout,#layout_m").sortable();
	$("#layout,#layout_m").sortable( "disable" );
	
	//breadcrumb scoller
	$('.scrollleft').click(function() {
		$('#eBreadCrumbs').animate({
			scrollLeft: '-=153'
		}, 1000, 'easeOutQuad');
	});
	$('.scrollright').click(function() {
		$('#eBreadCrumbs').animate({
			scrollLeft: '+=153'
		}, 1000, 'easeOutQuad');
	});
	
	
	//show divContentSection
	$("#divContentSection").css("display", "block");

	//special case where this document/form is being loaded with the sole intent of triggering the process of creating the back end design document
	if(docInfo && docInfo.TriggerDesignCreation && docInfo.TriggerDesignCreation != ""){
		doCreateDesignElement();
		window.location = "about:blank";  //clear the current contents
	}
	
	//Generate toolbar button html
	 loadToolBarButtons();
	 $("a[btnprimary='ui-icon-arrowreturnthick-1-w']").prop("title", "{% trans %}Undo{% endtrans %}");
	 
	 //Set for toolbar icons
	$( ".btngroup" ).buttonset();

	//set manualEntry behaviour
	$(".manualEntry").focus( function(event){
		$(this).prop("defaultValue", $(this).val());
		currManualEntry = $(this);
		var posleft = parseInt($(this).offset().left, 10) + parseInt($(this).outerWidth(),10);
		var postop = parseInt($(this).offset().top, 10) + 3;
	});
	
	//Set inputEntry behaviour
	$(document).on('keypress', '.inputEntry', function(e) {
		if (e.keyCode == 13) {
			e.stopPropagation();
			var inputs = $('form[name=_AppSubformBuilder]').find(":input:visible");
    		var idx = inputs.index(this);

    		if (idx == inputs.length - 1) {
        		inputs[0].select()
    		} else {
        		inputs[idx + 1].focus();
    		}
    		return false;
		}
	})
	.on('focus', '.inputEntry', function(e) {
		if (typeof $(this).val() == typeof undefined) {
			defaultVal = '';
		}
		else {
			defaultVal = $(this).val();
		}
	})
	.on ('blur', '.inputEntry', function(e){
		if ($(this).val() != defaultVal) {
       		$(this).effect("highlight", {color: "#008000"}, 1000);
    		setProperties();
		}
		defaultVal = null;
	});
	
	//---Set all buttons to prevent default---
	$('button').click(function( event ) {		
		event.preventDefault();
	});

	$('#fieldelement_container').on('click', 'i.omitfield', function(){
		var fname = 'pltf_' + $(this).next().text();
		$(currElem).removeAttr(fname);
		$(this).parent().next().remove();
		$(this).parent().remove();
	});

	$('#sourceelement_container').on('click', 'i.omitfield', function(){
		var fname = 'plsf_' + $(this).next().text();
		$(currElem).removeAttr(fname);
		$(this).parent().next().remove();
		$(this).parent().remove();
	});

	$('#addSourceElements').on('click', function(){
		$('#sourceelement_container').append('<li><i class="fal fa-minus-circle omitfield"></i><input type="text" value="" class="sourceelemnts inputEntry" style="width:86%;" /></li><li> = <input type="text" value="" class="targetvalue inputEntry"/></li>');		
	});

	$('#addCtextRestriction, #addcbRestriction, #addNumRestriction, #addRestrictionColumn').on('click', function(){
		var rst_container = null;
		if ($(this).prop('id') == 'addcbRestriction') {
			rst_container = $('#cbrestriction_container');
		} else if ($(this).prop('id') == 'addNumRestriction') {
			rst_container = $('#numrestriction_container');
		} else if ($(this).prop('id') == 'addRestrictionColumn') {
			rst_container = $('#embrestriction_container');
		} else {
			rst_container = $('#ctextrestriction_container');
		}
		rst_container.append('<li><i class="fal fa-minus-circle omitfield"></i><input type="text" value="" class="restrictcolumn inputEntry" style="width:86%;" /></li><li> = <input type="text" value="" class="restrictvalue inputEntry"/></li>');		
	});

	$('#numrestriction_container, #ctextrestriction_container, #cbrestriction_container, #embrestriction_container').on('click', 'i.omitfield', function() {
		var rst_container = $(this).closest('ul').prop('id');
		if ($('#'+ rst_container).find('input.restrictcolumn').length <= 1) {
			$('#'+ rst_container +'input.restrictcolumn').val('');
			$('#'+ rst_container +'input.restrictvalue').val('');
			$(currElem).attr('restrictions', '');
		}
		else {
			$(this).parent().next().remove();
			$(this).parent().remove();

			var restrictions = "";
			$('#'+ rst_container +' input.restrictcolumn').each(function(i) {
				if ($(this).val() && $.trim($(this).val()) != '') {
					var value = '';
					if ($.trim($('#'+ rst_container +' input.restrictvalue:eq('+ i +')').val()) != '') {
						value = $.trim($('#'+ rst_container +' input.restrictvalue:eq('+ i +')').val());
					}
					restrictions += $.trim($(this).val()) + ',' + value + ';';
				}
			});
			if (restrictions != '') {
				restrictions = restrictions.slice(0, -1);
				$(currElem).attr('restrictions', restrictions);
			}
		}
	});

});

function LoadContent(){
	var nl = "\r\n";
	var temptype = docInfo.DesignElementType;
	var lctemptype = temptype.toLowerCase();
	var jscode = null;			
	
	if (docInfo.FormUNID && docInfo.FormUNID != ""){	
		var DesignDocUNID = docInfo.FormUNID;
		var elementURL = docInfo.PortalWebPath + "ReadContent/" + DesignDocUNID + "?OpenDocument&DesignElement=Subform&AppID=" + docInfo.AppID + "&" + (new Date()).valueOf();	
	
		jQuery.ajax({
        	url: elementURL,
        	async: false, 
			success: function (results) {
				//Get/Set formname
				jQuery("#DEName").val(jQuery(results).filter('#DEName').html());
    			
    		
				jQuery("#DEAlias").val(jQuery(results).filter('#DEAlias').html());
						
				Docova.Utils.setField({
					field: 'ProhibitDesignUpdate',
					value: Docova.Utils.allTrim(jQuery(results).filter('#ProhibitDesignUpdate').html())
				});			

				var dehtml = jQuery(results).filter("#DEHTML").html();
				if(typeof dehtml !== "undefined" && dehtml !== null && dehtml !== ""){
					jQuery("#layout").html(dehtml);
					jQuery('#layout iframe').each(function() {
						var tmpSrc = decodeURIComponent(jQuery(this).prop('src'));
						var tmpSrc = tmpSrc.replace("{{ '{{ path(\'docova_homepage\') }}' }}", '');
						jQuery(this).prop('src', tmpSrc);
					});
				}

				var dehtml_m = jQuery(results).filter("#DEHTML_m").html();
				if(typeof dehtml_m !== "undefined" && dehtml_m !== null && dehtml_m !== ""){			
					jQuery("#layout_m").html(dehtml_m);
					jQuery('#layout_m iframe').each(function() {
						var tmpSrc = decodeURIComponent(jQuery(this).prop('src'));
						var tmpSrc = tmpSrc.replace("{{ '{{ path(\'docova_homepage\') }}' }}", '');
						jQuery(this).prop('src', tmpSrc);
					});
				}
				
				adjustSourcePaths("full");
				Docova.Utils.setField({
					field: "domobile",
					value: (jQuery(results).filter('#GenerateMobile').html() == "1" ? "Yes" : "No")
				});

				//-----Set the initFormName.  Use this global var to compare when saving or closing the form. If changed, the "old" design element will need to be deleted-----
				initFormName = Docova.Utils.getField('DEName');
					
				jscode = $(results).filter("#DECode").html();
				if ( jscode ) {
					jscode =  decodeURIComponent(atob(jscode));
				}
			}
		});
	}

	if(!jscode){
		jscode = "";
	}
       
	editor.setValue(jscode)
	editor.focus();
	editor.resize(true);
	editor.scrollToLine(1, true, true, function () {});
	editor.gotoLine(1, 0, true);   		
		
	Init();
	//UpgradeCheck();
	return true;		
}

function Init() 
{
	//---Find any unlinked tiedto= attributes and link them
	$("[tiedto]").each(function(){
		if($(this).attr("tiedto") == ""){
			$(this).attr("tiedto", $(this).prev().prop("id"));
		}
	});

	//---selectors initially hidden---
	$(".selector").hide();
	
	$("#btn-Apply").click(function(event){
		setProperties();
	});
	
	$("#btn-Cancel").click(function(event){
		$(currManualEntry).val( $(currManualEntry).prop("defaultValue"));
	});

	//---context menu for fields
	$(document).on("contextmenu", function(e){ e.preventDefault(); e.stopPropagation();});
	$("#layout,#layout_m").on("contextmenu", function(e){ menuHandler(e); });

	//initialize mostly keystroke events for field sections
	initFieldsSections();
	bindElmOnFocus();
	
	//Initialize toolbar, mostly for keystroke events
	$("#divToolBar").keydown(function(e){
		e.preventDefault();
	});

	//---Resizable handles on table cells---
	$("table tr th:not(:last-child)").html("");
	resetRulers();
	
	//---Restrict characters that can be entered into element_id---
	$("#element_id").keyup(function(e) {
		var newstring = $(this).val().replace(/[^a-z0-9$_.\s]/gi, '').replace(/\s/g, '');
		$("#element_id").val(newstring);
	});
	
	//---Initiate dragstart on form controls
	$(".newElement").on("dragstart", function(e){
		if(!is_ie){ //if not IE, then use datatransfer
			e.originalEvent.dataTransfer.setData("text/html", $(this).prop("outerHTML"));
		}
	});

	setPropertiesTriggers();
	setSelectable();
	return;
}

function resizeNewPanelHorizontal( ui )
{
	var elem = ui.element.parent();
	var parentWidth = ui.element.parent().width();
	var divTwo = ui.element.prev();
	var id = ui.element.attr("id");
	var remainingSpace = parentWidth - ( ui.element.width() + 15);
	if (remainingSpace < 710) {
		remainingSpace = 710;
		ui.element.width(parentWidth - 690);
		$(".ui-layout-east").resizable();
	}
	else if (ui.element.width() <= 414) {
		$("#eastpane").width("414px").css({
			'left' : 'auto',
			'right' : '0'
		});
		$("#inner-center").width($("#divContentSection").width() - $("#eastpane").outerWidth() - 15);
		$(".ui-layout-east").resizable();
	}
    divTwo.width(remainingSpace);
	if (typeof setSelectors === 'function') { 
		setSelectors(); 
	}
	
	var bcWidth = jQuery(".ui-layout-center").width() - 35;
	jQuery("#eBreadCrumbs").css("width",  bcWidth + "px");

	if ($("#inner-center").width() > ($("#divContentSection").outerWidth() - $("#eastpane").outerWidth() - 40))
	{
		$("#inner-center").width($("#divContentSection").width() - $("#eastpane").width() - 15);
	}
}


function handleSave(){
	SaveForm(false);
}

//show and populate template list
function getTemplateList(selVal)
{
	var spanObj = $("#spanApplicableTemplates"),
		innerHtml = [];
	if (selVal != 'None') {
		$.ajax({
			url : 'luFileTemplatesByType?RestrictToCategory=' + selVal,
			async: false,
			cache: false,
			type: "GET",
			dataType: "xml"
		})
		.done(function(response) {
			if (response && $(response).has('viewentry').length) {
				$(response).find('viewentry').each(function() {
					var txt = $(this).find('entrydata[name="TemplateName"]').text();
					var value = $(this).find('entrydata[name="DocKey"]').text();
					if ($.trim(txt) && $.trim(value)) {
						innerHtml.push('<lable><input type="checkbox" name="TemplateList" id="templatelist"  value="' + value + '" class="inpRadioChkbox" onclick="showHideAutoAttachTemplate()"> ' + txt + '</lable>');
					}
				});
				spanObj.html(innerHtml.join('<br/>'));
				spanObj.show();
			}
		});
	}
	else {
		spanObj.children('td:nth-child(2)').html('');
		spanObj.hide();
	}
}


//show or hide based on the template checked from the list
function showHideAutoAttachTemplate()
{
	var toShow=false
	var chkBoxTemplateList=document.getElementsByName("TemplateList") //document.all.TemplateList
	var _size=chkBoxTemplateList.length;
	for (var i=0;i<_size;i++)
	{
		if (chkBoxTemplateList[i].checked)
		{
			toShow=true
			break;
		}
	}
	
	var spanObj=document.getElementById("spanTemplateAutoAttach")
	if (toShow)
		spanObj.style.display="";
	else
		spanObj.style.display="none";
		
		setProperties();
}
</script>
</head>
<body text="#000000" bgcolor="#FFFFFF">
	<div id="divMultiLinePopup" style="display:none;">
		<input type="text" id="docova_formula_helper" placeholder = "Search $$DocovaScript functions" style="width:92%; margin-bottom:8px"></input> <i id="btnInsertFormula" title="Add Formula" class="fas fa-check"></i>
		<textarea id="multilineinput" style="width:98%; height:80%; outline:none; border:1px #CCC solid; border-radius:3px;"></textarea>
	</div>
	<form method="post" action="" name="_AppSubformBuilder">
		<div id="divContentSection" class="app-subform" style="display: none;">
			<div class="ui-layout-center" id="inner-center">
				<div id="layout-tabs">
					<ul>
						<li><a href="#ltab">{% trans %}Layout{% endtrans %}</a></li>
						<li><a href="#mtab">{% trans %}Mobile{% endtrans %}</a></li>
						<li><a href="#jstab">Javascript</a></li>
					</ul>
					<div id="ltab" style="position:relative;">
						<div id="selector-topleft" class="selector" style="display: none;"></div>
						<div id="selector-topright" class="selector" style="display: none;"></div>
						<div id="selector-bottomleft" class="selector" style="display: none;"></div>
						<div id="selector-bottomright" class="selector" style="display: none;"></div>
        				<div id="layout" style="position: relative;" onpaste="catchPaste();">
        					<div id="divToolBar" style="min-height: 25px; border: 1px solid #cfcfcf; margin-bottom: 5px;" ondrop="actionbuttondropped()" contenteditable=true></div>
        					<div id="section_1" class="selectable" style="padding: 5px; overflow: hidden; background-color:#FFF;" elem="fields" elemtype="section" contenteditable=true>
        						<p class="selectable" elemtype="par" elem="par" style="padding:5px;"></p>
        					</div>
        				</div>
        				<div id="footer">							
							<table style="border: 1px solid #B2B2B2; width:100%;">
								<tr>
									<td style="width: 10px; background-color: #D2D2D2"><i class="scrollleft far fa-caret-left" style="margin: 0px 3px 0px 3px; cursor: pointer; font-size: 14px;"></i></td>
									<td><div id="eBreadCrumbs" style="overflow: hidden;"></div></td>
									<td style="width: 10px; background-color: #D2D2D2"><i class="scrollright far fa-caret-right" style="margin: 0px 3px 0px 3px; cursor: pointer; font-size: 14px;"></i></td>
								</tr>
							</table>
						</div>
					</div>
					<!-- end div ltab -->
					<div id="mtab">
						<div id="selector-topleft" class="selector" style="display: none;"></div>
						<div id="selector-topright" class="selector" style="display: none;"></div>
						<div id="selector-bottomleft" class="selector" style="display: none;"></div>
						<div id="selector-bottomright" class="selector" style="display: none;"></div>					
							<div class="iphone">
								<div class="phone_power"></div>
								<div class="phone_lock"></div>
								<div class="phone_volume up"></div>
								<div class="phone_volume down"></div>
								<div class="phone_camera"></div>
								<div class="phone_speaker"></div>
								<div class="phone_screen">
								<!-- Put screen stuff in here -->				
	        					<div id="layout_m" style="position: relative;" ondrop="elementDropped(event, 1)" onpaste="catchPaste();">
	        						<div id="divToolBar_m" style="min-height: 25px; border: 1px solid #cfcfcf; margin-bottom: 5px; margin-top: 5px;" ondrop="actionbuttondropped(1)" contenteditable=true></div>
        							<div id="section_1" class="selectable" style="padding: 5px; overflow:hidden;" elem="fields" elemtype="section" contenteditable=true>
        								<p class="selectable" elemtype="par" elem="par"></p>
        							</div>
        						</div>
							</div>
							<div class="phone_button">
								<div class="phone_square"></div>
							</div>
						</div>
					</div>
					<!-- end div mtab -->
					<div id="jstab">
						<span style="margin: 4px 0px 4px 0px; font: normal 12px Verdana, Arial, sans-serif;">JSHeader:</span>
						<div id="dsnJSHeaderCode" style="height:98%; background-color: #ffffff;">
							<div id="divJSHeaderCode" style="position: relative; height: 100%;">
								<pre name="JSHeaderCode" id="JSHeaderCode" style="height:100%;"></pre>
							</div>
						</div>
					</div>
					<!-- end div jstab -->
					
					<ul id="tdActionBar">
						<li><a onclick="closeDocumentPrompt('{% trans %}Closing Subform{% endtrans %}', '{% trans %}Would you like to save the changes to this subform?{% endtrans %}'); return false;" href="" primary="ui-icon-close" secondary="">{% trans %}Close{% endtrans %}</a></li>
						<li><a onclick="SaveForm(true, false); return false;" href="" primary="ui-icon-disk" secondary="">{% trans %}Save{% endtrans %}</a></li>
						<li><a onclick="SaveForm(true, true); return false;" href="" primary="ui-icon-disk" secondary="">{% trans %}Save and Close{% endtrans %}</a></li>
						<li><a onclick="popUndo(); return false;" href="" primary="ui-icon-arrowreturnthick-1-w" secondary="" id="undoBtn" title="{% trans %}Undo{% endtrans %}"></a></li>
						<li><a onclick="runMacro(); return false;" href="" primary="ui-icon-script" secondary="" id="macroBtn" title="{% trans %}Macro{% endtrans %}"></a></li>
					</ul>
				</div>
				<!-- end layout -->
				<div id="footer">
					<table style="border: 1px solid #B2B2B2; width:100%;">
						<tr>
							<td style="width: 10px; background-color: #D2D2D2"><i class="scrollleft far fa-caret-left" style="margin: 0px 3px 0px 3px; cursor: pointer; font-size: 14px;"></i></td>
							<td><div id="eBreadCrumbs" style="overflow: hidden;"></div></td>
							<td style="width: 10px; background-color: #D2D2D2"><i class="scrollright far fa-caret-right" style="margin: 0px 3px 0px 3px; cursor: pointer; font-size: 14px;"></i></td>
						</tr>
					</table>
				</div>
			</div>
			<!-- end inner-center -->
			<div class="ui-layout-east" id="eastpane" style="right:0;">
				<div id="right-panel-tabs">
					<ul id="vertical-tabs">
						<li title="{% trans %}Properties{% endtrans %}"><a href="#frm-properties" class="far fa-tasks"></a></li>
						<li title="{% trans %}Elements{% endtrans %}"><a href="#frm-elements" class="far fa-th"></a></li>
						<li id="loadScripts" title="Reveal Code"><a href="#frm-reveal-scripts" class="far fa-eye"></a></li>
					</ul>
					<div id="frm-properties">
        			{% include 'DocovaBundle:AppBuilder:sfBuilderCommonSection.html.twig' with {'docForm' : '', 'elmType' : 'Subform'} %}
					</div>
					<div id="frm-elements">
						<div class="classified">
							<a href="#" elem="text" eltype="field" class="newElement" draggable="true"><i class="far fa-edit"></i><span class="elemLabel">{% trans %}Text{% endtrans %}</span></a>
							<a href="#" elem="number" eltype="field" class="newElement" draggable="true"><i class="fab fa-slack"></i><span class="elemLabel">{% trans %}Numeric{% endtrans %}</span></a>
<!-- 						<a href="#" elem="currency" eltype="field" class="newElement" draggable="true"><i class="far fa-dollar"></i><span class="elemLabel">Currency</span></a> -->
						</div>
						<div class="classified">
							<a href="#" elem="names" eltype="field" class="newElement" draggable="true"><i class="far fa-user"></i><span class="elemLabel">{% trans %}Names{% endtrans %}</span></a>
							<a href="#" elem="author" eltype="field" class="newElement" draggable="true"><i class="fas fa-feather-alt"></i><span class="elemLabel">{% trans %}Author{% endtrans %}</span></a>
							<a href="#" elem="reader" eltype="field" class="newElement" draggable="true"><i class="far fa-eye"></i><span class="elemLabel">{% trans %}Reader{% endtrans %}</span></a>
						</div>
						<div class="classified">
							<a href="#" elem="chbox" eltype="field" class="newElement" draggable="true"><i class="far fa-check-square"></i><span class="elemLabel">{% trans %}Checkbox{% endtrans %}</span></a>
							<a href="#" elem="rdbutton" eltype="field" class="newElement" draggable="true"><i class="far fa-dot-circle"></i><span class="elemLabel">{% trans %}Radio{% endtrans %}</span></a>
							<a href="#" elem="select" eltype="field" class="newElement" draggable="true"><i class="far fa-caret-square-down"></i><span class="elemLabel">{% trans %}Dropdown{% endtrans %}</span></a>
							<a href="#" elem="toggle" eltype="field" class="newElement" draggable="true"><i class="fas fa-toggle-on"></i><span class="elemLabel">Toggle</span></a>
							<a href="#" elem="slider" eltype="field" class="newElement" draggable="true"><i class="fal fa-sliders-h-square"></i><span class="elemLabel">Slider</span></a>
						</div>
						<div class="classified">
							<a href="#" elem="date" eltype="field" class="newElement" draggable="true"><i class="far fa-calendar-alt"></i><span class="elemLabel">{% trans %}Date{% endtrans %}</span></a>
							<a href="#" elem="time" eltype="field" class="newElement" draggable="true"><i class="far fa-clock"></i><span class="elemLabel">{% trans %}Time{% endtrans %}</span></a>
							<a href="#" elem="datetime" eltype="field" class="newElement" draggable="true"><i class="far fa-calendar"></i><span class="elemLabel">{% trans %}Date/Time{% endtrans %}</span></a>
						</div>
						<div class="classified">
							<a href="#" elem="label" eltype="field" class="newElement" draggable="true"><i class="far fa-font"></i><span class="elemLabel">{% trans %}Label{% endtrans %}</span></a>
							<a href="#" elem="ctext" eltype="field" class="newElement" draggable="true"><i class="fas fa-function"></i><span class="elemLabel">{% trans %}CText{% endtrans %}</span></a>
							<a href="#" elem="htmlcode" eltype="field" class="newElement" draggable="true"><i class="far fa-code"></i><span class="elemLabel">{% trans %}HTML Code{% endtrans %}</span></a>
						</div>
						<div class="classified">
							<a href="#" elem="tarea" eltype="field" class="newElement" draggable="true"><i class="far fa-pencil"></i><span class="elemLabel">{% trans %}Plain Text{% endtrans %}</span></a>
							<a href="#" elem="docovaeditor" eltype="field" class="newElement" draggable="true"><i class="far fa-edit"></i><span class="elemLabel">{% trans %}DOCOVA Editor{% endtrans %}</span></a>
							<a href="#" elem="richtext" eltype="field" class="newElement" draggable="true"><i class="far fa-comment-edit"></i><span class="elemLabel">{% trans %}Rich Text{% endtrans %}</span></a>
						</div>
						<div class="classified">
							<a href="#" elem="button" eltype="field" class="newElement" draggable="true"><i class="far fa-rectangle-landscape"></i><span class="elemLabel">{% trans %}Button{% endtrans %}</span></a>
							<a href="#" elem="picklist" eltype="field" class="newElement" draggable="true"><i class="far fa-window-restore"></i><span class="elemLabel">{% trans %}Picklist Button{% endtrans %}</span></a>
							<a href="#" elem="image" eltype="field" class="newElement" draggable="true"><i class="far fa-image"></i><span class="elemLabel">{% trans %}Image{% endtrans %}</span></a>
							<a href="#" elem="outline" eltype="field" class="newElement" draggable="true"><i class="far fa-bars"></i><span class="elemLabel">{% trans %}Menu{% endtrans %}</span></a>
							<a href="#" elem="icon" eltype="field" class="newElement" draggable="true"><i class="far fa-asterisk"></i><span class="elemLabel">{% trans %}Icon{% endtrans %}</span></a>
						</div>
						<div class="classified">
							<a href="#" elem="table" eltype="field" class="newElement" draggable="true"><i class="far fa-table"></i><span class="elemLabel">{% trans %}Table{% endtrans %}</span></a>
							<a href="#" elem="tabset" eltype="field" class="newElement" draggable="true"><i class="far fa-folder"></i><span class="elemLabel">{% trans %}Tabs{% endtrans %}</span></a>
							<a href="#" elem="embeddedview" eltype="field" class="newElement" draggable="true"><i class="far fa-list-ul"></i><span class="elemLabel">{% trans %}Embedded View{% endtrans %}</span></a>
						</div>
						<div class="classified">
							<a href="#" elem="chart" eltype="field" class="newElement" draggable="true"><i class="far fa-chart-pie"></i><span class="elemLabel">{% trans %}Chart{% endtrans %}</span></a>
							<a href="#" elem="attachments" eltype="section" class="newElement" draggable="true"><i class="far fa-paperclip"></i><span class="elemLabel">{% trans %}Attachments{% endtrans %}</span></a>
							<a href="#" elem="singleattachment" eltype="section" class="newElement" draggable="true"><i class="far fa-paperclip"></i><span class="elemLabel">{% trans %}Attachment<br>(One File){% endtrans %}</span></a>
	                        <a href="#" elem="fields" eltype="section" class="newElement" draggable="true"><i class="far fa-puzzle-piece"></i><span class="elemLabel">{% trans %}Section{% endtrans %}</span></a>
    					</div>
        			</div>
        			<!-- end frm-elements -->
					<div id="frm-reveal-scripts">
						<ul id="code-categories">
							<li>
								<h3 class="prp-scripts ui-widget-header">DOCOVA Script</h3>
								<ul class="script-section" id="twig-scripts">
									<li targetElem="element_id">myVar := $$Now();</li>
								</ul>
							</li>
							<li>
								<h3 class="prp-scripts ui-widget-header">JavaScript</h3>
								<ul class="script-section" id="js-scripts" style="display:none;">
									<li targetElem="element_id">var x = $('.elements').length;</li>
								</ul>
							</li>
							<li>
								<h3 class="prp-scripts ui-widget-header">CSS</h3>
								<ul class="script-section" id="css-scripts" style="display:none;">
									<li targetElem="element_id">width:90%;</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- end eastpane -->
		</div><!--- end Content section -->
	</form>
</body>
</html>