<!DOCTYPE html>
<html>
<META HTTP-EQUIV='Pragma' CONTENT='no-cache'>
<META HTTP-EQUIV='CACHE-CONTROL' CONTENT='0'>
<META HTTP-EQUIV='EXPIRES' CONTENT='0'>
<link rel="stylesheet" href="{{ asset('bundles/docova/font-awesome/css/all.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}" type="text/css" />
<link rel='stylesheet' href='{{ asset('bundles/docova/css/styleActionBar.css') }}' type='text/css' />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDocumentBase.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/autoCompleteNamePicker.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/multiselect.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/jquery.datetimepicker/jquery.datetimepicker.min.css') }}" type="text/css" />
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/autoCompleteNamePicker.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa_ieemu_xpath.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/multiselect.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/viewObjects.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/embeddedViewObjects.js') }}" charset="UTF-8"></script>
<script language='JavaScript' type='text/javascript' src='{{ asset('bundles/docova/js/AppFormJS.js') }}'></script>
<script language='JavaScript' type='text/javascript' src='{{ asset('bundles/docova/js/FormulaLanguage.js') }}'></script>
<script language='JavaScript' type='text/javascript' src='{{ asset('bundles/docova/js/DesignImportFunctions.js') }}'></script>
<script language='JavaScript' type='text/javascript' src='{{ asset('bundles/docova/jquery/numbro.min.js') }}'></script>
<script language='JavaScript' type='text/javascript' src='{{ asset('bundles/docova/jquery.datetimepicker/jquery.datetimepicker.full.min.js') }}'></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.fileupload.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.iframe-transport.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jQueryFileDownload.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/Uploader.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/custom/sfDocSection-FormAttachments.js') }}"></script>
</head>
{{ f_SetUser(user) }}
{{ f_SetApplication(app.request.query.get('AppID')) }}
{% if form is defined and form %}
    {{f_SetForm(form.getFormName) }}
{% endif %}
<body text="#000000" bgcolor="#FFFFFF" onload="InitDoc();">
	<div id="divFormContentSection" class="ui-widget divFormContentSectionPage">
		<div id="divDocPage"  class="divDocPagePlain" style="background-color: white;">
		{% include 'DocovaBundle:DesignElements:' ~ viewname %}
		</div>
	</div>
</body>
</html>
