<!DOCTYPE html>
<html>
<head>
<title>{% trans %}Applications{% endtrans %}</title>
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/font-awesome/css/all.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDialogBase.css') }}"	type="text/css" />
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa_ieemu_xpath.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript">
var info = {
	"UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
	"UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
	"UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
	"ServiceAgent" : "LibraryServices",
	"UserRoles" : "$$WebClient;[Administration]",
	"HTTP_Referer" : "",
	"Query_String" : "OpenForm",
	"Query_String_Decoded" : "OpenForm",
	"Path_Info_Decoded" : "{{ path('docova_dlgaddapp') }}?OpenForm",
	"ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
	"ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
	"NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
	"PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
	"PortalNsfName" : "{{ path('docova_homepage') }}",
	"SecureUrl" : "{{ app.request.getscheme == 'https' ? 'ON' : 'OFF' }}"
};
function getinfovar() {
	return info;
}
InitVars(info);

function AppsLoaded(){
	var xobj = AvailableAppData.XMLDocument;
	var nodes = xobj.selectSingleNode("Apps/App");
	if (nodes == null){
		document.getElementById("AvailableAppData").style.display = "none";
		document.getElementById("NoAvailableAppDataMsg").style.display = "";
	}else{
		document.getElementById("AvailableAppData").style.display = "";
		document.getElementById("NoAvailableAppDataMsg").style.display = "none";
	}
	
	$("#otblAvailableAppData tr").mouseover(function(){
		$(this).css('background-color', '#d8d8d8');
	}).mouseout(function(){
		$(this).css('background-color', 'white');
	}).click(function(){
		var rowIndex = $(this).index();
		var rs = AvailableAppData.recordset;
		rs.AbsolutePosition(rowIndex);
		var appTitle = rs.Fields("Title").getValue();
		var appDesc = rs.Fields("Description").getValue();
		var appUnid = rs.Fields("Unid").getValue();
		var appDocKey = rs.Fields("DocKey").getValue();
		var appIcon = rs.Fields("AppIcon").getValue();
		var appIconColor = rs.Fields("AppIconColor").getValue();
		var appiconHTML = ""
		if(appIcon == ""){
			appiconHTML = "<i class='far  fa-database fa-5x' style='color:#ff6600;' appIcon=fa-database appIconColor=#ff6600></i>"
		}else{
			appiconHTML = "<i class='far " + appIcon + " fa-5x' style='color:" + appIconColor + ";' appIcon=" + appIcon + " appIconColor=" + appIconColor + "></i>"
		}
		
		$("#TitleText").text(appTitle);
		$("#DescText").text(appDesc);
		$("#AppUnid").text(appUnid);
		$("#AppDocKey").text(appDocKey);
		$("#AppIcon").text(appIcon);
		$("#AppIconColor").text(appIconColor);		
		$("#AppIconHTML").html(appiconHTML);	
	})

}
</script>
<style type="text/css">
fieldset {
	padding: 2;
}

#tblAvailableAppData {
	display: block;
	height: 140px;
	width: 100%;
	overflow-y: auto;
	table-layout: fixed;
	border: 1px solid silver;
	border-collapse: collapse;
}

td {
	border-bottom: 1px solid #C0C0C0;
}

td.libname {
	width: 300px;
	color: #000080;
}

td.libdesc {
	width: 300px;
}

td.header {
	background-color: #ECE9D8;
	font-weight: bold;
	color: #000000;
}
</style>
</head>
<body text="#000000" bgcolor="#FFFFFF">
	<form method="post" action="" name="_dlgAddApp">
		<fieldset>
			<legend>{% trans %}Applications{% endtrans %}&nbsp;</legend>
			<!------------------------------------------------------------>
			<div id="NoAvailableAppDataMsg" style="display: none;">{% trans %}There are currently no Applications available to you.{% endtrans %}</div>
			<div id="AvailableAppData" style="display: none;">
				<!---------- available App table header ------>
				<table id="tblAvailableAppData" datasrc="#AvailableAppData">
					<thead>
						<tr>
							<td class="libname header">{% trans %}Name{% endtrans %}</td>
							<td class="libdesc header">{% trans %}Description{% endtrans %}</td>
						</tr>
					</thead>
					<tbody id="otblAvailableAppData">
						<!---------- available App table content ------>
						<tr>
							<td class="libname"><span id="Title" datafld="Title"></span></td>
							<td class="libdesc"><span id="Description" datafld="Description"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
		<hr>
		<table style="width: 100%; table-layout: fixed;">
			<tr>
				<td style="vertical-align: top; padding: 15px 15px 15px 15px;">
					<span id="TitleLabel" style="font-weight: bold; font-size: 12px;">{% trans %}Title{% endtrans %}:</span><br>
					<span id="TitleText" style="font-size: 12px;">{% trans %}Select an App from the above list.{% endtrans %}</span><br><br><br><br>
					<span id="DescLabel" style="font-weight: bold; font-size: 12px;">{% trans %}Description{% endtrans %}:</span><br>
					<span id="DescText" style="font-size: 12px;">{% trans %}Nothing selected.{% endtrans %}</span><br>
				</td>
				<td>
					<div id="AppIconHTML" style="vertical-align: middle; text-align: center;"></div>
				</td>
			</tr>
		</table>
		<span id="AppUnid" style="display: none;"></span>
		<span id="AppDocKey" style="display: none;"></span>
		<span id="AppIcon" style="display: none;"></span>
		<span id="AppIconColor" style="display: none;"></span>

		<script type="text/javascript">
var AvailableAppData = new xmlDataIsland();
AvailableAppData.setSrc("{{ path('docova_appdata') }}");
AvailableAppData.id = "AvailableAppData";
AvailableAppData.setTemplateName("otblAvailableAppData");
AvailableAppData.ondatasetcomplete = function() {
	AppsLoaded();
}
//AvailableAppData.process(); //causes xml to be loaded twice
		</script>
	</form>
</body>
</html>