<!doctype html>
<html>
<head>
<title>Import</title>
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDialogBase.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/admin/styleAdministration.css') }}" type="text/css" />
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
<script language="JavaScript" type="text/javascript">
var parentWin = window.top.Docova.GlobalStorage["dlgImportData"].sourcewindow;
var info = {
	"UserName" : "{{ user.getUsername }}",
	"UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
	"UserNameCN" : "{{ user.getUserProfile.getDisplayName }}",
	"UserRoles" : "$$WebClient;[Administration]",
	"HTTP_Referer" : "",
	"Query_String" : "OpenForm&Type=View",
	"Query_String_Decoded" : "OpenForm&Type=View",
	"Path_Info_Decoded" : "{{ path('docova_dlgimportdata') }}?OpenForm&Type=View",
    "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
    "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
    "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
    "PortalWebPath" : "{{ url('docova_homepage') }}",
    "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
	"SSLState" : "{{ 'https' in app.request.getscheme|lower ? 'ON' : 'OFF' }}"
};
function getinfovar() {
	return info;
}
// -------------------------- OnLoad initialization ----------------------------------------------
function initDialog() {
	//Global variables for convenience
	//	dlgDoc = document.all;
	InitVars(info);
	return;
}

$(document).ready(function() {
	$("#DocType").change(function() {
		var currProtocol = location.protocol;
		var secureflag = "OFF"
		if (currProtocol == "http:") {
			secureflag = "OFF";
		} else {
			secureflag = "ON";
		}
		var doctypekey = Docova.Utils.dbLookup({
			servername : "",
			nsfname : docInfo.PortalWebPath,
			viewname : "luDocumentTypesByName",
			key : $(this).val(),
			columnorfield : "2",
			secure : secureflag,
			"failsilent" : true
		});

		$("#dKey").val(doctypekey);
	});

	$('#AppID').val(parentWin.docInfo.AppID);
	$('#Application').val(parentWin.document.getElementById('Title').value);
});
</script>
<style type="text/css">
TH { border-bottom: 1px #888 dotted; padding-bottom: 7px; }
INPUT { width: 250px !important; }
.frmLabel { width: 110px; }
</style>
</head>
<body text="#000000" bgcolor="white" class="dlgBody" SCROLL="no" onload="initDialog();">
	<input type='hidden' id="dKey" value=''></input>
	<table class="DlgTable" width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td class="DlgContentCell" width="100%">
				<div id="dlgContentNh" style="width: 100%;">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr valign="top">
							<td width="100%"><br></td>
						</tr>
						<tr valign="top">
							<td class="txFldLabel" width="100%">
								<table border=0 class="tblFields" style="border-collapse: collapse;"></table>
								<div>
									<table border=0 class="tblFields" style="border-collapse: collapse; width: 100%;">
										<tr>
											<th colspan="2">{% trans %}Domino Settings{% endtrans %}</th>
											<th colspan="2">{% trans %}DOCOVA Settings{% endtrans %}</th>
										</tr>
										<tr>
											<td class="frmLabel" style="width: 110px; vertical-align: top;">{% trans %}Service URL{% endtrans %}:</td>
											<td><input name="DWSUrl" value="{{ parameters['docova_dws'] is defined ? parameters['docova_dws'] : '' }}" id="DWSUrl"></td>
											<td class="frmLabel" style="vertical-align: top;">{% trans %}Host Name/IP{% endtrans %}:</td>
											<td><input name="DocovaHost" value="{{ parameters['se_host'] is defined ? parameters['se_host'] : '' }}" id="DocovaHost"></td>
										</tr>
										<tr>
											<td class="frmLabel" style="vertical-align: top;">{% trans %}Username{% endtrans %}:</td>
											<td><input name="DominoUser" value="{{ parameters['domino_user'] is defined ? parameters['domino_user'] : '' }}" id="DominoUser"></td>
											<td class="frmLabel" style="vertical-align: top;">{% trans %}Username{% endtrans %}:</td>
											<td><input name="DocovaUser" value="{{ parameters['se_user'] is defined ? parameters['se_user'] : '' }}" id="DocovaUser"></td>
										</tr>
										<tr>
											<td class="frmLabel" style="vertical-align: top;">{% trans %}Password{% endtrans %}:</td>
											<td><input type="password" name="DominoPass" value="{{ parameters['domino_password'] is defined ? parameters['domino_password'] : '' }}" id="DominoPass"></td>
											<td class="frmLabel" style="vertical-align: top;">{% trans %}Password{% endtrans %}:</td>
											<td><input type="password" name="DocovaPass" value="{{ parameters['se_password'] is defined ? parameters['se_password'] : '' }}" id="DocovaPass"></td>
										</tr>
										<tr>
											<td class="frmLabel" style="vertical-align: top;">{% trans %}Instance{% endtrans %}:</td>
											<td><input name="DocovaHome" value="{{ parameters['domino_path'] is defined ? parameters['domino_path'] : '' }}" id="DocovaHome"></td>
											<td class="frmLabel" style="vertical-align: top;">{% trans %}Database{% endtrans %}:</td>
											<td><input name="DocovaDb" value="{{ parameters['se_database'] is defined ? parameters['se_database'] : '' }}" id="DocovaDb" readonly="readonly"></td>
										</tr>
										<tr>
											<td class="frmLabel" style="vertical-align: top;">{% trans %}Source App{% endtrans %}:</td>
											<td><select name="Application" id="Application">
											{% if applist|length %}
											    {% for item in applist if item %}
												<option value="{{ item }}">{{ item }}</option>
											    {% endfor %}
											{% endif %}
											</select></td>
											<td class="frmLabel" style="vertical-align: top;">{% trans %}Attachments Path{% endtrans %}:</td>
											<td><input name="DocovaAtt" value="{{ parameters['se_attachment'] is defined ? parameters['se_attachment'] : '' }}" id="DocovaAtt"></td>
										</tr>
										<tr>
											<td class="frmLabel" style="vertical-align: top;"></td>
											<td><input type="hidden" name="AppID" id="AppID" value="" /></td>
											<td class="frmLabel" style="vertical-align: top;">{% trans %}Web Path{% endtrans %}:</td>
											<td><input name="DocovaWeb" value="{{ parameters['se_webroot'] is defined ? parameters['se_webroot'] : '' }}" id="DocovaWeb"></td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr valign="top">
			<td id="buttonCell" class="DlgButtonCell" width="100%" valign="middle">&nbsp;<font size="2"> </font></td>
		</tr>
	</table>
	<!------------------ SUBFORM sfKillCache ------------>
	<!------------------Microsoft suggestion to force no cacheing of documents------------>
<HEAD>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
</HEAD>
<!------------------END SUBFORM sfKillCache  ------------>
</body>
</html>