<!DOCTYPE html>
<html>
<head>
<META content="0" http-equiv="expires"><META content="0" http-equiv="cache-control"><META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleFolderBase.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleActionBar.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/font-awesome/css/all.min.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/multiselect.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleViewIcons.css') }}" type="text/css" />
{% set cssFile = view.getViewName|replace({' ':''}) %}
<link rel="stylesheet" type='text/css' href="{{ asset('bundles/docova/css/custom/'~ app.request.query.get('AppID') ~'/views/' ~ cssFile ~ '.css' ) }}" />
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
{% include 'DocovaBundle:Default:scriptMessagesTranslation.html.twig' %}
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/viewObjects.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa_ieemu_xpath.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/multiselect.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/viewContents.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/FormulaLanguage.js') }}"></script>
<script language="JavaScript" type="text/javascript">
{{ f_SetApplication(view.getApplication) }}{{ f_SetUser(user) }}
{% set querystring = '' %}
{% for key,value in app.request.query.all %}
  {% set querystring = querystring~key~'='~value~'&' %}
{% endfor %}
var info = {
	"DocID" : "{{ view.getId }}",
	"DocKey" : "{{ view.getId }}",
	"UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
	"UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
	"UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
	"SystemKey" :  "",
	"DocAccessLevel" : "",
	"DocAccessRole" : "",
	"DbAccessLevel" : "",
	"CutCopyPaste" : "",
  	"HTTP_Referer" : "",
  	"Query_String" : "{{ querystring|raw }}",
  	"Query_String_Decoded" : "{{ querystring|raw }}",
  	"Path_Info_Decoded" : "{{ path('docova_appviewall', {'viewname' : view.getViewName }) }}?OpenDocument&AppID={{ view.getApplication.getId }}",
	"ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
	"ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
	"NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
	"LibraryKey" : "{{ view.getApplication.getId }}",
	"PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length -1] }}",
	"ViewName" : "{{ view.getViewName }}",
	"IsAppBuilder" : "0",
	"ImgPath" : "{{ asset('bundles/docova/images/') }}",
	"RestrictToCategory" :"{{ app.request.query.get('restrictToCategory') is not null ?  app.request.query.get('restrictToCategory') : '--none--' }}",
	"ChildrenOnly": "{{ app.request.query.get('restrictToChildren') is not null ?  app.request.query.get('restrictToChildren') : '0' }}", 
	"AppID" : "{{ view.getApplication.getId }}",
    "IsEmbedded": {{ app.request.query.get('isEmbedded') == 'true' or app.request.query.get('isEmbedded') == '1' ? 'true' : 'false' }},	
	"ShowSearch":   "{% if view.getViewFtSearch %}1{% endif %}",
	"SessionDateFormat" : "{{ settings.getDefaultDateFormat|lower|replace({'yyyy':'yy'}) }}",
	"ViewID": "{{ view.getId }}",
	"UseContentPaging" : "{% if view.getEnablePaging %}1{% endif %}",
	"MaxDocCount" : "{% if view.getEnablePaging and view.getMaxDocCount %}{{ view.getMaxDocCount }}{% else %}100{% endif %}",
	"OpenDocInEditMode": "{{ view.getOpenInEdit ? 1 : '' }}",
	"OpenDocInDialog": "{{ view.getOpenInDialog ? 1 : '' }}",
	"TitleNode": "",
	"PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
	"HideActions" : "{{ app.request.query.get('HideActions') ? app.request.query.get('HideActions') : '' }}",
	"fltrFieldNodes" : "",
	"filteringParams" : "{{ filters ? filters|trim : '' }}",
	"EnableFolderFiltering" : "1",
	"UserFltrFieldNodes" : "",
	"UserFltrFieldNodeVals" : ""	
};

//---------------------------------------------------------------------
InitVars(info);
PreloadBaseImages();

{% if view.getViewJavaScript %}
{{ view.getViewJavaScript|raw }}
{% endif %}
</script>
</head>
<body text="#000000"  SCROLL="no" oncontextmenu="return false;">
	<div id="viewMainContainer" style="display:none;">
		<!-------------------------- non-scrollable header ----------------------->
		<div id="divHeaderSection" style="width: 100%; ">
			<!------------------------------------------------------>
			<div id="actionPaneHeader" class="wrapper" style="width: 100%; padding: 4px 6px 3px 6px;">
				<table border=0 cellspacing=0 cellpadding=0 width=100%>
					<tr>
						<td id="tdActionBar">
							{% set jsFile = view.getViewName|replace({' ':''}) %}
							{% include 'DocovaBundle:DesignElements:'~view.getApplication.getId~'/toolbar/'~ jsFile ~ '.html.twig' ignore missing %}
						</td>
						<td align="right">&nbsp</td>
					</tr>
				</table>
			</div>
		<!------------------------------------------------------>
		
		<!--- BEGIN Document View header ----->
		<div id="divViewHeader" style="width:100%;padding: 0px 0px 0px 0px;">
		<!------------------------------------------------------>
			<div id="divToolbarSearch" style="{{ app.request.query.get('isEmbedded') == 'true' ? 'display:none; ' : '' }} padding: 4px 6px 4px 6px; border-top: 1px solid #CCC;"> 
                 		<div id="divSearchQuery" style="display:none;"></div>
                    		<div id="divQueryFields" style="display:none;"></div>
				<span style="width: 75px;">{% trans %}Search for{% endtrans %}:</span>
				<input id="inpQuery" name="inpQuery" placeholder="Use AND, OR, <, >, = , >=, <= and wildcards like *, ?" type="text" style="width: 330px;" tabindex="1" />&nbsp;
				<button id="btnFTSearch" tabindex="2">{% trans %}Full-text Search (incl. Attachments){% endtrans %}</button>&nbsp;
{# Disabled the following options for apps
				<button id="btnAdvancedSearch" tabindex="3">{% trans %}Advanced Search{% endtrans %}</button>&nbsp;
				<select name="MySavedSearches" id="MySavedSearches" onchange="GetSavedSearch(this)" tabindex="4">
					<option selected value="0">-{% trans %}My Saved Searches{% endtrans %}-</option>
					{% if savedSearches|length %}
						{% for item in savedSearches %}
					<option value="{{ item.getId }}">{{ item.getSearchName }}</option>
						{% endfor %}
					{% endif %}
				</select>&nbsp;
#}
				<button id="btnFTClear" tabindex="5">{% trans %}Clear Search{% endtrans %}</button>&nbsp;
				<button id="btnDelete" tabindex="6">{% trans %}Delete Current Saved Search{% endtrans %}</button>
				<span id="divToolbarFilter" align="right" style="display:{{ folder is defined and folder.getFiltering ? '' : 'none' }}; border-left: groove 1px; padding: 4px 6px 4px 6px;">
					<span style="width: 40px;">{% trans %}Filters{% endtrans %}: </span>
					<button id="btnClearAllFilters" title="{% trans %}Clear all folder filtering{% endtrans %}" onclick="ClearAllFilters();" tabindex="7">{% trans %}Clear All Filters{% endtrans %}</button>
					<button id="btnResetFolderFilter" title="{% trans %}Reset to folder's default filter{% endtrans %}" onclick="ResetFolderFilter();" tabindex="8">{% trans %}Reset Folder Filter{% endtrans %}</button>
				</span>
				<span style="font-size:11px;color:#0050D1;display:none" id="divSearchResultCount"></span>					
			</div>
			<!------------------ Content Paging ------------------------------------>
			<div id="divContentPaging" disabled style="display:none; border-top:1px solid #CCC; padding: 4px 6px 4px 6px;">
				<div id="countPicker" style="z-index:1000; position:absolute; display:none; background-color: white; border:1px solid grey; padding:2px"></div>
				<table style="font-size:8pt" border=0 cellpadding=0 cellspacing=0>
					<tr>
						<td width=290>
							{% trans %}Displaying records{% endtrans %} <span id=startCount>1</span>&nbsp;{% trans %}to{% endtrans %}&nbsp;
							<span id="actualoffset" style="display:none"></span><span id="prevoffset" style="display:none">1</span>
							<div id="currCount" style="background-color:white; padding-left:1px;padding-right:2px; height:13px; display:inline">{{ folder is defined ? folder.getPagingCount : '100' }}</div>
							<div id="currPic" style="width:50px; display:inline; background-color:white;" onclick="getDisplayCount(this);">&nbsp;
								<IMG SRC= "{{ asset('bundles/docova/images/downarrow-blk.gif') }}" Border=0 />&nbsp;
							</div>&nbsp;{% trans %}of{% endtrans %}&nbsp;
							<span id=totalCount></span>
						</td>
						<td width=190>
							<button id="btnContPage1" title="{% trans %}First{% endtrans %}" tabindex="9"></button>
							<button id="btnContPage2" title="{% trans %}Previous{% endtrans %}" tabindex="10"></button>
							<button id="btnContPage3" title="{% trans %}Next{% endtrans %}" tabindex="11"></button>
							<button id="btnContPage4" title="{% trans %}Last{% endtrans %}" tabindex="12"></button>
						</td>
						<td style="display:none;">{% trans %}Find{% endtrans %} <input type="text" onfocus="selText(this)" style="width:90px" onkeyup="triggerGetPage()" id="GetPage"/></td>
					</tr>
				</table>
			</div>
			<!--------------------- End Content Paging --------------------------------->			
			<script id="xmlViewPerspective" type="text/xml">{{ view.getViewPerspective|raw }}</script>
	
			</div><!--- END Document View header ----->
		</div><!--- END Header Section ---->
		<div id="divViewEventCapture" tabindex="1"><!--- BEGIN Document keyboard event capture ----->
			<!-------------------------- scrollable content----------------------->
			<!--- BEGIN Document view contents----->
			<div id="divViewContent" style="width: 100%; padding: 0px; margin: 0px;overflow: auto" tabindex="16"></div>
			<!--- END Document view contents----->
		</div><!--- End event capture area ----->
		<!--- BEGIN Folder filter components----->
		<script id="FolderFilterXSL" type="text/xml"></script>
		<div id="SelectFilterDiv" style="display:none; position:absolute;z-index:100;" ></div>
		<div id="CurrentFilterDiv" style="display:none; position:absolute; top:0px; left:0px;"></div>
		<!--- END Folder filter components----->
	</div> <!--- END viewMainContainer--->
<!------------------ SUBFORM sfKillCache ------------>
<!------------------Microsoft suggestion to force no cacheing of documents------------>
<HEAD>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
</HEAD>
<!------------------END SUBFORM sfKillCache  ------------>
</body>
</html>