<!doctype html>
<html>
<head>
	<title>{% trans %}Designer Initializing{% endtrans %}</title>
	<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
	<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}" ></script>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}" >
	<script type="text/javascript" language="JavaScript">
	$(document).ready(function() {
		$('#suform_list').height($(document).height() - $('#btn_container').height() - 10);
	    $( "button" )
		 .button()
		 .click(function( event ) {
			event.preventDefault();
	        if ($(this).attr('id') == 'generateNewSubform') {
		        window.parent.frames['fraDesignerContainer'].location.href = "{{ path('docova_designer_subform') }}";
		    }
		 });

		$( "button.edit" )
		 .button({
			 icons: {
			 	primary: "ui-icon-document"
			 },
			 text: false
		 })
		 .click(function( event ) {
			 window.parent.frames['fraDesignerContainer'].location.href = "{{ path('docova_designer_editsubform') }}?subformid=" + $(this).attr('id').substring(1);
		 });

		$( "button.delete" )
		 .button({
			 icons: {
			 	primary: "ui-icon-trash"
			 },
			 text: false
		 })
		 .click(function(e) {
			 var res = confirm('{% trans %}Do you really want to delete this subform?{% endtrans %}'),
			 	 row = $(this).parent().parent();
			 if (res) {
				$.ajax({
					type: 'POST',
					url: '{{ path('docova_delete_subform') }}',
					data: { 'sid' : $(this).attr('id').substring(1) }
				})
				.done(function(data) {
					if (data && data.Status == true) {
						row.remove();
					}
					else {
						alert('{% trans %}Could not delete the selected subform. Contact Admin for details.{% endtrans %}');
					}
				})
				.fail(function (jqXHR, textStatus, errMsg) {
					alert('{% trans %}Could not complete the request; due to the following error{% endtrans %}: "' + errMsg + '"');
				});
			 }
		 });

		 $('.ui-widget-content TD').on('click', function() {
			 $('.ui-widget-content TD').removeClass('highlight');
			 $(this).closest('tr').children('td').addClass('highlight');
		 });
	});
	</script>
	<style type="text/css">
BODY { 
	background-color: #ede9dc;
	margin:0px; 
	padding:0px;
	font : normal 11px Verdana,  Arial, sans-serif;
}
#btn_container { display:block; padding-bottom: 3px; padding-top: 3px; padding-left: 3px; }
#suform_list {
	display: block;
	margin: 2px auto;
	background-color: #FEFEFE;
}
#suform_list table {
	width: 100%;
	table-layout: fixed;
	margin: 1px auto;
	border-collapse: collapse;
}
#suform_list th{
	font-weight: bold;
	height: 21px;
}
#suform_list td {
	padding-left: 5px;
	height: 17px;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
#suform_list tr td:FIRST-CHILD {
	border-left: 1px solid;
}
#suform_list img { cursor: pointer; }
.highlight { background-color: #2070b0; color: #FFFFFF; }
.s { width: 50px; }
.cn { text-align: center; }
.even { background-color: #ECFAFB }
.odd { background-color: #EFEFEF }
.edit, .delete { height: 19px !important; }
	</style>
</head>
<body>
	<div id="btn_container" class="ui-widget ui-state-hover">
		<button id="generateNewSubform">{% trans %}New Subform{% endtrans %}</button>
	</div>
	<div id="suform_list">
		<table>
			<tr>
				<th class="ui-state-default">{% trans %}Name{% endtrans %}</th>
				<th class="ui-state-default">{% trans %}Created By{% endtrans %}</th>
				<th class="ui-state-default">{% trans %}Modified By{% endtrans %}</th>
				<th class="ui-state-default">{% trans %}Date Modified{% endtrans %}</th>
				<th class="s ui-state-default">{% trans %}Edit{% endtrans %}</th>
				<th class="s ui-state-default">{% trans %}Delete{% endtrans %}</th>
			</tr>
			{% if subforms_list|length > 0 %}
				{% for subform in subforms_list %}
			<tr class="ui-widget-content">
				<td>{{ subform.getFormName }}</td>
				<td>{{ subform.getCreator.getUserNameDnAbbreviated }}</td>
				<td>{{ subform.getModifiedBy.getUserNameDnAbbreviated }}</td>
				<td class="cn">{{ subform.getDateModified ? subform.getDateModified.format(date_format) : subform.getDateCreated.format('m/d/Y') }}</td>
				<td class="cn"><button class="edit" id="e{{ subform.getId }}"></button></td>
				<td class="cn"><button class="delete" id="d{{ subform.getId }}"></button></td>
			</tr>
				{% endfor %}
			{% endif %}
		</table>
	</div>
</body>
</html>