<!doctype html>
<html>
<head>
	<title>{% trans %}Designer Menu{% endtrans %}</title>
	<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
	<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
	<style type="text/css">
BODY { 
	background-color: #c7ddfa; 
	margin: 0; 
	padding: 0; 
	font : normal 11px Verdana,  Arial, sans-serif;
}
#acc-menu { padding-bottom: 5px; }
#acc-menu ul { padding:0; padding-left: 5px; margin: 0; }
#acc-menu ul li { padding-top: 3px; padding-left: 7px; padding-bottom: 1px; }
#acc-menu ul li a { text-decoration: none; }
/* #acc-menu ul li:HOVER { background-color: #D7D7D7; cursor: pointer } */
#acc-menu ul li.active { background-color: #E7E7E7; }

	</style>
	<script type="text/javascript" language="JavaScript">
	$(document).ready(function() {
//		$( "#menu_tabs" ).tabs();
		$( "#acc-menu" ).accordion({heightStyle: "content"});

		$('.active a').click(function() {
			if ($(this).text() == '{{ 'Subforms'|trans }}') 
			{
				parent.fraDesignerContainer.location.href = '{{ path('docova_designer_init') }}';
				//parent.fraDesignerContainer.location.reload();
			}
		});
	});
	</script>
</head>

<body>
	<div id="acc-menu">
		<h3>{% trans %}Design Elements{% endtrans %}</h3>
		<ul>
  			<li><a href="#">{% trans %}Forms{% endtrans %}</a></li>
  			<li class="active"><a href="#">{% trans %}Subforms{% endtrans %}</a></li>
  		</ul>
	</div>
<!-- 
	<div id="menu_tabs">
		<ul>
			<li><a href="#tabs-1">Templates</a></li>
			<li><a href="#tabs-2">Global</a></li>
		</ul>
		<div id="tabs-1">
			<div id="acc-menu">
  				<h3>Shared Documents</h3>
				<ul>
  					<li><a href="#">Forms</a></li>
  					<li class="active"><a href="#">Subforms</a></li>
 					<li><a href="#">Views</a></li>
  					<li><a href="#">Outline</a></li>
  				</ul>
  				<h3>Invoice Processing</h3>
				<ul>
					<li><a>Forms</a></li>
					<li><a>Subforms</a></li>
					<li><a>Views</a></li>
					<li><a>Outline</a></li>
				</ul>
  				<h3>Discussion Demo</h3>
				<ul>
  					<li><a>Forms</a></li>
  					<li><a>Subforms</a></li>
 					<li><a>Views</a></li>
  					<li><a>Outline</a></li>
  				</ul>
  				<h3>Application 4</h3>
				<ul>
					<li><a>Forms</a></li>
					<li><a>Subforms</a></li>
					<li><a>Views</a></li>
  					<li><a>Outline</a></li>
  				</ul>
			</div>			
		</div>
		<div id="tabs-2">
			<p>Coming Soon!<br>Under construction</p>
		</div>
	</div>
-->
</body>

</html>