<!doctype html>
<html>
<head>
	<title>{% trans %}Subform Designer{% endtrans %}</title>
	<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}" ></script>
	<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}" ></script>
	<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/js/jquery.contextMenu.js') }}"></script>
	<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/js/colorPicker.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}" >
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/docova/css/jquery.contextMenu.css') }}" >
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/docova/css/colorPicker.css') }}" >
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/docova/css/admin/wDesignSubform.css') }}">
	<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/js/admin/wDesignSubform.js') }}"></script>
	<script type="text/javascript" language="JavaScript">
	var prmptMessages = {
		msgDS001 : "{% trans %}Subform saved.{% endtrans %}",
		msgDS002 : "{% trans %}Could not save subform because of the following issues{% endtrans %}",
		msgDS003 : "{% trans %}Do you want to leave the page without saving changes?{% endtrans %}"
	};
	var docInfo = {
		"UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
		"UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
		"UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
		"HTTP_Referer" : "{{ url('docova_homepage') }}", 
		"ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
		"ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
		"NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
		"ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
		"imgPath" : "{{ asset('bundles/docova/images/') }}",
		"PortalWebPath" : "{{ url('docova_homepage') }}",
		"PortalNsfName" : "{{ path('docova_homepage') }}",
		"SubmissionPath" : "{% if subform is defined %}{{ path('docova_save_updates', { 'subform' : subform.getId }) }}{% else %}{{ path('docova_submit_subform') }}{% endif %}",
		"delElement" : '{% trans %}Delete Element{% endtrans %}',
		"Rows" : '{% trans %}Rows{% endtrans %}',
		"Columns" : '{% trans %}Columns{% endtrans %}',
		"Cells" : '{% trans %}Cells{% endtrans %}',
		"tblProperties" : '{% trans %}Table Properties{% endtrans %}',
		"insert" : '{% trans %}Insert{% endtrans %}',
		"del" : '{% trans %}Delete{% endtrans %}',
		"append" : '{% trans %}Append{% endtrans %}',
		"mrgRight" : '{% trans %}Merge Right{% endtrans %}',
		"mrgCells" : '{% trans %}Merge Cells{% endtrans %}',
		"cellProperties" : '{% trans %}Cell Properties{% endtrans %}',
		"applyChanges" : '{% trans %}Apply Changes{% endtrans %}',
		"cancel" : '{% trans %}Cancel{% endtrans %}',
		"labelProperties" : '{% trans %}Label Properties{% endtrans %}',
		"dateProperties" : '{% trans %}Date Field Properties{% endtrans %}',
		"inputProperties" : '{% trans %}Input Field Properties{% endtrans %}',
		"checkboxProperties" : '{% trans %}Checkbox Properties{% endtrans %}',
		"radioProperties" : '{% trans %}Radio button Properties{% endtrans %}',
		"dropdownProperties" : '{% trans %}Dropdown Properties{% endtrans %}',
		"namesProperties" : '{% trans %}Names Field Properties{% endtrans %}',
		"textareaProperties" : '{% trans %}Textarea Properties{% endtrans %}',
		"elementId" : '{% trans %}Element ID{% endtrans %}',
		"defaultValue" : '{% trans %}Default Value(s){% endtrans %}'
	};

	//============================= Address Dialog ====================================

	function showAddressDialog(fieldName, dlgType, separator)
	{
		var defaultListObj = document.getElementsByName(fieldName);
		return showNamePicker(defaultListObj[0], dlgType, separator, false);

		var dlgSize;
		var listSeparator;

		if(separator)
		{
			listSeparator = "&separator=" + separator;
		}
		else
		{
			listSeparator = "&separator=,";
		}
		if(dlgType == "single")
		{
			var leftPosition = (screen.width) ? (screen.width-250)/2 : 0;
			var topPosition = (screen.height) ? (screen.height-475)/2 : 0;
			dlgSize = "height=490,width=250,top=" + topPosition+ ",left=" + leftPosition;
		}
		else
		{
			var leftPosition = (screen.width) ? (screen.width-570)/2 : 0;
			var topPosition = (screen.height) ? (screen.height-475)/2 : 0;
			dlgSize = "height=475,width=570,top=" + topPosition+ ",left=" + leftPosition;
		}

		var dlgUrl = docInfo.PortalWebPath + "dlgAddressBookLookup?OpenForm&parentfield=" + fieldName + "&type=" + dlgType + listSeparator;
		var dlgSettings = dlgSize + ",status=no,toolbar=no,menubar=no,location=no,scrollbars=no";
		return window.open(dlgUrl,fieldName,dlgSettings); //Display the address dialog
	}

	//============================= Modal Address Dialog ====================================

	function showNamePicker(defaultListObj, dlgType, separator, isModal)
	{
		var dlgSize = "dialogHeight:510px;dialogWidth:595px;" ; //default to multi
		var listSeparator="";

		if(separator)
		{
			listSeparator = "&sep=" + separator;
		}

		if(dlgType == "single")
		{
			dlgSize = "dialogHeight:510px;dialogWidth:295px;";
		}

		var dlgUrl = docInfo.PortalWebPath + "dlgNameLookup?OpenForm&type=" + dlgType + listSeparator;
		var dlgSettings = dlgSize + "center:yes; help:no; resizable:no; status:no;";

		if(isModal)
		{
			return window.showModalDialog(dlgUrl,defaultListObj,dlgSettings); //Display the address dialog
		}
		else
		{
			return window.showModelessDialog(dlgUrl,defaultListObj,dlgSettings); //Display the address dialog
		}
	}
	</script>
	<style type="text/css">
	.right_arrow { background-image: url("{{ asset('bundles/docova/images/rightarrow-blk.gif') }}"); background-position: 95% 50%; background-repeat: no-repeat; }
	#properties H3 { background: url('{{ asset('bundles/docova/images/icons/ftf1.gif') }}') repeat-x; background-position: center 5px; }
	</style>
</head>
<body>
	<div id="tabs" style="display: none;">
		<div id="toolbar" class="ui-widget-header ui-corner-all" style="padding:4px">
			<button id="savd_subform" title="{% trans %}Save Subform{% endtrans %}" >{% trans %}Save{% endtrans %}</button>
			<button id="close_subform" title="{% trans %}Close{% endtrans %}" >{% trans %}Close{% endtrans %}</button>
		</div>
		<ul id="prop">
			<li><a href="#properties">{% trans %}Properties{% endtrans %}</a></li>
			<li><a href="#layout">{% trans %}Layout{% endtrans %}</a></li>
			<li><a href="#javascript">JavaScript</a></li>
		</ul>
		<div id="properties">
			<table cellspacing="5">
				<tr>
					<td colspan="4" style="font-size: 11px; color: #999">{% trans %}Please fill out all the required fields. To start designing you need to go to "Layout" tab.{% endtrans %}</td>
				</tr>
				<tr>
					<td class="label">{% trans %}Form Name{% endtrans %}: <big style="color:red;">*</big></td><td><input type="text" name="form_alias" class="text ui-widget-content ui-corner-all" value="{{ subform is defined ? subform.getFormName : '' }}"></td>
					<td class="label">{% trans %}Form Alias{% endtrans %}: <big style="color:red;">*</big></td><td><input type="text" name="from_name" class="text ui-widget-content ui-corner-all" value="{{ subform is defined ? subform.getFormFileName|replace({'sfCustomSection-': ''}) : '' }}"></td>
				</tr>
				<tr>
					<td colspan="4">
						<h3><span class="ui-widget-content">Advanced Settings:&nbsp; </span><img alt="expand" id="collapseExpand" src="{{ asset('bundles/docova/images/cat-expand.gif') }}"></h3>
						<div id="afcontainer" style="display:none;">
						<table cellspacing="5" id="additional_fields_container">
							<tr>
								<td colspan="4" class="elNote">{% trans %}Add additional hidden inputs to your subform:{% endtrans %}</td>
							</tr>
							<tr>
								<td class="label">{% trans %}Field Name: {% endtrans %}</td><td><input type="text" name="addFieldName" value="" class="text ui-widget-content ui-corner-all" /></td>
								<td class="label">{% trans %}Field Type: {% endtrans %}</td><td>
									<select name="addFieldType" class="text ui-widget-content ui-corner-all">
										<option value="-1">-- Select Field Type --</option>
										<option value="0">Text</option>
										<option value="1">Date</option>
										<option value="2">Multi(radio, checkbox, combo)</option>
										<option value="3">Names</option>
									</select>
									<img alt="Add" id="addRow" class="addRow" src="{{ asset('bundles/docova/images/plus.png') }}">
								</td>
							</tr>
							{% if subform is defined and subform.getSubformFields.count > 0 %}
								{% for element in subform.getSubformFields if element.getIsExtra and not element.getTrash %}
							<tr>
								<td class="label">{% trans %}Field Name: {% endtrans %}</td><td><input type="text" name="addFieldName" value="{{ element.getFieldName }}" class="text ui-widget-content ui-corner-all" /></td>
								<td class="label">{% trans %}Field Type: {% endtrans %}</td><td>
									<select name="addFieldType" class="text ui-widget-content ui-corner-all">
										<option value="-1">-- Select Field Type --</option>
										<option {{ element.getFieldType == 0 ? 'selected' : '' }} value="0">Text</option>
										<option {{ element.getFieldType == 1 ? 'selected' : '' }} value="1">Date</option>
										<option {{ element.getFieldType == 2 ? 'selected' : '' }} value="2">Multi(radio, checkbox, combo)</option>
										<option {{ element.getFieldType == 3 ? 'selected' : '' }} value="3">Names</option>
									</select>
									<img alt="Remove" class="removeRow" src="{{ asset('bundles/docova/images/minus.png') }}">
								</td>
							</tr>
								{% endfor %}
							{% endif %}
						</table>
						</div>
					</td>
				</tr>
			</table>
			{% if subform is defined %}
			<input id="edit_form_id" type="hidden" value="{{ subform.getId }}" >
			{% endif %}
		</div>
		<div id="layout">
			<form action="" id="form_element_container" onsubmit="return false;">
				{% if subform_html is not defined or subform_html == '' %}
				<table>
					<tr>
						<td>&nbsp;</td><td>&nbsp;</td>
					</tr>
				</table>
				{% else %}
				{{ subform_html|raw }}
				{% endif %}
			</form>
			<div id="tool_box" class="ui-widget-content">
				<h3 class="header ui-state-default">{% trans %}Form Elements{% endtrans %} </h3>
				<ul>
					<li elem="label"><img src="{{ asset('bundles/docova/images/icons/dsn-label.gif') }}"><span class="elemLabel">Text label</span></li>
					<li elem="text"><img src="{{ asset('bundles/docova/images/icons/dsn-inputfield.gif') }}"><span class="elemLabel">Input field</span></li>
					<li elem="chbox"><img src="{{ asset('bundles/docova/images/icons/dsn-checkbox.gif') }}"><span class="elemLabel">Checkbox</span></li>
					<li elem="rdbutton"><img src="{{ asset('bundles/docova/images/icons/dsn-radio.gif') }}"><span class="elemLabel">Radio button</span></li>
					<li elem="select"><img src="{{ asset('bundles/docova/images/icons/dsn-dropdown.gif') }}"><span class="elemLabel">Dropdown</span></li>
					<li elem="names"><img src="{{ asset('bundles/docova/images/icons/dsn-namesfield.gif') }}"><span class="elemLabel">Names field</span></li>
					<li elem="date"><img src="{{ asset('bundles/docova/images/icons/dsn-datefield.gif') }}"><span class="elemLabel">Date field</span></li>
					<li elem="tarea"><img src="{{ asset('bundles/docova/images/icons/dsn-textbox.gif') }}"><span class="elemLabel">Textarea</span></li>
					<li elem="button" style="display:none;"><img src="{{ asset('bundles/docova/images/icons/dsn-button.gif') }}"><span class="elemLabel">Button</span></li>
					<li elem="image" style="display:none;"><img src="{{ asset('bundles/docova/images/icons/dsn-image.gif') }}"><span class="elemLabel">Image</span></li>
					<li elem="table"><img src="{{ asset('bundles/docova/images/icons/dsn-table.gif') }}"><span class="elemLabel">Table</span></li>
					<li elem="htmlcode"><img src="{{ asset('bundles/docova/images/icons/htmlcode.png') }}"><span class="elemLabel">HTML Code</span></li>
					<li elem="twigcode"><img src="{{ asset('bundles/docova/images/icons/twigcode.png') }}"><span class="elemLabel">TWIG Code</span></li>
				</ul>
			</div>
		</div>
		<div id="javascript">
			<label><input type="checkbox" id="use_domready" value="1"> {% trans %}Use jQuery onDomReady{% endtrans %}</label>
			<textarea name="js_container" id="js_container">{{ subform_js is defined ? subform_js|raw : '' }}</textarea>
		</div>
		<div id="phpscript">
		</div>
	</div>
	<div id="properties_container" title="{% trans %}Element Properties{% endtrans %}">
		<form name="element_properties" id="element_properties">
			<input type="hidden" name="selected_element_id" id="selected_element_id" value="" >
			<div id="property_tabs">
				<ul>
					<li><a href="#prAttributes">{% trans %}Attributes{% endtrans %}</a></li>
					<li><a href="#prEvents">{% trans %}Events{% endtrans %}</a></li>
				</ul>
				<div id="prAttributes">
				<table>
					<tr>
						<td>{% trans %}Element Name{% endtrans %}: </td><td class="large"><input id="element_name" name="element_name" type="text" value="" class="text ui-widget-content ui-corner-all" ></td>
						<td id="field_id"></td><td class="large">
							<input id="element_id" name="element_id" type="text" value="" class="text ui-widget-content ui-corner-all" >
						</td>
					</tr>
					<tr>
						<td>{% trans %}Font{% endtrans %}: </td>
						<td class="large">
							<select id="element_font" name="element_font" class="text ui-widget-content ui-corner-all">
								<option value="verdana">Verdana</option>
								<option value="arial">Arial</option>
								<option value="sans-serif">Sans-Serif</option>
							</select>
						</td>
						<td>{% trans %}Size{% endtrans %}: </td>
						<td class="large">
							<select id="element_fontsize" name="element_fontsize" class="text ui-widget-content ui-corner-all">
								<option value="9">9
								<option value="10">10
								<option value="11">11
								<option value="12">12
								<option value="13">13
								<option value="14">14
								<option value="15">15
								<option value="16">16
								<option value="17">17
								<option value="18">18
								<option value="19">19
							</select>
						</td>
					</tr>
					<tr class="variable label_rows" style="display:none;">
						<td>{% trans %}Label value{% endtrans %}: </td><td><input class="text ui-widget-content ui-corner-all" type="text" name="label_value" value="" ></td>
						<td><label><input type="checkbox" name="label_italic" value="italic" class="ui-widget-content">{%trans%}Italic{%endtrans%}</label></td>
						<td><label><input type="checkbox" name="label_bold" value="bold" class="ui-widget-content">{%trans%}Bold{%endtrans%}</label></td>
					</tr>
					<tr class="variable label_rows" style="display:none;">
						<td>{% trans %}Alignment{% endtrans %}: </td><td>
							<select name="lbl_alignment" class="text ui-widget-content ui-corner-all">
								<option value="left">{% trans %}Left{% endtrans %}</option>
								<option value="center">{% trans %}Center{% endtrans %}</option>
								<option value="right">{% trans %}Right{% endtrans %}</option>
							</select>
						</td>
						<td>{% trans %}Color{% endtrans %}: </td>
						<td>
							<input id="lbl_color" type="text" name="lbl_color" value="" style="float:left; width:110px;" class="text ui-widget-content ui-corner-all">
							<img alt="{% trans %}pick color{% endtrans %}" src="{{ asset('bundles/docova/images/colorpicker.gif') }}" class="color_picker" for="lbl_color">
						</td>
					</tr>
					<tr class="variable textbox_rows" style="display:none">
						<td>{% trans %}Default value{% endtrans %}: </td><td><input class="text ui-widget-content ui-corner-all" type="text" name="textbox_value" value=""></td>
						<td>{% trans %}Width{% endtrans %}: </td><td><input type="text" name="txt_width" value="" style="width: 130px; float:left;" ><span style="float:left; font-size: 10px;">px</span></td>
					</tr>
					<tr class="variable names_rows" style="display:none">
						<td>{% trans %}Width{% endtrans %}: </td><td><input type="text" name="names_width" value="" style="width: 130px; float:left;" ><span style="float:left; font-size: 10px;">px</span></td>
						<td>{% trans %}Selection Type{% endtrans %}: </td><td>
							<select name="namep_type">
								<option value="multi">{% trans %}Multiple{% endtrans %}</option>
								<option value="single">{% trans %}Single{% endtrans %}</option>
							</select>
						</td>
					</tr>
					<tr class="variable checkbox_rows" style="display:none;">
						<td>{% trans %}Default value{% endtrans %}: </td><td><input class="text ui-widget-content ui-corner-all" type="text" name="checkbox_defaults" id="checkbox_defaults" value=""></td>
						<td>{% trans %}Columns{% endtrans %}: </td><td><input class="text ui-widget-content ui-corner-all" type="text" name="column_countcb" value="1"></td>
					</tr>
					<tr class="variable checkbox_rows" style="display:none">
						<td colspan="4" style="border-top: 1px dashed #CCC;">
						<div class="option_container">
							<table id="chbox_options" class="nofix">
								<tr>
									<td>{% trans %}label{% endtrans %}:</td><td><input class="text ui-widget-content ui-corner-all" type="text" name="chbox_label1" value="" ></td>
									<td>{% trans %}Value{% endtrans %}:</td><td><input class="text ui-widget-content ui-corner-all" type="text" name="chbox_value1" value="" ></td>
									<td class="sm"><img alt="{% trans %}add{% endtrans %}" src="{{ asset('bundles/docova/images/plus.png') }}" id="add_choption"></td>
								</tr>
							</table>
						</div>
						</td>
					</tr>
					<tr class="variable radiobtn_rows" style="display:none;">
						<td>{% trans %}Default value{% endtrans %}: </td><td><input class="text ui-widget-content ui-corner-all" type="text" name="radiobtn_defaul"  value=""></td>
						<td>{% trans %}Columns{% endtrans %}: </td><td><input class="text ui-widget-content ui-corner-all" type="text" name="column_count" value="1"></td>
					</tr>
					<tr class="variable radiobtn_rows" style="display:none;">
						<td colspan="4" style="border-top:1px #CCC dashed;">
						<div class="option_container">
							<table id="rdbtn_options" class="nofix">
								<tr>
									<td>{% trans %}label{% endtrans %}:</td><td><input class="text ui-widget-content ui-corner-all" type="text" name="rdbtn_label1" value="" ></td>
									<td>{% trans %}Value{% endtrans %}:</td><td><input class="text ui-widget-content ui-corner-all" type="text" name="rdbtn_value1" value="" ></td>
									<td class="sm"><img alt="{% trans %}add{% endtrans %}" src="{{ asset('bundles/docova/images/plus.png') }}" id="add_rdoption"></td>
								</tr>
							</table>
						</div>
						</td>
					</tr>
					<tr class="variable combobox_rows" style="display:none;">
						<td>{% trans %}Default value{% endtrans %}: </td><td><input class="text ui-widget-content ui-corner-all" type="text" name="combobox_default" value=""></td>
						<td>{% trans %}Width{% endtrans %}: </td><td><input class="text ui-widget-content ui-corner-all" type="text" name="combobox_width" value=""></td>
					</tr>
					<tr class="variable combobox_rows" style="display:none;">
						<td colspan="4" style="border-top:1px #CCC dashed;">
						<div class="option_container">
							<table id="combo_options" class="nofix">
								<tr>
									<td>{% trans %}Option{% endtrans %}:</td><td><input class="text ui-widget-content ui-corner-all" type="text" name="combo_label1" value="" ></td>
									<td>{% trans %}Value{% endtrans %}:</td><td><input class="text ui-widget-content ui-corner-all" type="text" name="combo_value1" value="" ></td>
									<td class="sm"><img alt="{% trans %}add{% endtrans %}" src="{{ asset('bundles/docova/images/plus.png') }}" id="add_cmboption"></td>
								</tr>
							</table>
						</div>
						</td>
					</tr>
					<tr class="variable tarea_rows" style="display:none;">
						<td>{% trans %}Columns{% endtrans %}: </td><td><input class="text ui-widget-content ui-corner-all" type="text" name="tarea_cols" value=""></td>
						<td>{% trans %}Rows{% endtrans %}: </td><td><input class="text ui-widget-content ui-corner-all" type="text" name="tarea_rows" value="" ></td>
					</tr>
					<tr class="variable tarea_rows" style="display:none;">
						<td>{% trans %}Default value{% endtrans %}: </td><td><input class="text ui-widget-content ui-corner-all" type="text" name="tarea_default" value=""></td>
						<td colspan="2"></td>
					</tr>
				</table>
				</div>
				<div id="prEvents">
					<table>
						<tr>
							<td>{% trans %}On Click{% endtrans %}: <br>
								<span class="wtrmark">{% trans %}JS function to call when element is clicked.{% endtrans %}</span>
							</td><td><input type="text" name="onClickEvent" value="" ></td>
						</tr>
						<tr>
							<td>{% trans %}On Change{% endtrans %}: <br>
								<span class="wtrmark">{% trans %}JS function to call when element value changes.{% endtrans %}</span>
							</td><td><input type="text" name="onChangeEvent" value="" ></td>
						</tr>
						<tr>
							<td>{% trans %}On Focus{% endtrans %}:<br>
								<span class="wtrmark">{% trans %}JS function to call when element gets focus.{% endtrans %}</span> 
							</td><td><input type="text" name="onFocusEvent" value="" ></td>
						</tr>
						<tr>
							<td>{% trans %}On Blur{% endtrans %}: <br>
								<span class="wtrmark">{% trans %}JS function to call when element loses focus.{% endtrans %}</span>
							</td><td><input type="text" name="onBlurEvent" value="" ></td>
						</tr>
					</table>
				</div>
			</div>
		</form>
	</div>
	<div id="static_properties">
		<table>
			<tr>
				<td>ID: </td><td><input class="text ui-widget-content ui-corner-all" id="static_id" type="text" value="" ></td>
				<td>Class: </td><td><input class="text ui-widget-content ui-corner-all" id="static_class" type="text" value="" ></td>
			</tr>
			<tr>
				<td colspan="4">
					<label>Style: </label>
					<textarea id="static_style" class="text ui-widget-content ui-corner-all"></textarea>
				</td>
			</tr>
		</table>
	</div>
	<div id="jquery-colour-picker" style="display:none;">
		<ul id="colours">
			<li><a href="#" title="#ffffff" rel="ffffff" style="background-color: #ffffff;">#ffffff</a></li>
			<li><a href="#" title="#ffccc9" rel="ffccc9" style="background-color: #ffccc9;">#ffccc9</a></li>
			<li><a href="#" title="#ffce93" rel="ffce93" style="background-color: #ffce93;">#ffce93</a></li>
			<li><a href="#" title="#fffc9e" rel="fffc9e" style="background-color: #fffc9e;">#fffc9e</a></li>
			<li><a href="#" title="#ffffc7" rel="ffffc7" style="background-color: #ffffc7;">#ffffc7</a></li>
			<li><a href="#" title="#9aff99" rel="9aff99" style="background-color: #9aff99;">#9aff99</a></li>
			<li><a href="#" title="#96fffb" rel="96fffb" style="background-color: #96fffb;">#96fffb</a></li>
			<li><a href="#" title="#cdffff" rel="cdffff" style="background-color: #cdffff;">#cdffff</a></li>
			<li><a href="#" title="#cbcefb" rel="cbcefb" style="background-color: #cbcefb;">#cbcefb</a></li>
			<li><a href="#" title="#cfcfcf" rel="cfcfcf" style="background-color: #cfcfcf;">#cfcfcf</a></li>
			<li><a href="#" title="#fd6864" rel="fd6864" style="background-color: #fd6864;">#fd6864</a></li>
			<li><a href="#" title="#fe996b" rel="fe996b" style="background-color: #fe996b;">#fe996b</a></li>
			<li><a href="#" title="#fffe65" rel="fffe65" style="background-color: #fffe65;">#fffe65</a></li>
			<li><a href="#" title="#fcff2f" rel="fcff2f" style="background-color: #fcff2f;">#fcff2f</a></li>
			<li><a href="#" title="#67fd9a" rel="67fd9a" style="background-color: #67fd9a;">#67fd9a</a></li>
			<li><a href="#" title="#38fff8" rel="38fff8" style="background-color: #38fff8;">#38fff8</a></li>
			<li><a href="#" title="#68fdff" rel="68fdff" style="background-color: #68fdff;">#68fdff</a></li>
			<li><a href="#" title="#9698ed" rel="9698ed" style="background-color: #9698ed;">#9698ed</a></li>
			<li><a href="#" title="#c0c0c0" rel="c0c0c0" style="background-color: #c0c0c0;">#c0c0c0</a></li>
			<li><a href="#" title="#fe0000" rel="fe0000" style="background-color: #fe0000;">#fe0000</a></li>
			<li><a href="#" title="#f8a102" rel="f8a102" style="background-color: #f8a102;">#f8a102</a></li>
			<li><a href="#" title="#ffcc67" rel="ffcc67" style="background-color: #ffcc67;">#ffcc67</a></li>
			<li><a href="#" title="#f8ff00" rel="f8ff00" style="background-color: #f8ff00;">#f8ff00</a></li>
			<li><a href="#" title="#34ff34" rel="34ff34" style="background-color: #34ff34;">#34ff34</a></li>
			<li><a href="#" title="#68cbd0" rel="68cbd0" style="background-color: #68cbd0;">#68cbd0</a></li>
			<li><a href="#" title="#34cdf9" rel="34cdf9" style="background-color: #34cdf9;">#34cdf9</a></li>
			<li><a href="#" title="#6665cd" rel="6665cd" style="background-color: #6665cd;">#6665cd</a></li>
			<li><a href="#" title="#9b9b9b" rel="9b9b9b" style="background-color: #9b9b9b;">#9b9b9b</a></li>
			<li><a href="#" title="#cb0000" rel="cb0000" style="background-color: #cb0000;">#cb0000</a></li>
			<li><a href="#" title="#f56b00" rel="f56b00" style="background-color: #f56b00;">#f56b00</a></li>
			<li><a href="#" title="#ffcb2f" rel="ffcb2f" style="background-color: #ffcb2f;">#ffcb2f</a></li>
			<li><a href="#" title="#ffc702" rel="ffc702" style="background-color: #ffc702;">#ffc702</a></li>
			<li><a href="#" title="#32cb00" rel="32cb00" style="background-color: #32cb00;">#32cb00</a></li>
			<li><a href="#" title="#00d2cb" rel="00d2cb" style="background-color: #00d2cb;">#00d2cb</a></li>
			<li><a href="#" title="#3166ff" rel="3166ff" style="background-color: #3166ff;">#3166ff</a></li>
			<li><a href="#" title="#6434fc" rel="6434fc" style="background-color: #6434fc;">#6434fc</a></li>
			<li><a href="#" title="#656565" rel="656565" style="background-color: #656565;">#656565</a></li>
			<li><a href="#" title="#9a0000" rel="9a0000" style="background-color: #9a0000;">#9a0000</a></li>
			<li><a href="#" title="#ce6301" rel="ce6301" style="background-color: #ce6301;">#ce6301</a></li>
			<li><a href="#" title="#cd9934" rel="cd9934" style="background-color: #cd9934;">#cd9934</a></li>
			<li><a href="#" title="#999903" rel="999903" style="background-color: #999903;">#999903</a></li>
			<li><a href="#" title="#009901" rel="009901" style="background-color: #009901;">#009901</a></li>
			<li><a href="#" title="#329a9d" rel="329a9d" style="background-color: #329a9d;">#329a9d</a></li>
			<li><a href="#" title="#3531ff" rel="3531ff" style="background-color: #3531ff;">#3531ff</a></li>
			<li><a href="#" title="#6200c9" rel="6200c9" style="background-color: #6200c9;">#6200c9</a></li>
			<li><a href="#" title="#343434" rel="343434" style="background-color: #343434;">#343434</a></li>
			<li><a href="#" title="#680100" rel="680100" style="background-color: #680100;">#680100</a></li>
			<li><a href="#" title="#963400" rel="963400" style="background-color: #963400;">#963400</a></li>
			<li><a href="#" title="#986536" rel="986536" style="background-color: #986536;">#986536</a></li>
			<li><a href="#" title="#646809" rel="646809" style="background-color: #646809;">#646809</a></li>
			<li><a href="#" title="#036400" rel="036400" style="background-color: #036400;">#036400</a></li>
			<li><a href="#" title="#34696d" rel="34696d" style="background-color: #34696d;">#34696d</a></li>
			<li><a href="#" title="#00009b" rel="00009b" style="background-color: #00009b;">#00009b</a></li>
			<li><a href="#" title="#303498" rel="303498" style="background-color: #303498;">#303498</a></li>
			<li><a href="#" title="#000000" rel="000000" style="background-color: #000000;">#000000</a></li>
			<li><a href="#" title="#330001" rel="330001" style="background-color: #330001;">#330001</a></li>
			<li><a href="#" title="#643403" rel="643403" style="background-color: #643403;">#643403</a></li>
			<li><a href="#" title="#663234" rel="663234" style="background-color: #663234;">#663234</a></li>
			<li><a href="#" title="#343300" rel="343300" style="background-color: #343300;">#343300</a></li>
			<li><a href="#" title="#013300" rel="013300" style="background-color: #013300;">#013300</a></li>
			<li><a href="#" title="#003532" rel="003532" style="background-color: #003532;">#003532</a></li>
			<li><a href="#" title="#010066" rel="010066" style="background-color: #010066;">#010066</a></li>
			<li><a href="#" title="#340096" rel="340096" style="background-color: #340096;">#340096</a></li>
		</ul>
	</div>
</body>
</html>
