<!doctype html>
<html>
<HEAD>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
<TITLE>{% trans %}Application{% endtrans %}</TITLE>
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/gridstack/loadash.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('bundles/docova/gridstack/gridstack.min.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/docova/gridstack/gridstacklarge.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/docova/gridstack/gridstack.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/gridstack/gridstack.jQueryUI.min.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/multiselect.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/admin/styleAdministration.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDocovaMenu.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/font-awesome/css/all.min.css') }}">
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/multiselect.js') }}" charset="UTF-8"></script>
<link rel="icon" href="{{ asset('bundles/docova/images/favicon.ico') }}">
<script type="text/javascript">
var info = {
  "UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
  "UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}", 
  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "SystemKey" : "{{ settings.getSystemKey }}",
  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
  "PortalWebPath" : "{{ url('docova_homepage')[:url('docova_homepage')|length - 1] }}",
  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}"
};
var docInfo = info;
var docovaCookie = {};

var lastHeight = 0;
var rows =48;
var vmargin = 12;
var gridObj = null;

function getinfovar(){
   return info;
}       

</script>



<style tyope="text/css">

body {
    margin:10px;
    background : #f5f6f7;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content{
    background: white;
    box-shadow : 0 0 35px 0 rgba(154,161,171,.15);
    border: 1px solid lightgray;
    border-radius: .25rem;
   
   
}

.ui-resizable-resizing iframe { pointer-events: none; }

.ifrmcontainer {
    position:absolute;
    top:0px;
    border: 0px;
    width:100%;
    height:100%;
    border:0px;
}

</style>


<script type="text/javascript">
var gotoparam = '{{ app.request.query.get('goto') }}';
var ServerUrl = '{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}';
var PortalNsfName = '{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}';


function openGotoAppDoc()
{
    if (gotoparam != '')
    {
    	gotoparam = gotoparam.split(',');
    	var docUrl = ServerUrl + PortalNsfName + '/wReadDocument/' + gotoparam[2] + '?OpenDocument&ParentUNID=' + gotoparam[0] + '&mode=window';
    	var leftPosition = (screen.width) ? (screen.width-1200)/2 : 20;
    	var topPosition = (screen.height) ? (screen.height-700)/2 : 20;
    	var wHeight = screen.height ? Math.round(screen.height*65/100) : 700;
    	var wWidth = screen.width ? Math.round(screen.width*80/100) : 1200;
    	dlgSize = "height="+ wHeight +",width="+ wWidth +",top=" + topPosition+ ",left=" + leftPosition;
    	var dlgSettings = dlgSize + ",status=no,toolbar=no,menubar=no,location=no,scrollbars=yes,resizable=yes";
    	return window.open(docUrl, gotoparam[2], dlgSettings); //Display the address dialog
    }
}

function resize()
{
    id = ".grid-stack";
    width = $(id).parent().width();

   
    height = $(window).height() - ((rows - 1) * vmargin) - parseInt($("body").css("margin-top")) - parseInt($("body").css("margin-bottom")) ;

    if (0 >= height)
    {
        setTimeout(gridObj.onResizeHandler, 1000);
        return;
    }

    if (lastHeight == height)
        return;

    lastHeight = height;
    var cheight = height / rows;
    gridObj.cellHeight( cheight + 'px');
}

function initGridStack()
{
    vmargin = $(".grid-stack").attr("pvspacing") ? $(".grid-stack").attr("pvspacing") : vmargin;
    var options = {
        width : rows,
        height: rows, 
        verticalMargin:vmargin,
        disableDrag: true,
        disableResize: true
    };

    $('.grid-stack').gridstack(options);
    gridObj = $('.grid-stack').data('gridstack');
    gridObj._updateHeightsOnResize = function() { resize(); };
    gridObj.onResizeHandler();
    resize();
}

$(document).ready(function()
{
    openGotoAppDoc();
    var bcolor = $(".grid-stack").attr("pbackground");
    if ( bcolor && bcolor != ""){
        $("body").css("background", bcolor);
    }
    var bmargin = $(".grid-stack").attr("pmargin");

    if ( bmargin && bmargin != ""){
         $("body").css("margin", bmargin);
    }

    //apply any custom style for each panel
    $(".grid-stack-item").each ( function () {
        var cstyle = $(this).attr("dadditionalstyle");
        var noscroll = $(this).attr("dnoscroll");
        var contdiv = $(this).find(".grid-stack-item-content");
        if ( noscroll & noscroll == "1"){
            contdiv.css("overflow", "hidden")
        }

        if ( cstyle && cstyle != "" ){
            
             var existing = $(contdiv).attr("style");
            
            $(contdiv).attr ("style", existing + "; " + cstyle);
        }
    })

    initGridStack();
    var resizeTimer;
    $(window).on('resize', function(e, elem) {
		clearTimeout(resizeTimer);
		resizeTimer = setTimeout(function(){ 
			initGridStack();
		}, 250);
	});
});
</script>
</HEAD>
<HTML>
	{% if layout %}
        <div class='wrapper' style='height:auto; width:auto; padding:0px; margin:0px'>
        	{% set appId = application.getId %}
			{% include 'DocovaBundle:DesignElements:' ~ appId ~ '/layouts/' ~ layout.getLayoutId|replace({' ':'', '\\': '-', '/':'-'}) ~ '.html.twig' %}
        </div>
	{% else %}
		<frameset><frame src="{{ path('docova_emptycontent') }}"></frameset>
	{% endif %}
<!------------------Microsoft suggestion to force no cacheing of documents------------>
<HEAD>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
</HEAD>	
<!------------------END SUBFORM sfKillCache  ------------>
</HTML>