<!DOCTYPE html>
<html>
<head>
<title>{% trans %}Applications{% endtrans %}</title>
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/font-awesome/css/all.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDialogBase.css') }}" type="text/css" />
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<style type="text/css">
table {
	display: block;
	width: 100%;
	overflow-y: auto;
	table-layout: fixed;
	border-collapse: collapse;
}
TD { padding-top: 1px; padding-bottom: 1px; }
.iconpicker-item {
	float: left;
	width: 14px;
	height: 14px;
	padding: 12px;
	margin: 0 12px 12px 0;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	font-size: 14px;
	box-shadow: 0 0 0 1px #ddd;
	color: inherit
}

.iconpicker {
	width: 225px;
	height: 200px;
	border: 1px solid black;
	overflow: auto;
}

.iconpicker-selected {
	background-color: #C0C0C0;
}
</style>
<script language="JavaScript" type="text/javascript">
var dlgDoc = null;
var parentWin = window.top.Docova.GlobalStorage["divDlgAppProperties"].sourcewindow;
var params = parentWin.dlgParams;
var srch = "";
var srchArray;
var iconhtml = "";
var alliconhtml = "";
{% include 'DocovaBundle:AppBuilder:FontAwesomeIcons.html.twig' %}

var info = {
	"UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
	"UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
	"UserNameCN" : "{{ user.username }}",
	"ServiceAgent" : "LibraryServices",
	"UserRoles" : "$$WebClient;",
	"HTTP_Referer" : "",
	"Query_String" : "",
	"Query_String_Decoded" : "",
	"ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
	"ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
	"NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
	"PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
	"PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
	"HomePageWeb" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
	"Path_Info_Decoded" : "",
	"SecureUrl" : ""
};
function getinfovar() {
	return info;
}
InitVars(info);

$(document).ready(function() {
	//---Generate and store html for all icons
	for (var x = 0; x < fa_items.length; x++) {
		iconhtml += "<a title='" + fa_items[x] + "' role='button' href='#' class='iconpicker-item'><i class='" + fa_items[x] + "'></i></a>"
	}
	alliconhtml = iconhtml;

	//---Set delay on icon picker search field
	var delayMilliseconds = 750; // i.e. = 1 second
	var timeoutId;
	$("#IconSearch").on(
			'keyup',
			function() {
				if (timeoutId) {
					clearTimeout(timeoutId);
				}
				timeoutId = setTimeout(geticons,
						delayMilliseconds);
			});

	geticons();

	$("#color-picker").change(function() {
		$("#AppIconColor").val($(this).val());
		$("#showIcon").css("color", $(this).val())
	});

	$('#btn-ColorPicker').on('click', function() {
		Docova.Utils.colorPicker(event, 'color-picker', function(){ 
			$('#AppIconColor').val($('#color-picker').val());
			$('#showIcon').css('color', $('#color-picker').val());
		});		
	});

	//IE and Safari can't use the HTML5 colorpicker, this exposes the Docova color picker to those browsers
	//IE10 and older, IE11 and Edge are difficult to detect so we will employ a process of elimination
	var is_chrome = navigator.userAgent.indexOf('Chrome') > -1;
	var is_firefox = navigator.userAgent.indexOf('Firefox') > -1;
	var is_opera = navigator.userAgent.toLowerCase()
			.indexOf("opr") > -1;
	if (!(is_chrome) && !(is_firefox) && !(is_opera)) { //check for Safari after Chrome as Chrome has "Chrome" and "Safari" in userAgent text
		var is_safari = navigator.userAgent
				.indexOf("Safari") > -1;
	}

	if (!(is_chrome) && !(is_firefox) && !(is_opera)
			&& !(is_safari)) { //if none of the others then its explorer
		var is_explorer = true;
	}
	if (is_explorer || is_safari) {
		$("#btn-ColorPicker").css("display", "")
	}

	//Initialize vals in dialog
	$("#Title").val(params[0]);
	$("#Description").val(params[1]);
	$("#showIcon").removeClass().addClass(
		params[2] + " fa-5x").css("color",
		params[3]);
	$("#color-picker").val(params[3]);
	$("#AppIcon").val(params[2]);
	$("#AppIconColor").val(params[3]);
	$('#AppType').text(params[4] == 'L' ? 'Library' : (params[4] == 'LG' ? 'Library Group' : 'Application'));
	$('#IsTemplate').text(params[6] ? 'Yes' : 'No');
	$('#AppKey').text(params[5]);
});

function ChangeColor(fieldname) {
	//For IE and Safari, the DOCOVA color picker is unhidden for use. Selecting a color triggers this function
	//For FF, Chrome and Opera this is not required
	$("#AppIconColor").val($("#" + fieldname).val());
	$("#showIcon").css("color", $("#" + fieldname).val())
}

function geticons() {
	srch = $("#IconSearch").val();
	if (srch == "") {
		$("#iconpicker").html(alliconhtml)
	} else {
		iconhtml = ""
		for (var x = 0; x < fa_items.length; x++) {
			if (fa_items[x].indexOf(srch) > -1) {
				iconhtml += "<a title='" + fa_items[x] + "' role='button' href='#' class='iconpicker-item'><i class='" + fa_items[x] + "'></i></a>"
				$("#iconpicker").html(iconhtml)
			}
		}
	}
	//set click on returned icons
	$(".iconpicker-item").click(function() {
		$(".iconpicker-selected")
				.removeClass("iconpicker-selected");
		$(this).addClass("iconpicker-selected");
		$("#showIcon").prop("class",
				$(this).find("i").prop("class")).addClass("fa-5x")
		$("#AppIcon").val($(this).prop("title"))
	})
	return;
}
</script>
</head>
<body text="#000000" bgcolor="#FFFFFF">
	<form method="post"	action="" name="_dlgAppProperties">
		<table class="tblFields" width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr valign="top">
				<td width="31%">{% trans %}Title{% endtrans %}:</td>
				<td width="69%"><input name="Title" value="" id="Title" class="frmField" style="width: 300px;" maxlength="40"></td>
			</tr>

			<tr valign="top">
				<td width="31%">{% trans %}Description{% endtrans %}:</td>
				<td width="69%"><input name="Description" value="" id="Description" style="width: 300px;" title="maxlength=&quot;50&quot;"></td>
			</tr>
		</table>
		<br>
		<table style="width: 100%; table-layout: fixed; display: table;">
			<tr>
				<td>
					<span>{% trans %}Select an Icon{% endtrans %}:</span>
					<input name="IconSearch" value="" id="IconSearch" placeholder="{% trans %}Type words here to search{% endtrans %}">
				</td>
				<td>
					<span>{% trans %}Select a color{% endtrans %}:&nbsp&nbsp</span>
					<input id="color-picker" style="width: 60px;" value="#0080ff" type="color">
					<img id="btn-ColorPicker" style="display: none; cursor: pointer;" src="{{ asset('bundles/docova/images/colorpicker.gif') }}'" alt="Done" />
				</td>
			</tr>
			<tr>
				<td style="vertical-align: top;">
					<div id="iconpicker" class="iconpicker"></div>
				</td>
				<td>
					<div id="AppIconHTML" style="vertical-align: middle; text-align: center;">
						<i id="showIcon" class="far fa-500px fa-5x" style="color: #0080ff;"></i>
					</div>
				</td>
			</tr>
		</table>
		<table class="tblFields" border="0" cellspacing="0" cellpadding="0" style="display:table;width:95%;margin-top:7px;">
			<tr valign="top">
				<td width="31%">{% trans %}Application Type{% endtrans %}:</td>
				<td width="64%"><span id="AppType"></span></td>
			</tr>
			<tr valign="top">
				<td width="31%">{% trans %}Is Template?{% endtrans %}</td>
				<td width="64%"><span id="IsTemplate"></span></td>
			</tr valign="top">
			<tr>
				<td width="31%">{% trans %}Application key{% endtrans %}:</td>
				<td width="64%"><span id="AppKey"></span></td>
			</tr>
		</table>
		<div style="display: none;">
			{% trans %}Application Icon{% endtrans %}: <input name="AppIcon" value="fa-500px" id="AppIcon">
			{% trans %}Application Icon Color{% endtrans %}: <input name="AppIconColor" value="#0080ff" id="AppIconColor">
		</div>
	</form>
</body>
</html>