<!doctype html>
<html>
<head>
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleWorkspace.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/font-awesome/css/all.min.css') }}">
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/wDocovaWorkspace.js') }}"></script>
<script language="JavaScript" type="text/javascript">
var isipad = false;
var activePanelNo = 1;
var appObj = null;
var ddAppletHTML = ""; //gets app html on mousedown, used when dragging/dropping

var dlgParams = new Array();  //params array that gets used by dialogs
var retValues = new Array(); //ret params array that can be used by dialogs
var info = {
  "UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
  "UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
  "UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
  "UserNamesList" : "",
  "UserRoles" : "$$WebClient;[Administration]",
  "HTTP_Referer" : "",
  "Query_String" : "",
  "Query_String_Decoded" : "",
  "Path_Info_Decoded" : "",
  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "HomePageWeb" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
  "SessionDateFormat" : "{{ settings.getDefaultDateFormat|lower }}",
  "SSLState" : "",
  "isDefaultWorkspace" : "0",
  "WorkspaceID" : "{{ workspace.getId }}",
  "DefaultPanelHTMLID" : "BlankPanel"
};
function getinfovar(){
   return info;
}
InitVars(info);

</script>
</head>
<body text="#000000" bgcolor="#FFFFFF">
  <i id="control-prev" class="far fa-chevron-circle-left fa-3x droppable2"></i>
  <i id="control-next" class="far fa-chevron-circle-right fa-3x droppable2"></i>
	<div id="divWorkspace"></div>
	<div id="WorkspaceInfo">
		<div id="CurrentPanelName"></div>
		<div id="PanelNavigator"></div>
	</div>
</body>
</html>