<!doctype html>
<html>
<head>
<title>{% trans %}Create Member{% endtrans %}</title>
<META content="0" http-equiv="expires"><META content="0" http-equiv="cache-control"><META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDialogBase.css') }}"	type="text/css" />

<!-- <link rel="stylesheet" href="/Docova/Dev/StandardsDemo/DOCOVAHome.nsf/styleAdministration.css?OpenPage" type="text/css" /> -->
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
<script language="JavaScript" type="text/javascript">
//var parentWin = window.dialogArguments;
//var parentDoc = parentWin.document;
//var dlgDoc = null;
var info = {
	"UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
	"UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
	"UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
	"UserRoles" : "$$WebClient;[Administration]", 
	"HTTP_Referer" : "",
	"Query_String" : "OpenForm",
	"Query_String_Decoded" : "OpenForm",
	"Path_Info_Decoded" : "{{ path('docova_createmember') }}?OpenForm",
	"ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
	"NsfName" : "{{ path('docova_homepage')[1: path('docova_homepage')|length - 2] }}",
	"ServerUrl"  :"{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
	"PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
	"PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}", 
	"SSLState" : "OFF"
};
function getinfovar(){
   return info;
}		

var parentWin = window.top.Docova.GlobalStorage["divDlgCreateMember"].sourcewindow;
var parentDoc = window.top.Docova.GlobalStorage["divDlgCreateMember"].sourcedocument;
var params = parentWin.dlgParams;

document.oncontextmenu=stopContextMenu;

$(function(){
	$("#btn-AddGroupMembers").button({
		text: false
	}).click(function(event){
		window.top.Docova.Utils.showAddressDialog({ fieldname: "nGroupMembers", dlgtype: "multi", sourcedocument:document });    			
		event.preventDefault();
	});

	$('input[name=nType]').click(function() {
		var ntype = $(this).val();
		if(ntype == 'Person'){
			$('#divPerson').css('display', '');
			$('#divGroup').css('display', 'none');
		}else{
			$('#divPerson').css('display', 'none');
			$('#divGroup').css('display', '');
		}
	});

	$('#nFirstName, #nLastName').blur(function() {
		if ($.trim($('#nFirstName').val()) && $.trim($('#nLastName').val()))
		{
			var username = $('#nFirstName').val().charAt(0);
			username += $('#nLastName').val();
			$('#nUsername').val(username);
		}
	});
});

// For convenience
function stopContextMenu()
{
	return false;
}

function cancelWizard()
{
	window.returnValue=false;
	window.close();
}

// -------------------------- OnLoad initialization ----------------------------------------------
function initDialog()
{
	//Global variables for convenience
//	dlgDoc = document.all;
	InitVars(info);
	return;
}
</script>
</head>
<body text="#000000" bgcolor="white" class="dlgBody" SCROLL="no" onload="initDialog();">
	<table class="DlgTable" width="100%" border="0" cellspacing="0"	cellpadding="0">
		<tr valign="top">
			<td class="DlgContentCell" width="100%">
				<div id="dlgContentNh" style="width: 100%;">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr valign="top">
							<td class="txFldLabel" width="100%">
								<table border=0 class="tblFields" style="border-collapse: collapse;">
									<tr>
										<td class="frmLabel" style="width: 120;">{% trans %}Member Type{% endtrans %}:</td>
										<td style="width: 200;">
											<label> <input type="radio" name="nType" value="Person" checked class="txFld" style="{border-color:transparent; background-color:transparent;}">{% trans %}Person{% endtrans %}</label>
											<label> <input type="radio" name="nType" value="Group" class="txFld" style="{border-color:transparent; background-color:transparent;}">{% trans %}Group{% endtrans %}</label>
										</td>
									</tr>
								</table>
								<div id="divPerson" style="">
									<span class="hlpText" style="color:#808080">*{% trans %}Members are not automatically notified when created.{% endtrans %}</span>
									<table border=0 class="tblFields" style="border-collapse: collapse;">
										<tr>
											<td class="frmLabel" style="width: 140px; vertical-align: top;">{% trans %}First Name{% endtrans %}:</td>
											<td style="width: 200;">
												<input type="text" name="nFirstName" value="" id="nFirstName" class="text ui-widget-content ui-corner-all" style="width: 300px;">
											</td>
										</tr>
										<tr>
											<td class="frmLabel" style="width: 140px; vertical-align: top;">{% trans %}Last Name{% endtrans %}:</td>
											<td style="width: 200;">
												<input type="text" name="nLastName" value="" id="nLastName" class="text ui-widget-content ui-corner-all" style="width: 300px;">
											</td>
										</tr>
										<tr>
											<td class="frmLabel" style="width: 140px; vertical-align: top;">{% trans %}Username{% endtrans %}:</td>
											<td style="width: 200;">
												<input type="text" name="nUsername" value="" id="nUsername" class="text ui-widget-content ui-corner-all" style="width: 300px;" readonly="readonly">
											</td>
										</tr>
										<tr>
											<td class="frmLabel" style="width: 140px; vertical-align: top;">{% trans %}Email{% endtrans %}:</td>
											<td style="width: 200;">
												<input type="text" name="nEmail" value="" id="nEmail" class="text ui-widget-content ui-corner-all" style="width: 300px;">
											</td>
										</tr>
										<tr>
											<td class="frmLabel" style="width: 140px; vertical-align: top;">{% trans %}Password{% endtrans %}:</td>
											<td style="width: 200;">
												<span id="fldPassword" style="display:;"> <input name="nPassword" value="" type="password" id="nPassword" class="text ui-widget-content ui-corner-all" style="width: 200px;"></span>
											</td>
										</tr>
									</table>
								</div>
								<div id="divGroup" style="display: none; padding-top:7px">
									<table border=0 class="tblFields" style="border-collapse: collapse;">
										<tr>
											<td class="frmLabel" style="width: 140px; vertical-align: top;">{% trans %}Group Name{% endtrans %}:</td>
											<td style="width: 200;"><input type="text" name="nGroupName" value="" id="nGroupName" class="text ui-widget-content ui-corner-all" style="width: 300px;"></td>
										</tr>
										<tr>
											<td class="frmLabel" style="width: 140px; vertical-align: top;">
												{% trans %}Members{% endtrans %}:<br><button id="btn-AddGroupMembers" class="ui-icon-group"></button>
											</td>
											<td style="width: 200;">
												<textarea class="text ui-widget-content ui-corner-all" style="width: 100%;" name="nGroupMembers" id="nGroupMembers" cols="40" rows="4" readonly=true></textarea>
											</td>
										</tr>
									</table>
								</div>
								<table border=0 class="tblFields" style="border-collapse: collapse;">
									<tr>
										<td class="frmLabel" style="width: 140px; vertical-align: top; border-bottom:0;">{% trans %}Access Level{% endtrans %}:</td>
										<td style="width: 200; border-bottom:0;">
											<select name="nAccessLevel" id="nAccessLevel" class="text ui-widget-content ui-corner-all" style="width: 100%">
												<option selected>{% trans %}User{% endtrans %}</option>
												<option>{% trans %}Library Administrator{% endtrans %}</option>
											</select>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
	<!------------------ SUBFORM sfKillCache ------------>
	<!------------------Microsoft suggestion to force no cacheing of documents------------>
<HEAD>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
</HEAD>
<!------------------END SUBFORM sfKillCache  ------------>
</body>
</html>