<!doctype html>
<html>
<head>
<title>{% trans %}DOCOVA Delegate{% endtrans %}</title>
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/admin/adminBaseForms.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/multiselect.css') }}">
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/js/multiselect.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa_ieemu_xpath.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
<style type="text/css">
.ui-icon-single { background-image: url("{{ asset('bundles/docova/images/icons/vwicn003.gif') }}") !important; }
#DelegateOwner, #Delegate { width: 270px }
</style>

<script language="JavaScript" type="text/javascript">
//var parentDoc = window.parent.document
var parentWin = window.top.Docova.GlobalStorage["divDlgDelegates"].sourcewindow;
var parentDoc = window.top.Docova.GlobalStorage["divDlgDelegates"].sourcedocument;
var info = {
  "DocKey" : "{{ userdelegate ? userdelegate.getId : '' }}",
  "UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
  "UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
  "UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
  "UserRoles" : "$$WebClient;[Administration]",
  "isSuperuser" : "",
  "HTTP_Referer" : "{{ url('docova_homepage') }}",
  "Query_String" : "OpenForm",
  "Query_String_Decoded" : "OpenForm",
  "Path_Info_Decoded" : "{{ path('docova_dlgdelegate', {delegateid: (userdelegate ? userdelegate.getId : null)}) }}",
  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}", 
  "SessionDateFormat" : "{{ settings.getDefaultDateFormat|lower|replace({'yyyy' : 'yy'}) }}"
};
function getinfovar(){
   return info;
}
InitVars(info);

$(function(){
	$( "#StartDate" ).datepicker( { dateFormat: docInfo.SessionDateFormat } );
	$( "#EndDate" ).datepicker( { dateFormat: docInfo.SessionDateFormat } );
	
	$( "button" ).button().click(function( event ) {
		event.preventDefault();
	});

	$("#DelegateOwner").val( $(parent.document.getElementById("DelegateOwner")).val() )
	$('#Library').multiselect({
		position: { my: 'left top', at: 'left bottom'},
		selectedList: 3,
		appendTo: "#divFormContainer" 
	});
	$('#Workflow').multiselect({
		position: { my: 'left top', at: 'left bottom'},
		selectedList: 3,
		appendTo: "#divFormContainer" 
	});
	
    $("#btnDelegateOwner").button({
        icons: {
            primary: 'ui-icon-single'
        },
    	text: false
    }).click(function(event){
    	parent.Docova.Utils.showAddressDialog({ fieldname: "DelegateOwner", dlgtype: "single", sourcedocument:document});
    	event.preventDefault();
	});
    $("#btnDelegate").button({
        icons: {
            primary: 'ui-icon-single'
        },
    	text: false
    }).click(function(event){
    	parent.Docova.Utils.showAddressDialog({ fieldname: "Delegate", dlgtype: "single", sourcedocument:document});
    	event.preventDefault();
	});

	$('.hideShow').click(function() {
		if ($(this).attr('show'))
		{
			var showClasses = $(this).attr('show');
			$('#' + showClasses).removeClass('hidden');
		}
		if ($(this).attr('hide')) {
			var hideClasses = $(this).attr('hide');
			$('#' + hideClasses).addClass('hidden');
		}		
	});	
});

function initDialog(){
	$("#DelegateOwner").val(parentWin.$("#DelegateOwner").val());
}

function completeWizard() {
	//validate start date
	if(Docova.Utils.getField("StartDate") == "") {
		alert("Please provide a Start Date.")
		return;
	}	
	
	//validate end date
	if(Docova.Utils.getField("EndDate") == "") {
		alert("Please provide an End Date.")
		return;
	}
	
	//validate delegate
	if(Docova.Utils.getField("Delegate") == "") {
		alert("Please specify a Delegate.")
		return;
	}
	
	var action = "ADDDELEGATE";
	if(docInfo.DocKey != "") { action = "UPDATEDELEGATE"; }
	
	//submit to agent to create delegate record
	var url = docInfo.ServerUrl + "/" + docInfo.NsfName + "/UserDataServices?OpenAgent"
	var request="";
	
	request += "<Request>";
	request += "<Action>" + action + "</Action>";
	request += "<DocKey>" + docInfo.DocKey + "</DocKey>";
	request += "<UserName><![CDATA[" + docInfo.UserNameAB + "]]></UserName>";
	request += "<DelegateOwner><![CDATA[" + Docova.Utils.getField("DelegateOwner") + "]]></DelegateOwner>";	
	request += "<LibraryOption>" + Docova.Utils.getField("LibraryOption") + "</LibraryOption>";
	request += "<Library>" + Docova.Utils.getField("Library") + "</Library>";
	request += "<WorkflowOption>" + Docova.Utils.getField("WorkflowOption") + "</WorkflowOption>";
	request += "<Workflow>" + Docova.Utils.getField("Workflow") + "</Workflow>";
	request += "<StartDate><![CDATA[" + $("#StartDate").val() + "]]></StartDate>";		
	request += "<EndDate><![CDATA[" + $("#EndDate").val() + "]]></EndDate>";		
	request += "<Delegate><![CDATA[" + Docova.Utils.getField("Delegate") + "]]></Delegate>";
	request += "<Notifications>" + Docova.Utils.getField("Notifications") + "</Notifications>";
	request += "<ReviewPolicies>" + Docova.Utils.getField("ReviewPolicies") + "</ReviewPolicies>";
	
	request += "</Request>";
	var httpObj = new objHTTP();
	
	var accessLevel = 0;
	
	if(httpObj.PostData(request, url)){
		if(httpObj.status=="OK" && httpObj.resultCount > 0){
			accessLevel = httpObj.results[0];
		}
	}
	parentWin.ReloadDelegates()
	Docova.Utils.closeDialog({
		id: "divDlgDelegates",
		fromparent: true
	})
}
</script>
</head>
<body text="#000000" class="dlgBody ui-widget ui-widget-content" SCROLL="no" onload="initDialog();">
	<div id=divFormContainer>
		<table class="elmContainer" cellspacing="0" border="0" cellpadding="0">
			<tr>
				<td class="firstRw"><span id="lblDelgateOwner">{% trans %}For User{% endtrans %}:</span></td>
				<td class="firstRw">
					<input type="text" name="DelegateOwner" value="{{ userdelegate ? userdelegate.getOwner.getUserNameDnAbbreviated }}" id="DelegateOwner" class="text ui-widget-content ui-corner-all" {{ userdelegate ? 'disabled="disabled"' : '' }}>&nbsp
					{% if not userdelegate %}
					<button id="btnDelegateOwner"></button>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td><span id="lblLibraryOption">{% trans %}Application{% endtrans %}:</span></td>
				<td>
					<label><input type="radio" name="LibraryOption" value="A" {{ not userdelegate or userdelegate.getApplicableLibraries.count < 1 ? 'checked' : '' }} class="hideShow" hide="divLibrarySelect"> {% trans %}All{% endtrans %}</label>
					<label><input type="radio" name="LibraryOption" value="S" {{ userdelegate and userdelegate.getApplicableLibraries.count ? 'checked' : '' }} class="hideShow" show="divLibrarySelect" class="inpRadioChkbox">{% trans %}Selected{% endtrans %}</label> &nbsp;</br>
					<div id="divLibrarySelect" class="{{ not userdelegate or userdelegate.getApplicableLibraries.count == 0 ? 'hidden' : '' }} firstRw">
						<select id="Library" name="Library[]" multiple="multiple" class="text ui-widget-content ui-corner-all">
						{% if libraries is defined and libraries|length %}
							{% for item in  libraries %}
							{% set isselected = '' %}
							{% if userdelegate and userdelegate.getApplicableLibraries.count %}
								{% for lib in userdelegate.getApplicableLibraries %}
									{% if lib.getId == item.getId %}
										{% set isselected = 'selected="selected" ' %}
									{% endif %}
								{% endfor %}
							{% endif %}
							<option value="{{ item.getId }}" {{ isselected }}>{{ item.getLibraryTitle }}</option>
							{% endfor %}
						{% endif %}
						</select>					
					</div>
				</td>
			</tr>
			<tr>
				<td><span id="lblWorkflowOption">{% trans %}Workflow{% endtrans %}:</span></td>
				<td>
					<label><input type="radio" name="WorkflowOption" value="A" {{ not userdelegate or not userdelegate.getApplicableWorkflows ? 'checked' : '' }} class="hideShow" hide="divWorkflowSelect"> {% trans %}All{% endtrans %}</label>
					<label><input type="radio" name="WorkflowOption" value="S" {{ userdelegate and userdelegate.getApplicableWorkflows ? 'checked' : '' }} class="hideShow" show="divWorkflowSelect"> {% trans %}Selected{% endtrans %}</label> &nbsp;</br>
					<div id="divWorkflowSelect" class="{{ not userdelegate or not userdelegate.getApplicableWorkflows ? 'hidden' : '' }} firstRw">
						<select id="Workflow" name="Workflow" multiple="multiple" class="text ui-widget-content ui-corner-all">
						{% if workflows is defined and workflows|length %}
							{% for item in  workflows %}
							<option value="{{ item.getId }}" {{ userdelegate and item.getId in userdelegate.getApplicableWorkflows ? 'selected="selected"' : '' }}>{{ item.getWorkflowName }}</option>
							{% endfor %}
						{% endif %}
						</select>					
					</div>
				</td>
			</tr>
			<tr>
				<td><span id="lblStartDate">{% trans %}Start Date{% endtrans %}:</span></td>
				<td><input type="text" name="StartDate" value="{{ userdelegate ? userdelegate.getStartDate.format(settings.getDefaultDateFormat()|replace({'MM':'m', 'DD':'d', 'YYYY':'Y'})) : '' }}" id="StartDate" class="text ui-widget-content ui-corner-all numeric" CONTENTEDITABLE=false>&nbsp</td>
			</tr>
			<tr>
				<td><span id="lblEndDate">{% trans %}End Date{% endtrans %}:</span></td>
				<td><input type="text" name="EndDate" value="{{ userdelegate ? userdelegate.getEndDate.format(settings.getDefaultDateFormat()|replace({'MM':'m', 'DD':'d', 'YYYY':'Y'})) : '' }}" id="EndDate" class="text ui-widget-content ui-corner-all numeric" CONTENTEDITABLE=false>&nbsp</td>
			</tr>
			<tr>
				<td><span id="lblDelgate">{% trans %}Delegate{% endtrans %}:</span></td>
				<td><input type="text" name="Delegate" value="{{ userdelegate ? userdelegate.getDelegatedUser.getUserNameDnAbbreviated : '' }}" id="Delegate" class="text ui-widget-content ui-corner-all" CONTENTEDITABLE=false>&nbsp&nbsp
					<button id="btnDelegate"></button>
				</td>
			</tr>
			<tr>
				<td><span id="lblNotifications">{% trans %}Notifications{% endtrans %}:</span></td>
				<td><label> <input type="checkbox" name="Notifications" value="1" {{ userdelegate and userdelegate.getNotifications ? 'checked' : '' }}>{% trans %}Yes{% endtrans %}</label></td>
			</tr>
			<tr>
				<td><span id="lblReviewPolicies">{% trans %}Review Policies{% endtrans %}:</span></td>
				<td><label> <input type="checkbox" name="ReviewPolicies" value="1" {{ userdelegate and userdelegate.getReviewPolicies ? 'checked' : '' }}>{% trans %}Yes{% endtrans %}</label></td>
			</tr>
		</table>
	</div>
	<!-- end of dlgContentSection -->
	<!------------------ SUBFORM sfKillCache ------------>
	<!------------------Microsoft suggestion to force no cacheing of documents------------>
	<HEAD>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
	<META HTTP-EQUIV="EXPIRES" CONTENT="0">
	</HEAD>
	<!------------------END SUBFORM sfKillCache  ------------>
</body>
</html>