<!doctype html>
<html>
<head>
<title>{% trans %}Create Member{% endtrans %}</title>
<META content="0" http-equiv="expires"><META content="0" http-equiv="cache-control"><META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDialogBase.css') }}"	type="text/css" />

<!-- <link rel="stylesheet" href="/Docova/Dev/StandardsDemo/DOCOVAHome.nsf/styleAdministration.css?OpenPage" type="text/css" /> -->
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
<script language="JavaScript" type="text/javascript">
//var parentWin = window.dialogArguments;
//var parentDoc = parentWin.document;
//var dlgDoc = null;
var info = {
	"UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
	"UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
	"UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
	"UserRoles" : "$$WebClient;[Administration]", 
	"HTTP_Referer" : "",
	"Query_String" : "OpenForm",
	"Query_String_Decoded" : "OpenForm",
	"Path_Info_Decoded" : "{{ path('docova_createmember') }}?OpenForm",
	"ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
	"NsfName" : "{{ path('docova_homepage')[1: path('docova_homepage')|length - 2] }}",
	"ServerUrl"  :"{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
	"PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
	"PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}", 
	"SSLState" : "OFF"
};
function getinfovar(){
   return info;
}		



document.oncontextmenu=stopContextMenu;

$(function(){
	$("#btn-AddGroupMembers").button({
		text: false
	}).click(function(event){
		window.top.Docova.Utils.showAddressDialog({ fieldname: "nGroupMembers", dlgtype: "multi", sourcedocument:document });    			
		event.preventDefault();
	});

	$('input[name=nType]').click(function() {
		var ntype = $(this).val();
		if(ntype == 'Person'){
			$('#divPerson').css('display', '');
			$('#divGroup').css('display', 'none');
		}else{
			$('#divPerson').css('display', 'none');
			$('#divGroup').css('display', '');
		}
	});

	$('#nFirstName, #nLastName').blur(function() {
		if ($.trim($('#nFirstName').val()) && $.trim($('#nLastName').val()))
		{
			var username = $('#nFirstName').val().charAt(0);
			username += $('#nLastName').val();
			$('#nUsername').val(username);
		}
	});
});

// For convenience
function stopContextMenu()
{
	return false;
}

function cancelWizard()
{
	window.returnValue=false;
	window.close();
}

// -------------------------- OnLoad initialization ----------------------------------------------
function initDialog()
{
	//Global variables for convenience
//	dlgDoc = document.all;
	InitVars(info);
	return;
}
</script>
</head>
<body text="#000000" bgcolor="white" class="dlgBody" SCROLL="no" onload="initDialog();">
	<DIV id='section_1' class='' elem='fields' elemtype='section' bc='5'>
	<TABLE width='100%' style='border-spacing:0px;' bc='4'>
			<THEAD style='visibility:visible; line-height:0;'>
			<TR >
			<TH style='width:250px;' class=''></TH>
			</TR>
		</THEAD>
		<TBODY bc='3'>
			<TR bc='2'>
				<TD class='bordertop0 borderright0 borderbottom0 borderleft0' style='border-width: 0px;' bc='1'>
				{{ app.request.query.get('prompt') }}
				</TD>
			</TR>
			<TR >
				<TD class='bordertop0 borderright0 borderbottom0 borderleft0' style='border-width: 0px;'>
				<iframe id="viewPickListIFrame" style="height:280px; width: 100%; box-sizing: border-box; border: 1px solid black" src="AppViewsAll/
				{{ app.request.query.get('viewname')|replace({'\\':'-','/':'-'}) }}?OpenDocument&HideActions=true&isEmbedded=true&AppID=
				{{application.getId()}}
				{{app.request.query.get('singlecat') ? '&restrictToCategory='~app.request.query.get('singlecat') : ''}}"></iframe>
				</TD>
			</TR>
			<TR >
			<TD class=''></TD>
			</TR>
		</TBODY>
	</TABLE>
</DIV>
	<!------------------ SUBFORM sfKillCache ------------>
	<!------------------Microsoft suggestion to force no cacheing of documents------------>
<HEAD>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
</HEAD>
<!------------------END SUBFORM sfKillCache  ------------>
</body>
</html>