<!DOCTYPE HTML>
<html>
<head>
<title>{% trans %}System Message{% endtrans %}</title>
{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}
{% if message is defined %}
	{% set path_info = path('docova_admin_editdocument', { 'view_name' : 'wAdminSystemMessages', 'doc_id' : message.getId }) %}
{% else %}
	{% set path_info = path('docova_admin_systemmessage') ~ '?OpenForm&ParentUNID=' %}
{% endif %}

{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with { 
	'document' : message is defined ? message : '', 
	'view_name' : 'wAdminSystemMessages', 
	'view_title' : 'System Messages', 
	'path_info' : path_info,
	'mode' : 'edit' 
} %}

<script language="JavaScript" type="text/javascript">
// this is required
function validateDocumentFields()
{
	return true;
}
</script>
<style type="text/css">
.ui-icon-group {
	background-image: url('{{ asset('bundles/docova/images/icons/vwicn004.gif') }}') !important;
	background-position: center;
	background-repeat: no-repeat;
}
</style>

</head>
<body scroll="no">
	<ul class="ui-widget-header actionBar hidetoload">
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
		<li id="saveAndCloseBtn">{% trans %}Save and Close{% endtrans %}</li>
	</ul>
	<form method="post"	action="{{ path_info }}" onsubmit="validateDocumentFields();" class="hidetoload" autocomplete="off">
		<div id="divFormContainer">
			<table class="elmContainer" cellspacing="0">
				<tr>
					<td colspan="2" class="firstRw"><h3 class="headings1">{% trans %}System Mail Message Template{% endtrans %}</h3></td>
				</tr>
				<tr>
					<td class="firstRw">{% trans %}Message Name{% endtrans %}:</td>
					<td class="firstRw"><input type="text" name="MessageName" value="{% if message is defined %}{{ message.getMessageName }}{% endif %}" class="text ui-widget-content ui-corner-all"></td>
				</tr>
				<tr>
					<td>{% trans %}Message Link{% endtrans %}:</td>
					<td>
						<label><input type="radio" name="LinkOption" value="w" {% if message is defined and message.getLinkType == false %}checked{% endif %}> {% trans %}Open whole application{% endtrans %}</label>
						<label><input type="radio" name="LinkOption" value="d" {% if message is defined and message.getLinkType == true %}checked{% endif %}> {% trans %}Open document only{% endtrans %}</label>
					</td>
				</tr>
				<tr>
					<td>{% trans %}Sender{% endtrans %}:</td>
					<td>
					{% set senders = '' %}
					{% set senders_html = '' %}
					{% if message is defined and message.getSenders.count > 0 %}
						{% for item in message.getSenders %}
							{% set senders = ',' ~ item.getUserNameDnAbbreviated ~ senders %}
							{% set senders_html = senders_html ~ '<span>'~ item.getUserNameDnAbbreviated ~'<i class="far fa-times removename"></i></span>' %}
						{% endfor %}
					{% endif %}
					{% if message is defined and message.getSenderGroups|length > 0 %}
						{% set senders = ',' ~ (message.getSenderGroups|join(',')) ~ senders %}
					{% endif %}
					{% set senders = senders[1:] %}
						<input type="text" class="text ui-widget-content ui-corner-all namepicker" target="Principal">
						<button class="show-namepicker" type="button"></button>
						<input type="hidden" name="Principal" id="Principal" value="{{ senders }}" />
						{% if senders %}
						<em class="slContainer" id="slContainerprincipal">{{ senders_html }}</em>
						{% endif %}
						<span class="elNote">{% trans %}System message sender name will be used if empty.{% endtrans %}</span>
					</td>
				</tr>
				<tr>
					<td>{% trans %}Subject line{% endtrans %}:</td>
					<td><input type="text" name="Subject" value="{% if message is defined %}{{ message.getSubjectLine }}{% endif %}" class="text ui-widget-content ui-corner-all"></td>
				</tr>
				<tr>
					<td>{% trans %}Body content{% endtrans %}:</td>
					<td><textarea name="Body" class="text ui-widget-content ui-corner-all">{% if message is defined %}{{ message.getMessageContent }}{% endif %}</textarea></td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>
