<!DOCTYPE HTML>
<html>
<head>
<title>{%trans%}User Profile{%endtrans%}</title>
<!--  common javascript & CSS header -->
{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}
<script type="text/javascript" src="{{ asset('bundles/docova/js/admin/adminUserProfile.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/js/sarissa.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/js/sarissa_ieemu_xpath.js') }}"></script>
{% if document is defined %}
	{% set path_info = path('docova_admin_editdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) %}
	{% set path_info = (app.request.get('uType') == "user") ? path_info ~ '?uType=user' : path_info %}
{% else %}
	{% set path_info = path('docova_admin_userprofile') %}
{% endif %}

{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with { 
	'document' : document is defined ? document : '', 
	'view_name' : view_name, 
	'view_title' : view_title, 
	'path_info' : path_info,
	'mode' : 'edit'
} %}

<script language="JavaScript" type="text/javascript">
var doc_mode="{{ doc_mode }}";
</script>
<style type="text/css">
.ui-icon-group {
	background-image: url('{{ asset('bundles/docova/images/icons/vwicn004.gif') }}') !important;
	background-position: center;	
}
</style>
</head>
<body scroll="no">
	<ul class="ui-widget-header actionBar hidetoload">
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
		<li id="saveAndCloseBtn">{% trans %}Save and Close{% endtrans %}</li>
	</ul>
	<form id="frmUserProfile" class="hidetoload" method="post" action="{% if document is not defined %}{{ path('docova_admin_userprofile') }}{% else %}{{ path('docova_admin_editdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) }}{{ app.request.get('uType') == 'user' ? '?uType=user' : '' }}{% endif %}" autocomplete="off" enctype="multipart/form-data" name="_Document">
		<h3 class="adjusted headings1">{% trans %}User Profile Settings{% endtrans %}</h3>
		<div id="divFormContainer">
			<ul>
				<li><a href="#tabs-1">{%trans%}General{%endtrans%}</a></li>
				<li><a href="#tabs-2">{%trans%}User Experience{%endtrans%}</a></li>
				<li><a href="#tabs-3">{%trans%}Work{%endtrans%}</a></li>
				<li><a href="#tabs-4">{%trans%}Delegates{%endtrans%}</a></li>
			</ul>
			<div id="tabs-1">
				<table class="elmContainer" cellspacing="0">
					<tr>
						<td class="firstRw">{%trans%}First Name{%endtrans%}:<span class="red">&nbsp;*</span></td>
						<td class="firstRw"><input type="text" id="FirstName" name="FirstName" value="{{ document is defined ? document.getUserProfile.getFirstName : '' }}" class="text ui-widget-content ui-corner-all"></td>
					</tr>
					<tr>
						<td>{%trans%}Last Name{%endtrans%}:<span class="red">&nbsp;*</span></td>
						<td><input type="text" id="LastName" name="LastName" value="{{ document is defined ? document.getUserProfile.getLastName : '' }}" class="text ui-widget-content ui-corner-all"></td>
					</tr>
					<tr>
						<td>{%trans%}Display Name{%endtrans%}:<span class="red">&nbsp;*</span></td>
						<td><input type="text" id="DisplayName" name="DisplayName" value="{{ document is defined ? document.getUserProfile.getDisplayName : '' }}" class="text ui-widget-content ui-corner-all"></td>
					</tr>
					<tr>
						<td>{%trans%}User ID{%endtrans%}:</td>
						<td>
						{% if document is not defined %}
							<input type="text" name="idUserName" id="idUserName" value="" readonly="readonly" class="text ui-widget-content ui-corner-all"> &nbsp;
						{% else %}
							<span id="idUserName">{{ document.getUsername }}</span>
						{% endif %}
							<span class="elNote">({%trans%}auto generated{%endtrans%})</span>
						</td>
					</tr>
					<tr>
						<td>{%trans%}User Role{%endtrans%}:<span class="red">&nbsp;*</span></td>
						<td>
							{% set userRole = 'user' %}
							{% if document is defined %}
								{% for item in document.getUserRoles if item.getRole == 'ROLE_ADMIN' %}
									{% set userRole = 'admin' %}
								{% endfor %}
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
							<select id="UserRole" name="UserRole" class="text ui-widget-content ui-corner-all">
								<option {{ userRole == 'user' ? 'selected' : '' }} value="ROLE_USER">{% trans %}User{% endtrans %}</option>
								<option {{ userRole == 'admin' ? 'selected' : '' }} value="ROLE_ADMIN">{% trans %}Administrator{% endtrans %}</option>
							</select>
							{% else %}
							{{ userRole == 'admin' ? 'Administrator'|trans : 'User'|trans }}
							{% endif %}
						</td>
					</tr>
				{% if settings.getDBAuthentication %}
					{% if is_granted('ROLE_ADMIN') and app.request.get('uType') != 'user' %}
					<tr>
						<td>{%trans%}Account Type{%endtrans%}:<span class="red">&nbsp;*</span></td>
						<td>
							<select id="AccountType" name="AccountType" class="text ui-widget-content ui-corner-all">
								<option value="1" {% if document is defined and document.getUserProfile.getAccountType == true %}selected{% endif %}>{%trans%}DOCOVA (Internal){%endtrans%}</option>
								{% if settings.getLDAPAuthentication %}
								<option value="0" {% if document is defined and document.getUserProfile.getAccountType == false %}selected{% endif %}>{%trans%}LDAP Directory{%endtrans%}</option>
								{% endif %}
							</select>
						</td>
					</tr>
					{% endif %}
					<tr id="password_container" class="{% if document is defined and not document.getUserProfile.getAccountType %}hidden{% endif %}">
						{% if document is not defined %}
						<td>{{ document is defined and document.getUserProfile.getAccountType == true ?'New Password'|trans : 'Password'|trans }}:<span class="red">&nbsp;*</span></td>
						<td>
							<input type="password" id="NewPassword" name="NewPassword" class="text ui-widget-content ui-corner-all">
							<span style="padding-left: 10px;">{%trans%}Retype password{%endtrans%}: </span>
							<input type="password" id="RetypePassword" class="text ui-widget-content ui-corner-all">
						</td>
						{% else %}
						<td></td>
						<td><button type="button" id="btnUpdatePwd">{%trans%}Update Password{%endtrans%}</button></td>
						{% endif %}
					</tr>
				{% endif %}
					<tr>
						<td>{%trans%}Email Address{%endtrans%}:<span class="red">&nbsp;*</span></td>
						<td>
							<input type="text" name="Email" id="Email" value="{{ document is defined ? document.getUserMail : '' }}" class="text ui-widget-content ui-corner-all">
							<input id="OldEmailAddress" name="OldEmailAddress" value="" type='hidden'>
						</td>
					</tr>
					<tr>
						<td>{%trans%}My mail system{%endtrans%}:<span class="red">&nbsp;*</span></td>
						<td>
							<label><input type="radio" name="UserMailSystem" value="N" {% if document is defined and document.getUserProfile.getUserMailSystem == 'N' %}checked{% endif %} class="hideShow" hide="outlook otherServices"> {%trans%}Lotus Notes{%endtrans%} </label>
							<label><input type="radio" name="UserMailSystem" value="O" {% if document is defined and document.getUserProfile.getUserMailSystem == 'O' %}checked{% endif %} class="hideShow" show="outlook" hide="otherServices"> {%trans%}Outlook{%endtrans%} </label>
							<label><input type="radio" name="UserMailSystem" value="G" {% if document is defined and document.getUserProfile.getUserMailSystem == 'G' %}checked{% endif %} class="hideShow" hide="outlook otherServices"> {%trans%}Gmail{%endtrans%} </label>
							<label><input type="radio" name="UserMailSystem" value="Y" {% if document is defined and document.getUserProfile.getUserMailSystem == 'Y' %}checked{% endif %} class="hideShow" hide="outlook otherServices"> {%trans%}Yahoo{%endtrans%} </label>
							<label><input type="radio" name="UserMailSystem" value="H" {% if document is defined and document.getUserProfile.getUserMailSystem == 'H' %}checked{% endif %} class="hideShow" hide="outlook otherServices"> {%trans%}Hotmail{%endtrans%} </label>
							<label><input type="radio" name="UserMailSystem" value="X" {% if document is not defined or document.getUserProfile.getUserMailSystem == 'X' %}checked{% endif %} class="hideShow" show="otherServices" hide="outlook"> {%trans%}IMAP{%endtrans%} </label>
						</td>
					</tr>
					{% set mail_server = document is defined and document.getUserProfile.getMailServerURL ? document.getUserProfile.getMailServerURL|split(':') : ['','993'] %} 
					{% set mail_server_port = mail_server|length > 1 ? mail_server[1]|split('/') : [''] %}
					<tr class="otherServices{% if document is defined and document.getUserProfile.getUserMailSystem != 'X' %} hidden{% endif %}">
						<td class="firstRw exc">{%trans%}Mail Server Url{%endtrans%}: <span style="color: red;">&nbsp;*</span> </td>
						<td class="firstRw exc">
							<input type="text" name="mailServerUrl" id="mailServerUrl" value="{{ mail_server[0] }}" class="text ui-widget-content ui-corner-all">
							<span class="elNote">{%trans%}No http:// or https:// is required.{%endtrans%}</span>
						</td>
					</tr>
					<tr class="otherServices{% if document is defined and document.getUserProfile.getUserMailSystem != 'X' %} hidden{% endif %}">
						<td class="firstRw exc">{%trans%}Mail Server Port{%endtrans%}: </td>
						<td class="firstRw exc">
							<input type="text" name="mailServerPort" value="{{ mail_server_port[0] }}" class="text ui-widget-content ui-corner-all">
							<span class="elNote">{%trans%}Most mail servers are set to 993 as default.{%endtrans%}</span>
						</td>
					</tr>
					<tr class="outlook{% if document is not defined or document.getUserProfile.getUserMailSystem != 'O' %} hidden{% endif %}">
						<td class="firstRw"></td>
						<td class="firstRw">
							<label><input type="checkbox" name="enableDebugMode" value="On" {% if document is defined and document.getUserProfile.getEnableDebugMode %}checked{% endif %}> {%trans%}Enable Debug Mode{%endtrans%} </label> 
							<span class="elNote">{%trans%}Enables JavaScript debugging.{%endtrans%}</span>
						</td>
					</tr>
					<tr class="outlook{% if document is not defined or document.getUserProfile.getUserMailSystem != 'O' %} hidden{% endif %}">
						<td>{%trans%}Folder messages to show{%endtrans%}:</td>
						<td>
							<input type="text" name="OutlookMsgsToShow" value="{% if document is defined %}{{ document.getUserProfile.getOutlookMsgsToShow }}{% else %}100{% endif %}" class="text ui-widget-content ui-corner-all numeric">
							<span class="elNote">{%trans%}This is the default count for folder messages. Put 0 to read all. To improve performace set a number (e.g 100) in this field.{%endtrans%}</span>
						</td>
					</tr>
					<tr class="outlook{% if document is not defined or document.getUserProfile.getUserMailSystem != 'O' %} hidden{% endif %}">
						<td>{%trans%}Root folders to exclude{%endtrans%}:</td>
						<td>
							<input type="text" name="ExcludeOutlookPersonalFolders" value="{% if document is defined %}{{ document.getUserProfile.getExcludeOutlookFolders }}{% else %}{% trans %}Public Folders{% endtrans %}{% endif %}" class="text ui-widget-content ui-corner-all"> 
							<span class="elNote">{%trans%}Separate folder names with a comma e.g(Public Folders,Personal Folders).{%endtrans%}</span>
						</td>
					</tr>
					<tr class="outlook{% if document is not defined or document.getUserProfile.getUserMailSystem != 'O' %} hidden{% endif %}">
						<td>{%trans%}Inbox level folders to exclude{%endtrans%}:</td>
						<td>
							<input type="text" name="ExcludeOutlookInboxLevelFolders" value="{% if document is defined %}{{ document.getUserProfile.getExcludeOutlookInboxLevel }}{% else %}{% trans %}Calendar,Contacts,Tasks,Deleted Items,Journal,Notes,Outbox,Drafts,Junk E-mail,RSS Feeds,Sent Items{% endtrans %}{% endif %}" class="text ui-widget-content ui-corner-all"> 
							<span class="elNote">{%trans%}Separate folder names with a comma.{%endtrans%}</span>
						</td>
					</tr>
					<tr>
						<td>{%trans%}Notify user{%endtrans%}</td>
						<td>
							<label><input type="checkbox" name="notifyUser" {% if document is defined and document.getUserProfile.getNotifyUser %}checked{% endif %} value="Yes"> {%trans%}Yes{%endtrans%}</label> 
							<span class="elNote">({%trans%}Note: When checked the user credentials will be emailed to the user along with a link to DOCOVA.{%endtrans%})</span>
						</td>
					</tr>
				</table>
			</div>
			<div id="tabs-2">
				<table class="elmContainer" cellspacing="0">
					<tr>
						<td class="firstRw">{%trans%}User Theme{%endtrans%}:</td>
						<td class="firstRw">
							<select name="UserTheme" id="UserTheme" class="text ui-widget-content ui-corner-all">
								<option {{ document is defined and document.getUserProfile.getTheme == 'pepper-grinder' ? 'selected' : '' }} value="pepper-grinder">{%trans%}Pepper Grinder{%endtrans%}</option>
								<option {{ document is not defined or document.getUserProfile.getTheme == 'redmond' ? 'selected' : '' }} value="redmond">{%trans%}Redmond{%endtrans%}</option>
								<option {{ document is defined and document.getUserProfile.getTheme == 'smoothness' ? 'selected' : '' }} value="smoothness">{%trans%}Smoothness{%endtrans%}</option>
								<option {{ document is defined and document.getUserProfile.getTheme == 'smoothness-flat' ? 'selected' : '' }} value="smoothness-flat">{%trans%}Smoothness Flat{%endtrans%}</option>
								<option {{ document is defined and document.getUserProfile.getTheme == 'south-street' ? 'selected' : '' }} value="south-street">{%trans%}South Street{%endtrans%}</option>
								<option {{ document is defined and document.getUserProfile.getTheme == 'start' ? 'selected' : '' }} value="start">{%trans%}Start{%endtrans%}</option>
								<option {{ document is defined and document.getUserProfile.getTheme == 'sunny' ? 'selected' : '' }} value="sunny">{%trans%}Sunny{%endtrans%}</option>
								<option {{ document is defined and document.getUserProfile.getTheme == 'ui-darkness' ? 'selected' : '' }} value="ui-darkness">{%trans%}UI Darkness{%endtrans%}</option>
								<option {{ document is defined and document.getUserProfile.getTheme == 'ui-lightness' ? 'selected' : '' }} value="ui-lightness">{%trans%}UI Lightness{%endtrans%}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="firstRw">{%trans%}Workspace Style{%endtrans%}:</td>
						<td class="firstRw">
							<select name="WorkspaceTheme" id="WorkspaceTheme" class="text ui-widget-content ui-corner-all">
								<option {{ document is defined and document.getUserProfile.getWorkspaceTheme == 'S' ? 'selected' : '' }} value="S">{%trans%}Standard{%endtrans%}</option>
								<option {{ document is defined and document.getUserProfile.getWorkspaceTheme == 'T' ? 'selected' : '' }} value="T">{%trans%}Tile View{%endtrans%}</option>
							</select>
						</td>
					</tr>
					{% if is_granted('ROLE_ADMIN') %}
					<tr>
						<td>{% trans %}Can Create Application?{% endtrans %}</td>
						<td>
							<label><input type="radio" name="CanCreateApps" value="Yes" {{ document is defined and document.getUserProfile.getCanCreateApp ? 'checked="checked"' : '' }}> {% trans %}Yes{% endtrans %}</label>
							<label><input type="radio" name="CanCreateApps" value="No" {{ document is not defined or not document.getUserProfile.getCanCreateApp ? 'checked="checked"' : '' }}> {% trans %}No{% endtrans %}</label>
						</td>
					</tr>
					{% endif %}
{% if false %}{# default date format is set in Global Settings, not need to be used in userprofile for now #}
					<tr>
						<td>{% trans %}Date Entry Format{% endtrans %}</td>
						<td><select name="DateFormat" id="DateFormat" class="text ui-widget-content ui-corner-all">
						    {% set _dateformat = document is not defined or not document.getUserProfile.getUserDateFormat ? '' : document.getUserProfile.getUserDateFormat %}
						
							<option {{ _dateformat == 'DD/MM/YYYY' ? 'selected="selected"' }}>DD/MM/YYYY</option>
							<option {{ _dateformat == 'MM/DD/YYYY' ? 'selected="selected"' }}>MM/DD/YYYY</option>
							<option {{ _dateformat == 'MM/DD/YYYY' ? 'selected="selected"' }}>YYYY/MM/DD</option>
							<option {{ _dateformat == 'DD-MM-YYYY' ? 'selected="selected"' }}>DD-MM-YYYY</option>
							<option {{ _dateformat == 'MM-DD-YYYY' ? 'selected="selected"' }}>MM-DD-YYYY</option>
							<option {{ _dateformat == 'YYYY-MM-DD' ? 'selected="selected"' }}>YYYY-MM-DD</option>
							<option {{ _dateformat == 'DD.MM.YYYY' ? 'selected="selected"' }}>DD.MM.YYYY</option>
							<option {{ _dateformat == 'MM.DD.YYYY' ? 'selected="selected"' }}>MM.DD.YYYY</option>
							<option {{ _dateformat == 'YYYY.MM.DD' ? 'selected="selected"' }}>YYYY.MM.DD</option>							
						</select></td>
					</tr>
{% endif %}
					<tr>
						<td>{% trans %}Number Entry Format{% endtrans %}:</td>
						<td><select name="NumberFormat" id="NumberFormat" class="text ui-widget-content ui-corner-all">
						    {% set _numformat = document is not defined or not document.getUserProfile.getNumberFormat ? '' : document.getUserProfile.getNumberFormat %}
							<option {{ _numformat == '' ? 'selected' : '' }}>None</option>
							<option {{ _numformat == '1,234.5' ? 'selected' : '' }}>1,234.5</option>
							<option {{ _numformat == '1.234.5' ? 'selected' : '' }}>1.234,5</option>
							<option {{ _numformat == '1 234.5' ? 'selected' : '' }}>1 234.5</option>
							<option {{ _numformat == '1 234,5' ? 'selected' : '' }}>1 234,5</option>
							<option {{ _numformat == '1234.5' ? 'selected' : '' }}>1234.5</option>
							<option {{ _numformat == '1234,5' ? 'selected' : '' }}>1234,5</option>
						</select></td>
					</tr>
					<tr>
						<td>{%trans%}Locale{%endtrans%} ({%trans%}Language{%endtrans%}):</td>
						<td>
							<select name="UserLocale" class="text ui-widget-content ui-corner-all">
								{% set _language = (document is not defined or not document.getUserProfile ? 'en' : document.getUserProfile.getLanguage) %}
								<option {{ _language == 'nl' ? 'selected' : '' }} value="nl">{%trans%}Dutch{%endtrans%}</option>
								<option {{ _language == 'en' ? 'selected' : '' }} value="en">{%trans%}English{%endtrans%}</option>
								<option {{ _language == 'fr' ? 'selected' : '' }} value="fr">{%trans%}French{%endtrans%}</option>
								<option {{ _language == 'de' ? 'selected' : '' }} value="de">{%trans%}German{%endtrans%}</option>
								<option {{ _language == 'jp' ? 'selected' : '' }} value="jp">{%trans%}Japanese{%endtrans%}</option>								
								<option {{ _language == 'es' ? 'selected' : '' }} value="es">{%trans%}Spanish{%endtrans%}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>{%trans%}Time Zone{%endtrans%} ({%trans%}Region{%endtrans%}):</td>
						<td>
							<select name="UserTimeZone" class="text ui-widget-content ui-corner-all">
								{% set _usertimezone = (document is not defined or not document.getUserProfile ? '' : document.getUserProfile.getTimeZone) %}
								<option></option>
								{% if fieldsourcedata is defined and fieldsourcedata['timezones'] is defined and fieldsourcedata['timezones']|length > 0 %}
									{% for _tz in fieldsourcedata['timezones'] %}
										<option value="{{ _tz }}" {% if _tz == _usertimezone %}selected{% endif %}>{{ _tz }}</option>
									{% endfor %}
								{% endif %}
							</select>
						</td>
					</tr>
					<tr>
						<td>{%trans%}Load Library Folders{%endtrans%}:</td>
						<td>
							<label><input type="radio" name="LoadLibraryFolders" value="1" {% if document is not defined or document.getUserProfile.getLoadLibraryFolders == true %}checked{% endif %}> {%trans%}All on start up{%endtrans%} </label>
							<label><input type="radio" name="LoadLibraryFolders" value="0" {% if document is defined and document.getUserProfile.getLoadLibraryFolders == false %}checked{% endif %}> {%trans%}When library selected{%endtrans%} </label>
						</td>
					</tr>
					<tr>
						<td>{% trans %}Default View Show Option:{% endtrans %}</td>
						<td><select name="DefaultShowOption" id="DefaultShowOption" class="text ui-widget-content ui-corner-all">
							<option value='' {{ document is not defined or not document.getUserProfile.getDefaultShowOption ? 'selected' : '' }}></option>
							<option value='C' {{ document is defined and document.getUserProfile.getDefaultShowOption == 'C' ? 'selected' : '' }}>{% trans %}Current versions{% endtrans %}</option>
							<option value='A' {{ document is defined and document.getUserProfile.getDefaultShowOption == 'A' ? 'selected' : '' }}>{% trans %}All versions{% endtrans %}</option>
							<option value='P' {{ document is defined and document.getUserProfile.getDefaultShowOption == 'P' ? 'selected' : '' }}>{% trans %}Pending releases{% endtrans %}</option>
						</select></td>
					</tr>
					<tr>
						<td>{% trans %}Max Recent Edit Count{% endtrans %}: </td>
						<td><input type="text" name="RecentEditCount" id="RecentEditCount" class="text ui-widget-content ui-corner-all numeric" value="{{ document is not defined ? 10 : document.getUserProfile.getRecentEditCount }}"></td>
					</tr>
					<tr>
						<td>{% trans %}Max Recent Used App Count{% endtrans %}: </td>
						<td><input type="text" name="RecentUsedAppCount" id="RecentUsedAppCount" class="text ui-widget-content ui-corner-all numeric" value="{{ document is not defined ? 10 : document.getUserProfile.getRecentUsedAppCount }}"></td>
					</tr>
					<tr>
						<td>{% trans %}Logout Link{% endtrans %}:</td>
						<td><label><input type="checkbox" name="HideLogout" id="HideLogout" value="1" {{ document is defined and document.getUserProfile.getHideLogout ? 'checked="checked"' : '' }}> {% trans %}Hide Logout Link{% endtrans %}</label></td>
					</tr>
					<tr>
						<td>{% trans %}Redirect to mobile client{% endtrans %}:</td>
						<td><label><input type="checkbox" name="RedirectToMobile" id="RedirectToMobile" value="1" {{ document is defined and document.getUserProfile.getRedirectToMobile ? 'checked="checked"' : '' }}>{% trans %}Auto Redirect{% endtrans %}</label></td>
					</tr>
					<tr>
						<td class="hdr" colspan="2">{%trans%}User Experience Attributes{%endtrans%}:</td>
					</tr>
					<tr>
						<td class="firstRw"></td>
						<td class="firstRw">
							<table cellspacing="0" style="width: 100%;">
								<tr>
									<th>{%trans%}Attribute{%endtrans%}</th>
									<th>{%trans%}Value{%endtrans%}</th>
								</tr>
								<tr>
									<td class="firstRw exc">
										<select name="fltrField1" class="text ui-widget-content ui-corner-all mdCombo">
											<option></option>
										{% if columns|length > 0 %}
											{% for cl in columns %}
											<option {% if document is defined and document.getUserProfile.getFltrField1 and document.getUserProfile.getFltrField1.getId == cl.getId %}selected{% endif %} value="{{ cl.getXMLName }}">{{ cl.getTitle }}</option>
											{% endfor %}
										{% endif %}
										</select>
									</td>
									<td class="firstRw exc"><input type="text" name="fltrFieldVal1" value="{% if document is defined %}{{ document.getUserProfile.getFltrFieldVal1 }}{% endif %}" class="text ui-widget-content ui-corner-all"></td>
								</tr>
								<tr>
									<td class="firstRw exc">
										<span class="elNote">{%trans%}and{%endtrans%}</span>
										<select name="fltrField2" class="text ui-widget-content ui-corner-all mdCombo">
											<option></option>
										{% if columns|length > 0 %}
											{% for cl in columns %}
											<option {% if document is defined and document.getUserProfile.getFltrField2 and document.getUserProfile.getFltrField2.getId == cl.getId %}selected{% endif %} value="{{ cl.getXMLName }}">{{ cl.getTitle }}</option>
											{% endfor %}
										{% endif %}
										</select>
									</td>
									<td class="firstRw exc">
										<span class="elNote">&nbsp;</span>
										<input type="text" name="fltrFieldVal2" value="{% if document is defined %}{{ document.getUserProfile.getFltrFieldVal2 }}{% endif %}" class="text ui-widget-content ui-corner-all">
									</td>
								</tr>
								<tr>
									<td class="firstRw exc">
										<span class="elNote">{%trans%}and{%endtrans%}</span>
										<select name="fltrField3" class="text ui-widget-content ui-corner-all mdCombo">
											<option></option>
										{% if columns|length > 0 %}
											{% for cl in columns %}
											<option {% if document is defined and document.getUserProfile.getFltrField3 and document.getUserProfile.getFltrField3.getId == cl.getId %}selected{% endif %} value="{{ cl.getXMLName }}">{{ cl.getTitle }}</option>
											{% endfor %}
										{% endif %}
										</select>
									</td>
									<td class="firstRw exc">
										<span class="elNote">&nbsp;</span>
										<input type="text" name="fltrFieldVal3" value="{% if document is defined %}{{ document.getUserProfile.getFltrFieldVal3 }}{% endif %}" class="text ui-widget-content ui-corner-all">
									</td>
								</tr>
								<tr>
									<td class="firstRw exc">
										<span class="elNote">{%trans%}and{%endtrans%}</span>
										<select name="fltrField4" class="text ui-widget-content ui-corner-all mdCombo">
											<option></option>
										{% if columns|length > 0 %}
											{% for cl in columns %}
											<option {% if document is defined and document.getUserProfile.getFltrField4 and document.getUserProfile.getFltrField4.getId == cl.getId %}selected{% endif %} value="{{ cl.getXMLName }}">{{ cl.getTitle }}</option>
											{% endfor %}
										{% endif %}
										</select>
									</td>
									<td class="firstRw exc">
										<span class="elNote">&nbsp;</span>
										<input type="text" name="fltrFieldVal4" value="{% if document is defined %}{{ document.getUserProfile.getFltrFieldVal4 }}{% endif %}" class="text ui-widget-content ui-corner-all">
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			<div id="tabs-3">
				<table class="elmContainer" cellspacing="0">
					<tr>
						<td class="firstRw">{%trans%}Title{%endtrans%}:</td>
						<td class="firstRw"><input type="text" name="Title" value="{{ document is defined ? document.getUserProfile.getTitle : '' }}" class="text ui-widget-content ui-corner-all"></td>
					</tr>
					<tr>
						<td>{%trans%}Department{%endtrans%}</td>
						<td><input type="text" name="department" value="{% if document is defined %}{{ document.getUserProfile.getDepartment }}{% endif %}" class="text ui-widget-content ui-corner-all"></td>
					</tr>
					<tr>
						<td>{%trans%}Manager{%endtrans%}:</td>
						<td>
    						<input type="text" class="text ui-widget-content ui-corner-all namepicker" target="Principal" elmtype="single">
    						<button class="show-namepicker" type="button"></button>
						</td>
					</tr>
					<tr>
						<td>{%trans%}Office Phone{%endtrans%}:</td>
						<td><input type="text" name="officeNo" value="{% if document is defined %}{{ document.getUserProfile.getOfficeNo }}{% endif %}" class="text ui-widget-content ui-corner-all"></td>
					</tr>
					<tr>
						<td>{%trans%}Mobile Phone{%endtrans%}:</td>
						<td><input type="text" name="mobileNo" value="{% if document is defined %}{{ document.getUserProfile.getMobileNo }}{% endif %}" class="text ui-widget-content ui-corner-all"></td>
					</tr>
					<tr>
						<td>{%trans%}Expertise (skills){%endtrans%}:</td>
						<td><textarea name="expertise" class="text ui-widget-content ui-corner-all">{% if document is defined %}{{ document.getUserProfile.getExpertise }}{% endif %}</textarea></td>
					</tr>
				</table>
			</div>
			<div id="tabs-4">
				<table class="elmContainer">
					<tr>
						<td class="firstRw">{%trans%}Delegate Owner{%endtrans%}:</td>
						<td class="firstRw">
							<input type="text" id="DelegateOwner" name="DelegateOwner" value="{{ user.getUserNameDnAbbreviated }}" contenteditable="false"  class="text ui-widget-content ui-corner-all"/>
							<button type="button" id="btnDelegateOwner"></button>
							<button type="button" id="btnRemoveDelegate" class="delegateBtn">Remove</button>
							<button type="button" id="btnAddDelegate" class="delegateBtn">Add</button>
						</td>
					</tr>
					<tr>
						<td class="firstRw exc" colspan="2">
							<div id="divDelegateData" style="background-color:white; height:200px; width:100%; border:1px solid #88aacc; overflow:auto;">
								<div id="NoDelegateDataMsg" style="display:none; font:11px verdana, arial;">{% trans %}There are currently no assigned Delegate for this profile.{% endtrans %}</div>
								<table id="tblDelegateData" class="tblFields" datasrc="#DelegateData" style="table-layout:fixed;border-collapse:collapse;width:100%;">
									<thead class="ui-state-hover">
									<tr>
										<td style="width:20px;"></td>
										<td>{% trans %}Library{% endtrans %}</td>
										<td>{% trans %}Workflow{% endtrans %}</td>
										<td>{% trans %}Start Date{% endtrans %}</td>
										<td>{% trans %}End Date{% endtrans %}</td>
										<td>{% trans %}Delegate{% endtrans %}</td>
										<td>{% trans %}Notifications{% endtrans %}</td>
										<td>{% trans %}Review Policies{% endtrans %}</td>
										<td style="width:40px;"></td>
									</tr>
									</thead>
									<tbody id="otblDelegateData">
									<tr>
										<td><input id="Selected" type="checkbox" datafld="Selected" style="width: 20px;" /></td>
										<td><span datafld="Library" style="font:11px verdana, Arial; color:#000080;"></span></td>
										<td><span datafld="Workflow" style="font:11px verdana, Arial; color:#000000;"></span></td>
										<td><span datafld="StartDate" style="font:11px verdana, Arial; color:#000000;"></span></td>
										<td><span datafld="EndDate" style="font:11px verdana, Arial; color:#000000;"></span></td>
										<td><span datafld="Delegate" style="font:11px verdana, Arial; color:#000000;"></span></td>
										<td><span datafld="Notifications" style="font:11px verdana, Arial; color:#000000;"></span></td>
										<td><span datafld="ReviewPolicies" style="font:11px verdana, Arial; color:#000000;"></span></td>
										<td><button type="button" class="btnEditRow"></button></span></td>
									</tr>
									</tbody>
								</table>
							</div>
<script>
	var DelegateData= new xmlDataIsland();
	DelegateData.setSrc ( "{{ path('docvoa_embeddedviews') }}?OpenPage&view=luDelegatesByOwner&restricttocategory={{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}&{{ 'now'|date('U') }}" ) ;
	DelegateData.id = "DelegateData";
	DelegateData.setTemplateName( "otblDelegateData");
	DelegateData.ondatasetcomplete = function() { DelegatesLoaded(); }
//	DelegateData.process();
</script>							
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div style="display:none;"><input type="submit" name="btn_submission" value="submit" /></div>
	</form>
</body>
</html>