<!DOCTYPE HTML>
<html>
<head>
<title>{% trans %}File Template{% endtrans %}</title>
<!--  common javascript & CSS header -->
{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}
{% if document is defined %} 
	{% set path_info = path('docova_admin_editdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) %} 
{% else %}
	{% set path_info = path('docova_admin_fileTemplate') %} 
{% endif %} 
{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with {
	'document' : document is defined ? document : '',
	'view_name' : view_name, 
	'view_title' : view_title,
	'mode' : mode, 
	'path_info' : path_info 
} %}

<script language="JavaScript" type="text/javascript">
$(function() {
	$('form').height($(window).height() - 46);
	$( window ).unload(function() {
		return processOnUnload();
	});
});
// this is required for validation
function validateDocumentFields()
{
	return true;
}
</script>
</head>
<body scroll="no">
	<ul class="ui-widget-header actionBar hidetoload">
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
		<li id="saveAndCloseBtn">{% trans %}Save and Close{% endtrans %}</li>
	</ul>
	<form method="post" action="{{ path_info }}" enctype="multipart/form-data" class="hidetoload" autocomplete="off">
		<div id="divFormContainer">
			<table class="elmContainer" cellspacing="0">
				<tr>
					<td colspan="2" class="firstRw"><h3 class="headings1">{% trans %}Template File Settings{% endtrans %}</h3></td>
				</tr>
				<tr>
					<td class="firstRw">{% trans %}Template file type{% endtrans %}:</td>
					<td class="firstRw">
						<select name="TemplateType" class="text ui-widget-content ui-corner-all">
							<option value="Word" {% if document is defined %} {{ document.getTemplateType =="Word"? "selected":"" }}{% endif %}>Word</option>
							<option value="Excel" {% if document is defined %} {{ document.getTemplateType =="Excel"? "selected":"" }}{% endif %}>Excel</option>
							<option value="Power Point" {% if document is defined %} {{ document.getTemplateType =="Power Point"? "selected":"" }}{% endif %}>Power Point</option>									
						</select>
					</td>
				</tr>
				<tr>
					<td>{% trans %}Template name{% endtrans %}:</td>
					<td><input type="text" name="TemplateName" class="text ui-widget-content ui-corner-all" value="{% if document is defined %}{{ document.getTemplateName }}{% endif %}"/></td>
				</tr>
				<tr>
					<td>{% trans %}Template file attachment{% endtrans %}:</td>
					<td>
						<input type="file" class="text ui-widget-content ui-corner-all" name="fileTemplateAttachment" id="fileTemplateAttachment" />
						{% if document is defined %}
						<span class="elNote">
							<a href="{{ path('docova_admin_filetemplate', {file_name:document.getFileName} ) }}" target="_blank">{{ document is defined ? document.getFileName : ''}}</a>
						</span>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>{% trans %}Template Version{% endtrans %}:</td>
					<td><input type="text" class="text ui-widget-content ui-corner-all" name="TemplateVersion" value="{% if document is defined %}{{ document.getTemplateVersion }}{% endif %}"/></td>
				</tr>
				{% if document is defined %}
				<tr>
					<td>{% trans %}Template key{% endtrans %}:</td>
					<td>{{ document.getId }}</td>
				</tr>
				{% endif %}
			</table>
		</div>
	</form>
</body>
</html>