<!DOCTYPE HTML>
<html>
<head>
	<title>{% trans %}View Column{% endtrans %}</title>
	{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}
	{% if document is defined %}
		{% set path_info = path('docova_admin_editdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) %}
	{% else %}
		{% set path_info = path('docova_admin_viewColumn') %}
	{% endif %}
	{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with { 
		'document' : document is defined ? document : '', 
		'view_name' : view_name, 
		'view_title' : view_title, 
		'mode' : mode,
		'path_info' : path_info
	} %}

	<!--  viewColumns specific JS methods -->
	<script language="JavaScript" type="text/javascript">
$(function() {
	$('form').height($(window).height() - 46);
	$( window ).unload(function() {
		return processOnUnload();
	});

	$('#DocTypeKey').multiselect({
		position: { my: 'left top', at: 'left bottom'},  //required due to content scroll workaround
		selectedList: 3,
		appendTo: "#divFormContainer" 
	});

	$('#Libraries').multiselect({
		position: { my: 'left top', at: 'left bottom'},  //required due to content scroll workaround
		selectedList: 3,
		appendTo: "#divFormContainer" 
	});
});
// this is required for validation
function validateDocumentFields()
{
	if (!$.trim($('input[name="XmlNode"]').val())) {
		alert('{% trans %}XML Node cannot be empty.{% endtrans %}'); 
		return false; 
	}
	return true;
}
	</script>
</head>
<body scroll="no">
	<ul class="ui-widget-header actionBar hidetoload">
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
		<li id="saveAndCloseBtn">{% trans %}Save and Close{% endtrans %}</li>
	</ul>
	<form method="post"	action="{{ path_info }}" onsubmit="validateDocumentFields();" class="hidetoload" autocomplete="off">
		<div id="divFormContainer">
			<table class="elmContainer" cellspacing="0">
				<tr>
					<td colspan="2" class="firstRw"><h3 class="headings1">{% trans %}View Column Settings{% endtrans %}</h3></td>
				</tr>
				<tr>
					<td class="firstRw">{% trans %}Column Type{% endtrans %}:</td>
					<td class="firstRw">
						<label><input name="ColumnType" type="radio" value="1" {% if document is defined and document.getColumnType == 1 %}checked{% endif %}/> {% trans %}Built In{% endtrans %}</label>
						<label><input name="ColumnType" type="radio" value="0" {% if document is not defined or document.getColumnType == 0 %}checked{% endif %}/> {% trans %}Custom{% endtrans %}</label>
					</td>
				</tr>
				<tr>
					<td>{% trans %}Column Status{% endtrans %}: </td>
					<td>
						<label><input name="ColumnStatus" type="checkbox" value="1" {% if document is defined and not document.getColumnStatus %}checked{% endif %}/> {% trans %}Check to disable{% endtrans %}</label>
					</td>
				</tr>
				<tr>
					<td>{% trans %}Default Column Title{% endtrans %}:</td>
					<td><input type="text" name="ColumnHeading" value="{% if document is defined %}{{ document.getTitle }} {% endif %}" class="text ui-widget-content ui-corner-all"></td>
				</tr>
				<tr>
					<td>{% trans %}Field or Formula{% endtrans %}:</td>
					<td><textarea name="DataQuery" class="text ui-widget-content ui-corner-all">{% if document is defined %}{{ document.getFieldName }}{% endif %}</textarea></td>
				</tr>
				<tr>
					<td>{% trans %}Data Type{% endtrans %}:</td>
					<td>
						<select name="DataType" class="text ui-widget-content ui-corner-all">
							<option value="1" {% if document is defined %} {{ document.getDataType ==1? "selected":"" }}{% endif %}>{% trans %}text{% endtrans %}</option>
							<option value="2"  {% if document is defined %} {{ document.getDataType ==2? "selected":"" }}{% endif %}>{% trans %}date{% endtrans %}</option>
							<option value="3" {% if document is defined %}  {{ document.getDataType ==3? "selected":"" }}{% endif %}>{% trans %}name{% endtrans %}</option>
							<option value="4" {% if document is defined %}  {{ document.getDataType ==4? "selected":""}}{% endif %}>{% trans %}html{% endtrans %}</option>
	 					</select>
					</td>
				</tr>
				<tr>
					<td>{% trans %}Default Width{% endtrans %}:</td>
					<td><input type="text" name="ColumnWidth" value="{{ document is defined ? document.getWidth : '100' }}" class="text ui-widget-content ui-corner-all" /></td>
				</tr>
				<tr>
					<td>{% trans %}XML NodeName{% endtrans %}:</td>
					<td><input type="text" name="XmlNode" value="{{ document is defined ? document.getXMLName : valid_xml_node }}" class="text ui-widget-content ui-corner-all"/></td>
				</tr>
				<tr>
					<td>{% trans %}Related Document Types{% endtrans %}:</td>
					<td>
						<label><input name="RelatedDocType" type="radio" class="hideShow" hide="selectedDocTypes" value="A" {% if document is not defined or document.getRelatedDocTypes.count == 0  %}checked{% endif %}/> {% trans %}All{% endtrans %}</label>
						<label><input name="RelatedDocType" type="radio" class="hideShow" show="selectedDocTypes" value="S" {% if document is defined %}{{ document.getRelatedDocTypes.count > 0 ? "checked":"" }}{% endif %}/> {% trans %}Selected{% endtrans %}</label>
					</td>
				</tr>
				<tr class="selectedDocTypes{% if document is not defined or document.getRelatedDocTypes.count == 0 %} hidden{% endif %}">
					<td class="firstRw exc"></td>
					<td class="firstRw exc">
						<select id="DocTypeKey" name="DocTypeKey[]" multiple="multiple">
						{% if relatedDoctypes is defined %}
							{% for docType in  relatedDoctypes %}
								{% set selected = '' %}
								{% if document is defined and document.getRelatedDocTypes.count > 0 %}
									{% for selDoctype in document.getRelatedDocTypes %}
										{% if selDoctype.id == docType.getId %}
											{% set selected = 'selected="selected"' %}
										{% endif %}
									{% endfor %}
								{% endif %}
							<option {{ selected }} value="{{ docType.getId }}" >{{ docType.getDocName }}</option>
							{% endfor %}
						{% endif %}
						</select>					
					</td>
				</tr>
				<tr>
					<td>{% trans %}Applicable Libraries{% endtrans %}</td>
					<td>
						<label><input name="ApplicableLibraries" type="radio" class="hideShow" hide="selectedLibs" value="A" {% if document is not defined or document.getApplicableLibraries.count == 0 %}checked{% endif %} /> {% trans %}All{% endtrans %}</label>
						<label><input name="ApplicableLibraries" type="radio" class="hideShow" show="selectedLibs" value="S" {% if document is defined and document.getApplicableLibraries.count > 0 %}checked{% endif %}/> {% trans %}Selected{% endtrans %}</label>
					</td>
				</tr>
				<tr class="selectedLibs{% if document is not defined or document.getApplicableLibraries.count == 0 %} hidden{% endif %}">
					<td class="firstRw exc"></td>
					<td class="firstRw">
						<select id="Libraries" name="Libraries[]" multiple="multiple">
						{% if applicableLibraries is defined %}
							{% for appLibrary in  applicableLibraries %}
								{% set selected = '' %}
								{% if document is defined and document.getApplicableLibraries.count > 0 %}
									{% for selLibrary in document.getApplicableLibraries %}
										{% if selLibrary.id == appLibrary.getId %}
											{% set selected = 'selected="selected"' %}
										{% endif %}
									{% endfor %}
								{% endif %}
							<option {{ selected }} value="{{ appLibrary.getId }}" >{{ appLibrary.getLibraryTitle }}</option>
							{% endfor %}
						{% endif %}
						</select>					
					</td>
				</tr>
			</table>
		</div>
	</form>
</body>

</html>