<!DOCTYPE HTML>
<html>
<head>
	<title>{% trans %}New Group{% endtrans %}</title>
<!--  common javascript & CSS header -->
{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig' %}
{% if document is defined %} 
	{% set path_info = path('docova_admin_editdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) %} 
{% else %}
	{% set path_info = path('docova_admin_group') %} 
{% endif %} 
{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with {
	'document' : document is defined ? document : '',
	'view_name' : view_name, 
	'view_title' : view_title,
	'mode' : mode, 
	'path_info' : path_info 
} %}

	<style type="text/css">
#groupMemebers {
	width: 100%;
	border: 0;
	padding-top: 4px;
	padding-bottom: 5px;
}
#groupMemebers TH {
	border-bottom: 1px #AAA solid;
}
#groupMemebers TR:hover {
	background-color: #CED8F6;
	cursor: pointer;
}
#groupMemebers TR:first-child:hover {
	background-color: inherit;
	cursor: auto;
}
#groupMemebers TD {
	padding-bottom: 3px;
}
#actBtn { width: 65px; }
#adduser, #deleteuser {
	float: right;
	margin-right: 3px;
	margin-top: -3px;
	padding: 2px;
}
.highlight {
	background: #A9BCF5;
}
.ui-icon-group {
	background-image: url('{{ asset('bundles/docova/images/icons/vwicn004.gif') }}') !important;
	background-position: center;	
}
	</style>
	<script type="text/javascript">
$(function() {
	$('#adduser').button({
		icons: {
			primary: 'ui-icon-group'
		},
		text: false
	})
	.click(function(e) {
		e.preventDefault();
		var selectedName = null;
		window.top.Docova.Utils.showAddressDialog({
			dlgtype: 'multi',
			sourcedocument: document,
			cb: function(ret) {
				if(ret == null) {return;}

				if (docInfo.isNewDoc == '') {
					$.ajax({
						url: docInfo.ServerUrl + docInfo.PortalWebPath + '/GroupServices',
						type: "POST",
						data: { 'Action' : 'NEW', 'Unid' : docInfo.DocKey, 'usersname' : ret }
					})
					.done(function(data) {
						if(data.Status != 'OK') {
							alert('{% trans %}Could not complete adding user to the group. Contact Admin for details.{% endtrans %}');
							return false;
						}
						ret = multiSplit(ret, ',');
						for (var x = 0; x < ret.length; x++) {
							for (var k = 0; k < data.RetNames.length; k++){
								if (data.RetNames[k].name == ret[x]) {
									$('#groupMemebers tr:last').after('<tr><td id="'+ data.RetNames[k].uid +'"></td><td>' + ret[x] + '</td></tr>');
									break;
								}
							}
						}
					})
					.fail(function() {
						alert('{% trans %}Could not complete adding user to the group. Contact Admin for details.{% endtrans %}');
						return false;
					});
				}
				else {
					var names = [];
					if ($.trim($('#AddedUser').val())) {
						var names = multiSplit($('#AddedUser').val(), ',');
					}
					names.push(ret);
					names = names.join(',');
					$('#AddedUser').val(names);
					ret = multiSplit(ret, ',');
					for (var x = 0; x < ret.length; x++) {
						$('#groupMemebers tr:last').after('<tr><td></td><td>' + ret[x] + '</td></tr>');
					}
				}
			}
		});
//		selectedName, 'multi', "," ,true);
	});

	$('#deleteuser').button({
		icons: {
			primary: 'ui-icon-circle-minus'
		},
		text: false
	})
	.click(function(e) {
		e.preventDefault();
		if ($('.highlight').length > 0)
		{
			if (docInfo.isNewDoc == '')
			{
				var unids = [];
				$('.highlight').each(function() {
					unids.push($(this).children().first().attr('id'));
				});
				if (unids.length > 0)
				{
					$.ajax({
						url: docInfo.ServerUrl + docInfo.PortalWebPath + '/GroupServices',
						type: "POST",
						data: { 'Action' : 'REMOVE', 'Unid' : docInfo.DocKey, 'Documents' : unids }
					})
					.done(function(data) {
						if (data.Status != 'OK') {
							alert('{% trans %}Could not complete deleting selected user(s). Contact Admin for details.{% endtrans %}');
							return false;
						}
						$('.highlight').each(function() {
							$(this).remove();
						});
					})
					.fail(function() {
						alert('{% trans %}Could not complete deleting selected user(s). Contact Admin for details.{% endtrans %}');
						return false;
					});
				}
			}
			else {
				var names = multiSplit($('#AddedUser').val(), ',');
				$('.highlight').each(function() {
					var value = $(this).children().last().text();
					for (var x = 0; x < names.length; x++) {
						if ($.trim(names[x]) == $.trim(value)) {
							names.splice(x, 1);
							break;
						}
					}
				});
				$('#AddedUser').val(names.join(','));
				$('.highlight').each(function() {
					$(this).remove();
				});
			}
		}
	});

	$('#divGroupUsers TR:not(:has(TH))').on('click', function() {
		$(this).toggleClass('highlight');
	});
});

function validateDocumentFields()
{
	if (!$.trim($('input[name="GroupName"]'))) {
		alert('{% trans %}Fill out the Group Name, please. (No space should be applied){% endtrans %}');
		return false;
	}
	return true;
}
	</script>
</head>
<body scroll="no">
	<ul class="ui-widget-header actionBar hidetoload">
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
		<li id="saveAndCloseBtn">{% trans %}Save and Close{% endtrans %}</li>
	</ul>
	<form action="{{ path_info }}" method="post" class="hidetoload" autocomplete="off">
		<div id="divFormContainer">
			<table class="elmContainer" cellspacing="0">
				<tr>
					<td colspan="2" class="firstRw"><h3 class="headings1">{% trans %}Group Definition{% endtrans %}</h3></td>
				</tr>
				<tr>
					<td class="firstRw">{% trans %}Group Name{% endtrans %}:</td>
					<td class="firstRw">
						<input type="text" name="GroupName" {{ document is defined and document.getGroupType ? 'readonly="readonly"' : '' }} value="{{ document is defined ? document.getGroupName : '' }}" class="text ui-widget-content ui-corner-all">
					</td>
				</tr>
		      	<tr>
		        	<td>{% trans %}Display Name{% endtrans %}:</td>
		        	<td>
		        		<input type="text" name="DisplaName" value="{{ document is defined ? document.getDisplayName : '' }}" class="text ui-widget-content ui-corner-all" />
					</td>
				</tr>
		      	<tr>
		        	<td>{% trans %}Type{% endtrans %}:</td>
		        	<td>{{ document is defined and document.getGroupType ? 'LDAP Directory'|trans : 'DOCOVA(Internal)'|trans }}</td>
				</tr>
				<tr>
					<td colspan="2" class="hdr">{% trans %}Group Members{% endtrans %}:</td>
				</tr>
				<tr>
					<td colspan="2" class="firstRw exc">
						<div id="divGroupUsers" style="position: relative; padding: 2px 5px 2px 5px; width: 99%; min-height: 100px;">
							<input type="hidden" id="AddedUser" name="AddedUser" value="" >
							<table cellpadding="0" id="groupMemebers">
								<tr>
									<th style="width:30px">&nbsp;</th>
									<th>{% trans %}Username{% endtrans %}</th>
									<th>{% trans %}Username{% endtrans %}</th>
									<th id="actBtn">
										<button {{ document is defined and document.getGroupType ? "disabled='disabled' title='"~ 'You cannot modify and LDAP directory members.'|trans ~"' " : "title=Add" }} id="adduser"></button>
										<button {{ document is defined and document.getGroupType ? "disabled='disabled' title='"~ 'You cannot modify and LDAP directory members.'|trans ~"' " : "title=Delete" }} id="deleteuser"></button>
									</th>
								</tr>
								{% if document is defined and document.getRoleUsers.count > 0 %}
									{% for item in document.getRoleUsers %}
								<tr>
									<td {{ loop.index == 1 ? 'class="firstRw"' : '' }} id="{{ item.getId }}">&nbsp;</td>
									<td {{ loop.index == 1 ? 'class="firstRw"' : '' }}>{{ item.getUserProfile.getDisplayName }}</td>
									<td {{ loop.index == 1 ? 'class="firstRw"' : '' }}>{{ item.getUserNameDnAbbreviated }}</td>
									<td {{ loop.index == 1 ? 'class="firstRw"' : '' }}></td>
								</tr>
									{% endfor %}
								{% endif %}
								{% if document is defined and document.getNestedGroups %}
									{% for group in document.getNestedGroups %}
								<tr>
									<td {{ document.getRoleUsers.count < 1 and loop.index == 1 ? 'class="firstRw"' : '' }} id="{{ group }}">&nbsp;</td>
									<td {{ document.getRoleUsers.count < 1 and loop.index == 1 ? 'class="firstRw"' : '' }} colspan="2">{{ group }}</td>
									<td {{ document.getRoleUsers.count < 1 and loop.index == 1 ? 'class="firstRw"' : '' }}></td>
								</tr>
									{% endfor %}
								{% endif %}
							</table>
						</div>
					</td>
				</tr>				
			</table>
		</div>
	</form>
</body>
</html>