<!DOCTYPE HTML>
<html>
<head>
<title>{% trans %}Data Source{% endtrans %}</title>
<!--  common javascript & CSS header -->
{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}
{% if document is defined %} 
	{% set path_info = path('docova_admin_editdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) %} 
{% else %}
	{% set path_info = path('docova_admin_dataSource') %} 
{% endif %} 
{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with {
	'document' : document is defined ? document : '',
	'view_name' : view_name, 
	'view_title' : view_title,
	'mode' : mode, 
	'path_info' : path_info 
} %}

<script language="JavaScript" type="text/javascript">
$(function() {
	$('form').height($(window).height() - 46);
	$( window ).unload(function() {
		return processOnUnload();
	});
});
// this is required for validation
function validateDocumentFields()
{
	return true;
}
</script>
</head>
</head>
<body scroll="no">
	<ul class="ui-widget-header actionBar hidetoload">
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
		<li id="saveAndCloseBtn">{% trans %}Save and Close{% endtrans %}</li>
	</ul>
	<form method="post" action="{{ path_info }}" enctype="multipart/form-data" class="hidetoload" autocomplete="off">
		<div id="divFormContainer">
			<table class="elmContainer" cellspacing="0">
					<tr>
						<td colspan="2" class="firstRw"><h3 class="headings1">{% trans %}Data Source Settings{% endtrans %}</h3></td>
					</tr>
					<!--  Name -->
					<tr valign="top">
						<td class="firstRw">{% trans %}Name{% endtrans %}:</td>
						<td class="firstRw"> 
							<input name="Name"  style="width:250px;"
							value="{% if document is defined %}{{ document.getName }}{% endif %}" 
							/>
						</td>
					</tr>
					<!--  Connection -->
					<tr valign="top">
						<td>{% trans %}Connection{% endtrans %}:</td>
						<td>
						
						<input name="Connection_Name"  style="width:250px;"
							value="{% if document is defined %}{{ document.getConnectionName }}{% else %}{{'DOCOVA SE'}}{% endif %}" 
						/>

						</td>
					</tr>

					<!--  Type -->
					<tr valign="top">
						<td>{% trans %}Type{% endtrans %}:</td>
						<td>		
							{% set type = (document.getType is defined) ? document.getType : "SQL" %}				
							<label onclick="document.getElementById('csvOptions').style.display='none';
											document.getElementById('sqlOptions').style.display='inline';
								">
								<input type="radio" class="inpRadioChkbox" name="Type" text="SQL" value="SQL" {% if type == "SQL" %}{{ 'checked' }}{% endif %}>SQL</label>
							<label  onclick="document.getElementById('sqlOptions').style.display='none';
											document.getElementById('csvOptions').style.display='inline';
								">
								<input type="radio" class="inpRadioChkbox" name="Type" text="CSV" value="CSV" {% if type == "CSV" %}{{ 'checked' }}{% endif %}>CSV</label>						
						</select>						
						</td>
					</tr>
					
					<!--  Docova Documents Query Check -->
					<tr id="ddCheck" valign="top">
						<td>{% trans %}DOCOVA Documents{% endtrans %}:</td>
						<td>	
							<label>						
							<input type="checkbox" name="Docova_Documents_Only" value="1" {{ document.getDocovaDocumentsOnly is defined and document.getDocovaDocumentsOnly ? " checked" : "" }} />
							Query results will contain local DOCOVA documents only
							</label>
						</td>
					</tr>
						
					<!--  Subject Column -->
					<tr valign="top" style="display:none;">
						<td>{% trans %}Subject Column{% endtrans %}:</td>
						<td>
						
						<input name="Subject_Column"  style="width:30px;"
							value="{% if document is defined %}{{ document.getSubjectColumn }}{% else %}{{'0'}}{% endif %}" 
						/>

						</td>
					</tr>
										
					<table  class="elmContainer" id="csvOptions" width="100%" border="0" cellspacing="0" cellpadding="0"
						{% if type != "CSV" %}{{ ' style="display:none;" ' }}{% endif %}>
										
						<!--  File Resource Name -->
						<tr valign="top">
							<td>{% trans %}Data File Resource{% endtrans %}:</td>
							<td>
							
							{% if dataSources.getFileResources is defined %}
								{% set file_resources=dataSources.getFileResources %}
							{% else %}
								{% set file_resources=['Unknown'] %}
							{% endif %}
							{% if document.getFileResourceName is defined %}
								{% set selected_file_resource=document.getFileResourceName %}
							{% else %}
								{% set selected_file_resource='None.' %}
							{% endif %}
						
							<select name="File_Resource_Name_CSV" class="inpRadioChkbox" type="radio">
								<option></option>
								{% for fileResource in  file_resources %}
									<option	{% if fileResource == selected_file_resource %}" selected "{% endif %}>
									{{ fileResource }}
									</option>								
								{% endfor %}
							</select>
							</td>
						</tr>
									
						<!--  CSV Delimiter -->
						<tr valign="top">
							<td>{% trans %}Delimiter{% endtrans %}:</td>
							<td>
							
							<input name="CSV_Delimiter"  style="width:15px;"
								value="{% if document is defined %}{{ document.getCSVDelimiter }}{% else %}{{','}}{% endif %}" 
							/>
	
							</td>
						</tr>
						<!--  CSV Offset Lines -->
						<tr valign="top">
							<td>{% trans %}Offset Lines{% endtrans %}:</td>
							<td>
							
							<input name="CSV_Offset_Lines"  style="width:20px;"
								value="{% if document is defined %}{{ document.getCSVOffsetLines }}{% else %}{{'0'}}{% endif %}" 
							/>	
							</td>
						</tr>
	
						<!--  CSV Offset Chars -->
						<tr valign="top">
							<td>{% trans %}Offset Chars{% endtrans %}:</td>
							<td>
							
							<input name="CSV_Offset_Chars"  style="width:20px;"
								value="{% if document is defined %}{{ document.getCSVOffsetChars }}{% else %}{{'0'}}{% endif %}" 
							/>	
							</td>
						</tr>
					</table>
					
					<table  class="elmContainer" id="sqlOptions" width="100%" border="0" cellspacing="0" cellpadding="0" {% if type != "SQL" %}{{ ' style="display:none;" ' }}{% endif %}>	
						<!--  SQL Type -->
						<tr valign="top">
							<td>{% trans %}SQL Type{% endtrans %}:</td>
							<td>		
								{% set sql_type = (document.getSQLType is defined) ? document.getSQLType : "Text" %}				
								<label onclick="document.getElementById('fileResourceSQL').style.display='none';
												document.getElementById('textSQL').style.display='inline';">
									<input type="radio" class="inpRadioChkbox" name="SQL_Type" text="Text" value="Text" {% if sql_type == "Text" %}{{ 'checked' }}{% endif %}/>
									Text
								</label>
								<label  onclick="document.getElementById('textSQL').style.display='none';
												document.getElementById('fileResourceSQL').style.display='inline';">
									<input type="radio" class="inpRadioChkbox" name="SQL_Type" text="File Resource" value="File Resource" {% if sql_type == "File Resource" %}{{ 'checked' }}{% endif %}/>
									File Resource
								</label>						
							</select>						
							</td>
						</tr>
												
						<!--  File Resource Name -->
						<tr id="fileResourceSQL" valign="top" {% if sql_type != "File Resource" %}{{ ' style="display:none;" ' }}{% endif %}>
							<td>{% trans %}SQL File Resource{% endtrans %}:</td>
							<td>
							{% if dataSources.getFileResources is defined %}
								{% set file_resources=dataSources.getFileResources %}
							{% else %}
								{% set file_resources=['Unknown'] %}
							{% endif %}
							{% if document.getFileResourceName is defined %}
								{% set selected_file_resource=document.getFileResourceName %}
							{% else %}
								{% set selected_file_resource='None.' %}
							{% endif %}
						
							<select name="File_Resource_Name_SQL" class="inpRadioChkbox" type="radio">
								<option></option>
								{% for fileResource in  file_resources %}
									<option	{% if fileResource == selected_file_resource %}" selected "{% endif %}>
									{{ fileResource }}
									</option>								
								{% endfor %}
							</select>
							</br>
							
							</td>
						</tr>
						<!--  SQL -->
						<tr id="textSQL" valign="top" {% if sql_type != "Text" %}{{ ' style="display:none;" ' }}{% endif %}>
							<td>{% trans %}SQL{% endtrans %}:</td>
							<td>							
								<textarea name="SQL" style="font-face: Verdana; font-size:small;width:600px;height:175px;">{% if document is defined %}{{ document.getSQL }}{% endif %}</textarea>
							</td>
						</tr>						
						<!--  SQL Table Name -->
						<tr valign="top">
							<td>{% trans %}Table Name{% endtrans %}:</td>
							<td>
							
							<input name="SQL_Table_Name"  style="width:250px;"
								value="{% if document is defined %}{{ document.getSQLTableName }}{% endif %}" 
							/>
	
							</td>
						</tr>
						<!--  SQL Key Name -->
						<tr valign="top" style="display:none;">
							<td>{% trans %}Key Column Name{% endtrans %}:</td>
							<td>
							
							<input name="SQL_Key_Name"  style="width:250px;"
								value="{% if document is defined %}{{ document.getSQLKeyName }}{% endif %}" 
							/>
	
							</td>
						</tr>
	
						<!--  SQL Order By -->
						<tr valign="top">
							<td>{% trans %}Order By{% endtrans %}:</td>
							<td>
							
							<input name="SQL_Order_By"  style="width:250px;"
								value="{% if document is defined %}{{ document.getSQLOrderBy }}{% endif %}" 
							/>
	
							</td>
						</tr>					
					</table>					
					
				{% if document is defined %}
					<tr valign="top">
						<td>{% trans %}Resource key{% endtrans %}:</td>
						<td>{{ document.getId }}</td>
					</tr>
				{% endif %}
				</table>				
		</div>	
	</form>
</body>
</html>