<!DOCTYPE HTML>
<html>
<head>
<title>{% trans %}Data View{% endtrans %}</title>
<!--  common javascript & CSS header -->
{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}
{% if document is defined %} 
	{% set path_info = path('docova_admin_editdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) %} 
{% else %}
	{% set path_info = path('docova_admin_dataView') %} 
{% endif %} 
{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with {
	'document' : document is defined ? document : '',
	'view_name' : view_name, 
	'view_title' : view_title,
	'mode' : mode, 
	'path_info' : path_info 
} %}

<script language="JavaScript" type="text/javascript">
$(function() {
	$('form').height($(window).height() - 46);
	$( window ).unload(function() {
		return processOnUnload();
	});
});
// this is required for validation
function validateDocumentFields()
{
	return true;
}
</script>
</head>
<body scroll="no">
	<ul class="ui-widget-header actionBar hidetoload">
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
		<li id="saveAndCloseBtn">{% trans %}Save and Close{% endtrans %}</li>
	</ul>
	<form method="post" action="{{ path_info }}" enctype="multipart/form-data" class="hidetoload" autocomplete="off">
		<div id="divFormContainer">
			<table class="elmContainer" cellspacing="0">
					<tr>
						<td colspan="2" class="firstRw"><h3 class="headings1">{% trans %}Data View Settings{% endtrans %}</h3></td>
					</tr>
					<!--  Folder Name -->
					<tr valign="top">
						<td>{% trans %}Name{% endtrans %}:</td>
						<td> 
							<input name="Name"  style="width:250px;"
							value="{% if document is defined %}{{ document.getName }}{% endif %}" 
							/>
						</td>
					</tr>
					<!--  Folder Link -->
					<tr valign="top">
						<td>{% trans %}Folder Link{% endtrans %}:</td>
						<td> 
							<input name="Folder_Link"  style="width:75%;"
							value="{% if document is defined %}{{ document.getFolderLink }}{% endif %}" 
							/>
						</td>
					</tr>
					<!--  Data Source Name -->
					<tr valign="top">
						<td>{% trans %}Data Source{% endtrans %}:</td>
						<td>
						
						{% if dataViews.getDataSources is defined %}
								{% set data_sources=dataViews.getDataSources %}
						{% else %}
							{% set data_sources=['Unknown'] %}
						{% endif %}
						{% if document.getDataSourceName is defined %}
							{% set selected_data_source=document.getDataSourceName %}
						{% else %}
							{% set selected_data_source='None.' %}
						{% endif %}
					
						<select name="Data_Source_Name" class="inpRadioChkbox">
							<option></option>
							{% for dataSource in  data_sources %}
								<option	{% if dataSource == selected_data_source %}" selected "{% endif %}>
								{{ dataSource }}
								</option>								
							{% endfor %}
						</select>
						
						</td>
					</tr>
					<!-- Data Filter -->
					<tr valign="top">
						<td>{% trans %}SQL Filter<br/><span style="font-weight: normal">(SQL data sources only)</span>{% endtrans %}:</td>
						<td> 
							<b>AND</b></br>
							<textarea name="SQL_Filter"col=300 rows=15>{{ document is defined ? document.getSQLFilter : '' }}</textarea>
						</td>
					</tr>			
				{% if document is defined %}
					<tr valign="top">
						<td>{% trans %}Resource key{% endtrans %}:</td>
						<td>{{ document.getId }}</td>
					</tr>
					<tr valign="top">
						<td>{% trans %}Folder id{% endtrans %}:</td>
						<td>{{ document is defined ? document.getFolderId }}</td>
					</tr>
				{% endif %}
				</table>
				</br>
		</div>
	</form>
</body>
</html>