<!DOCTYPE HTML>
<html>
<head>
<title>{% trans %}File Template{% endtrans %}</title>
{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}
{% if document is defined %} 
	{% set path_info = path('docova_admin_editdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) %} 
{% else %}
	{% set path_info = path('docova_admin_htmlResources') %} 
{% endif %} 
{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with {
	'document' : document is defined ? document : '',
	'view_name' : view_name, 
	'view_title' : view_title,
	'mode' : mode, 
	'path_info' : path_info 
} %}
<script language="JavaScript" type="text/javascript">
$(function() {
	$('#ResourceName').on('change', function() {
		if ($(this).val() != 'None') {
			$('#ResourcePath').text(docInfo.PortalWebPath +"/luHTMLResources/" + $(this).val());
		}
		else {
			$('#ResourcePath').text('');
		}
	});
});

// this is required
function validateDocumentFields()
{
	return true;
}
</script>
</head>
<body scroll="no">
	<ul class="ui-widget-header actionBar hidetoload">
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
		<li id="saveAndCloseBtn">{% trans %}Save and Close{% endtrans %}</li>
	</ul>
	<form method="post" action="{{ path_info }}" enctype="multipart/form-data" class="hidetoload" autocomplete="off">
		<div id="divFormContainer">
			<table class="elmContainer" cellspacing="0">
				<tr>
					<td colspan="2" class="firstRw"><h3 class="headings1">{% trans %}HTML Resource{% endtrans %}</h3></td>
				</tr>
				<tr>
					<td class="firstRw">{% trans %}Name{% endtrans %}:</td>
					<td class="firstRw"> 
						<select id="ResourceName" name="ResourceName" class="text ui-widget-content ui-corner-all">
							<option value="None" {% if document is defined %} {{ document.getResourceName =="None"? "selected":"" }}{% else %}selected{% endif %}>{% trans %}Select{% endtrans %} ...</option>	
							<option value="ApplicationLogo" {% if document is defined %} {{ document.getResourceName =="ApplicationLogo"? "selected":"" }}{% endif %}>{% trans %}ApplicationLogo{% endtrans %}</option>
							<option value="HomePage" {% if document is defined %} {{ document.getResourceName =="HomePage"? "selected":"" }}{% endif %}>{% trans %}Home Page{% endtrans %}</option>							
						</select>
					</td>
				</tr>
				<tr>
					<td>{% trans %}HTML Code{% endtrans %}</td>
					<td>
			          	<textarea class="text ui-widget-content ui-corner-all fullBox" name="HtmlCode">{{ document is defined ? document.getHtmlCode : "" }}</textarea>
					</td>
				</tr>
				<tr valign="top">
					<td>{% trans %}Files{% endtrans %}:</td>
					<td>
						<input type="file" class="text ui-widget-content ui-corner-all" name="fileTemplateAttachment" id="fileTemplateAttachment"  />
						{% if document is defined and document.getFileName%}
						<span class="elNote"><a href="{{ path('docova_admin_html_resource_path', {file_name:document.getFileName} ) }}" target="_blank">{{ document is defined ? document.getFileName : ''}}</a></span>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>{% trans %}Resource Path{% endtrans %}:</td>
					<td id="ResourcePath"></td>
				</tr>
				<tr>
					<td>{% trans %}Files Path{% endtrans %}:</td>
					<td>
						{% if document is defined and document.getFileName %}
						<span id="spanFilePaths">{{ path('docova_admin_html_resource_path', {file_name:document.getFileName} ) }}</span>
						{% endif %}
					</td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>