	{% set selected_section = '' %}
	{% set section_properties = '' %}
	{% if document is defined and 'COMM' in document.getContentSections %}
 		{% for subform in document.getDocTypeSubform %}
 			{% if subform.getSubform.getFormName == 'Advanced Comments' %}
 				{% set selected_section = subform %}
 				{% set section_properties = subform.getPropertiesXML(true) %}
 			{% endif %}
 		{% endfor %}
 	{% endif %}
	<table cellspacing="0" class="elmContainer {{ selected_section != '' ? '' : 'hidden' }}">
		<tr>
			<td class="firstRw">{% trans %}Section Label{% endtrans %}:</td>
            <td class="firstRw">
				<input type="text" name="lblComments" value="{{ section_properties|length > 0 ? section_properties['Interface']['CommentsLabel'] : '' }}" class="text ui-widget-content ui-corner-all" />
				<span class="elNote">{% trans %}By default the label will be "Comments"{% endtrans %}</span>
            </td>
		</tr>
		<tr>
			<td>{% trans %}Link Comments{% endtrans %}:</td>
			<td>
				<label><input type="checkbox" name="LinkComments" value="1" {{ section_properties|length > 0 and section_properties['LinkComments'] == 1 ? 'checked' : '' }} /> {% trans %}Link Comments{% endtrans %}</label>
				<span class="elNote">{% trans %}During workflow all user prompted comments will also be tracked in this section.{% endtrans %}</span>
			</td>
		</tr>
		<tr>
			<td>{% trans %}Notification{% endtrans %}:</td>
            <td>
            	{% trans %}By default, notify{% endtrans %} 
				<label><input type="checkbox" name="NotifyParticipants" value="1" {{ section_properties|length > 0 and section_properties['Interface']['NotifyParticipants'] == 1 ? 'checked' : '' }} /> {% trans %}participants{% endtrans %}</label>
				<label><input type="checkbox" name="NotifyAuthor" value="1" {{ section_properties|length > 0 and section_properties['Interface']['NotifyAuthor'] == 1 ? 'checked' : '' }} /> {% trans %}author{% endtrans %}</label>
			</td>
		</tr>
		<tr>
			<td class="firstRw"></td>
			<td class="firstRw">
				<label><input type="radio" name="NotificationTrigger" value="0" {{ section_properties|length == 0 or not section_properties['Interface']['NotificationTrigger'] ? 'checked' : '' }}/> {% trans %}never{% endtrans %}</label>
				<label><input type="radio" name="NotificationTrigger" value="1" {{ section_properties|length > 0 and section_properties['Interface']['NotificationTrigger'] == 1 ? 'checked' : '' }}/> {% trans %}only when commentor chooses{% endtrans %}</label>
				<label><input type="radio" name="NotificationTrigger" value="2" {{ section_properties|length > 0 and section_properties['Interface']['NotificationTrigger'] == 2 ? 'checked' : '' }}/> {% trans %}whenever a comment is entered{% endtrans %}</label>
			</td>
		</tr>
		<tr>
			<td>{% trans %}Visibility{% endtrans %}:</td>
            <td>
            	{% trans %}Hide Comments section when{% endtrans %}: 
				<label><input type="checkbox" name="HideComments[]" value="R" {{ section_properties|length > 0 and section_properties['Interface']['HideOnReading'] == 1 ? 'checked' : '' }} /> {% trans %}Reading{% endtrans %}</label>
				<label><input type="checkbox" name="HideComments[]" value="E" {{ section_properties|length > 0 and section_properties['Interface']['HideOnEditing'] == 1 ? 'checked' : '' }} /> {% trans %}Editing{% endtrans %}</label>
			</td>
		</tr>
	</table>