	{% set selected_section = '' %}
	{% set section_properties = '' %}
 	{% if document is defined and ('DRTXT' in document.getContentSections or 'RTXT' in document.getContentSections or 'TXT' in document.getContentSections) %}
 		{% for subform in document.getDocTypeSubform %}
 			{% if subform.getSubform.getFormName in ['Docova Text Editor', 'Rich Text Editor', 'Plain Text Editor'] %}
 				{% set selected_section = subform %}
 				{% set section_properties = subform.getPropertiesXML(true) %}
 			{% endif %}
 		{% endfor %}
 	{% endif %}

 	<table cellspacing="0" class="elmContainer {{ selected_section != '' ? '' : 'hidden' }}">
		<tr class="noneDRT {{ selected_section == '' or selected_section.getSubform.getFormName == 'Docova Text Editor' ? 'hidden' : '' }}">
			<td class="firstRw"></td>
			<td class="firstRw">
				<label><input type="checkbox" name="EditorReadOnly" value="1" {% if selected_section != '' and  selected_section.getSubform.getFormName != 'Docova Text Editor' and section_properties['Interface']['EditorReadOnly'] == 1 %}checked{% endif %} />{% trans %}Read Only{% endtrans %}</label>
			</td>
		</tr>
		<tr>
			<td class="{{ selected_section == '' or selected_section.getSubform.getFormName == 'Docova Text Editor' ? 'firstRw' : '' }}">{% trans %}Label{% endtrans %}:</td>
			<td class="{{ selected_section == '' or selected_section.getSubform.getFormName == 'Docova Text Editor' ? 'firstRw' : '' }}">
				<input type="text" name="lblEditor" value="{% if section_properties|length > 0 %}{{ section_properties['Interface']['EditorLabel'] }}{% else %}Text Content{% endif %}" class="text ui-widget-content ui-corner-all" />
			</td>
		</tr>
		<tr>
			<td>{% trans %}Height{% endtrans %}:</td>
			<td><input type="text" name="EditorHeightValue" value="{% if section_properties|length > 0 %}{{ section_properties['Interface']['EditorHeightValue'] }}{% else %}150{% endif %}" class="text ui-widget-content ui-corner-all" /></td>
		</tr>
		<tr>
			<td>{% trans %}Visibility{% endtrans %}:</td>
			<td>
				{% trans %}Hide Text area when{% endtrans %} 
				<label><input type="checkbox" name="HideTextArea[]" value="R" {% if section_properties|length > 0 and section_properties['Interface']['HideOnReading'] == 1 %}checked{% endif %} /> {% trans %}Reading{% endtrans %}</label>
				<label><input type="checkbox" name="HideTextArea[]" value="E" {% if section_properties|length > 0 and section_properties['Interface']['HideOnEditing'] == 1 %}checked{% endif %} /> {% trans %}Editing{% endtrans %}</label>
			</td>
		</tr>
	</table>