<!doctype html>
<html>
<head>
<title>Activity Definition</title>
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/admin/adminBaseForms.css') }}">
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/js/admin/sfWebAdminCommonFieldsJSHeader.js') }}" ></script>
{% set date_format = settings.getDefaultDateFormat|replace({'MM' : 'm', 'DD' : 'd', 'YYYY' : 'Y'}) %}
<script language="JavaScript" type="text/javascript">
var info = {
  "DocID" : "{{ document['id'] }}",
  "DocKey" : "{{ document['id'] }}",
  "DocumentNumber" : "",
  "UserName" : "{{ user.getUsernameDn }}",
  "UserNameAB" : "{{ user.getUsernameDnAbbreviated }}",
  "UserNameCN" : "{{ user.getUserProfile.getDisplayName }}",
  "TodayDate" : "{{ 'now'|date(date_format) }}",
  "isNewDoc" : "",
  "isDocBeingEdited" : "",
  "Mode" : "",
  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "userProfileRetUrl" : '',
  "SessionDateFormat" : "mm/dd/yyyy",
  "isUIDoc" : true
};
function getinfovar(){
   return info;
}
InitVars(info);

$(document).ready(function(){   
	$( "button" ).button().click(function( event ) {
		event.preventDefault();
	});
});

// this is required
function validateDocumentFields()
{
	return true;
}

var allowClose = false;
var forceSave = false;
//var DLIUploader1 = null;

// for user profile
function userClose()
{
	window.parent.fraToolbar.OpenUserProfile(docInfo.userProfileRetUrl); //call from homeTop
}
</script>
</head>
<body text="#000000" bgcolor="#FFFFFF">
	<ul class="ui-widget-header actionBar hidetoload">
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
	</ul>
	<div id="frmEmulator" class="hidetoload">
		<div id="divFormContainer">
			<table class="elmContainer" width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td colspan="2" class="firstRw"><h3 class="headings1">{% trans %}User Subscription{% endtrans %}</h3></td>
				</tr>
				<tr>
					<td class="firstRw">User Name:</td>
					<td class="firstRw">{{ document['username'] }}</td>
				</tr>
				<tr>
					<td>Library Name:</td>
					<td>{{ document['library'] }}</td>
				</tr>
				<tr>
					<td>Community:</td>
					<td>{{ document['community'] }}</td>
				</tr>
				<tr>
					<td>Realm:</span></td>
					<td>{{ document['realm'] }}</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>