<!DOCTYPE HTML>
<html>
<head>
<title>{% trans %}Data Source{% endtrans %}</title>
	{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}
	{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with { 
		'document' : document, 
		'view_name' : view_name, 
		'view_title' : view_title, 
		'mode' :mode,
		'path_info' : path('docova_admin_readdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) 
	} %}
</head>

<body scroll="No">

	<ul class="ui-widget-header actionBar hidetoload">
		<a id="editBtn" href="{{ path('docova_admin_editdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) }}" >{% trans %}Edit{% endtrans %}</a>
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
	</ul>
	<div id="frmEmulator" class="hidetoload">
		<div id="divFormContainer">
			<table class="elmContainer" cellspacing="0">
				<tr>
					<td colspan="2" class="firstRw"><h3 class="headings1">{% trans %}Data Source Settings{% endtrans %}</h3></td>
				</tr>	
				<tr>
					<td class="firstRw">{% trans %}Name{% endtrans %}:</td>
					<td class="firstRw">{{ document.getName }}</td>
				</tr>
				<tr>
					<td>{% trans %}Connection Name{% endtrans %}:</td>
					<td>{{ document.getConnectionName }}</td>
				</tr>
				<tr valign="top">
					<td>{% trans %}Type{% endtrans %}:</td>
					<td>{{ document.getType }}</td>
				</tr>
				<tr valign="top">
					<td>{% trans %}Resource key{% endtrans %}:</font></td>
					<td>{{ document.getId }}</font></td>
				</tr>
			</table>
		</div>	
	</div>
</body>
</html>			