<!DOCTYPE HTML>
<html>
<head>
<title>{% trans %}Custom Search Fields{% endtrans %}</title>
{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}
{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with { 
	'document' : document, 
	'view_name' : view_name, 
	'view_title' : view_title, 
	'mode' :mode,
	'path_info' : path('docova_admin_readdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) 
} %}
</head>
<body scroll="no"> 
	<ul class="ui-widget-header actionBar hidetoload">
		<a id="editBtn" href="{{ path('docova_admin_editdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) }}" >{% trans %}Edit{% endtrans %}</a>
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
	</ul>
	<div id="frmEmulator" class="hidetoload">
		<div id="divFormContainer">
			<table class="elmContainer" cellspacing="0">
				<tr>
					<td colspan="2" class="firstRw"><h3 class="headings1">{% trans %}Search Field{% endtrans %}</h3></td>
				</tr>
				<tr>
					<td class="firstRw">{% trans %}Display Title{% endtrans %}:</td>
					<td class="firstRw">{{ document.getFieldDescription }}</td>
				</tr>
		        <tr>
					<td>{% trans %}Field Name{% endtrans %}:</td>
					<td>{{ document.getFieldName }}</td>
		        </tr>
		        <tr valign="top">
		        	<td>{% trans %}Data Type{% endtrans %}:</td>
		        	<td>{{ document.getDataType }}</td>
		        </tr>
		        <tr class="txtproperties{% if document is defined and document.getDataType !="text" %} hidden{% endif %}">
		        	<td>{% trans %}Text entry type{% endtrans %}:</td>
		        	<td>
		            {% if document is defined and document.getTextEntryType =="E" %}
		            	{% trans %}Editable Field{% endtrans %}
		            {% elseif document is defined and document.getTextEntryType =="S" %}
		            	{% trans %}Combo box{% endtrans %}
		            {% elseif document is defined and document.getTextEntryType =="B" %}
		            	{% trans %}Editable with selection{% endtrans %}
		            {% endif %}
		        	</td>
		        </tr>
		        <tr class="selectedVal{% if document is not defined or (document.getDataType !="text" or document.getTextEntryType == 'E') %} hidden{% endif %}">
					<td>{% trans %}Select values{% endtrans %}:</td>
					<td>
		        		{{ document.getSelectValues }}
		                <span class="elNote">{% trans %}Separate values with carriage return. If required, include value aliases separated by &quot;|&quot; character (Example: Choice Text|Field Value).{% endtrans %}</span>
					</td>
		        </tr>
		        <tr>
					<td>{% trans %}Related Document Types{% endtrans %}:</td>
					<td>{{ document.getDocumentTypes.count == 0 ? 'All'|trans : 'Selected'|trans }}</td>
		        </tr>
				<tr class="selectedDocTypes{% if document is not defined or document.getDocumentTypes.count == 0 %} hidden{% endif %}">
					<td class="firstRw exc"></td>
					<td class="firstRw exc">
						{% set selectedDoctypes = '' %}
						{% for docType in document.getDocumentTypes %}
							{% set selectedDoctypes = selectedDoctypes ~ docType.getDocName ~ ', ' %}
						{% endfor %}
						{% set selectedDoctypes = selectedDoctypes[:selectedDoctypes|length - 2] %}
						{{ selectedDoctypes }}
					</td>
				</tr>			
			</table>
		</div>
	</div>
</body>
</html>