<!DOCTYPE HTML>
<html>
<head>
<title>{% trans %}View Column{% endtrans %}</title>
{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}
{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with { 
	'document' : document, 
	'view_name' : view_name, 
	'view_title' : view_title, 
	'mode' :mode,
	'path_info' : path('docova_admin_readdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) 
} %}
</head>

<body scroll="no">
	<ul class="ui-widget-header actionBar hidetoload">
		<a id="editBtn" href="{{ path('docova_admin_editdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) }}" >{% trans %}Edit{% endtrans %}</a>
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
	</ul>
	<div id="frmEmulator" class="hidetoload">
		<div id="divFormContainer">
			<table class="elmContainer" cellspacing="0">
				<tr>
					<td colspan="2" class="firstRw"><h3 class="headings1">{% trans %}HTML Resource{% endtrans %}</h3></td>
				</tr>
				<tr>
					<td class="firstRw">{% trans %}Name{% endtrans %}:</td>
					<td class="firstRw">{{ document.getResourceName|trans }}</td>
				</tr>
				<tr>
					<td colspan="2">
			          	{% trans %}HTML Code{% endtrans %}</br>
			          	<span class="exc">{{ document.getHtmlCode|nl2br }}</span>
					</td>
				</tr>
				<tr valign="top">
					<td>{% trans %}Files{% endtrans %}:</td>
					<td>
						{% if document is defined and document.getFileName%}
						<span class="elNote"><a href="{{ path('docova_admin_html_resource_path', {file_name:document.getFileName} ) }}" target="_blank">{{ document is defined ? document.getFileName : ''}}</a></span>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>{% trans %}Resource Path{% endtrans %}:</td>
					<td id="ResourcePath"></td>
				</tr>
				<tr>
					<td>{% trans %}Files Path{% endtrans %}:</td>
					<td>{{ path('docova_admin_html_resource_path', {file_name:document.getFileName}) }}</td>
				</tr>
			</table>
		</div>
	</div>
</form>
</body>
</html>