<!DOCTYPE HTML>
<html>
<head>
<title>{% trans %}File Resource{% endtrans %}</title>
	{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}
	{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with { 
		'document' : document, 
		'view_name' : view_name, 
		'view_title' : view_title, 
		'mode' :mode,
		'path_info' : path('docova_admin_readdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) 
	} %}
</head>

<body scroll="No">
	<ul class="ui-widget-header actionBar hidetoload">
		<a id="editBtn" href="{{ path('docova_admin_editdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) }}" >{% trans %}Edit{% endtrans %}</a>
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
	</ul>
	<div id="frmEmulator" class="hidetoload">
		<div id="divFormContainer">
			<table class="elmContainer" cellspacing="0">	
				<tr>
					<td colspan="2" class="firstRw"><h3 class="headings1">{% trans %}Resource File Settings{% endtrans %}</h3></td>
				</tr>
				<tr>
					<td class="firstRw">{% trans %}Resource file type{% endtrans %}:</td>
					<td class="firstRw">{{ document.getType }}</td>
				</tr>
				<tr>
					<td>{% trans %}Resource name{% endtrans %}:</td>
					<td>{{ document.getName }}</td>
				</tr>
				<tr>
					<td>{% trans %}Resource file attachment{% endtrans %}:</td>
					<td>
						<a href="{{ path('docova_admin_fileresource', {file_name:document.getFileName} ) }}" target="_blank">{{ document.getFileName }}</a>
					</td>
				</tr>
				<tr>
					<td>{% trans %}Resource Version{% endtrans %}:</td>
					<td>{{ document.getVersion }}</td>
				</tr>
				<tr>
					<td>{% trans %}Resource key{% endtrans %}:</td>
					<td>{{ document.getId }}</td>
				</tr>
			</table>
		</div>	
	</div>
</body>
</html>