<!DOCTYPE HTML>
<html>
<head>
<!--  common javascript & CSS header -->
{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}
{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with { 
	'document' : document, 
	'view_name' : view_name, 
	'view_title' : view_title, 
	'mode' :mode,
	'path_info' : path('docova_admin_readdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) 
} %}

</head>
<body scroll="no">
	<ul class="ui-widget-header actionBar hidetoload">
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
	</ul>
	<div id="frmEmulator" id="hidetoload">
		<div id="divFormContainer">
			<table class="elmContainer" cellspacing="0">
				<tr>
					<td class="firstRw" colspan="2"><h3 class="headings1">{% trans %}File check-out log{% endtrans %}</h3></td>
				</tr>
				<tr>
					<td colspan="2" class="firstRw"><span class="elNote">{% trans %}This document type tracks files that are currently checked out by users from any document.{% endtrans %}</span></td>
				</tr>
				<tr>
					<td>{% trans %}User{% endtrans %}:</td>
					<td>{{ document.getCheckedOutBy.getUserNameDnAbbreviated }}</td>
				</tr>
				<tr>
					<td>{% trans %}Library{% endtrans %}:</td>
					<td>{{ document.getDocument.getFolder.getLibrary.getLibraryTitle }}</td>
				</tr>
				<tr>
					<td>{% trans %}Folder{% endtrans %}:</td>
					<td>{{ document.getDocument.getFolder.getFolderName }}</td>
				</tr>
				<tr>
					<td>{% trans %}Document subject{% endtrans %}:</td>
					<td>{{ document.getDocument.getDocTitle }}</td>
				</tr>
				<tr>
					<td>{% trans %}Checked-out file{% endtrans %}:</td>
					<td>{{ document.getFileName }}</td>
				</tr>
				<tr>
					<td>{% trans %}Local-path{% endtrans %}:</td>
					<td>{{ document.getCheckedOutPath }}</td>
				</tr>
				<tr>
					<td>{% trans %}Check-out date{% endtrans %}:</td>
					<td>{{ document.getDateCheckedOut.format('m/d/Y') }}</td>
				</tr>
				<tr>
					<td>{% trans %}Status{% endtrans %}:</td>
					<td>{% trans %}Active{% endtrans %}</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>