<!DOCTYPE HTML>
<html>
<head>
	<title>{% trans %}Group Settings{% endtrans %}</title>
<!--  common javascript & CSS header -->
{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}
{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with { 
	'document' : document, 
	'view_name' : 'wAdminGroups', 
	'view_title' : view_title, 
	'path_info' : path('docova_admin_readdocument', { 'view_name' : 'wAdminGroups', 'doc_id' : document.getId }) ~ '?OpenDocument',
	'mode' : 'read' 
} %}

	<style type="text/css">
#groupMemebers {
	width: 100%;
	border: 0;
	padding-top: 4px;
	padding-bottom: 5px;
}
#groupMemebers TH {
	border-bottom: 1px #AAA solid;
}
#groupMemebers TR:hover {
	background-color: #CED8F6;
	cursor: pointer;
}
#groupMemebers TR:first-child:hover {
	background-color: inherit;
	cursor: auto;
}
#groupMemebers TD {
	padding-bottom: 3px;
}
#actBtn { width: 65px; }
#adduser, #deleteuser {
	float: right;
	margin-right: 3px;
	margin-top: -3px;
	padding: 2px;
}
.highlight {
	background: #A9BCF5;
}
.ui-icon-group {
	background-image: url('{{ asset('bundles/docova/images/icons/vwicn004.gif') }}') !important;
	background-position: center;	
}
	</style>
	<script type="text/javascript">
	$(function() {
		$('#adduser').button({
			icons: {
				primary: 'ui-icon-group'
			},
			text: false
		})
		.click(function(e) {
			e.preventDefault();
			var selectedName = null;
			window.top.Docova.Utils.showAddressDialog({
				dlgtype: 'multi',
				sourcedocument: document,
				cb: function(ret) {
					if(ret == null) {return;}

					$.ajax({
						url: docInfo.ServerUrl + docInfo.PortalWebPath + '/GroupServices',
						type: "POST",
						data: { 'Action' : 'NEW', 'Unid' : docInfo.DocID, 'usersname' : ret }
					})
					.done(function(data) {
						if(data.Status != 'OK') {
							alert('{% trans %}Could not complete adding user to the group. Contact Admin for details.{% endtrans %}');
							return false;
						}
						ret = multiSplit(ret, ',');
						for (var x = 0; x < ret.length; x++) {
							for (var k = 0; k < data.RetNames.length; k++){
								if (data.RetNames[k].name == ret[x]) {
									$('#groupMemebers tr:last').after('<tr onclick="highlight(this);"><td id="'+ data.RetNames[k].uid +'" class="fieldCell"></td><td class="fieldCell">' + ret[x] + '</td></tr>');
									break;
								}
							}
						}
						
					})
					.fail(function() {
						alert('{% trans %}Could not complete adding user to the group. Contact Admin for details.{% endtrans %}');
						return false;
					});
				}
			});
		});

		$('#deleteuser').button({
			icons: {
				primary: 'ui-icon-circle-minus'
			},
			text: false
		})
		.click(function(e) {
			e.preventDefault();
			if ($('.highlight').length > 0)
			{
				var unids = [];
				$('.highlight').each(function() {
					unids.push($(this).children().first().attr('id'));
				});
				if (unids.length > 0)
				{
					$.ajax({
						url: docInfo.ServerUrl + docInfo.PortalWebPath + '/GroupServices',
						type: "POST",
						data: { 'Action' : 'REMOVE', 'Unid' : docInfo.DocKey, 'Documents' : unids }
					})
					.done(function(data) {
						if (data.Status != 'OK') {
							alert("{% trans %}Could not complete deleting selected user(s). Contact Admin for details.{% endtrans %}\n" + data.ErrMsg);
							return false;
						}
						$('.highlight').each(function() {
							$(this).remove();
						});
					})
					.fail(function() {
						alert('{% trans %}Could not complete deleting selected user(s). Contact Admin for details.{% endtrans %}');
						return false;
					});
				}
			}
		});

		$('#divGroupUsers TR:not(:has(TH))').on('click', function() {
			$(this).toggleClass('highlight');
		});
	});
	</script>
</head>
<body scroll="no">
	<ul class="ui-widget-header actionBar hidetoload">
		<a id="editBtn" href="{{ path('docova_admin_editdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) }}" >{% trans %}Edit{% endtrans %}</a>
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
	</ul>
	<div id="frmEmulator" class="hidetoload">
		<div id="divFormContainer">
			<table class="elmContainer" cellspacing="0">
				<tr>
					<td colspan="2" class="firstRw"><h3 class="headings1">{% trans %}Group Definition{% endtrans %}</h3></td>
				</tr>
				<tr>
					<td class="firstRw">{% trans %}Group Name{% endtrans %}:</td>
					<td class="firstRw">{{ document.getGroupName }}</td>
				</tr>
		      	<tr>
		        	<td>{% trans %}Display Name{% endtrans %}:</td>
		        	<td>{{ document.getDisplayName }}</td>
				</tr>
		      	<tr>
		        	<td>{% trans %}Type{% endtrans %}:</td>
		        	<td>{{ document is not defined or not document.getGroupType ? 'DOCOVA(Internal)' : 'LDAP Directory' }}</td>
				</tr>
				<tr>
					<td colspan="2" class="hdr">{% trans %}Group Members{% endtrans %}:</td>
				</tr>
				<tr>
					<td colspan="2" class="firstRw exc">
						<div id="divGroupUsers" style="position: relative; padding: 2px 5px 2px 5px; width: 99%; min-height: 100px;">
							<input type="hidden" id="AddedUser" name="AddedUser" value="" >
							<table cellpadding="0" id="groupMemebers">
								<tr>
									<th style="width:30px">&nbsp;</th>
									<th>{% trans %}Username{% endtrans %}</th>
									<th>{% trans %}Username{% endtrans %}</th>
									<th id="actBtn">
										<button {{ document.getGroupType ? "disabled='disabled' title='"~ 'You cannot modify and LDAP directory members.'|trans ~"' " : "title=Add" }} id="adduser"></button>
										<button {{ document.getGroupType ? "disabled='disabled' title='"~ 'You cannot modify and LDAP directory members.'|trans ~"' " : "title=Delete" }} id="deleteuser"></button>
									</th>
								</tr>
								{% if document.getRoleUsers.count > 0 %}
									{% for item in document.getRoleUsers %}
								<tr>
									<td {{ loop.index == 1 ? 'class="firstRw"' : '' }} id="{{ item.getId }}">&nbsp;</td>
									<td {{ loop.index == 1 ? 'class="firstRw"' : '' }}>{{ item.getUserProfile.getDisplayName }}</td>
									<td {{ loop.index == 1 ? 'class="firstRw"' : '' }}>{{ item.getUserNameDnAbbreviated }}</td>
									<td {{ loop.index == 1 ? 'class="firstRw"' : '' }}></td>
								</tr>
									{% endfor %}
								{% endif %}
								{% if document.getNestedGroups %}
									{% for group in document.getNestedGroups %}
								<tr>
									<td {{ document.getRoleUsers.count < 1 and loop.index == 1 ? 'class="firstRw"' : '' }} id="{{ group }}">&nbsp;</td>
									<td {{ document.getRoleUsers.count < 1 and loop.index == 1 ? 'class="firstRw"' : '' }} colspan="2">{{ group }}</td>
									<td {{ document.getRoleUsers.count < 1 and loop.index == 1 ? 'class="firstRw"' : '' }}></td>
								</tr>
									{% endfor %}
								{% endif %}
							</table>
						</div>
					</td>
				</tr>				

			</table>
		</div>
	</div>
</body>
</html>