<!DOCTYPE HTML>
<html>
<head>
<title>{%trans%}Review Policy{%endtrans%}</title>
{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}
{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with { 
	'document' : document, 
	'view_name' : 'wAdminReviewPolicies', 
	'view_title' : 'Review Policy', 
	'path_info' : path('docova_admin_readdocument', { 'view_name' : 'wAdminReviewPolicies', 'doc_id' : document.getId }),
	'mode' : 'read' 
} %}
<script language="JavaScript" type="text/javascript">

</script>
</head>
<body scroll="no">
	<ul class="ui-widget-header actionBar hidetoload">
		<a id="editBtn" href="{{ path('docova_admin_editdocument', { 'view_name' : 'wAdminReviewPolicies', 'doc_id' : document.getId }) }}" >{% trans %}Edit{% endtrans %}</a>
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
	</ul>
	<div id="frmEmulator" class="hidetoload">
		<div id="divFormContainer">
			<table class="elmContainer" cellspacing="0">
				<tr>
					<td colspan="2" class="firstRw"><h3 class="headings1">{%trans%}Review Policy{%endtrans%}</h3></td>
				</tr>
				<tr>
					<td class="firstRw">{%trans%}Policy Name{%endtrans%}:</td>
					<td class="firstRw">{{ document.getPolicyName }}</td>
				</tr>
				<tr>
					<td>{%trans%}Description{%endtrans%}:</td>
					<td>{{ document.getDescription }}</td>
				</tr>
				<tr>
					<td>{%trans%}Status{%endtrans%}:</td>
					<td>{{ document.getPolicyStatus ? 'Active'|trans : 'Inactive'|trans }}</td>
				</tr>
				<tr>
					<td>{%trans%}Priority{%endtrans%}:</td>
					<td>{{ document.getPolicyPriority == 1 ? 'High'|trans : (document.getPolicyPriority == 3 ? 'Low'|trans : 'Med'|trans) }}</td>
				</tr>
				<tr>
					<td>{%trans%}Applicable Libraries{%endtrans%}:</td>
					<td>{{ document.getLibraries.count == 0 ? 'All'|trans : 'Selected'|trans }}</td>
				</tr>
				{% if document.getLibraries.count > 0 %}
				<tr>
					<td class="firstRw"></td>
					<td class="firstRw">
					{% for library in document.getLibraries %}
						{{ library.getLibraryTitle }}{% if not loop.last %}, {% endif %}
					{% endfor %}
					</td>
				</tr>
				{% endif %}
				<tr>
					<td>{%trans%}Applicable Document Types{%endtrans%}:</td>
					<td>{{ document.getDocumentTypes.count == 0 ? 'All'|trans : 'Selected'|trans }}</td>
				</tr>
				{% if document.getDocumentTypes.count > 0 %}
				<tr>
					<td class="firstRw"></td>
					<td class="firstRw">
						{% for dt in document.getDocumentTypes %}
							{{ dt.getDocName }}{% if not loop.last %}, {% endif %}
						{% endfor %}
					</td>
				</tr>
				{% endif %}
				<tr>
					<td>{%trans%}Document Status{%endtrans%}:</td>
					<td>
						{% if document.getDocumentStatus == 1 or document.getDocumentStatus == 3 %}{%trans%}Draft/Not Released{%endtrans%}{% endif %}
						{% if document.getDocumentStatus == 3 %}, {% endif %}
						{% if document.getDocumentStatus > 1 %}{%trans%}Released{%endtrans%}{% endif %}
					</td>
				</tr>
				<tr>
					<td>{%trans%}Custom selection criteria{%endtrans%}:</td>
					<td>
						{{ document.getReviewCustomFormula }}
						<span class="elNote">{%trans%}Optional Doctrine DQL where clause for a select from document table. "D" refers to Document; "CU" refers to Creator; "AU" refers to Authors.{%endtrans%}</span>
						<span class="elNote">{%trans%}e.g. "D.Doc_Title = 'my_value' AND (CU.userNameDnAbbreviated = 'DLI Tools/DOCOVA' OR AU.userNameDnAbbreviated = 'DLI Tools/DOCOVA')"{%endtrans%}</span>
					</td>
				</tr>
				<tr>
					<td>{%trans%}Review period{%endtrans%}:</td>
					<td>
						<table id="subContainer" cellpadding="0">
							<tr>
								<td class="firstRw exc" style="width:50%">
									{%trans%}Repeat every{%endtrans%}
									{% if document.getCustomReviewPeriod == false %}
									{{ document.getReviewPeriod }}
									{% else %}
									{% trans %}custom{% endtrans %}
									<div style="padding-top: 5px;" class="customPeriod">
										{{ document.getCustomReviewPeriod }}
										<span class="elNote">{%trans%}Enter the name of a field on the document that will determine the frequency of the review period.{%endtrans%}</span>
									</div>
									{% endif %}
								</td>
								<td class="firstRw">
									{% if document.getReviewPeriodOption == 'D' %}{%trans%}day(s){%endtrans%}
									{% elseif document.getReviewPeriodOption == 'W' %}{%trans%}week(s){%endtrans%}
									{% elseif document.getReviewPeriodOption == 'M' %}{%trans%}month(s){%endtrans%}
									{% elseif document.getReviewPeriodOption == 'Y' %}{%trans%}year(s){%endtrans%}
									{% elseif document.getReviewPeriodOption == 'C' %}{%trans%}custom{% endtrans %}{% endif %}
									{% if document.getReviewPeriodOption == 'C' %}
									<div style="padding-top: 5px;" id="customPrOption">
										{{ document.getCustomReviewPeriodOption }}										
										<span class="elNote">{%trans%}Enter the name of a field on the document that will determine the time scale of the review period.{%endtrans%}
										{%trans%}The field must contain a value that corresponds to the following list{%endtrans%}:</span> 
										<span class="elNote">{%trans%}D = day(s); W = week(s); M = month(s); Y = year(s){%endtrans%}</span> 
									</div>
									{% endif %}
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="firstRw"></td>
					<td>
						{%trans%}Starting from{%endtrans%} 
						{% if document.getReviewDateSelect == 'LastReviewDate' %}{%trans%}last review date{%endtrans%}
						{% elseif document.getReviewDateSelect == 'DateCreated' %}{%trans%}created{%endtrans%}
						{% elseif document.getReviewDateSelect == 'DateModified' %}{%trans%}last modified{%endtrans%}
						{% elseif document.getReviewDateSelect == 'ReleasedDate' %}{%trans%}released{%endtrans%}
						{% elseif document.getReviewDateSelect == 'custom' %}{%trans%}custom{%endtrans%}{% endif %}
					</td>
				</tr>
				{% if document.getReviewDateSelect == 'custom' %}
				<tr id="customReviewDate">
					<td class="firstRw"></td>
					<td class="firstRw">
						<span class="elNote">{%trans%}Enter the name of a field on the document that will determine the starting date of the review period.{%endtrans%}</span>
						{{ defined ? document.getCustomReviewDateSelect }}
					</td>
				</tr>
				{% endif %}
				<tr>
					<td class="firstRw"></td>
					<td>
						<span class="elNote">{%trans%}In case the date field specified above has no value, the process will pick the first non-empty date in the following order{%endtrans%}:</span>
						<ol type="1">
							<li><span class="elNote">{%trans%}last review date{%endtrans%}</span></li>
							<li><span class="elNote">{%trans%}Released Date{%endtrans%}</span></li>
							<li><span class="elNote">{%trans%}Created Date{%endtrans%}</span></li>
						</ol> 
					</td>
				</tr>
				<tr>
					<td class="firstRw"></td>
					<td class="firstRw">
						{{ document.getReviewStartDayOption and document.getReviewStartMonth and document.getReviewStartDay ? 'Reference periods to '|trans : 'Jan 1'|trans }}
						{% for x in 0..11 %}
							{% if (x+1) == document.getReviewStartMonth %}
								{{ cycle(['Jan'|trans, 'Feb'|trans, 'Mar'|trans, 'Apr'|trans, 'May'|trans, 'Jun'|trans, 'Jul'|trans, 'Aug'|trans, 'Sep'|trans, 'Oct'|trans, 'Nov'|trans, 'Dec'|trans], x) }}
							{% endif %}
						{% endfor %} 
						{{ document.getReviewStartDayOption and document.getReviewStartDay ? document.getReviewStartDay : '' }}
					</td>
				</tr>
				<tr>
					<td>{% trans %}Actions{% endtrans %}:</td>
					<td>
						{%trans%}Create and assign a review action item to{%endtrans%}:<br />
						{{ document.getAuthorReview ? 'document author'|trans : '' }}<br />
						{{ document.getAdditionalEditorReview ? 'Additional Editors entered on the document'|trans : '' }}
					</td>
				</tr>
				<tr>
					<td class="firstRw"></td>
					<td class="firstRw">
						{% trans %}and/or{% endtrans %}
						{{ document.getReviewersField }}
						<span class="elNote">({%trans%}field on the document containing names to assign the review action to{%endtrans%})</span>
					</td>
				</tr>
				<tr>
					<td class="firstRw"></td>
					<td class="firstRw">
                        {%trans%}and/or{%endtrans%}:</br>
						{% for rw in document.getReviewers %}
							{{ rw.getUserNameDnAbbreviated }}{% if not loop.last %}, {% endif %}
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td class="firstRw"></td>
					<td class="firstRw">
						{%trans%}Notify the following that a review is now pending{%endtrans%}:<br />
						{{ document.getEnableActivateMsg ? 'Send'|trans : '' }}
						{{ document.getEnableActivateMsg and document.getEnableActivateMsg.getMessageName != 'DEFAULT_REVIEWACTIVATE' ? document.getEnableActivateMsg.getMessageName : 'Default' }}
						{%trans%}message{%endtrans%}
					</td>
				</tr>
				<tr>
					<td class="firstRw"></td>
					<td class="firstRw">
						{% trans %}to{% endtrans %}: 
						{{ document.getActivateNotifyParticipants ? 'document author / all reviewers named above'|trans : '' }}
					</td>
				</tr>
				<tr>
					<td class="firstRw"></td>
					<td class="firstRw">
						{% trans %}and/or{% endtrans %}:<br />
						{{ document.getActivateNotifyField }}
						<span class="elNote"> ({%trans%}field on the document containing names to send the review action to{%endtrans%})</span>
					</td>
				</tr>
				<tr>
					<td class="firstRw"></td>
					<td class="firstRw">
						{%trans%}and/or{%endtrans%}:</br>
						{% if document.getActivateNotifyList.count > 0 %}
							{% for actnl in document.getActivateNotifyList %}
								{{ actnl.getUserNameDnAbbreviated }}{% if not loop.last %}, {% endif %}
							{% endfor %}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>{%trans%}Action options{%endtrans%}:</td>
					<td>
						{%trans with {'%advance%':document.getReviewAdvance } %}Create actions %advance% day(s) ahead of due date.{%endtrans%}
					</td>
				</tr>
				<tr>
					<td class="firstRw"></td>
					<td class="firstRw">
						{%trans with {'%graceperiod%':document.getReviewGracePeriod}%}Skip first review if it falls within %graceperiod% day(s) of document release.{%endtrans%}
					</td>
				</tr>
				<tr>
					<td>{%trans%}Delayed actions{%endtrans%}:</td>
					<td>
						{%trans with {'%delaythreshold%':document.getDelayCompleteThreshold} %}If not completed within: %delaythreshold% day(s) {%endtrans%}&nbsp;
					</td>
				</tr>
				<tr>
					<td class="firstRw"></td>
					<td class="firstRw">
						{{ document.getEnableDelayMsg ? 'Send'|trans : '' }}
						{{ document.getEnableDelayMsg and document.getEnableDelayMsg.getMessageName != 'DEFAULT_DELAY' ? document.getEnableDelayMsg.getMessageName : 'Default'|trans }}
						{%trans%}message{%endtrans%}
					</td>
				</tr>
				<tr>
					<td class="firstRw"></td>
					<td class="firstRw">
						{%trans%}to{%endtrans%}: 
						{{ document.getDelayNotifyParticipants ? 'Reviewers'|trans : '' }}<br />
						{%trans%}and/or{%endtrans%}
						{% if document.getDelayNotifyList.count > 0 %}
							{% for dl in document.getDelayNotifyList %}
								{{ dl.getUserNameDnAbbreviated }}{% if not loop.last %}, {% endif %}
							{% endfor %}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td class="firstRw"></td>
					<td class="firstRw">
						{%trans with{'%delayescl%': document.getDelayEsclThreshold} %}If not completed within further: %delayescl% day(s){%endtrans%}
					</td>
				</tr>
				<tr>
					<td class="firstRw"></td>
					<td class="firstRw">
						{{ document.getEnableDelayEsclMsg ? 'Send'|trans : '' }}
						{{ (document.getEnableDelayEsclMsg and document.getEnableDelayEsclMsg.getMessageName != 'DEFAULT_DELAYESCL') ? document.getEnableDelayEsclMsg.getMessageName : 'Default'|trans }}
						{%trans%}escalation message{%endtrans%}
					</td>
				</tr>
				<tr>
					<td class="firstRw"></td>
					<td class="firstRw">
						{%trans%}to{%endtrans%}: 
						{{ document.getDelayEsclNotifyParticipant ? 'reviewers'|trans : '' }}<br />
						{%trans%}and/or{%endtrans%}
						{% if document.getDelayEsclNotifyList.count > 0 %}
							{% for escl in document.getDelayEsclNotifyList %}
								{{ escl.getUserNameDnAbbreviated }}{% if not loop.last %}, {% endif %}
							{% endfor %}
						{% endif %}
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>