{# Constant array of values for 8 combo boxes #}
{% set sub_list = {"CS1":"Embedded form 1", "CS2":"Embedded form 2", "CS3":"Embedded form 3", "DRTXT":"Docova Text Editor", "RTXT":"Rich Text Editor", "TXT":"Plain Text Editor", "ATT":"Attachments", "RSS":"RSS newsfeed", "MEMO":"Mail header", "WEB":"Web bookmark", "REMAIL":"Related Emails", "RDOC":"Related Documents", "RLINK":"Related Links", "KEY":"Keyword", "COMM":"Comments"} %}
<table cellspacing="0" class="elmContainer">
	<tr>
		<td class="firstRw">{% trans %}Section order{% endtrans %}:</td>
		<td class="firstRw">
			<span class="elNote">{% trans %}Select "None" when re-ordering choices.{% endtrans %}</span>
		</td>
	</tr>
	{% set sectionSelected = false %}
	{% set visibility = false %}
	{% for x in 1..8 %}
	<tr>
		<td class="exc"></td>
		<td>
			{% set sectionSelected = false %}
			{{ x }} - 
			<select id="ContentSection{{ x }}" name="ContentSection{{ x }}" class="text ui-widget-content ui-corner-all sectionCombos">
				<option {{ document is not defined or document.getContentSections[x - 1] == 'N' ? 'selected' : '' }} value="N">{% trans %}None{% endtrans %}</option>
        	{% for key, item in sub_list %}
        		<option {{ document is defined and document.getContentSections[x - 1] == key ? 'selected' : '' }} value="{{ key }}">{{ item }}</option>
        		{% if document is defined and document.getContentSections[x - 1] == key %}
        			{% set sectionSelected = true %}
        			{% set visibility = true %}
        		{% endif %}
        	{% endfor %}
			</select>
		</td>
	</tr>
	{% endfor %}
</table>
<div id="sectionsContainer" class="{{ visibility ? '' : 'hidden' }}">
	<!-- Custom subforms sections for drop down list -->
	{% include 'DocovaBundle:Admin:sfAdminDocumentTypesContentSettingsSections.html.twig' %}	
</div>