<div id="appearance_container">
	<ul>
		<li><a href="#tab1">Paper color and subject options</a></li>
		<li><a href="#tab2">More section options</a></li>
		<li><a href="#tab3">Additional options</a></li>
	</ul>
	<div id="tab1">
		<table class="elmContainer" cellspacing="0">
			<tr>
				<td class="firstRw">{% trans %}Paper color{% endtrans %}:</td>
				<td class="firstRw">
			        #{{ document.getPaperColor }}
					<span id="CBPaperColor" class="colorCode" style="background-color:#{{ document.getPaperColor }}"></span>
				</td>
			</tr>
			<tr>
				<td>{% trans %}Subject default label text{% endtrans %}:</td>
				<td>
					{{ document.getSubjectLabel|trans }}
					<span class="elNote">{% trans %}Defaults to "Subject/Title".{% endtrans %}</span>
				</td>
			</tr>
			<tr>
				<td>{% trans %}Subject default value{% endtrans %}:</td>
				<td>
            		{{ document.getCustomSubjectFormula|nl2br }}
					<span class="elNote">{% trans %}String value or PHP script enclosed in "<span class="red">&lt;? ?&gt;</span>" that returns a text string; available objects are $docova and $user.<br>e.g. <span class="red">&lt;?</span> <span class="purple">return</span> $docova->isNew() ? <span class="blue">'Enter Subject'</span> : <span class="blue">''</span>; <span class="red">?&gt;</span>{% endtrans %}</span>
				</td>
			</tr>
			<tr>
				<td>{% trans %}Subject input translation{% endtrans %}:</td>
				<td>
					{{ document.getTranslateSubjectTo|nl2br }}
					<span class="elNote">{% trans %}String value or PHP script enclosed in "<span class="red">&lt;? ?&gt;</span>" that returns a text string; available objects are $docova and $user.<br>e.g. <span class="red">&lt;?</span> <span class="purple">return</span> $docova->isNew() ? <span class="blue">'Enter Subject'</span> : <span class="blue">''</span>; <span class="red">?&gt;</span>{% endtrans %}</span>
				</td>
			</tr>
		</table>
	</div>
	<div id="tab2">
		<table class="elmContainer" cellspacing="0">
			<tr>
				<td class="firstRw">{% trans %}Subject and Status fields{% endtrans %}:</td>
				<td class="firstRw">{{ document.getHideSubject ? 'Display Subject and Status in "More" section'|trans : '' }}</td>
			</tr>
			<tr>
				<td>{% trans %}'More' section label{% endtrans %}:</td>
				<td>
            		{{ document.getMoreSectionLabel }}
					<span class="elNote">{% trans %}Defaults to 'More'{% endtrans %}</span>
				</td>
			</tr>
			<tr>
				<td>{% trans %}Hide entire document header when{% endtrans %}:</td>
				<td>
					<label>{{ document.getHideOnReading ? 'Reading'|trans : '' }}</label> 
					<label>{{ document.getHideOnEditing ? 'Editing'|trans : '' }}</label> 
					<label>{{ document.getHideOnCustom  ? 'Custom'|trans : '' }}</label>
				</td>
			</tr>
			{% if document.getHideOnCustom %}
			<tr>
				<td>{% trans %}Custom hide when PHP script{% endtrans %}:</td>
				<td>
					{{ document.getCustomHeaderHideWhen|nl2br }}
					<span class="elNote">{% trans %}PHP script enclosed in "<span class="red">&lt;? ?&gt;</span>" that returns a boolean value [true (hide) or false (show)]; available objects are $docova and $user.{% endtrans %}
              		{% trans %}e.g.{% endtrans %} <span class="red">&lt;?</span> <span class="purple">return</span> $docova->isNew() ? <span class="purple">true</span> : <span class="purple">false</span>; <span class="red">?&gt;</span></span>
				</td>
			</tr>
			{% endif %}
			<tr>
				<td colspan="2">
					<span class="elNote">{% trans %}In all cases, PHP script enclosed in "<span class="red">&lt;? ?&gt;</span>" that returns true (allowed) or false (not allowed). Default is true. Available objects are $docova and $user.{% endtrans %}<br />
					{% trans %}e.g.{% endtrans %} <span class="red">&lt;?</span> <span class="purple">return</span> $docova->isNew() ? <span class="purple">true</span> : <span class="purple">false</span>; <span class="red">?&gt;</span></span>
				</td>
			</tr>
			<tr>
				<td class="hdr" colspan="2">{% trans %}Document Details Tab{% endtrans %}</td>
			</tr>
			<tr>
				<td class="firstRw">{% trans %}Change document author{% endtrans %}:</td>
				<td class="firstRw exc">{{ document.getCustomChangeDocAuthor }}</td>
			</tr>
			<tr>
				<td>{% trans %}Show Details Description{% endtrans %}:</td>
				<td>{{ document.getCustomHideDescription }}</td>
			</tr>
			<tr>
				<td>{% trans %}Keywords{% endtrans %}:</td>
				<td>{{ document.getCustomHideKeywords }}</td>
			</tr>
			<tr>
				<td>{% trans %}Review Cycle{% endtrans %}:</td>
				<td>{{ document.getCustomHideReviewCycle }}</td>
			</tr>
			<tr>
				<td>{% trans %}Archiving{% endtrans %}:</td>
				<td>{{ document.getCustomHideArchiving }}</td>
			</tr>
			<tr>
				<td class="hdr" colspan="2">{% trans %}Read/Edit Access Tab{% endtrans %}</td>
			</tr>
			<tr>
				<td class="firstRw">{% trans %}Change Owner{% endtrans %}:</td>
				<td class="firstRw">{{ document.getCustomChangeOwner }}</td>
			</tr>
			<tr>
				<td>{% trans %}Change Additional Editors{% endtrans %}:</td>
				<td>{{ document.getCustomChangeAddEditors }}</td>
			</tr>
			<tr>
				<td>{% trans %}Change Restrict read access to{% endtrans %}:</td>
				<td>{{ document.getCustomChangeReadAccess }}</td>
			</tr>
		</table>
	</div>
	<div id="tab3">
		<table class="elmContainer" cellspacing="0">
			<tr>
				<td class="firstRw">{% trans %}Top Banner{% endtrans %}:</td>
				<td class="firstRw">{{ document.getTopBanner }}</td>
			</tr>
			<tr>
				<td>{% trans %}Bottom Banner{% endtrans %}:</td>
				<td>{{ document.getBottomBanner }}</td>
			</tr>
			<tr>
				<td>{% trans %}Section style{% endtrans %}:</td>
				<td>{{ document.getSectionStyle ? 'Default style'|trans : 'Plain'|trans }}</td>
			</tr>
			{% if document.getSectionStyle %}
			<tr>
				<td>{% trans %}Section label{% endtrans %}:</td>
				<td>{{ document.getSectionLabel }}</td>
			</tr>
			{% endif %}
			<tr>
				<td>{% trans %}Background color{% endtrans %}:</td>
				<td>
					#{{ document.getBackgroundColor }}
					<span class="colorCode" style="background-color:#{{ document.getBackgroundColor }}"></span>
				</td>
			</tr>
			<tr>
				<td>{% trans %}Additional style CSS text{% endtrans %}:</td>
				<td>
					{{ document.getAdditionalCss|nl2br }}
					<span class="elNote">{% trans %}Do not add "background-color" attribute.{% endtrans %}</span>
				</td>
			</tr>
		</table>
	</div>
</div>