	<ul>
		<li id="hstab1" class="{{ document is defined and ('CS1' in document.getContentSections or 'CS2' in document.getContentSections or 'CS3' in document.getContentSections) ? '' : 'hidden' }}"><a href="#stab1">{% trans %}Custom Subforms{% endtrans %}</a></li>
		<li id="hstab2" class="{{ document is defined and ('TXT' in document.getContentSections or 'RTXT' in document.getContentSections or 'DRTXT' in document.getContentSections) ? '' : 'hidden' }}"><a href="#stab2">{% trans %}Textarea{% endtrans %}</a></li>
		<li id="hstab3" class="{{ document is defined and 'ATT' in document.getContentSections ? '' : 'hidden' }}"><a href="#stab3">{% trans %}Attachments{% endtrans %}</a></li>
		<li id="hstab4" class="{{ document is defined and 'COMM' in document.getContentSections ? '' : 'hidden' }}"><a href="#stab4">{% trans %}Comments{% endtrans %}</a></li>
		<li id="hstab5" class="{{ document is defined and 'RDOC' in document.getContentSections ? '' : 'hidden' }}"><a href="#stab5">{% trans %}Related Documents{% endtrans %}</a></li>
		<li id="hstab6" class="{{ document is defined and ('REMAIL' in document.getContentSections or 'RLINK' in document.getContentSections) ? '' : 'hidden' }}"><a href="#stab6">{% trans %}Related Email &amp; Links{% endtrans %}</a></li>
		<li id="hstab7" class="{{ document is defined and 'WEB' in document.getContentSections ? '' : 'hidden' }}"><a href="#stab7">{% trans %}Web Bookmarks{% endtrans %}</a></li>
	</ul>
	<div id="stab1" class="{{ document is defined and ('CS1' in document.getContentSections or 'CS2' in document.getContentSections or 'CS3' in document.getContentSections) ? '' : 'hidden' }}">
		<table cellspacing="0" class="elmContainer">
	 	{% set section_properties = '' %}
	 	{% if document is defined and 'CS1' in document.getContentSections %}
	 		{% for subform in document.getDocTypeSubform %}
	 			{% if subform.getPropertiesXML(true)['CS1'] is defined %}
	 				{% set section_properties = subform.getPropertiesXML(true) %}
	 			{% endif %}
	 		{% endfor %}
	 	{% endif %}
			<tr class="CS1{{ document is defined and 'CS1' in document.getContentSections ? '' : ' hidden' }}">
				<td colspan="2" class="hdr">{% trans %}Embedded Form 1{% endtrans %}</td>
			</tr>
			<tr class="CS1{{ document is defined and 'CS1' in document.getContentSections ? '' : ' hidden' }}">
				<td class="firstRw exc">{% trans %}Form{% endtrans %}: </td>
				<td class="firstRw exc">
					<select name="cbCustomSubform1" class="text ui-widget-content ui-corner-all customsubforms">
						<option value="" {% if document is not defined %}selected{% endif %}>{% trans %}None{% endtrans %}</option>
	                {% set found = false %}
	                {% if custom_subforms is defined %}
	                	{% for sf in custom_subforms %}
		                	{% set selected = '' %}
	    	            	{% if section_properties|length > 0 %}
	        	        		{% if section_properties['CS1'] == sf.getFormFileName %}
	            	    			{% set selected = 'selected' %}
	            	    			{% set found = true %}
	                			{% endif %}
	                		{% endif %}
	                		<option {{ selected }} value="{{ sf.getFormFileName }}">{{ sf.getFormName }}</option>
	                	{% endfor %}
	                {% endif %}
						<option value="NIL" {% if document is defined and found == false and section_properties['CS1'] is defined %}selected{% endif %}>{% trans %}Not in List{% endtrans %}</option>
					</select>
				</td>
			</tr>
			<tr class="CS1{{ document is defined and 'CS1' in document.getContentSections ? '' : ' hidden' }}">
				<td class="firstRw exc">{% trans %}Form Name{% endtrans %}: </td>
				<td class="firstRw exc"><input type="text" id="CustomSubform1" name="CustomSubform1" value="{{ section_properties|length > 0 ? section_properties['CS1'] : '' }}" class="text ui-widget-content ui-corner-all" /></td>
			</tr>
			<tr class="CS1{{ document is defined and 'CS1' in document.getContentSections ? '' : ' hidden' }}">
				<td class="firstRw exc"></td>
				<td class="firstRw exc">
					<label><input type="checkbox" name="HideSubform1" value="1" {{ section_properties|length > 0 and section_properties['DisplayInMore'] == 1 ? 'checked' : '' }} class="hideShow" show="cs1ShowInMore"/> {% trans %}Display Embedded Form 1 in "More" section{% endtrans %}</label>
				</td>
			</tr>
			<tr class="CS1 cs1ShowInMore{{ section_properties|length > 0 and section_properties['DisplayInMore'] == 1 ? '' : ' hidden' }}">
              	<td class="firstRw exc">{% trans %}Tab Name{% endtrans %}:</td> 
              	<td class="firstRw exc">
              		<input type="text" name="SubForm1TabName" value="{{ section_properties|length > 0 ? section_properties['SubFormTabName'] : '' }}" class="text ui-widget-content ui-corner-all" /> 
					<span class="elNote">{% trans %}Select a built-in embedded form or type the name of your custom embedded form.{% endtrans %}</span>
				</td>
			</tr>
			{% set section_properties = '' %}
			{% if document is defined and 'CS2' in document.getContentSections %}
				{% for subform in document.getDocTypeSubform %}
					{% if subform.getPropertiesXML(true)['CS2'] is defined %}
						{% set section_properties = subform.getPropertiesXML(true) %}
					{% endif %}
				{% endfor %}
			{% endif %}
			<tr class="CS2{{ document is defined and 'CS2' in document.getContentSections ? '' : ' hidden' }}">
				<td colspan="2" class="hdr">{% trans %}Embedded Form 2{% endtrans %}</td>
			</tr>
			<tr class="CS2{{ document is defined and 'CS2' in document.getContentSections ? '' : ' hidden' }}">
				<td class="firstRw exc">{% trans %}Form{% endtrans %}: </td>
				<td class="firstRw exc">
					<select name="cbCustomSubform2" class="text ui-widget-content ui-corner-all customsubforms">
						<option value="" {% if document is not defined %}selected{% endif %}>{% trans %}None{% endtrans %}</option>
	                {% set found = false %}
	                {% if custom_subforms is defined %}
	                	{% for sf in custom_subforms %}
		                	{% set selected = '' %}
	    	            	{% if section_properties|length > 0 %}
	        	        		{% if section_properties['CS2'] == sf.getFormFileName %}
	            	    			{% set selected = 'selected' %}
	            	    			{% set found = true %}
	                			{% endif %}
	                		{% endif %}
	                		<option {{ selected }} value="{{ sf.getFormFileName }}">{{ sf.getFormName }}</option>
	                	{% endfor %}
	                {% endif %}
						<option value="NIL" {% if document is defined and found == false and section_properties['CS2'] is defined %}selected{% endif %}>{% trans %}Not in List{% endtrans %}</option>
					</select>
				</td>
			</tr>
			<tr class="CS2{{ document is defined and 'CS2' in document.getContentSections ? '' : ' hidden' }}">
				<td class="firstRw exc">{% trans %}Form Name{% endtrans %}: </td>
				<td class="firstRw exc"><input type="text" id="CustomSubform2" name="CustomSubform2" value="{{ section_properties|length > 0 ? section_properties['CS2'] : '' }}" class="text ui-widget-content ui-corner-all" /></td>
			</tr>
			<tr class="CS2{{ document is defined and 'CS2' in document.getContentSections ? '' : ' hidden' }}">
				<td class="firstRw exc"></td>
				<td class="firstRw exc">
					<label><input type="checkbox" name="HideSubform2" value="1" {{ section_properties|length > 0 and section_properties['DisplayInMore'] == 1 ? 'checked' : '' }} class="hideShow" show="cs2ShowInMore"/> {% trans %}Display Embedded Form 2 in "More" section{% endtrans %}</label>
				</td>
			</tr>
			<tr class="CS2 cs2ShowInMore{{ section_properties|length > 0 and section_properties['DisplayInMore'] == 1 ? '' : ' hidden' }}">
              	<td class="firstRw exc">{% trans %}Tab Name{% endtrans %}:</td> 
              	<td class="firstRw exc">
              		<input type="text" name="SubForm2TabName" value="{{ section_properties|length > 0 ? section_properties['SubFormTabName'] : '' }}" class="text ui-widget-content ui-corner-all" /> 
					<span class="elNote">{% trans %}Select a built-in embedded form or type the name of your custom embedded form.{% endtrans %}</span>
				</td>
			</tr>
			{% set section_properties = '' %}
			{% if document is defined and 'CS3' in document.getContentSections %}
				{% for subform in document.getDocTypeSubform %}
					{% if subform.getPropertiesXML(true)['CS3'] is defined %}
						{% set section_properties = subform.getPropertiesXML(true) %}
					{% endif %}
				{% endfor %}
			{% endif %}
			<tr class="CS3{{ document is defined and 'CS3' in document.getContentSections ? '' : ' hidden' }}">
				<td colspan="2" class="hdr">{% trans %}Embedded Form 3{% endtrans %}</td>
			</tr>
			<tr class="CS3{{ document is defined and 'CS3' in document.getContentSections ? '' : ' hidden' }}">
				<td class="firstRw exc">{% trans %}Form{% endtrans %}: </td>
				<td class="firstRw exc">
					<select name="cbCustomSubform3" class="text ui-widget-content ui-corner-all customsubforms">
						<option value="" {% if document is not defined %}selected{% endif %}>{% trans %}None{% endtrans %}</option>
	                {% set found = false %}
	                {% if custom_subforms is defined %}
	                	{% for sf in custom_subforms %}
		                	{% set selected = '' %}
	    	            	{% if section_properties|length > 0 %}
	        	        		{% if section_properties['CS3'] == sf.getFormFileName %}
	            	    			{% set selected = 'selected' %}
	            	    			{% set found = true %}
	                			{% endif %}
	                		{% endif %}
	                		<option {{ selected }} value="{{ sf.getFormFileName }}">{{ sf.getFormName }}</option>
	                	{% endfor %}
	                {% endif %}
						<option value="NIL" {% if document is defined and found == false and section_properties['CS3'] is defined %}selected{% endif %}>{% trans %}Not in List{% endtrans %}</option>
					</select>
				</td>
			</tr>
			<tr class="CS3{{ document is defined and 'CS3' in document.getContentSections ? '' : ' hidden' }}">
				<td class="firstRw exc">{% trans %}Form Name{% endtrans %}: </td>
				<td class="firstRw exc"><input type="text" id="CustomSubform3" name="CustomSubform3" value="{{ section_properties|length > 0 ? section_properties['CS3'] : '' }}" class="text ui-widget-content ui-corner-all" /></td>
			</tr>
			<tr class="CS3{{ document is defined and 'CS3' in document.getContentSections ? '' : ' hidden' }}">
				<td class="firstRw exc"></td>
				<td class="firstRw exc">
					<label><input type="checkbox" name="HideSubform3" value="1" {{ section_properties|length > 0 and section_properties['DisplayInMore'] == 1 ? 'checked' : '' }} class="hideShow" show="cs3ShowInMore"/> {% trans %}Display Embedded Form 3 in "More" section{% endtrans %}</label>
				</td>
			</tr>
			<tr class="CS3 cs3ShowInMore{{ section_properties|length > 0 and section_properties['DisplayInMore'] == 1 ? '' : ' hidden' }}">
              	<td class="firstRw exc">{% trans %}Tab Name{% endtrans %}:</td> 
              	<td class="firstRw exc">
              		<input type="text" name="SubForm3TabName" value="{{ section_properties|length > 0 ? section_properties['SubFormTabName'] : '' }}" class="text ui-widget-content ui-corner-all" /> 
					<span class="elNote">{% trans %}Select a built-in embedded form or type the name of your custom embedded form.{% endtrans %}</span>
				</td>
			</tr>
		</table>
	</div>
	<div id="stab2" class="{{ document is defined and ('TXT' in document.getContentSections or 'RTXT' in document.getContentSections or 'DRTXT' in document.getContentSections) ? '' : 'hidden' }}">
		{# ------------------------------- TextArea Tab ------------------------------------- #}
		{% include 'DocovaBundle:Admin:propertiesSection-TextAreas.html.twig' %}
	</div>
	<div id="stab3" class="{{ document is defined and 'ATT' in document.getContentSections ? '' : 'hidden' }}">
		{# ------------------------------- Attachments Tab ------------------------------------- #}
		{% include 'DocovaBundle:Admin:propertiesSection-Attachments.html.twig' %}	
	</div>
	<div id="stab4" class="{{ document is defined and 'COMM' in document.getContentSections ? '' : 'hidden' }}">
		{# ------------------------------- Comments Tab ------------------------------------- #}
		{% include 'DocovaBundle:Admin:propertiesSection-Comments.html.twig' %}
	</div>
	<div id="stab5" class="{{ document is defined and 'RDOC' in document.getContentSections ? '' : 'hidden' }}">
		{# ---------------------------- Related Documents Tab -------------------------------- #}
		{% include 'DocovaBundle:Admin:propertiesSection-RelatedDocuments.html.twig' %}
	</div>
	<div id="stab6" class="{{ document is defined and ('REMAIL' in document.getContentSections or 'RLINK' in document.getContentSections) ? '' : 'hidden' }}">
		{# ---------------------------- Related Email & Links Tab ------------------------------- #}
		{% include 'DocovaBundle:Admin:propertiesSection-RelatedEmailsLinks.html.twig' %}
	</div>
	<div id="stab7" class="{{ document is defined and 'WEB' in document.getContentSections ? '' : 'hidden' }}">
		{# ------------------------------- Web Bookmark Tab ------------------------------------- #}
		{% include 'DocovaBundle:Admin:propertiesSection-WebBookmark.html.twig' %}
	</div>
