	<table class="elmContainer" cellspacing="0">
		<tr>
			<td class="firstRw exc" colspan="2">
				<label><input type="checkbox" name="EnableLifecycle" value="1" {{ document is not defined or document.getEnableLifeCycle ? 'checked' : '' }} class="hideShow" show="lifecycle" /> {% trans %}Enable document lifecycle{% endtrans %}</label>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="hdr">{% trans %}Document Status{% endtrans %}:</td>
		</tr>
		<tr class="lifecycle{{ document is not defined or document.getEnableLifeCycle ? '' : ' hidden' }}">
			<td class="firstRw exc">{% trans %}Draft{% endtrans %}: </td>
			<td class="firstRw exc">
				<input type="text" name="InitialStatus" value="{{ document is defined and document.getInitialStatus ? document.getInitialStatus : 'Draft' }}" class="text ui-widget-content ui-corner-all"/> 
				<span class="elNote">({% trans %}Newly created documents.{% endtrans %})</span>
			</td>
		</tr>
		<tr>
			<td class="firstRw exc">{% trans %}Released{% endtrans %}: </td>
			<td class="firstRw exc">
				<input type="text" name="FinalStatus" value="{{ document is defined and document.getFinalStatus ? document.getFinalStatus : 'Released' }}" class="text ui-widget-content ui-corner-all" />
				<span class="elNote">({% trans %}Published documents.{% endtrans %})</span>
			</td>
		</tr>
		<tr class="lifecycle{{ document is not defined or document.getEnableLifeCycle ? '' : ' hidden' }}">
			<td class="firstRw exc">{% trans %}Superseded{% endtrans %}: </td>
			<td class="firstRw exc">
				<input type="text" name="SupersededStatus" value="{{ document is defined and document.getSupersededStatus ? document.SupersededStatus : 'Inactive' }}" class="text ui-widget-content ui-corner-all" /> 
				<span class="elNote">({% trans %}Previously published, replaced by another version.{% endtrans %})</span>
			</td>
		</tr>
		<tr class="lifecycle{{ document is not defined or document.getEnableLifeCycle ? '' : ' hidden' }}">
			<td class="firstRw exc">{% trans %}Discarded{% endtrans %}: </td>
			<td class="firstRw exc">
				<input type="text" name="DiscardedStatus" value="{{dcoument is defined and document.DiscardedStatus ? document.DiscardedStatus : 'Discarded' }}" class="text ui-widget-content ui-corner-all" /> 
				<span class="elNote">({% trans %}Discarded drafts that are kept in library.{% endtrans %})</span>
			</td>
		</tr>
		<tr>
			<td class="firstRw exc">{% trans %}Archived{% endtrans %}: </td>
			<td class="firstRw exc">
				<input type="text" name="ArchivedStatus" value="{{ document is defined and document.getArchivedStatus ? document.ArchivedStatus : 'Archived' }}" class="text ui-widget-content ui-corner-all" /> 
				<span class="elNote">({% trans %}Archived documents log status.{% endtrans %})</span>
			</td>
		</tr>
		<tr>
			<td class="firstRw exc">{% trans %}Deleted{% endtrans %}: </td>
			<td class="firstRw exc">
				<input type="text" name="DeletedStatus" value="{{ document is defined and document.getDeletedStatus ? document.getDeletedStatus : 'Deleted' }}" class="text ui-widget-content ui-corner-all" /> 
				<span class="elNote">({% trans %}Delete from archive log status.{% endtrans %})</span>
			</td>
		</tr>

		<!--  versionin section  -->
		<tr class="lifecycle{{ document is not defined or document.getEnableLifeCycle ? '' : ' hidden' }}">
			<td colspan="2" class="hdr">{% trans %}Versioning{% endtrans %}:</td>
		</tr>
		<tr class="lifecycle{{ document is not defined or document.getEnableLifeCycle ? '' : ' hidden' }}">
			<td class="firstRw exc">
				<label><input type="checkbox" name="EnableVersions" id="EnableVersions" value="1" {{ document is defined and document.getEnableVersions ? 'checked' : '' }} class="hideShow" show="EnableVersions" /> {% trans %}Enable document versioning{% endtrans %}</label>
			</td>
			<td class="firstRw">
				<label><input type="checkbox" name="RestrictLiveDrafts" id="RestrictLiveDrafts" value="1" {{ document is defined and document.getEnableVersions and document.getRestrictLiveDrafts ? 'checked' : '' }} {{ document is defined and document.getEnableVersions ? '' : 'disabled' }} /> {% trans %}RestrictLive Drafts{% endtrans %}</label>
				<span class="elNote">({% trans %}Only allow 1 live Draft at a time in non-Strict mode{% endtrans %})</span>
			</td>
		</tr>
		<tr class="lifecycle EnableVersions{{ document is defined and document.getEnableLifeCycle and document.getEnableVersions ? '' : ' hidden' }}">
			<td class="exc">{% trans %}Versioning options{% endtrans %}:</td>
			<td class="exc">
                <label><input type="checkbox" name="StrictVersioning" id="StrictVersioning" value="1" {{ document is defined and document.getStrictVersioning ? 'checked': '' }} /> {% trans %}StrictVersioning{% endtrans %}</label>
                <span class="elNote">{% trans %}Maintain only one live Draft at a time. Drafts can originate from Released documents or other Draft documents.{% endtrans %}</span>
				<span class="elNote">{% trans %}Previous Drafts become "Discarded". Release numbers are always the next Major version number.{% endtrans %}</elNote>
			</td>
		</tr>
		<tr class="lifecycle EnableVersions{{ document is defined and document.getEnableLifeCycle and document.getEnableVersions ? '' : ' hidden' }}">
			<td class="firstRw"></td>
			<td class="firstRw">
				<label><input type="checkbox" name="AllowRetract" class="restricted" value="1" {{ document is defined and document.getAllowRetract ? 'checked': '' }} {{ document is defined and document.getStrictVersioning ? '' : 'disabled="disabled"' }}/> {% trans %}AllowRetract{% endtrans %}</label>
                <span class="elNote">{% trans %}Allow retractions of Released documents under Strict Version control.{% endtrans %}</span>
			</td>
		</tr>
		<tr class="lifecycle EnableVersions{{ document is defined and document.getEnableLifeCycle and document.getEnableVersions ? '' : ' hidden' }}">
			<td class="firstRw"></td>
			<td class="firstRw">
				<label><input type="checkbox" name="RestrictDrafts" class="restricted" value="1" {{ document is defined and document.getRestrictDrafts ? 'checked': '' }} {{ document is defined and document.getStrictVersioning ? '' : 'disabled="disabled"' }} /> {% trans %}RestrictDrafts{% endtrans %}</label>
                <span class="elNote">{% trans %}New Drafts can only originate from Released documents.{% endtrans %}</span>
			</td>
		</tr>
		<tr class="lifecycle EnableVersions{{ document is defined and document.getEnableLifeCycle and document.getEnableVersions ? '' : ' hidden' }}">
			<td class="firstRw"></td>
			<td class="firstRw">
				<label><input type="checkbox" name="UpdateBookmarks" value="1" {{ document is defined and document.getUpdateBookmarks ? 'checked': '' }} /> {% trans %}Update Bookmarks to Latest Version{% endtrans %}</label>
				<span class="elNote">{% trans %}Bookmark documents will be updated to the latest released version of a document.{% endtrans %}</span>
			</td>
		</tr>
		
		<!--  Workflow Section  -->
		<tr class="lifecycle{{ document is not defined or document.getEnableLifeCycle ? '' : ' hidden' }}">
			<td colspan="2" class="hdr">{% trans %}Workflow{% endtrans %}:</td>
		</tr>
		<tr class="lifecycle{{ document is not defined or document.getEnableLifeCycle ? '' : ' hidden' }}">
			<td class="firstRw exc" colspan="2">
				<label><input type="checkbox" name="ShowHeaders" id="ShowHeaders" value="1" {{ document is defined and document.getEnableLifeCycle and document.getEnableWorkflow ? 'checked' : '' }} class="hideShow" show="ShowHeaders" hide="releaseBtn"/> {% trans %}Enable document workflow{% endtrans %}</label>
			</td>
		</tr>
		<tr class="lifecycle ShowHeaders{{ document is defined and document.getEnableLifeCycle and document.getEnableWorkflow ? '' : ' hidden' }}">
            <td class="exc">{% trans %}Applicable workflows{% endtrans %}:</td>
            <td>
			<!-- workflow list  -->
	  		{% if workflow_Types|length > 0 %}
				{% for wfType in  workflow_Types %}
				<label><input name="WorkflowList[]" type="checkbox" value="{{ wfType.getId }}" 
						{% if document  is defined and document.getDocTypeWorkflow.count > 0 %}
							{% for selWfType in document.getDocTypeWorkflow %}
								{% if selWfType.id == wfType.getId %}
									checked 
								{% endif %}
							{% endfor %}
						{% endif %}
				/> {{ wfType.getWorkflowName }} {{ wfType.getUseDefaultDoc ? ('['~'default'|trans~']') : '' }}</label></br>
				{% endfor %}
				<span class="elNote">{% trans %}Default workflows will apply if none selected{% endtrans %}</span>
			{% endif %}
			</td>
		</tr>
		<tr class="lifecycle ShowHeaders{{ document is defined and document.getEnableLifeCycle and document.getEnableWorkflow ? '' : ' hidden' }}">
			<td class="firstRw"></td>
			<td class="firstRw">
				<label><input type="checkbox" name="HideWorkflow" value="1" {{ document is defined and document.getHideWorkflow ? 'checked' : '' }} /> {% trans %}Display workflow actions list in "More" section{% endtrans %}</label>
			</td>
		</tr>
		<tr class="lifecycle ShowHeaders{{ document is defined and document.getEnableLifeCycle and document.getEnableWorkflow ? '' : ' hidden' }}">
			<td class="firstRw"></td>
			<td class="firstRw">
				<label><input type="checkbox" name="DisableDeleteInWorkflow" value="1" {{ document is defined and document.getDisableDeleteInWorkflow ? 'checked' : '' }}/> {% trans %}Document cannot be deleted once workflow starts{% endtrans %}</label>
			</td>
		</tr>
		<tr class="lifecycle ShowHeaders{{ document is defined and document.getEnableLifeCycle and document.getEnableWorkflow ? '' : ' hidden' }}">
			<td class="exc">{% trans %}Start Workflow button{% endtrans %}:</td>
			<td>
				{% trans %}Custom button label{% endtrans %}:<br />
				<textarea name="wfCustomStartButtonLabel" class="text ui-widget-content ui-corner-all">{{ document is defined ? document.getCustomStartButtonLabel : '' }}</textarea>
				<span class="elNote">{% trans %}String value or PHP script enclosed in "<span class="red">&lt;? ?&gt;</span>" that returns a string. "Start Workflow" will be used if left blank. Available objects are $docova and $user.<br>e.g. <span class="red">&lt;?</span> <span class="purple">return</span> $docova->isNew() ? <span class="blue">'Enter Subject'</span> : <span class="blue">''</span>; <span class="red">?&gt;</span>{% endtrans %}</span>
			</td>
		</tr>
		<tr class="lifecycle ShowHeaders{{ document is defined and document.getEnableLifeCycle and document.getEnableWorkflow ? '' : ' hidden' }}">
			<td class="firstRw exc">{% trans %}Custom JS function on Start Workflow button click{% endtrans %}:</td>
			<td class="firstRw">
				<textarea name="wfCustomJSWFStart" class="text ui-widget-content ui-corner-all">{{ document is defined ? document.getCustomJSWFStart : '' }}</textarea>
			</td>
		</tr>
		<tr class="lifecycle ShowHeaders{{ document is defined and document.getEnableLifeCycle and document.getEnableWorkflow ? '' : ' hidden' }}">
			<td class="exc">{% trans %}Complete Review button{% endtrans %}:</td>
            <td>
            	{% trans %}Custom JS function on button click{% endtrans %}:<br />
				<textarea name="wfCustomJSWFComplete" class="text ui-widget-content ui-corner-all">{{ document is defined ? document.getCustomJSWFComplete : '' }}</textarea>
			</td>
		</tr>
		<tr class="lifecycle ShowHeaders{{ document is defined and document.getEnableLifeCycle and document.getEnableWorkflow ? '' : ' hidden' }}">
			<td class="exc">{% trans %}Approve button{% endtrans %}:</td>
			<td>
				{% trans %}Custom JS function on button click{% endtrans %}:<br />
				<textarea name="wfCustomJSWFApprove" class="text ui-widget-content ui-corner-all">{{ document is defined ? document.getCustomJSWFApprove : '' }}</textarea>
			</td>
		</tr>
		<tr class="lifecycle ShowHeaders{{ document is defined and document.getEnableLifeCycle and document.getEnableWorkflow ? '' : ' hidden' }}">
			<td class="exc">{% trans %}Deny button{% endtrans %}:</td>
            <td>
            	{% trans %}Custom JS function on button click{% endtrans %}:<br />
				<textarea name="wfCustomJSWFDeny" class="text ui-widget-content ui-corner-all">{{ document is defined ? document.getCustomJSWFDeny : '' }}</textarea>
			</td>
		</tr>
		<tr class="lifecycle releaseBtn{{ document is defined and document.getEnableLifeCycle and document.getEnableWorkflow ? ' hidden' : '' }}">
			<td class="exc">{% trans %}Release Document button{% endtrans %}:</td>
			<td>
				{% trans %}Custom button label{% endtrans %}:<br />
				<textarea name="wfCustomReleaseButtonLabel" class="text ui-widget-content ui-corner-all">{{ document is defined ? document.getCustomReleaseButtonLabel : '' }}</textarea>
				<span class="elNote">{% trans %}String value or PHP script enclosed in "<span class="red">&lt;? ?&gt;</span>" that returns a string. "Release Document" will be used if left blank. Available objects are $docova and $user.<br>e.g. <span class="red">&lt;?</span> <span class="purple">return</span> $docova->isNew() ? <span class="blue">'Enter Subject'</span> : <span class="blue">''</span>; <span class="red">?&gt;</span>{% endtrans %}</span>
			</td>
		</tr>
		<tr>
			<td class="exc">{% trans %}Button visibility{% endtrans %}:</td>
			<td>
				{% trans %}Hide when{% endtrans %}: 
				<label><input type="checkbox" name="wfHideButtons[]" value="R" {{ document is defined and 'R' in (document.getHideButtons|split(',')) ? 'checked':'' }} /> {% trans %}Reading{% endtrans %}</label>
				<label><input type="checkbox" name="wfHideButtons[]" value="E" {{ document is defined and 'E' in (document.getHideButtons|split(',')) ? 'checked':'' }}	/> {% trans %}Editing{% endtrans %}</label>
				<label><input type="checkbox" name="wfHideButtons[]" value="C" {{ document is defined and 'C' in (document.getHideButtons|split(',')) ? 'checked':'' }} class="hideShow" show="customHide" /> {% trans %}Custom{% endtrans %}</label>
				<div class="customHide{{ document is defined and document.getEnableLifeCycle and 'C' in (document.getHideButtons|split(',')) ? '' : ' hidden' }}">
					{% trans %}Custom hide when PHP script{% endtrans %}:<br />
					<textarea name="wfCustomButtonsHideWhen" class="text ui-widget-content ui-corner-all">{{ document is defined and document.getEnableLifeCycle and 'C' in (document.getHideButtons|split(',')) ? document.getCustomButtonsHideWhen : '' }}</textarea>
					<span class="elNote">{% trans %}PHP script enclosed in "<span class="red">&lt;? ?&gt;</span>" that returns a true (hide) or false (show). Available objects are $docova and $user.{% endtrans %}
					{% trans %}e.g.{% endtrans %} <span class="red">&lt;?</span> <span class="purple">return</span> $docova->isNew() ? <span class="purple">true</span> : <span class="purple">false</span>; <span class="red">?&gt;</span></span>
            	</div>
			</td>       
        </tr>
		<tr>
			<td class="exc">{% trans %}Applicable Review Policies{% endtrans %}:</td>
			<td>
			{% if review_policies|length > 0 %}
				{% for rp in review_policies %}
					{{ rp.getPolicyName }}
					{% if not loop.last %},{% endif %}
				{% endfor %}
			{% endif %}
			</td>
		</tr>
		<tr>
			<td class="exc">{% trans %}Review button label{% endtrans %}:</td>
			<td><input type="text" name="wfCustomReviewButtonLabel" value="{{ document is defined ? document.getCustomReviewButtonLabel : '' }}" class="text ui-widget-content ui-corner-all" /></td>
		</tr>
	</table>