	<ul>
		{% if 'CS1' in document.getContentSections or 'CS2' in document.getContentSections or 'CS3' in document.getContentSections %}<li id="hstab1"><a href="#stab1">{% trans %}Custom Subforms{% endtrans %}</a></li>{% endif %}
		{% if 'TXT' in document.getContentSections or 'RTXT' in document.getContentSections or 'DRTXT' in document.getContentSections %}<li id="hstab2"><a href="#stab2">{% trans %}Textarea{% endtrans %}</a></li>{% endif %}
		{% if 'ATT' in document.getContentSections or 'ATTI' in document.getContentSections %}<li id="hstab3"><a href="#stab3">{% trans %}Attachments{% endtrans %}</a></li>{% endif %}
		{% if 'COMM' in document.getContentSections %}<li id="hstab4"><a href="#stab4">{% trans %}Comments{% endtrans %}</a></li>{% endif %}
		{% if 'RDOC' in document.getContentSections %}<li id="hstab5"><a href="#stab5">{% trans %}Related Documents{% endtrans %}</a></li>{% endif %}
		{% if 'REMAIL' in document.getContentSections or 'RLINK' in document.getContentSections %}<li id="hstab6"><a href="#stab6">{% trans %}Related Email &amp; Links{% endtrans %}</a></li>{% endif %}
		{% if 'WEB' in document.getContentSections %}<li id="hstab7"><a href="#stab7">{% trans %}Web Bookmarks{% endtrans %}</a></li>{% endif %}
	</ul>
	{% if 'CS1' in document.getContentSections or 'CS2' in document.getContentSections or 'CS3' in document.getContentSections %}
	<div id="stab1">
		<table cellspacing="0" class="elmContainer">
	     {% if 'CS1' in document.getContentSections %}
		 	{% set section_properties = '' %}
	 		{% for subform in document.getDocTypeSubform %}
	 			{% if subform.getPropertiesXML(true)['CS1'] is defined %}
	 				{% set section_properties = subform.getPropertiesXML(true) %}
	 			{% endif %}
	 		{% endfor %}
	 		{% if section_properties['CS1'] is defined %}
			<tr>
				<td colspan="2" class="hdr">{% trans %}Embedded Form 1{% endtrans %}</td>
			</tr>
			<tr class="CS1{{ document is defined and 'CS1' in document.getContentSections ? '' : ' hidden' }}">
				<td class="firstRw exc">{% trans %}Form{% endtrans %}: </td>
				<td class="firstRw exc">
                {% if custom_subforms is defined %}
                	{% set found = false %}
                	{% for sf in custom_subforms %}
       	        		{% if section_properties['CS1'] == sf.getFormFileName %}
       	        			{% set found = true %}
       	        			{{ sf.getFormName }}
                		{% endif %}
                	{% endfor %}
                	{% if found == false %}{% trans %}Not in List{% endtrans %}{% endif %}
                {% else %}
                	{% trans %}Not in List{% endtrans %}
                {% endif %}
				</td>
			</tr>
			<tr>
				<td class="firstRw exc">{% trans %}Form Name{% endtrans %}: </td>
				<td class="firstRw exc">{{ section_properties['CS1'] }}</td>
			</tr>
			<tr>
				<td class="firstRw exc"></td>
				<td class="firstRw exc">
					{{ section_properties['DisplayInMore'] == 1 ? 'Display Embedded Form 1 in "More" section'|trans : '' }}
				</td>
			</tr>
			{% if section_properties['DisplayInMore'] == 1 %}
			<tr>
              	<td class="firstRw exc">{% trans %}Tab Name{% endtrans %}:</td> 
              	<td class="firstRw exc">
              		{{ section_properties['SubFormTabName'] }} 
					<span class="elNote">{% trans %}Select a built-in embedded form or type the name of your custom embedded form.{% endtrans %}</span>
				</td>
			</tr>
			{% endif %}
			{% endif %}
		{% endif %}
	 	{% if 'CS2' in document.getContentSections %}
	     <!-- 2: custom subform  -->
	 		{% set section_properties = '' %}
	 		{% for subform in document.getDocTypeSubform %}
	 			{% if subform.getPropertiesXML(true)['CS2'] is defined %}
	 				{% set section_properties = subform.getPropertiesXML(true) %}
	 			{% endif %}
	 		{% endfor %}
	 		{% if section_properties['CS2'] is defined %}
			<tr>
				<td colspan="2" class="hdr">{% trans %}Embedded Form 2{% endtrans %}</td>
			</tr>
			<tr>
				<td class="firstRw exc">{% trans %}Form{% endtrans %}: </td>
				<td class="firstRw exc">
                {% if custom_subforms is defined %}
                	{% set found = false %}
                	{% for sf in custom_subforms %}
       	        		{% if section_properties['CS2'] == sf.getFormFileName %}
       	        			{% set found = true %}
       	        			{{ sf.getFormName }}
                		{% endif %}
                	{% endfor %}
                	{% if found == false %}{% trans %}Not in List{% endtrans %}{% endif %}
                {% else %}
                	{% trans %}Not in List{% endtrans %}
                {% endif %}
				</td>
			</tr>
			<tr>
				<td class="firstRw exc">{% trans %}Form Name{% endtrans %}: </td>
				<td class="firstRw exc">{{ section_properties['CS2'] }}</td>
			</tr>
			<tr>
				<td class="firstRw exc"></td>
				<td class="firstRw exc">
					{{ section_properties['DisplayInMore'] == 1 ? 'Display Embedded Form 2 in "More" section'|trans : '' }}
				</td>
			</tr>
			{% if section_properties['DisplayInMore'] == 1  %}
			<tr>
              	<td class="firstRw exc">{% trans %}Tab Name{% endtrans %}:</td> 
              	<td class="firstRw exc">
              		{{ section_properties['SubFormTabName'] }}
					<span class="elNote">{% trans %}Select a built-in embedded form or type the name of your custom embedded form.{% endtrans %}</span>
				</td>
			</tr>
			{% endif %}
			{% endif %}
		{% endif %}
	 	{% if 'CS3' in document.getContentSections %}
		<!-- 3: custom subform  -->
	 		{% set section_properties = '' %}
	 		{% for subform in document.getDocTypeSubform %}
	 			{% if subform.getPropertiesXML(true)['CS3'] is defined %}
	 				{% set section_properties = subform.getPropertiesXML(true) %}
	 			{% endif %}
	 		{% endfor %}
	 		{% if section_properties['CS3'] is defined %}
			<tr>
				<td colspan="2" class="hdr">{% trans %}Embedded Form 3{% endtrans %}</td>
			</tr>
			<tr>
				<td class="firstRw exc">{% trans %}Form{% endtrans %}: </td>
				<td class="firstRw exc">
                {% if custom_subforms is defined %}
                	{% set found = false %}
                	{% for sf in custom_subforms %}
       	        		{% if section_properties['CS3'] == sf.getFormFileName %}
       	        			{% set found = true %}
       	        			{{ sf.getFormName }}
                		{% endif %}
                	{% endfor %}
                	{% if found == false %}{% trans %}Not in List{% endtrans %}{% endif %}
                {% else %}
                	{% trans %}Not in List{% endtrans %}
                {% endif %}
				</td>
			</tr>
			<tr>
				<td class="firstRw exc">{% trans %}Form Name{% endtrans %}: </td>
				<td class="firstRw exc">{{ section_properties['CS3'] }}</td>
			</tr>
			<tr>
				<td class="firstRw exc"></td>
				<td class="firstRw exc">
					{{ section_properties['DisplayInMore'] == 1 ? 'Display Embedded Form 3 in "More" section'|trans : '' }}
				</td>
			</tr>
			{% if section_properties['DisplayInMore'] == 1 %}
			<tr>
              	<td class="firstRw exc">{% trans %}Tab Name{% endtrans %}:</td> 
              	<td class="firstRw exc">
              		{{ section_properties['SubFormTabName'] }}
					<span class="elNote">{% trans %}Select a built-in embedded form or type the name of your custom embedded form.{% endtrans %}</span>
				</td>
			</tr>
			{% endif %}
			{% endif %}
		{% endif %}
		</table>
	</div>
	{% endif %}
	{% if 'TXT' in document.getContentSections or 'RTXT' in document.getContentSections or 'DRTXT' in document.getContentSections %}
	<div id="stab2">
		{# ------------------------------- TextArea Tab ------------------------------------- #}
		{% include 'DocovaBundle:Admin:propertiesSection-TextAreasRead.html.twig' %}
	</div>
	{% endif %}
	{% if 'ATT' in document.getContentSections %}
	<div id="stab3">
		{# ------------------------------- Attachments Tab ------------------------------------- #}
		{% include 'DocovaBundle:Admin:propertiesSection-AttachmentsRead.html.twig' %}	
	</div>
	{% endif %}
	{% if 'COMM' in document.getContentSections %}
	<div id="stab4">
		{# ------------------------------- Comments Tab ------------------------------------- #}
		{% include 'DocovaBundle:Admin:propertiesSection-CommentsRead.html.twig' %}
	</div>
	{% endif %}
	{% if 'RDOC' in document.getContentSections %}
	<div id="stab5">
		{# ---------------------------- Related Documents Tab -------------------------------- #}
		{% include 'DocovaBundle:Admin:propertiesSection-RelatedDocumentsRead.html.twig' %}
	</div>
	{% endif %}
	{% if 'REMAIL' in document.getContentSections or 'RLINK' in document.getContentSections %}
	<div id="stab6">
		{# ---------------------------- Related Email & Links Tab ------------------------------- #}
		{% include 'DocovaBundle:Admin:propertiesSection-RelatedEmailsLinksRead.html.twig' %}
	</div>
	{% endif %}
	{% if 'WEB' in document.getContentSections %}
	<div id="stab7">
		{# ------------------------------- Web Bookmark Tab ------------------------------------- #}
		{% include 'DocovaBundle:Admin:propertiesSection-WebBookmarkRead.html.twig' %}
	</div>
	{% endif %}