<div id="advance_container">
	<ul>
		<li><a href="#tab1">{% trans %}Document Opening{% endtrans %}</a></li>
		<li><a href="#tab2">{% trans %}Document Viewing{% endtrans %}</a></li>
		<li><a href="#tab3">{% trans %}Document Saving{% endtrans %}</a></li>
		<li><a href="#tab4">{% trans %}Other actions{% endtrans %}</a></li>
	</ul>
	<div id="tab1">
		<table class="elmContainer" cellspacing="0">
			<tr>
				<td class="firstRw">{% trans %}HTML Head{% endtrans %}:</td>
				<td class="firstRw">
					{{ document.getCustomHtmlHead|nl2br }}
					<span class="elNote">{% trans %}HTML String(s) to include extra header tags like external javascript/css files.{% endtrans %}</span>
				</td>
			</tr>
			<tr>
				<td>{% trans %}WebQueryOpen event{% endtrans %}:</td>
				<td>
					{% trans %}Custom agent to run{% endtrans %}:<br />
					{{ document.getCustomWqoAgent|nl2br }}
					<span class="elNote">{% trans %}String of PHP files to be included before opening document (COMING SOON).{% endtrans %}</span>
				</td>
			</tr>
			<tr>
				<td>{% trans %}Edit Document button{% endtrans %}:</td>
				<td>
					{% trans %}Custom button label{% endtrans %}:<br />
					{{ document.getCustomEditButtonLabel }}
				</td>
			</tr>
			<tr>
				<td class="firstRw"></td>
				<td class="firstRw">
					{% trans %}Custom JS function to run{% endtrans %}:<br />
					{{ document.getEditDocumentCustomJS|nl2br }}
					<span class="elNote">{% trans %}Custom JavaScript code(s) to be run. Default function will run if left blank.{% endtrans %}</span>
				</td>
			</tr>
			<tr>
				<td class="firstRw"></td>
				<td class="firstRw">
					{% trans %}Custom hide when PHP script{% endtrans %}:<br />
					{{ document.getCustomEditButtonHideWhen|nl2br }}
					<span class="elNote">{% trans %}PHP script enclosed in "<span class="red">&lt;? ?&gt;</span>" that returns a true (hide) or false (show). Combined with the built-in hide criteria. Available objects are $docova and $user.{% endtrans %}<br />
					{% trans %}e.g.{% endtrans %} <span class="red">&lt;?</span> <span class="purple">return</span> $docova->isNew() ? <span class="purple">true</span> : <span class="purple">false</span>; <span class="red">?&gt;</span></span>
				</td>
			</tr>
			<tr>
				<td>{% trans %}Initial cursor focus field{% endtrans %}:</td>
				<td>
					{{ document.getCursorFocusField }}
					<span class="elNote">{% trans %}Name of the html field to place the cursor in when document is opened for editing.{% endtrans %}</span>
				</td>
			</tr>
			<tr>
				<td>{% trans %}OnLoad JavaScript event{% endtrans %}:</td>
				<td>
					{% trans %}Custom JS function to run{% endtrans %}:<br />
					{{ document.getOnLoadCustomJS|nl2br }}
					<span class="elNote">{% trans %}Custom JavaScript codes to be run on load.{% endtrans %}</span>
				</td>
			</tr>
			<tr>
				<td>{% trans %}OnUnLoad JavaScript event{% endtrans %}:</td>
				<td>
					{% trans %}Custom JS function to run{% endtrans %}:<br />
					{{ document.getOnUnLoadCustomJS|nl2br }}
					<span class="elNote">{% trans %}Custom JavaScript codes to be run on unload.{% endtrans %}</span>
				</td>
			</tr>
		</table>
	</div>
	<div id="tab2">
		<table class="elmContainer" cellspacing="0">
			<tr>
				<td class="firstRw">{%  trans %}Restrict Printing{% endtrans %}:</td>
				<td class="firstRw">
					{{ document.getCustomRestrictPrinting|nl2br }}
					<span class="elNote">{% trans %}PHP script enclosed in "<span class="red">&lt;? ?&gt;</span>" that returns a true (disable) or false (enabled). Default is false. Available objects are $docova and $user.{% endtrans %}<br />
					{% trans %}e.g.{% endtrans %} <span class="red">&lt;?</span> <span class="purple">return</span> $docova->isNew() ? <span class="purple">true</span> : <span class="purple">false</span>; <span class="red">?&gt;</span></span>
				</td>
			</tr>
			<tr>
				<td>{% trans %}Print event{% endtrans %}:</td>
				<td>
					{% trans %}Custom JS function to run{% endtrans %}:<br />
					{{ document.getPrintCustomJS }}
					<span class="elNote">{% trans %}JavaScript code(s) as Print event.{% endtrans %}</span>
				</td>
			</tr>
		</table>
	</div>
	<div id="tab3">
		<table class="elmContainer" cellspacing="0">
			<tr>
				<td class="firstRw">{% trans %}Save and Close button{% endtrans %}</td>
				<td class="firstRw">
					{% trans %}Custom button label{% endtrans %}: <br />
					{{ document.getCustomSaveButtonLabel }}
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					{% trans %}Custom JS function to run{% endtrans %}:<br />
					{{ document.getSaveCloseCustomJS|nl2br }}
					<span class="elNote">{% trans %}Custom JavaScript code(s) to run. Default function will run if left blank. Your script should submit the document by calling the built-in SaveAndClose() function.{% endtrans %}</span>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					{% trans %}Custom hide when PHP script{% endtrans %}:<br />
					{{ document.getSaveButtonHideWhen|nl2br }}
					<span class="elNote">{% trans %}PHP script enclosed in "<span class="red">&lt;? ?&gt;</span>" that returns a true (hide) or false (show). Combined with the built-in hide criteria. Available objects are $docova and $user.{% endtrans %}<br />
					{% trans %}e.g.{% endtrans %} <span class="red">&lt;?</span> <span class="purple">return</span> $docova->isNew() ? <span class="purple">true</span> : <span class="purple">false</span>; <span class="red">?&gt;</span></span>
				</td>
			</tr>
			<tr>
				<td>{% trans %}OnBeforeRelease Javascript event{% endtrans %}:</td>
				<td>
					{% trans %}Custom JS function to run{% endtrans %}: <br />
					{{ document.getBeforeReleaseCustomJS|nl2br }}
					<span class="elNote">{% trans %}Custom JavaScript code(s) to be run before release.{% endtrans %}</span>
				</td>
			</tr>
			<tr>
				<td>{% trans %}Field validation{% endtrans %}:</td>
				<td>
					{% trans %}Use{% endtrans %} 
			        {% if document.getValidateChoice == 0 %}{% trans %}none{% endtrans %}
			        {% elseif document.getValidateChoice == 1 %}{% trans %}built-in field validation{% endtrans %}
			        {% elseif document.getValidateChoice == 2 %}{% trans %}custom JavaScript function{% endtrans %}
			        {% endif %}
				</td>
			</tr>
			{% if document.getValidateChoice == 1 %}
			<tr>
				<td colspan="2" class="firstRw exc">
					<table cellspacing="2">
						<tr>
							<td class="firstRw exc">
								{% trans %}Names of fields to validate{% endtrans %}<br />
								<span class="elNote">{% trans %}Case sensitive, separate entries with carriage return{% endtrans %}</span>
							</td>
							<td class="firstRw">{% trans %}Optional, matching data types ("text", "number" or "date"). blank enties are treated as text.{% endtrans %}</td>
							<td class="firstRw">{% trans %}Optional, friendly field labels to be included in error message (field name will be user if blank).{% endtrans %}</td>
						</tr>
						<tr>
							<td class="firstRw exc">{{ document.getValidateFieldNames|replace({';' : '<br/>'})|raw }}</td>
							<td class="firstRw">{{ document.getValidateFieldTypes|replace({';' : '<br/>'})|raw }}</td>
							<td class="firstRw">{{ document.getValidateFieldLabels|replace({';' : '<br/>'})|raw }}</td>
						</tr>
					</table>
				</td>
			</tr>
			{% endif %}
			{% if document.getValidateChoice == 2 %}
			<tr>
				<td class="firstRw"></td>
				<td class="firstRw">
					{% trans %}Custom JS function to run{% endtrans %}:<br />
					{{ document.getCustomValidateJs|nl2br }}
					<span class="elNote">{% trans %}Custom JavaScript which returns true or false for validation.{% endtrans %}</span>
				</td>
			</tr>
			{% endif %}
			<tr>
				<td>{% trans %}WebQuerySave event{% endtrans %}:</td>
				<td>
					{% trans %}Custom agent to run{% endtrans %}:<br />
					{{ document.getCustomWqsAgent|nl2br }}
					<span class="elNote">{% trans %}String of PHP files to be included before save section (COMING SOON).{% endtrans %}</span>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>{{ document.getUpdateFullTextIndex ? 'Update full text index when file import is completed'|trans : '' }}</td>
			</tr>			
		</table>
	</div>
	<div id="tab4">
		<table class="elmContainer" cellspacing="0">
			<tr>
				<td class="firstRw">{%  trans %}Filter Attachments Script Name{% endtrans %}:</td>
				<td class="firstRw">
					{{ document.getFilterAttachmentScript }}
					<span class="elNote">{% trans %}Name of the filter attachments php script class to apply filtering on print from folder, export from folder, forward email and send emal notification.{% endtrans %}</span>
				</td>
			</tr>
		</table>
	</div>
</div>