				<table class="elmContainer" cellspacing="0">
					<tr>
						<td class="firstRw">{%trans%}Document Status{%endtrans%}:</td>
						<td class="firstRw">
						{{ not document.getStatus ? ('<strong class="red">'~'Disabled'|trans~'</strong>')|raw : ('<strong class="green">'~'Enabled'|trans~'</strong>')|raw }}
						</td>
					</tr>
					<tr>
						<td>{% trans %}General type{% endtrans %}:</td>
						<td>
						{% if document.getKeyType == 1 %}{% trans %}Custom{% endtrans %}
						{% elseif document.getKeyType == 2 %}{% trans %}Standard document{% endtrans %}
						{% elseif document.getKeyType == 3 %}{% trans %}Mail memo{% endtrans %}
						{% elseif document.getKeyType == 4 %}{% trans %}File document{% endtrans %}
						{% endif %}
						</td>
					</tr>
					<tr>
						<td>{% trans %}Name{% endtrans %}:</td>
						<td>{{ document.getDocName }}</td>
					</tr>
					<tr>
						<td>{% trans %}Purpose/Description{% endtrans %}:</td>
						<td>{{ document.getDescription }}</td>
					</tr>
					<tr>
						<td>{% trans %}Icon{% endtrans %}:</td>
						<td>
				        {% set icons = {
				        	'AttachmentHS.png': 'Attachment', 
				        	'AudioHS.png': 'Audio file',
							'icn16-stddoc.gif': 'Basic Document',
							'Book_angleHS.png': 'Book (closed)',
							'Book_openHS.png': 'Book (open)',
							'CalculatorHS.png': 'Calculator',
							'Calendar_scheduleHS.png': 'Calendar',
							'CommentHS.png': 'Comment',
							'icn16-control_activity.gif': 'Control Activity',
							'SaveAllHS.png': 'Disk (multiple)',
							'SaveHS.png': 'Disk (single)',
							'EnvelopeHS.png': 'Envelope',
							'FaxHS.png': 'Fax',
							'Flag_blueHS.png': 'Flag (blue)',
							'Flag_greenHS.png': 'Flag (green)',
							'Flag_redHS.png': 'Flag (red)',
							'GraphHS.png': 'Graph',
							'HtmlPageHS.png': 'Home page',
							'HomeHS.png': 'Home',
							'InsertHyperlinkHS.png': 'Hyperlink',
							'icn16-Excel.gif': 'MS Excel',
							'icn16-PPT.gif': 'MS Power Point',
							'icn16-Word.gif': 'MS Word',
							'NoteHS.png': 'Note',
							'OrganizerHS.png': 'Organizer',
							'OrgchartHS.png': 'Orgchart',
							'DialHS.png': 'Phone',
							'InsertPictureHS.png': 'Picture',
							'PieChart3DHS.png': 'Piechart',
							'Book_StackOfReportsHS.png': 'Report (multiple)',
							'book_reportHS.png': 'Report (single)',
							'TableHS.png': 'Table',
							'TaskHS.png': 'Task',
							'icn16-unknowndoc.gif': 'Unknown type',
							'icn16-webpage.gif': 'Web page',
							'XMLFileHS.png': 'XML file',
							'Zip File16-ZIP.gif': 'Zip File16-ZIP.gif'
						} %}
						{{ document.getDocIcon in icons|keys ? attribute(icons, document.getDocIcon) : '' }}
	        			</td>
					</tr>
					<tr>
						<td>{% trans %}Type Key{% endtrans %}:</td>
						<td><span id="idSpanDocKey">{{ document.getId }}</span></td>
					</tr>
				</table>