{% if workflow is defined %}
	{% set path_info = path('docova_admin_editdocument', { 'view_name' : 'wAdminWorkflow', 'doc_id' : workflow.getId }) %}
{% else %}
	{% set path_info = path('docova_admin_workflowdefinition') ~ '?OpenForm&ParentUNID=' %}
{% endif %}

{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with { 
	'document' : workflow is defined ? workflow : '', 
	'view_name' : 'wAdminWorkflow', 
	'view_title' : 'Workflow Processes', 
	'path_info' : path_info,
	'mode' : 'edit' 
} %}
</head>
<body scroll="no">
	<ul class="ui-widget-header actionBar hidetoload">
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
		<li id="saveAndCloseBtn">{% trans %}Save and Close{% endtrans %}</li>
	</ul>
	<form method="post" action="{% if workflow is defined %}{{ path('docova_admin_editdocument', { 'view_name' : 'wAdminWorkflow', 'doc_id' : workflow.getId }) }}?EditDocument{% else %}{{ path('docova_admin_workflowdefinition') }}?OpenForm&amp;ParentUNID=0&amp;Seq=1{% endif %}" autocomplete="off" name="_WorkflowDefinition">
		<div id="divFormContainer" class="hidetoload">
			<h3 class="headings1">{% trans %}Workflow Process Settings{% endtrans %}</h3>
			<table class="elmContainer" cellspacing="0">
				<tr>
					<td class="firstRw">{% trans %}Workflow Name{% endtrans %}:</td>
					<td class="firstRw"><input type="text" name="WorkflowName" class="text ui-widget-content ui-corner-all" value="{% if workflow is defined %}{{ workflow.getWorkflowName }}{% endif %}"></td>
				</tr>
				<tr>
					<td>{% trans %}Description{% endtrans %}:</td>
					<td><input type="text" name="WorkflowDescription" class="text ui-widget-content ui-corner-all" value="{% if workflow is defined %}{{ workflow.getDescription }}{% endif %}"></td>
				</tr>
				<tr>
					<td class="exc"></td>
					<td class="exc">
						<label><input type="checkbox" name="CustomizeAction" value="1" {% if workflow is defined and workflow.getAuthorCustomization == true %}checked{% endif %}> {% trans %}Allow document author to customize this process{% endtrans %}</label>
					</td>
				</tr>
				<tr>
					<td class="firstRw exc"></td>
					<td class="firstRw exc">
						<label><input type="checkbox" name="EnableImmediateRelease" value="1" {% if workflow is defined and workflow.getBypassRleasing == true %}checked{% endif %}> {% trans %}Allow to release bypassing workflow{% endtrans %}</label>
					</td>
				</tr>
				<tr>
					<td class="firstRw exc"></td>
					<td class="firstRw exc">
						<label><input type="checkbox" name="DefaultWorkflow" value="1" {% if workflow is defined and workflow.getUseDefaultDoc == true %}checked{% endif %}> {% trans %}Use as default document workflow if none specified{% endtrans %}</label>
					</td>
				</tr>
				<tr>
					<td>{% trans %}Process id{% endtrans %}:</td>
					<td>{% if workflow is defined %}DK{{ workflow.getId }}{% endif %}</td>
				</tr>
			</table>
		</div>
	</form>
</body>
