<html>
<head>
<title>{{ viewTitle }}</title>

<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/viewObjects.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/popupmenu.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/toolbar.js') }}" charset="UTF-8"></script>

</head>

<style>
	h3,h5,table { font-family: Verdana; }
	h3,hr { border:0px;margin:5px;}
	.TITLE_FONT {font-size: 10pt; font-weight: bold;}
	.MAIN_FONT {font-size: 8pt;} 	
	.FIELD {width:275px;}
</style>

<h3 class="TITLE">{{ viewTitle }}</h3>
<hr style="color:rgb(92,134,197);height:2px;"/>

<form method="post" action="{{ path('docova_editdocument', {'doc_id' : doc_id}) }}?editDocument{{ app.request.query.get("mode") ? '&mode=' ~ app.request.query.get("mode") : '' }}D={{ folderId }}&amp;Seq=1&amp;typekey=external" enctype="multipart/form-data" name="_Document">
	<table border=0 class="MAIN_FONT">
		{%for field,field_value in data %}
						<tr>
							<td><b>{{ field }}:&nbsp;&nbsp;&nbsp;</b></td>
							<td><input type="text" name={{  field }} value="{{ field_value }}" class="FIELD MAIN_FONT" /></td>
							
						</tr>
		{% endfor %}
	</table>
	<input type="hidden" name="DataView" value="{{ dataViewId }}"/>	
	<input type="submit" value="Save"/>	
	<br/>		
</form>

</html>