{% macro bytesToSize(bytes) %}
{% spaceless %}
    {% set kilobyte = 1024 %}
    {% set megabyte = kilobyte * 1024 %}
    {% set gigabyte = megabyte * 1024 %}
    {% set terabyte = gigabyte * 1024 %}

    {% if bytes < kilobyte %}
        {{ bytes ~ ' B' }}
    {% elseif bytes < megabyte %}
        {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
    {% elseif bytes < gigabyte %}
        {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
    {% elseif bytes < terabyte %}
        {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
    {% else %}
        {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
    {% endif %}
{% endspaceless %}
{% endmacro %}
{% import _self as utils %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<script>
function downloadFile(fileName,fileKey){
	document.forms[0].inputFileName.value = fileName;	
	document.forms[0].inputFileKey.value = fileKey;
	document.forms[0].submit();
	return false;
}
</script>

<title>DOCOVA Public Access</title>

<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/viewObjects.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/popupmenu.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/toolbar.js') }}" charset="UTF-8"></script>

</head>

<style>
	h3,h5,table,span { font-family: Verdana; }
	a {font-family: Verdana;font-size: x-small; }
	h3,hr { border:0px;margin:5px;}
	.TITLE_FONT {font-family: Verdana;font-size: 10pt; font-weight: bold;margin-left:10px;}
	.MAIN_FONT {font-family: Verdana;font-size: x-small;} 	
	.FIELD {width:275px;}
</style>

<img src="{{  asset('bundles/docova/images/Docova_logo_Tag_197x100.gif') }}" alt="DOCOVA" />
<p/>
{% if attachments is defined %}
   <span class="TITLE_FONT">Shared Files</span>  
{% endif %}
<hr style="color:rgb(92,134,197);height:2px;"/>

{% if not attachments is defined %}
<span style="font-size: x-small;">The shared&#160;document content&#160;that you have
			attempted to access is secured with a password.</span>
<p/>

<form method="post">
    
	<table style="width:430.0px" id="tblAuthentication">
		<tr>
			<td style="width:100.0px;font-size: x-small;">
				Access ID:&#160;&#160;&#160;
			</td>
			<td style="width:332.0px">
				<input type="text" name="inputAccessID" id="inputAccessID" value="{{ app.request.get('PublicAccessID') }}" style="width:270px" autocomplete="off"/>
			</td>
		</tr>
		<tr>
			<td style="width:100.0px;font-size: x-small;">Password:</td>
			<td style="width:332.0px">
				<input type="password" name="inputPassword" id="inputPassword" style="width:270px" password="true" autocomplete="off" />
			</td>		
		</tr>	
	</table>
	{% if errorMessage is defined  %}
    	  <p/>
    	  <span style="color:red;" class="MAIN_FONT">ERROR: {{ errorMessage }}</span>
    {%  endif %}	
	<p/>
	<input type="submit" class="MAIN_FONT" value="Access Shared Content" id="btnAuthenticate" />
	<form>
	{%  endif %}
	
	{% if attachments is defined %}
		<form method="post">
		<table border=0 class="MAIN_FONT" cellpadding="4px" cellspacing="4px">
		    <tr>
		      <td colspan="3">
		           <a href="javascript:downloadFile('ZIP')">Download All</a>
		      </td>
		    </tr>
			<tr>
				<td><b>Name</b></td>
				<td><b>Size</b></td>
				<td><b>Date</b></td>
	        </tr>
			{%for attachment in attachments %}
				<tr>
					<td><a href='javascript:downloadFile("{{ attachment.getFileName|raw }}","{{ attachment.getId | slice(0,7) }}")'>{{  attachment.getFileName|raw }}</a></td>
					<td>{{  utils.bytesToSize( attachment.getFileSize ) }}</td>					
					<td>{{  attachment.getFileDate|date("Y/m/d") }}</td>
				</tr>
			{% endfor %}
	    </table>
	    <input type="hidden" name="inputAccessID" id="inputAccessID" value="{{ app.request.get('PublicAccessID') }}"/>
	    <input type="hidden" name="inputFileName" id="inputFileName" value=""/>
	    <input type="hidden" name="inputFileKey" id="inputFileKey" value=""/>
	    <input type="hidden" name="inputToken" id="inputToken" value="{{ token }}"/>
	    </form>
	    
	    {% if errorMessage is defined  %}
    	  <p/>
    	  <span style="color:red;" class="MAIN_FONT">ERROR: {{ errorMessage }}</span>
        {%  endif %}	
	{%  endif %}
	
</html>