<style>
.dTool {
    cursor:pointer;    
    border:solid 3 #EFEFEF;
}
.selTool {
    background-color:silver;
    cursor:pointer;
    border:solid 3 silver;
}
.ToolBar {
    background-color:#EFEFEF;
    width:100%;
    height:26px;
    padding-top:2px;
    padding-bottom:2px;
	padding-left:2px;
	border: 1 solid silver;
}
.editArea {
	width: 100%;
	height: 50px;
	border-style:groove;
	border-width:2;
	background-color:white;  
	padding:2px;  
	font-family:Verdana, Arial;
	font-size:11px;
}
.DropDown {
    font-family:Verdana, Arial;
	font-size:8pt;
}
</style>
<script language="Javascript">
helpText = "<span onclick='document.ParentWindow.closeHelp();' style='position:absolute; top:0px; left:285px; border: 1px solid gray;line-height:10px;font:normal 10px sans-serif; cursor:pointer'>&nbsp;X&nbsp;</span><span style='font : normal 11px Verdana,  Arial, sans-serif'><p><center><strong>Docova Rich Text Editor - {% trans %}Tips & Tricks{% endtrans %}</strong></center></p><ul><li>{% endtrans %}When you press Enter, a new paragraph is started. Use Shift+Enter to enter a carriage return only.{% trans %}</li><li>{% trans %}To create a bulleted or numbered list, it's best to select the bullet or number list icon first{% endtrans %}</li><li>{% trans %}Standard windows shortcut keys work as well as the toolbar for the following{% endtrans %}:</li><ul><li>{% trans %}Ctrl+b for Bold{% endtrans %}</li><li>{% trans %}Ctrl+i for Italic{% endtrans %}</li><li>{% trans %}Ctrl+u for Underline{% endtrans %}</li><li>{% trans %}Ctrl+c for Copy{% endtrans %}</li><li>{% trans %}Ctrl+x for Cut{% endtrans %}</li><li>{% trans %}Ctrl+v for Paste{% endtrans %}</li><li>{% trans %}Ctrl+z for Undo{% endtrans %}</li></ul></span>";
loadDocovaEditor = true;
document.all.info.TextContentType = "TEXT"; //required to allow Acquire from Email to work against this form
</script><download id="dwn" style="behavior:url(#default#download)" />
<p>{{ properties['folder'].getFolderName }}<br>
<br>
<input name="subforms[]" type="hidden" value="{{ data['Title']['Field'].getSubform.getId }}" >
<b>{% trans %}Title{% endtrans %}:</b><br>
<b><font size="4">
<input name="{{ data['Title']['Field'].getFieldName }}" value="{{ data['Title']['Value'] }}" size=50></font></b><br>
<br>
<b>{% trans %}Description{% endtrans %}:</b><div id="dToolbar0" class="ToolBar"></div><div name="ItemDescription" id="dEdit0" class="editArea" contentEditable="true"></div>
<br><span style="display:none">
<textarea name="{{ data['ItemDescription']['Field'].getFieldName }}" rows="7" cols="50">{{ data['ItemDescription']['Value'] }}</textarea>
</span>
<p><b>{% trans %}Syntax{% endtrans %}</b>:<div id="dToolbar1" class="ToolBar"></div><div name="Syntax" id="dEdit1" class="editArea" contentEditable="true"></div>
<br><span style="display:none">
<textarea name="{{ data['Syntax']['Field'].getFieldName }}" rows="7" cols="50">{{ data['Syntax']['Value'] }}</textarea>
</span>
<p><b>{% trans %}Parameters{% endtrans %}</b>:<div id="dToolbar2" class="ToolBar"></div><div name="Parameters" id="dEdit2" class="editArea" contentEditable="true"></div>
<br><span style="display:none">
<textarea name="{{ data['Parameters']['Field'].getFieldName }}" rows="7" cols="50">{{ data['Parameters']['Value'] }}</textarea>
</span>
<p><b>{% trans %}Return Value{% endtrans %}</b>:<div id="dToolbar3" class="ToolBar"></div><div name="ReturnValue" id="dEdit3" class="editArea" contentEditable="true"></div>
<br><span style="display:none">
<textarea name="{{ data['ReturnValue']['Field'].getFieldName }}" rows="7" cols="50">{{ data['ReturnValue']['Value'] }}</textarea>
</span>
<p><b>{% trans %}Usage{% endtrans %}</b>:<div id="dToolbar4" class="ToolBar"></div><div name="Usage" id="dEdit4" class="editArea" contentEditable="true"></div>
<br><span style="display:none">
<textarea name="{{ data['Usage']['Field'].getFieldName }}" rows="7" cols="50">{{ data['Usage']['Value'] }}</textarea>
</span>
<p><b>{% trans %}Example{% endtrans %}</b>:<div id="dToolbar5" class="ToolBar"></div><div name="Example" id="dEdit5" class="editArea" contentEditable="true"></div>
<br><span style="display:none">
<textarea name="{{ data['Example']['Field'].getFieldName }}" rows="7" cols="50">{{ data['Example']['Value'] }}</textarea>
</span>
<p><b>{% trans %}Related Information{% endtrans %}</b>:<div id="dToolbar6" class="ToolBar"></div><div name="Related" id="dEdit6" class="editArea" contentEditable="true"></div>
<br><span style="display:none">
<textarea name="{{ data['Related']['Field'].getFieldName }}" rows="7" cols="50">{{ data['Related']['Value'] }}</textarea>
</span>
<p><script language=Javascript>
   loadIcons(0);
   loadIcons(1);
   loadIcons(2);
   loadIcons(3);
   loadIcons(4);
   loadIcons(5);
   loadIcons(6);
</script>
