{% if properties['EnableLinkedFiles'] == 1 %}
<!--- Linked Files ---------->
<script  type="text/javascript" >
prmptMessages.msgRD001 = "{% trans %}Error: No attachments section found or attachment section not initialized properly.{% endtrans %}";
prmptMessages.msgRD002 = "{% trans %}The file %%filename%% is a newly added file. Please save this document before making any edits or revisions to it.{% endtrans %}";
prmptMessages.msgRD003 = "{% trans %}A copy of the file %%filename%% has already been downloaded and cannot be updated. Please close the file if it is open already for editing/viewing.{% endtrans %}";
prmptMessages.msgRD004 = "{% trans %}Unable to locate file '%%filename%%'{% endtrans %}";
prmptMessages.msgRD005 = "{% trans %}The file %%filename%% could not be deleted. Please check that the file is not currently open or locked by some other process.{% endtrans %}";
prmptMessages.msgRD006 = "{% trans %}Unable to create folder{% endtrans %}";
prmptMessages.msgRD007 = "{% trans %}Unable to delete folder{% endtrans %}";
prmptMessages.msgRD008 = "{% trans %}Unable to access shell object.{% endtrans %}";
prmptMessages.msgRD009 = "{% trans %}No working folder is currently in use. Please edit a document first.{% endtrans %}";
prmptMessages.msgRD010 = "{% trans %}A copy of the file %%filename%% has already been downloaded and cannot be updated. Please check that the file is not already opened for editing/viewing.{% endtrans %}";
prmptMessages.msgRD011 = "{% trans %}The selected related document has been Deleted.{% endtrans %}";
prmptMessages.msgRD012 = "{% trans %}Document Deleted{% endtrans %}";
prmptMessages.msgRD013 = "{% trans %}You are not authorized to open this document, or the document could not be found{% endtrans %}";
prmptMessages.msgRD014 = "{% trans %}Document Cannot Be Opened{% endtrans %}";
prmptMessages.msgRD015 = "{% trans %}The temporary working folder could not be deleted. Please check that all related documents have been closed and select Retry.{% endtrans %}";
prmptMessages.msgRD016 = "{% trans %}Working Folder Busy{% endtrans %}";
prmptMessages.msgAUP002 = "{% trans %}Processing request. Please wait{% endtrans %}...";

OverrideUploader();
</script>
{% endif %}
<hr>
<!--- XML data -------------->
<xml id="RelatedDocuments" src="{{ path('docova_reldoclinks') }}?OpenView{% if properties['document'] %}&RestricttoCategory={{ properties['document'].getId }}{% endif %}&{{ "now"|date('m/d/Y') }}" ondatasetcomplete="SetRDLinkDataDisplay(this)"></xml>
<div id="divRelatedDocContainer" style="{% if properties['is_read'] == true %}{% if properties['HideOnReading'] == 1 %}display:none{% endif %}{% else %}{% if properties['HideOnEditing'] == 1 %}display:none{% endif %}{% endif %}">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td width="50%" valign="bottom">
				<span style="font : 11px Verdana,  Arial, sans-serif; float:left;valign:bottom;">{% trans %}Related Documents{% endtrans %}:</span>
			</td>
			<td width="50%" valign="bottom">
			<!--- Button Bar - this div is hidden if document cannot be edited by current user ------------>
			{% if properties['can_edit'] == true %}
				<div id="divButtonBar" style="float:right; ">
					<button style="width: 22px; height:22px; cursor: hand; border: 1px solid #cccccc; margin-right:2px;background-color:white;" title="{% trans %}Create Related Documents{% endtrans %}" onClick="AddLinks()" onMouseDown="this.runtimeStyle.border='1px groove';" onMouseOver="this.runtimeStyle.border='1px ridge';" onMouseOut="this.runtimeStyle.border='1px solid #cccccc';"><img src="{{ asset('bundles/docova/images/textlink.gif') }}"></button>
					<button style="width: 22px; height:22px; cursor: hand; border: 1px solid #cccccc; margin-right:2px;background-color:white;" title="{% trans %}Delete Related Document(s){% endtrans %}" onClick="DeleteLink(RelatedDocuments)" onMouseDown="this.runtimeStyle.border='1px groove';" onMouseOver="this.runtimeStyle.border='1px ridge';" onMouseOut="this.runtimeStyle.border='1px solid #cccccc';"><img src="{{ asset('bundles/docova/images/btnicn16-delete.gif') }}"></button>
				</div>
			{% endif %}
			</td>
		</tr>
	</table>
	<!--- Empty dataset message -------------->
	<div id="noRelatedDocuments" style="display: none ; font: 10px verdana, arial; padding:5px;width:100%; display:none; border: 1px solid silver; background-color:white;">{% trans %}No related documents.{% endtrans %}</div>
	<!----------------->
	<table id="tblRelatedDocuments" datasrc="#RelatedDocuments" cellspacing="0" cellpadding="0" style="width:100%; display:none; border: 1px solid silver; background-color:white;">
		<thead>
		<tr style="background-color:#efefef;">
			<td width="25" style="font: bold 11px verdana;">&nbsp</td>
			<td style="font: bold 11px verdana;">&nbsp;</td>
		</tr>
		</thead>
		<tr style="cursor:hand;" onMouseOver="SetLinkRowColor(this, true)" onMouseOut="SetLinkRowColor(this, false)">
			<td style="border-top: 1px solid silver;">
				<input type="checkbox" style="border:0;background-color:transparent;" datafld="Selected">
			</td>
			<td style="border-top: 1px solid silver;" onclick="OpenRelatedDocument(RelatedDocuments.recordset, this.recordNumber)">
				<span datafld="Title" style="color: #000080;"></span>
				<span datafld="RelatedData" style="color: #000000;" ></span>
				<br><span datafld="LibraryName" style="font-size:10px; color: #000000;" ></span>, <span datafld="FolderName" style="font-size:10px; color: #000000;" ></span>, <span datafld="Summary" style="font-size:10px; color: #000000;"></span>&nbsp;<span datafld="LVInfo" style="font-size:10px; color: #000000;"></span>
			</td>
		</tr>
	</table>
</div>

