<input name="subforms[]" type="hidden" value="{{ data['bookmarkurl']['Field'].getSubform.getId }}" >
<div style="{% if properties['HideOnEditing'] == true %}display:none{% endif %}">
	<span style="margin: 5px 0px; display: block;">{{ properties['BookmarkLabel']|trans }}</span>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr valign="middle">
			<td class="fieldLabelCell" width="6%">URL:</td>
			<td class="fieldCell" width="94%">
				<input name="{{ data['bookmarkurl']['Field'].getFieldName }}" value="{{ data['bookmarkurl']['Value'] }}" onclick="if(doc.bookmarkurl.value == ''){ doc.bookmarkurl.value='http://' }" style="width: 500px;">&nbsp;
				<i class="far fa-external-link" id="imgBookmarkOpenPage" title="{% trans %}Open Page{% endtrans %}" onclick="openBookmark()" style="cursor:pointer; font-size:1.5em;"></i>&nbsp;
				<i class="far fa-retweet" id="imgBookmarkPreviewRefresh" title="{% trans %}Refresh{% endtrans %}" onclick="loadBookmarkPreview()" style="cursor:pointer;font-size:1.5em;"></i>
				<label> 
					<input type="checkbox" name="{{ data['showpreview']['Field'].getFieldName }}" value="1" {{ data['showpreview']['Value'] ? 'checked' : '' }} onclick="togglePreview()" class="inpRadioChkbox">
					{% trans %}Show page preview{% endtrans %}
				</label>
			</td>
		</tr>
	</table>

	<div id="divBookmarkPreview" style="font: normal 11px Verdana, Arial, sans-serif;">
		{% trans %}Page Preview{% endtrans %}
		<iframe id="fraBookmarkPreview" src="{{ data['showpreview']['Value'] ? data['bookmarkurl']['Value'] : '' }}" frameborder="0" border="0" style="height: {{ properties['PreviewHeightValue'] }}px; width: 100%; overflow: auto; border: 1 solid #cccccc;"></iframe>
	</div>
</div>