<style>
.ToolBar {
    background-color:#FFFFFF;
    padding-top:2px;
    padding-bottom:2px;
    border: 1 solid silver;
}
.editArea {
	height: {{ properties['EditorHeightValue'] ? properties['EditorHeightValue'] : 200 }}px;
	border-style:groove;
	border-width:1;
	background-color:white;  
	padding:2px;  
	font-family:Verdana, Arial;
	font-size:11px;
	overflow: auto;
}
.DropDown {
    font-family:Verdana, Arial;
	font-size:10pt;
}
pre {
	word-wrap: break-word;
}
</style>

<script language="Javascript">
helpText = "<span style='font : bold 11px Verdana,  Arial, sans-serif;margin-left: 10px;'>Docova Rich Text Editor - {% trans %}Tips & Tricks{% endtrans %}</span><span><ul><li>{% trans %}When you press Enter, a new paragraph is started. Use Shift+Enter to enter a carriage return only.{% endtrans %}</li><li>{% trans %}To create a bulleted or numbered list, it's best to select the bullet or number list icon first{% endtrans %}</li><li>{% trans %}Standard windows shortcut keys work as well as the toolbar for the following{% endtrans %}:</li><ul><li>{% trans %}Ctrl+b for Bold{% endtrans %}</li><li>{% trans %}Ctrl+i for Italic{% endtrans %}</li><li>{% trans %}Ctrl+u for Underline{% endtrans %}</li><li>{% trans %}Ctrl+c for Copy{% endtrans %}</li><li>{% trans %}Ctrl+x for Cut{% endtrans %}</li><li>{% trans %}Ctrl+v for Paste{% endtrans %}</li><li>{% trans %}Ctrl+z for Undo{% endtrans %}</li></ul></ul></span>";
loadDocovaEditor = true;
docInfo.TextContentType = "HTML"; //required to allow Acquire from Email to work against this form
</script>

<input type="hidden" name="subforms[]" value="{{ data['body']['Field'].getSubform.getId }}" />
<div style="{% if properties['HideOnEditing'] == true %}display:none{% endif %}">
	<fieldset>
		<span style="margin: 4px 0px 4px 0px; font : bold 11px Verdana,  Arial, sans-serif;">{{ properties['EditorLabel']|trans }}</span>
		<div id="dToolbar0" class="ToolBar"></div>
		<div name="body" id="dEdit0" class="editArea" contentEditable="true"></div><br>
		<span id="spanBody" style="border:1px solid #CCC; padding:5px; display:none">
			<textarea rows="7" cols="50" name="{{ data['body']['Field'].getFieldName }}" id="body">{{ data['body']['Value']|raw }}</textarea>
		</span>
	</fieldset>
	<br>
</div>
<script language=Javascript>
    loadIcons(0);
    fixRelativeImagePaths();
</script>