<input name="subforms[]" type="hidden" value="{{ data['mcsf_dliuploader1']['Field'].getSubform.getId }}" >
<input type=hidden id=mcsf_dliuploader1 name={{ data['mcsf_dliuploader1']['Field'].getFieldName }} value="">

<script language="javascript" type="text/javascript">
prmptMessages.msgATT001 = "{% trans %}This document has version control and its workflow has completed. \nYou can not check-out files.  Please create a new version if required.{% endtrans %}";
prmptMessages.msgATT002 = "{% trans %}Unable to acces template file.{% endtrans %}";
prmptMessages.msgATT003 = "{% trans %}Field list is either empty or its length does not match the bookmark list.{% endtrans %}";
prmptMessages.msgATT004 = "{% trans %}Could not open the template file: '%%filename%%' it may be already opened.{% endtrans %}";
prmptMessages.msgATT005 = "{% trans %}Could not save the file.\rError{% endtrans %}:";
prmptMessages.msgATT006 = "{% trans %}Error populating bookmarks in Word document.  Aborting.{% endtrans %}";
prmptMessages.msgATT007 = "{% trans %}The number of cells does not match the number of fields.{% endtrans %}";
prmptMessages.msgATT008 = "{% trans %}Could not launch MS Excel{% endtrans %}";
prmptMessages.msgATT009 = "{% trans %}Could not process spreadsheet data. Error{% endtrans %}:";
prmptMessages.msgATT010 = "{% trans %}Could not log that file was viewed. Exiting.{% endtrans %}";
prmptMessages.msgATT011 = "{% trans %}Could not log that file was downloaded. Exiting.{% endtrans %}";
prmptMessages.msgATT012 = "{% trans %}A log file was found, indicating you have recoverable attachments,\rhowever the corresponding files could not be found on your local PC.{% endtrans %}";
prmptMessages.msgATT013 = "\r\r{% trans %}The log file will be removed.\r\rFile(s) not found{% endtrans %}";
prmptMessages.msgATT014 = "{% trans %}Edited Attachment Recovery{% endtrans %}";
prmptMessages.msgATT015 = "{% trans %}Only files with %%allowedextension%% extensions are allowed.{% endtrans %}";
prmptMessages.msgATT016 = "{% trans %}Checkout Files{% endtrans %}";
prmptMessages.msgATT017 = "{% trans %}The file %%filename%% has been checked out by %%person%% on %%checkoutdate%% .\rYou can replace this file once it is checked in.{% endtrans %}";
prmptMessages.msgATT018 = "{% trans %}Updating checked out file list on the server. Please wait{% endtrans %}...";
prmptMessages.msgATT019 = "{% trans %}Please select the file(s) you would like to check out.{% endtrans %}";
prmptMessages.msgATT020 = "{% trans %}No File(s) Selected{% endtrans %}";
prmptMessages.msgATT021 = "{% trans %}Updating checked out file list from the server. Please wait{% endtrans %}...";
prmptMessages.msgATT022 = "{% trans %}File %%filename%% is currently checked out by %%person%%. Please see document log for more details{% endtrans %}";
prmptMessages.msgATT023 = "{% trans %}Check out files{% endtrans %}";
prmptMessages.msgATT024 = "{% trans %}You are about to Check-out the following files{% endtrans %}\n";
prmptMessages.msgATT025 = "{% trans %}Are you sure?{% endtrans %}";
prmptMessages.msgATT026 = "{% trans %}Files could not be checked out properly. Please try again or contact system administrator.{% endtrans %}";
prmptMessages.msgATT027 = "{% trans %}Checkout failed{% endtrans %}";
prmptMessages.msgATT028 = "{% trans %}You have no checked out files associated with this document.{% endtrans %}";
prmptMessages.msgATT029 = "{% trans %}Check in files{% endtrans %}";
prmptMessages.msgATT030 = "{% trans %}Reading spreadsheet data. Please wait{% endtrans %}...";
prmptMessages.msgATT031 = "{% trans %}The file %%filename%% has been checked out by you on %%checkoutdate%% into %%thirdparam%% .\r\rYou should be editing  your checked out copy then check it in when done.{% endtrans %}";
prmptMessages.msgATT032 = "\r\r{% trans %}Are you sure you want to edit the file stored in this document instead of checked-out local copy?{% endtrans %}";
prmptMessages.msgATT033 = "{% trans %}The file %%filename%% has been checked out by %%person%% on %%checkoutdate%%.\rYou can only download this file and edit it locally. Once the file is checked in you will be able to edit it in-place.{% endtrans %}";
prmptMessages.msgATT034 = "{% trans %}The file %%filename%% has been checked out by you on %%checkoutdate%%.{% endtrans %}\r\r";
prmptMessages.msgATT035 = "{% trans %}The check out lock for this file will be cleared if you proceed with deletion.\r\rDo you want to continue?{% endtrans %}";
prmptMessages.msgATT036 = "{% trans %}The file %%filename%% has been checked out by %%person%% on %%checkoutdate%%.\rYou can not delete this file while it is checked out.{% endtrans %}";
prmptMessages.msgAUP001 = "{% trans %}Unable to launch Microsoft Word object.{% endtrans %}";
prmptMessages.msgAUP002 = "{% trans %}Unable to access file system object.{% endtrans %}";
prmptMessages.msgAUP003 = "{% trans %}Unable to access Internet Explorer object.{% endtrans %}";
prmptMessages.msgAUP004 = "{% trans %}Unable to access Microsoft Project object.{% endtrans %}";
prmptMessages.msgAUP005 = "{% trans %}Unable to access Power Point object.{% endtrans %}";
prmptMessages.msgAUP006 = "{% trans %}Unable to access Excel object.{% endtrans %}";
prmptMessages.msgAUP007 = "{% trans %}Could not initialize %%currentObject%% object.\rError{% endtrans %}";
prmptMessages.msgAUP025 = "{% trans %}Filenames can not contain semi-colons.{% endtrans %}";
prmptMessages.msgAUP026 = "{% trans %}Adding Files{% endtrans %}";
prmptMessages.msgAUP027 = "{% trans %}This document type can contain only %%maxfiles%% attachment(s).{% endtrans %}";
prmptMessages.msgAUP028 = "{% trans %}Error Adding Files{% endtrans %}";
prmptMessages.msgAUP029 = "{% trans %}At least 1 file is still open in an application.{% endtrans %}";
prmptMessages.msgAUP030 = "{% trans %}The %%simplefile%% file is currently open in %%assocapp%%.  Please save and close that file before trying to Save this document.{% endtrans %}";

function HandleScanClick()
{
{% if properties['EnableLocalScan'] == 1 and properties['CustomScanJS'] %}
	{{ properties['CustomScanJS']|raw }}
{% else %}
	EZTwainScanImages();
{% endif %}
}
</script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.ui.widget.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.fileupload.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.iframe-transport.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src ="{{ asset('bundles/docova/jquery/jQueryFileDownload.js') }}"></script>
<script language="JavaScript" type="text/javascript" src ="{{ asset('bundles/docova/js/Uploader.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/docova/css/uploader.css') }}">

<input type=hidden id="tmpMode" name="tmpMode" value=""/>
<ul id="listmenu" style="display:none;width:100px;position:absolute;z-index:100;">
  <li id="menu-1-I">{% trans %}Icons{% endtrans %}</li>
  <li id="menu-1-R">{% trans %}Details{% endtrans %}</li>
</ul>
<div id="uploaderSTD" style="display:none">
	<div style="display:none">
		<input id="fileAttach" style="display:none" type="file" name="Uploader_DLI_Tools[]"> 
	</div>
	<div id="printAttach" style = "display:none" ></div>
	<div id="divAttachmentSection" style="{% if properties['HideOnEditing'] == 1 %}display:none;{% endif %}border-bottom:1px solid gray; padding-top:10px;">
		<span style="font:11px Verdana, Arial;">{{ properties['AttachmentLabel']|trans }}:</span>
		<div align=right id="divUploaderButtons-1" style="{% if properties['HideAttachButtons'] == 1 %}display:none;{% endif %}right: 20px; top: 5px; font:11px Verdana, Arial; z-index:1;">
			<span align=left style="padding-right: 20px" id="uploaderMode" >{% trans %}Mode{% endtrans %} : 
				<span id="upmode" style="font-weight:normal">{% trans %}Basic{% endtrans %}</span>
			</span>
			{% if properties['EnableLocalScan'] == 1 and not properties['AttachmentReadOnly'] %}
			<button id="btn-1-scan" style="display:;"></button>
			{% endif %}
			<button id="btn-1-attach-std"></button>
			<button id="btn-1-liststd" menu="listmenu"></button>
		</div>
		<div class="ui-widget ui-widget-content itemcontainer" id="attachDisplay" ></div>
	</div>
</div>

{% set CData = '' %}
{% set Dates = '' %}
{% set FilesSize = '' %}
{% set date_format = settings.getDefaultDateFormat|replace({'MM' : 'm', 'DD' : 'd', 'YYYY' : 'Y'}) %}
{% if data['mcsf_dliuploader1']['Value']|length > 0 %}
	{% for row in data['mcsf_dliuploader1']['Value'] %}
		{% set CData = CData ~ row.getFileName ~ '*' %}
		{% set Dates = Dates ~ row.getFileDate|date(date_format) ~ ', ' %}
		{% set FilesSize = FilesSize ~ row.getFileSize ~ ', ' %}
	{% endfor %}
{% endif %}
<script type="text/javascript">
$(document).ready(function()
{
	//Handle uploader without any controls installed
	DLIUploader1= new Docova.Uploader({ 
		divId : "attachDisplay",
		AttachmentNames : "{% if CData %}{{ CData[:(CData|length-1)]|raw }}{% endif %}",
		AttachmentLengths:  "{% if FilesSize %}{{ FilesSize[:(FilesSize|length-2)] }}{% endif %}",
		AttachmentDates: "{% if Dates %}{{ Dates[:(Dates|length-2)] }}{% else %}Incorrect data type for operator or @Function: Time/Date expected{% endif %}",
		ListType: "{{ properties['ListType'] }}",
		CheckoutXmlUrl: "{{ path('docova_xViewData') }}?ReadForm&view=luCIAOLogsByParentId&root=cofiles&lkey={% if properties['document'] %}{{ properties['document'].getId }}{% endif %}",
		LaunchLocally: "{{ settings.getLaunchLocally }}",
		LocalDelete: "{{ settings.getLocalDelete }}",
		Height: "{{ properties['AttachmentsHeight'] }}",
		LocalDeleteExcludes:"{{ settings.getLocalDeleteExclude }}",
		GenerateThumbnails: "{% if properties['GenerateThumbnails'] == 1 %}1{% else%}0{% endif %}",
		{% if properties['GenerateThumbnails'] == 1 %}
		ThumbnailWidth: "{{ properties['ThumbnailWidth'] }}",
		ThumbnailHeight: "{{ properties['ThumbnailHeight'] }}",
		{% endif %}
		onBeforeAdd: function(filename) {return UploaderOnBeforeAdd(filename);},
		onBeforeFileEdit: function(filename) { return UploaderOnBeforeFileEdit(filename); },
		onFileEdit:  function(filename) { return UploaderOnFileEdit(filename); },
		onBeforeDelete: function(filename) {return UploaderOnDelete(filename); },
		onDownload: function(filename) { return LogFileDownloaded(filename); },
		onBeforeLaunch: function(filename) { return UploaderRedirectDownload(filename); /* UploaderOnBeforeLaunch(filename); */ },
		onLaunch: function(filename) { return LogFileViewed(filename); }
	});

	DLIUploader1.init();

	$("#listmenu").menu();
	//-----list button
	$( "#btn-1-liststd" )
	.button({
		text:false,
		label: "{% trans %}Views{% endtrans %}.",
		icons: {primary: "fas fa-caret-down"}
	})
	.click(function( event ) {
		event.preventDefault();
		var menu = $("#" + $(this).attr("menu"));
		menu.show().position({
			my: "left top",
			at: "left bottom",
			of: this
		});
		$(document).one("click", function(){
			menu.hide();
		})
		return false;
	});
	//-----list dropdown menu click events
	//-----Icons view
	$("#menu-1-I").click(function(event){
		event.preventDefault();
		UmenuClick(this, "STD");
	});
	//-----Report or "Details" view
	$("#menu-1-R").click(function(event){
		event.preventDefault();
		UmenuClick(this, "STD");
	});
	//---------------------------Header Buttons -------------------------------------
	//-----attach button
	$( "#btn-1-attach-std" )
	.button({
		text:true,
		label: "{% trans %}Attach a file.{% endtrans %}",
		icons: {primary: "far fa-paperclip"}
	})
	.click(function( event ) {
		event.preventDefault();
		DLIUploader1.AddFile();
	});	
	//Scan  button
	$( "#btn-1-scan" )
	.button({
		text:true,
		label: "{% trans %}Scan a file.{% endtrans %}",
		icons: {primary: "far fa-scanner"}
	})
	.click(function( event ) {
		event.preventDefault();
		HandleScanClick();
	});
			
	$("#uploaderSTD").show();
	//LaunchTargetFile();
});
</script>

<!-- FIle Check In/Out log placeholder -->
<!-------------------- Checked out files log entries ------------------------------------->
<div id="divCheckedOutFileList" style="display:none;">
<table  style="border: 1px ridge; background-color:#efefff;margin-top:10px;" width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
     <td class="fieldCell" width="300">{% trans %}Checked out{% endtrans %}</td>
     <td class="fieldCell">{% trans %}By{% endtrans %}</td>
     <td class="fieldCell" width="160">{% trans %}On{% endtrans %}</td>
</tr>
</table>
<div style="width: 100%; height:70px;overflow: auto;">
<table datasrc="#xmlFileLog" width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
     <td class="fieldCell" width="300"><span datafld="filename"></span>&nbsp;</td>
     <td class="fieldCell"><span datafld="editor"></span>&nbsp;</td>
     <td class="fieldCell" width="160"><span datafld="date"></span>&nbsp;</td>
</tr>
</table>
</div>
</div>
