<span id="officeInfo" 
OfficeApplication="WORD" 
AllowedOfficeFileExtensions="doc,docx"></span>
<div id="divOfficeConversionTools" style="margin: 10px 0px 0px 0px; display:none;">
<table border="0" cellpadding="0" cellspacing="0">
<tr><td width="220"><div class="uploaderButtonBar" id="divUploaderButtons-2" onselectstart="return false;" ondragstart="return false;">
<!--------------------------------------------------------------->
<span class="uploaderButton" id="btn-2-view" title="{% trans %}View File{% endtrans %}" onmouseover="UbtnActivate(this);" onmouseout="UbtnReset(this);" onmouseup="UbtnActivate(this);" onmousedown="UbtnClick(this);"><IMG SRC="{{ asset('bundles/docova/images/btnicn16-view.gif') }}"></span>
<!--------------------------------------------------------------->
<span class="uploaderButton" id="btn-2-save" title="{% trans %}Download File{% endtrans %}" onmouseover="UbtnActivate(this);" onmouseout="UbtnReset(this);" onmouseup="UbtnActivate(this);" onmousedown="UbtnClick(this);"><IMG SRC="{{ asset('bundles/docova/images/btnicn16-save.gif') }}"></span>
<!--------------------------------------------------------------->
<span class="uploaderButton" id="btn-2-list" style="width:27px;"  title="{% trans %}Views{% endtrans %}" onmouseover="UbtnActivate(this);" onmouseout="UbtnReset(this);" onmouseup="UbtnActivate(this);" onmousedown="UbtnClick(this);"><IMG SRC="{{ asset('bundles/docova/images/btnicn16-filelist.gif') }}"></span>
<!--------------------------------------------------------------->
</div>
<!--------------------------------------------- DLI Uploader Section ---------------------------------------------------->
<xml id="UploaderSettings2">
<?xml version="1.0" encoding="UTF-8"?>
{% set date_format = settings.getDefaultDateFormat|replace({'MM' : 'm', 'DD' : 'd', 'YYYY' : 'Y'}) %}
{% set CData = '' %}
{% set Dates = '' %}
{% set FilesSize = '' %}
{% if data['mcsf_dliuploader2']['Value']|length > 0 %}
	{% for row in data['mcsf_dliuploader2']['Value'] %}
		{% set CData = CData ~ row.getFileName ~ '*' %}
		{% set Dates = Dates ~ row.getFileDate|date(date_format) ~ ', ' %}
		{% set FilesSize = FilesSize ~ row.getFileSize ~ ', ' %}
	{% endfor %}
{% endif %}
<params>
    <param name="LicenseCode">{{ settings.getUploaderLicenseKey }}</param>
    <param name="LocalHostCode">{{ settings.getLocalHostCode }}</param>
    <param name="NotesUplCtrlId">BaseUpld</param>
    <param name="CtrlStorageField">MultiFileCtrlStorage</param>
    <param name="AttachmentSeparator"><![CDATA[*]]></param>
    <param name="AttachmentNames"><![CDATA[{% if CData %}{{ CData[:(CData|length-1)] }}{% endif %}]]></param>
    <param name="AttachmentLengths">{% if FilesSize %}{{ FilesSize[:(FilesSize|length-2)] }}{% endif %}</param>
    <param name="AttachmentDates">{% if Dates %}{{ Dates[:(Dates|length-2)] }}{% else %}Incorrect data type for operator or @Function: Time/Date expected{% endif %}</param>
    <param name="AttachmentPlaceHolder">N</param>
    <param name="ForceWarnings">{{ settings.getUploaderLicenseKey }}</param>
    <param name="ListBorder">0</param>
    <param name="ListBGColor">FFFFFF</param>
    <param name="ListType">I</param>
    <param name="List3D">0</param>
    <param name="ButtonBarBorder">0</param>
    <param name="ButtonBar3D">0</param>
    <param name="MaximizeList">1</param>
    <param name="Sort">1</param>
    <param name="FontColor">000000</param>
    <param name="FontFace">Arial</param>
    <param name="FontSize">8</param>
    <param name="FontBold">0</param>
    <param name="ShowButtonBar">0</param>
    <param name="ButtonBar3D">1</param>
    <param name="ButtonBarBorder">1</param>
    <param name="ButtonsFlat">0</param>
    <param name="onBeforeAdd">Uploader2OnBeforeAdd</param>
    <param name="onBeforeDownload"></param>
    <param name="onBeforeFileEdit"></param>
    <param name="onBeforeLaunch"></param>
    <param name="onAdd">Uploader2OnAdd</param>
    <param name="onDelete">Uploader2OnDelete</param>
    <param name="onDownload"></param>
    <param name="onFileEdit"></param>
    <param name="onLaunch"></param>
    <param name="AllowAdd">1</param>
    <param name="AllowDelete">1</param>
    <param name="AllowLaunch">1</param>
    <param name="AllowDownload">1</param>
    <param name="AllowFileEdit">1</param>
    <param name="DisableContextMenu">0</param>
    <param name="ServerSideSupport">0</param>
    <param name="ForceMode"></param>
    <param name="MaxFiles">0</param>
    <param name="MaxFileSize">0</param>
    <param name="EnableFileCleanup">1</param>
    <param name="EditFilePath">0</param>
    <param name="EditFileIcons">1</param>
    <param name="CurrentUser"><![CDATA[{{ user.getUserNameDnAbbreviated }}]]></param>
    <param name="CtrlBGColor">FFFFFF</param>
    <param name='MultiCtrlsParentID'>DLIUploader1</param>
    <param name='MultiCtrlsChildID'>DLIUploader2</param>
    <param name="LaunchLocally">{{ settings.getLaunchLocally }}</param>
</params>
</xml>
<div id="UL2" style="background-color:white;border: 1 solid #cccccc;float:left;">
<script src="{{ path('docova_uploaderscript') }}?OpenPage&id=DLIUploader2&settings=UploaderSettings2&height=75px&width=190px" language="javascript"></script>
<script language="javascript" type="text/javascript">
prmptMessages.msgWC001 = "{% trans %}Could not convert file to html.\rError{% endtrans %}: ";
prmptMessages.msgWC002 = "{% trans %}Only one file can be converted to html and displayed in the current document.\rPlease delete one of the existing files before adding a new one.{% endtrans %}";
prmptMessages.msgWC003 = "{% trans %}Creating file preview. Please wait{% endtrans %}...";
prmptMessages.msgWC004 = "{% trans %}Converting file. Please wait{% endtrans %}...";
prmptMessages.msgAUP026 = "{% trans %}Adding Files{% endtrans %}";
prmptMessages.msgATT015 = "{% trans %}Only files with %%allowedextension%% extensions are allowed.{% endtrans %}";

document.all.DLIUploader2.MaximizeList=0;
document.all.DLIUploader2.MaximizeList=1;
</script>
</div>
</td><td valign="middle"><input type="button" onclick="ConvertWordFile('PREVIEW');" value="{% trans %}Preview HTML{% endtrans %}" style="width:120px;"><br/><br/>
<input type="button" onclick="ClearHTMLContent(); ClearTempFiles()" value="{% trans %}Clear Preview{% endtrans %}" style="width:120px;"> 
</td></tr></table>

<textarea id="OfficeHeader" name="{{ data['OfficeHeader']['Field'].getFieldName }}" style="display:none;">{{ data['OfficeHeader']['Value'] }}</textarea>
<textarea id="OfficeStyle" name="{{ data['OfficeStyle']['Field'].getFieldName }}" style="display:none;">{{ data['OfficeStyle']['Value'] }}</textarea>
<textarea id="Body" name="{{ data['DBody']['Field'].getFieldName }}" style="display:none;">{{ data['DBody']['Value']|raw }}</textarea>
<input type="hidden" id="ConvertBodyText" name="{{ data['ConvertBodyText']['Field'].getFieldName }}" value="{{ data['ConvertBodyText']['Value'] }}"/>

<div style="width:100%;margin:10px 0px 10px 0px;background-color:#efefef;padding:2px; font : normal 11px Verdana,  Arial, sans-serif;">{% trans %}HTML Content{% endtrans %}:</div>
</div>
<!--------------------------------------------- HTML preview Section ---------------------------------------------------->
<div id="divOfficeContent" style="background-color:white;"></div>
<script language="javascript" type="text/javascript">
document.all.divOfficeContent.innerHTML=document.all.Body.value;
</script>