<div style="{% if properties['HideOnReading'] == true %}display:none{% endif %}">
	<span style="margin: 4px 0px 4px 0px; font: normal 11px Verdana, Arial, sans-serif;">{{ properties['BookmarkLabel']|trans }}</span>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td class="fieldLabelCell" width="6%">URL:</td>
			<td class="fieldCell" width="94%">
				<a href="{{ data['bookmarkurl']['Value'] }}" target="_blank" onclick="openBookmark(this.href); return false;" ondblclick="openBookmark(this.href); return false;">{{ data['bookmarkurl']['Value'] }}</a><br />
			</td>
		</tr>
	</table>

	<div id="divBookmarkPreview" style="font: normal 11px Verdana, Arial, sans-serif;">
		{% trans %}Page Preview{% endtrans %}
		<iframe id="fraBookmarkPreview" src="{{ data['bookmarkurl']['Value'] }}" frameborder="0" border="0" style="height: {{ properties['PreviewHeightValue'] }}px; width: 100%; overflow: auto; border: 1 solid #cccccc;"></iframe>
	</div>
</div>