<script id="ProcessSettings" type="dummy">{{ workflow_xml|raw }}</script>
<script id="WFNodesXML" type="dummy">{{ workflow_xml_nodes != false ? workflow_xml_nodes|raw : '' }}</script>
<input type=hidden id="wfCustomizeAction" name="wfCustomizeAction" value="{{ workflow != false ? workflow['Author_Customization'] }} : ''"/>
<input type=hidden id="isWorkflowStarted" name="isWorkflowStarted" value="{% if docstep|length > 0 and docstep['isStarted'] %}1{% endif %}"/>
<input type=hidden id="wfEnableImmediateRelease" name="wfEnableImmediateRelease" value="{{ workflow != false ? workflow['Bypass_Rleasing'] : '' }}"/>
<input type=hidden id="wfWorkflowName" name="wfWorkflowName" value="{{ workflow != false ? workflow['Workflow_Name'] : '' }}"/>
<!------------------------------------------------------------>
<script type="text/javascript">
prmptMessages.msgWF001 = "{% trans %}You have error{% endtrans %}";
prmptMessages.msgWF002 = "{% trans %}Before you can start the workflow you must check in any files you have checked out{% endtrans %}";
prmptMessages.msgWF003 = "{% trans %}Before you decline this workflow step you must check in any files you have checked out{% endtrans %}";
prmptMessages.msgWF004 = "{% trans %}Before you can complete your Approval step you must check in any files you have checked out{% endtrans %}";
prmptMessages.msgWF005 = "{% trans %}Before you can complete your workflow step you must check in any files you have checked out{% endtrans %}";
prmptMessages.msgWF006 = "{% trans %}Before you can complete this workflow step you must check in any files you have checked out{% endtrans %}";
prmptMessages.msgWF007 = "{% trans %}There are no steps that can be deleted.{% endtrans %}";
prmptMessages.msgWF008 = "{% trans %}There are no workflow processess available for this document.{% endtrans %}";
prmptMessages.msgWF009 = "{% trans %}You are about to start workflow process for this document.  Are you sure?{% endtrans %}";
prmptMessages.msgWF010 = "{% trans %}Submit for review?{% endtrans %}";
prmptMessages.msgWF011 = "{% trans %}You are about to deny the approval.  Are you sure?{% endtrans %}";
prmptMessages.msgWF012 = "{% trans %}Document Workflow{% endtrans %}";
prmptMessages.msgWF013 = "{% trans %}You are about to cancel the workflow. This action will delete the current workflow and return this document to Draft state.\r\rDo you want to continue?{% endtrans %}";
prmptMessages.msgWF014 = "{% trans %}You are about to pause the workflow. This action will stop past due reminders.\r\rAre you sure?{% endtrans %}";
prmptMessages.msgWF015 = "{% trans %}You are about to backtrack the workflow.  Are you sure?{% endtrans %}";
prmptMessages.msgWF016 = "{% trans %}No workflow actions are defined in this document{% endtrans %}";
prmptMessages.msgWF017 = "{% trans %}No Workflow Defined{% endtrans %}";
prmptMessages.msgWF018 = "{% trans %}Please select the applicable workflow.{% endtrans %}";
prmptMessages.msgWF019 = "{% trans %}You must select participant names for all steps of the document workflow.{% endtrans %}";

var wfInfo = {
  "wfStartTriggered" : "",
  "wfStepStatus" : "",
  "wfAction" : "{{ step ? step.getStepType(true) : '' }}",
  "wfType" : "{% if step %}{% if step.getDistribution == 1 %}Serial{% elseif step.getDistribution == 2 %}Parallel{% endif %}{% endif %}",
  "isOriginator" : {% if docstep|length > 0 %}{{ docstep['isOriginator'] ? 'true' : 'false' }}{% else %}true{% endif %},
  "isPendingParticipant" : {% if docstep|length > 0 %}{{ docstep['isPendingParticipant'] ? 'true' : 'false' }}{% else %}false{% endif %},
  "isApprover" : {% if docstep|length > 0 %}{{ docstep['isApprover'] ? 'true' : 'false' }}{% else %}false{% endif %},
  "isReviewer" : {% if docstep|length > 0 %}{{ docstep['isReviewer'] ? 'true' : 'false' }}{% else %}false{% endif %},
  "isPublisher" : {% if docstep|length > 0 %}{{ docstep['isPublisher'] ? 'true' : 'false' }}{% else %}false{% endif %},
  "isStartStep" : {% if docstep|length > 0 %}{{ docstep['isStartStep'] ? 'true' : 'false' }}{% else %}true{% endif %},
  "isEndStep" : {% if docstep|length > 0 %}{{ docstep['isEndStep'] ? 'true' : 'false' }}{% else %}false{% endif %},
  "isCompleteStep" : {% if docstep|length > 0 %}{{ docstep['isCompleteStep'] ? 'true' : 'false' }}{% else %}false{% endif %},
  "isApproveStep" : {% if docstep|length > 0 %}{{ docstep['isApproveStep'] ? 'true' : 'false' }}{% else %}false{% endif %},
  "isDelegate" : "{% if docstep|length > 0 %}{{ docstep['isDelegate'] }}{% endif %}",
  "AllowUpdate" : {% if docstep|length > 0 %}{{ docstep['AllowUpdate'] ? 'true' : 'false' }}{% else %}true{% endif %},
  "AllowPause" : {% if docstep|length > 0 %}{{ docstep['AllowPause'] ? 'true' : 'false' }}{% else %}true{% endif %},
  "AllowCustomize" : {% if docstep|length > 0 %}{{ docstep['AllowCustomize'] ? 'true' : 'false' }}{% else %}{% if workflow != false and workflow['Author_Customization'] %}true{% else %}false{% endif %}{% endif %},
  "AllowBacktrack" : {% if docstep|length > 0 %}{{ docstep['AllowBacktrack'] ? 'true' : 'false' }}{% else %}false{% endif %},
  "AllowInfoRequest" : {% if docstep|length > 0 %}{{ docstep['AllowInfoRequest'] ? 'true' : 'false' }}{% else %}false{% endif %},
  "AllowCancel" : {% if docstep|length > 0 %}{{ docstep['AllowCancel'] ? 'true' : 'false' }}{% else %}false{% endif %},
  "MajorVersion" : "",
  "MinorVersion" : "",
  "HasMultiWorkflow" : {{ not workflow ? 'true' : 'false' }},
  "StatusList" : "",
  "WorkflowSourceUrl" : "{% if workflow != false %}{{ url('docova_xViewData') }}?ReadForm&view={% if docstep|length == 0 %}xmlWorkflowStepsByProcessId{% else %}xmlWorkflowItemsByDocument{% endif %}&col=2&lkey={% if docstep|length == 0 %}{{ workflow['id'] }}{% else %}{{ docstep['document_id'] }}{% endif %}&{{ "now"|date() }}{% endif %}"
}
function getwfinfovar(){
   return wfInfo;
}		

function IsValidWfData(action)
{
	var result = true;
	try{
		{# result = {{ doctype.getCustomWFValidateJS ? doctype.getCustomWFValidateJS|raw : 'true' }}; #}
	} catch(e) {
		alert('{% trans %}Workflow validation function could not be executed due to the following error{% endtrans %}: \r' + e); 
		return false;
	}
	return result;
}
function onWorkflowStart()
{
	var result = true;
	try{
		result = {{ doctype.getCustomJSWFStart ? doctype.getCustomJSWFStart|raw : 'true' }};
	} catch(e) {
		alert('{% trans %}Workflow on start function could not be executed due to the following error{% endtrans %}: \r' + e); 
		return false;
	}
	return result;
}
function onComplete(){
	var result = true;
	try{
		result = {{ doctype.getCustomJSWFComplete ? doctype.getCustomJSWFComplete|raw : 'true' }};
	} catch(e) {
		alert('{% trans %}Workflow on complete function could not be executed due to the following error{% endtrans %}: \r' + e); 
		return false;
	}
	return result;
}
function onApprove(){
	var result = true;
	try{
		result = {{ doctype.getCustomJSWFApprove ? doctype.getCustomJSWFApprove|raw : 'true' }};
	} catch(e) {
		alert('{% trans %}Workflow on approve function could not be executed due to the following error{% endtrans %}: \r' + e); 
		return false;
	}
	return result;
}
function onDeny() {
	var result = true;
	try{
		result = {{ doctype.getCustomJSWFDeny ? doctype.getCustomJSWFDeny|raw : 'true' }};
	} catch(e) {
		alert('{% trans %}Workflow on deny  function could not be executed due to the following error{% endtrans %}: \r' + e); 
		return false;
	}
	return result;
}
</script>
<input type=hidden id="tmpWorkflowDataXml" name="tmpWorkflowDataXml" value=""/>
<fieldset id="wfContainer" style="margin-top: 5px;padding:4px; display:inline;"><br/>
	<legend style="font : normal 11px Verdana,  Arial, sans-serif;margin-bottom:10px;">{% trans %}Document Workflow{% endtrans %}: <span id="spanDispWorkflowName">{{ not workflow ? '' : workflow['Workflow_Name'] }}</span>&nbsp;
	{% if not docstep and not workflow %}<button id="btnSelectWorkflow" type="button" title="{% trans %}Select workflow process{% endtrans %}" onClick="SelectWorkflow();">{% trans %}Select workflow{% endtrans %}</button>{% endif %}
	</legend>
	<div id="DataEditContainer" style="width: 100%; ">
		<!------------------------------------------------------------>
		<div id="DataEdit" style="width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden; border-left: 1px solid silver;border-right: 1px solid silver;border-top: 1px solid silver;">
		<span id="NoRecsMsg" style="display: none">{% trans %}No workflow items defined.{% endtrans %}</span>
		<!------------------------------------------------------------>
		<table id="tblDataEdit" datasrc="#ProcessData" border=0 style="width: 100%; border-collapse: collapse;table-layout:fixed;">
			<!------------------------------------------------------------>
			<thead class='dWidgetHeader' >
				<tr >
				<td style="width: 120px;  border-bottom: 1px solid silver; padding:8px">{% trans %}Action{% endtrans %}</td>
				<td style="width: 80px;border-bottom: 1px solid silver;">{% trans %}Status{% endtrans %}</td>
				<td style=" border-bottom: 1px solid silver;">
					{% if docstep|length > 0 %}
					<span style="float:right; font-size:10px; text-decoration:underline; cursor:hand; color:gray; padding-right:25px"><span onclick="viewDelegates()">View Delegates</span></span>
					{% endif %}
					{% trans %}Pending for{% endtrans %}
				</td>
				<td style=" border-bottom: 1px solid silver;">{% trans %}Completed by{% endtrans %}</td>
				</tr>
			</thead>
			<!------------------------------------------------------------>
			<tbody id="otblDataEdit">
				<tr>
					<td style="padding:4px ;border-bottom: 1px solid silver; padding-left: 3px;">
						<span datafld="wfTitle" id="wfTitle" style="font: 11px Verdana,Arial; color: #00000;" ></span>
		   			</td>
		   			<td style="padding:4px ;border-bottom: 1px solid silver; padding-left: 3px;">
		       			<span datafld="wfStatus"  id="wfStatus" style="font: 11px Verdana,Arial; color: #000080;" ></span>
					</td>
					<td style="padding:4px ;border-bottom: 1px solid silver; padding-left: 3px;">	
						<div datafld="wfDispReviewerApproverList" id = "wfDispReviewerApproverList" style="font: 11px Verdana,Arial; color: #000000;float:left;" ></div>
						<button class="dtoolbar" style="display: none; float: right; " onclick="SelectParticipants(this);return false;">
							<i class="far fa-users" ALT="{% trans %}Participant Selection{% endtrans %}"></i>
						</button>
					</td>
					<td style="padding:4px ;border-bottom: 1px solid silver; padding-left: 3px;">
						<span datafld="wfReviewApprovalComplete" id="wfReviewApprovalComplete" style="font: 11px Verdana,Arial; color: #000080;" ></span>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</fieldset>
<script type="text/javascript">

  InitWorkflowSteps();
  
</script>