<!-- Attachment Section -->
<script type="text/javascript">
$(document).ready(function() {
	$('#BaseUpld').on("change", function() {
		var filename = $(this).val().split('\\').pop();
		$('#OFileNames').val(filename);
	});
});
</script>
<input name="subforms[]" type="hidden" value="{{ data['mcsf_dliuploader1']['Field'].getSubform.getId }}" />
<input type=hidden id=mcsf_dliuploader1 name={{ data['mcsf_dliuploader1']['Field'].getFieldName }} value="" />

<div id="mDocAttach" style="{% if properties['HideOnEditing'] == 1 %}display:none;{% else %}display:block;{% endif %}padding:2px;" class="ui-body ui-body-a ui-corner-all">
	<p><strong>{{ properties['AttachmentLabel']|trans }}</strong></p>
	{% if data['mcsf_dliuploader1']['Value']|length > 0 %}
		{% for row in data['mcsf_dliuploader1']['Value'] %}
			{% set file_type = 'unknown_32.png' %}
			{% set file_name = row.getFileName %}
			{% set mime_type = row.getFileMimeType %}
			{% if 'application/pdf' in mime_type %}{% set file_type = 'pdf_32.png' %}
			{% elseif '/msword' in mime_type or ('/octet-stream' in mime_type) and '.doc' in file_name %}{% set file_type = 'word_32.png' %}
			{% elseif 'ms-excel' in mime_type or ('/octet-stream' in mime_type) and '.xls' in file_name %}{% set file_type = 'excel_32.png' %}
			{% elseif '.ppt' in file_name %}{% set file_type = 'powerpoint_32.png' %}
			{% elseif 'image/jpeg' in mime_type %}{% set file_type = 'jpg_32.png' %}
			{% elseif 'application/zip' in mime_type %}{% set file_type = 'zip_32.png' %}
			{% elseif '/html' in mime_type %}{% set file_type = 'html_32.png' %}
			{% elseif 'text/plain' in mime_type %}{% set file_type = 'text_32.png' %}
			{% elseif 'image/gif' in mime_type %}{% set file_type = 'gif_32.png' %}
			{% elseif 'image/bmp' in mime_type %}{% set file_type = 'bmp_32.png' %}
			{% elseif 'image/png' in mime_type %}{% set file_type = 'png_32.png' %}
			{% elseif '/xml' in mime_type %}{% set file_type = 'xml_32.png' %}
			{% elseif '.txt' in file_name %}{% set file_type = 'text_32.png' %}
			{% endif %}			
			{% if app.request.query.get('device') != 'android' %}
	<div>
		<a href="{{ path('docova_opendocfile', { 'file_name' : file_name }) }}?doc_id={% if properties['document'] %}{{ properties['document'].getId }}{% endif %}" target="_blank" class="ui-link">
			<img style="vertical-align:middle;border:0" src="{{ asset('bundles/docova/images/mobile/') }}{{ file_type }}" >
			{{ file_name }}
		</a>
	</div>
			{% else %}
	<div style='word-wrap: break-word;margin:2px; border-bottom:2px solid #dddddd'>
		<a style="text-decoration:none;" href="#" onclick="openAndroidAttachment('{{ path('docova_opendocfile', { 'file_name' : file_name }) }}?doc_id={% if properties['document'] %}{{ properties['document'].getId }}{% endif %}','VIEW');">
			<img style="vertical-align:middle;border:0" src="{{ asset('bundles/docova/images/mobile/') }}{{ file_type }}" >
			<span style='vertical-align:bottom;font-weight:bold'>{{ file_name }}</span>
		</a>
		<span= style='float:right;'>
			<button data-role="none" class="btnDownload" style="" data-inline="true" data-mini="true" data-icon="arrow-d" onclick="openAndroidAttachment('{{ path('docova_opendocfile', { 'file_name' : row.getFileName }) }}?doc_id={% if properties['document'] %}{{ properties['document'].getId }}{% endif %}','DOWNLOAD');">&nbsp;</button>
		</span>
	</div>
			{% endif %}
		{% endfor %}
	{% endif %}
	<div style="display:block;" data-role="fieldcontain">
		<label for="fileupload">{% trans %}Add File{% endtrans %}:</label><br><br>
		<input id="BaseUpld" type="file" name="Uploader_DLI_Tools[]"> 
	</div>
{% set device = '' %}
{% if app.request.query.get('device') == 'windows ce' %}{% set device = 'windows' %}
{% elseif app.request.query.get('device') == 'iphone' %}{% set device = 'ios' %}
{% elseif app.request.query.get('device') == 'ipad' %}{% set device = 'ios' %}
{% elseif app.request.query.get('device') == 'ipod' %}{% set device = 'ios' %}
{% elseif app.request.query.get('device') == 'android' %}{% set device = 'android' %}
{% elseif app.request.query.get('device') == 'blackberry' %}{% set device = 'blackberry' %}
{% endif %}
	<div id="uploadFileName" style="display:none">{% trans %}No File Chosen{% endtrans %}</div>
</div>