<!doctype html><html>
<head>
<title>{% trans %}User Activity{% endtrans %}</title>
<META content="0" http-equiv="expires"><META content="0" http-equiv="cache-control"><META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDialogBase.css') }}"	type="text/css" />
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
{% include 'DocovaBundle:Default:scriptMessagesTranslation.html.twig' %}
<script language="JavaScript" type="text/javascript">
var info = {
	"UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
	"UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}", 
	"UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
	"UserRoles" : "$$WebClient;[Administration]", 
	"HTTP_Referer" : "",
	"Query_String" : "OpenForm&ParentUNID={{ document.getId }}",
	"Query_String_Decoded" : "OpenForm&ParentUNID={{ document.getId }}",
	"Path_Info_Decoded" : "{{ path('docova_dlgactivity') }}?OpenForm&ParentUNID={{ document.getId }}",
	"ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
	"NsfName" : "{{ path('docova_homepage')[1: path('docova_homepage')|length - 2] }}",
	"ServerUrl"  :"{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
	"PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
	"PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}", 
	"ParentReaders" : "{{ parent_readers_list|join(',') }}",
	"SSLState" : "OFF"
};
function getinfovar() {
	return info;
}		

var parentWin = window.top.Docova.GlobalStorage["divDlgActivity"].sourcewindow;
var parentDoc = window.top.Docova.GlobalStorage["divDlgActivity"].sourcedocument;
var params = parentWin.dlgParams;
var dlgForm = null; //declare global variable to represent current form
var dlgDoc = null;

$(function(){
    $("#btnSendTo").button({
		text: false
	}).click(function(event){
		if (docInfo.ParentReaders =="") {
			window.top.Docova.Utils.showAddressDialog({ fieldname: "SendTo", dlgtype: "multi", sourcedocument: document });
		}
		else {
			var html = $('#divLocalNames').html();
			var dlgLocalNames = window.top.Docova.Utils.createDialog({
				id: "dlgLocalNames",
				title: "{% trans %}Select Recipient(s) List{% endtrans %}",
				width: 300,
				height: 350,
				dlghtml: html,
				sourcewindow: window,
				buttons: {
					'OK' : function() {
						var selectedNames = window.top.Docova.Utils.getField({field : "LocalNamesSelect", separator : ", "});
						if( selectedNames == "" && docInfo.ParentReaders !="" ){
							//current readers list cannot be emptied if parent folder has readers
							alert("{% trans %}Since parent folder has read restrictions, you cannot completely remove read restrictions from the current folder.{% endtrans %}");
							return false; 
						}

						Docova.Utils.setField({ field: "SendTo", value: selectedNames });
						dlgLocalNames.closeDialog();
					},
					'Cancel' : function() {
						dlgLocalNames.closeDialog();
					}
				}
			});
		}
		event.preventDefault();
	});

	$('#ActivityType').on('change', function() {
		if ($(this).val()) {
			var aSubject = $(this).val();
			$.ajax({
				url: ('luActivities?StartKey=' + $(this).val() + '&nocache=' + Date.now()),
				type: 'GET',
				processData : false,
				async: false,
				dataType: 'xml'
			})
			.done(function(response) {
				if (response) {
					var obligation = $(response).find('entrydata[name="ActivityObligation"]').text();
					var email = $(response).find('entrydata[name="ActivitySendMessage"]').text();
					var ActivityInstr = $(response).find('entrydata[name="ActivityInstruction"]').text();
					var subject = $(response).find('entrydata[name="ActivitySubject"]').text();
					aSubject = $.trim(subject) ? subject : aSubject;
					Docova.Utils.setField({ field: 'ActivityObligation', value: obligation });
					Docova.Utils.setField({ field: 'ActivitySendMessage', value: email });
					Docova.Utils.setField({ field: 'Subject', value: aSubject + ': ' });
					Docova.Utils.setField({ field: 'Body', value: ActivityInstr });
				}
			});
		}
	});
});

document.oncontextmenu=stopContextMenu();
function stopContextMenu(){ return false; }

function setDocOwner() {
	var tmp = document.getElementById("ActDocOwner");
	if(tmp.checked) {
		Docova.Utils.setField({ field: "ActivityDocumentOwner", value: tmp.value });
	} else {
		Docova.Utils.setField({ field: "ActivityDocumentOwner", value: "" });
	}
}

// -------------------------- OnLoad initialization ----------------------------------------------
function initDialog()
{
	//Global variables for convenience
	InitVars(info);

	//set the Document Owner checkbox
	var actDocOwner = document.getElementById("ActivityDocOwner");	
	var OwnerName = parentWin.dlgParams[0];
	var checkbox = document.createElement("input");
	checkbox.type = "checkbox";
	checkbox.id = "ActDocOwner";
	checkbox.value = OwnerName;
	actDocOwner.appendChild(checkbox);
	var label = document.createElement('label');
	label.appendChild(document.createTextNode(OwnerName));
	actDocOwner.appendChild(label);	
	
	//Set default Recipients list
	var RList = $("#ActivityRecipients", parentDoc).val();
	if(RList != ""){
	   $("#SendTo").val("RList");
	}
}

function isValidParent()
{
	try	{
		if(srcWindow.curDocPane){return true;}
	}
	catch (e)
	{
		return false;
	}
	return false;
}
</script>
</head>
<body text="#000000" bgcolor="white" class="dlgBody" SCROLL="no" onload="initDialog();">
	<div id="divLocalNames" style="position:absolute;display:none;">
		<div id="divLocalNamesCheckbox" style="height:280;width:100%;overflow-y: auto; overflow-x: hidden;">
		{% if parent_readers_list|length > 0 %}
			{% for name in parent_readers_list %}
				<div><input type="checkbox" value="{{ name }}" name="LocalNamesSelect" > {{ name }}</div>
			{% endfor %}
		{% endif %}
		</div>
	</div>
	<div id="dlgContentNh" style="width:100%;" class="ui-widget">
		<input name="ParentDocKey" value="{{ document.getId }}" type="hidden">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr valign="top">
				<td class="txFldLabel" width="100%">
					<table class="tblFields" style="border-collapse: collapse; width: 100%;" border=0>
						<tr>
							<td class=frmLabel width=80>{% trans %}Action{% endtrans %}:</td>
							<td>
								<select name="ActivityType" id="ActivityType" class="txFld">
									<option value="">-{% trans %}Select{% endtrans %}-</option>
								{% if activities|length > 0 %}
									{% for option in activities %}
									<option>{{ option.getActivityAction }}</option>
									{% endfor %}
								{% endif %}
								</select>
							</td>
						</tr>
						<tr>
							<td class=frmLabel>{% trans %}Obligation{% endtrans %}:</td>
							<td>
								<select name="ActivityObligation" class="txFldLabel">
									<option value="0">{% trans %}No Action Required{% endtrans %}</option>
									<option value="1">{% trans %}Acknowledgement Required{% endtrans %}</option>
									<option value="2">{% trans %}Response Required{% endtrans %}</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class=frmLabel>{% trans %}Notification{% endtrans %}:</td>
							<td>
								<select name="ActivitySendMessage" class="txFldLabel">
									<option value="0">{% trans %}Do not send email{% endtrans %}</option>
									<option value="1">{% trans %}Send email{% endtrans %}</option>
								</select>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table><br>
		<table class="tblFields" style="border-collapse: collapse; width: 100%;" border=0>
			<tr>
				<td>
					<span id="FieldLabel"><b>{% trans %}Who do you want to assign this Activity to?{% endtrans %}</b></span>
					<br/>
					<span id="FieldLabel"><b>{% trans %}Document Owner{% endtrans %}</b>:</span> 
					<div class="frmText" style="display: inline" onclick="setDocOwner()" id="ActivityDocOwner"></div>
					<input id="ActivityDocumentOwner" name="ActivityDocumentOwner" value="" type="hidden"><br/><br>
					<span><b>{% trans %}Recipient(s) List{% endtrans %}</b>:&nbsp;</span>
					<button id="btnSendTo" class="ui-icon-group"></button><br>
					<textarea class="txFld" style="width: 375px; margin-bottom: 5px; padding: 2px;" name="SendTo" id="SendTo" cols="50" rows="2" contenteditable="false"></textarea>
					<span class="frmLabel"><b>{% trans %}Activity Subject{% endtrans %}</b>:</span><br/>
					<input name="Subject" value="" class="txFld" style="width: 375px; margin-bottom: 5px; padding: 2px;"><br/>
					<span class="frmLabel"><b>{% trans %}Activity Message/Instruction{% endtrans %}</b>:</span><br/>
					<textarea class="txFld" style="width: 375px; padding: 2px;" class="txFld" id="Body" name="Body" rows="3"></textarea>
				</td>
			</tr>
		</table>
	</div>
	<!------------------ SUBFORM sfKillCache ------------>
	<!------------------Microsoft suggestion to force no cacheing of documents------------>
	<HEAD>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
	<META HTTP-EQUIV="EXPIRES" CONTENT="0">
	</HEAD>
	<!------------------END SUBFORM sfKillCache  ------------>
</body>
</html>