<!DOCTYPE HTML>
<html>
<head>
<title>{% trans %}User Activity{% endtrans %}</title>
<META content="0" http-equiv="expires"><META content="0" http-equiv="cache-control"><META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDialogBase.css') }}"	type="text/css" />
</head>
<body text="#000000" bgcolor="white" class="dlgBody" SCROLL="no">
	<table class="DlgTable" width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td class="DlgContentCell" width="100%">
				<div id="dlgContentNh" class="ui-widget" style="width: 100%;">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr valign="top">
							<td class="txFldLabel" width="100%">
								<table class="tblFields" style="width:100%;" border=0>
									<tr>
										<td class=frmLabel width=90>{% trans %}Action{% endtrans %}:</td>
										<td>{{ activity ? activity.getActivityAction : '' }}</td>
									</tr>
									<tr>
										<td class=frmLabel>{% trans %}Obligation{% endtrans %}:</td>
										<td>
										{% if activity %}
										{% if activity.getRequestResponse %}{% trans %}Response Required{% endtrans %}
										{% elseif activity.getAckRequired %}{% trans %}Acknowledgement Required{% endtrans %}
										{% else %}{% trans %}No Action Required{% endtrans %}{% endif %}
										{% endif %}
										</td>
									</tr>
									<tr>
										<td class=frmLabel>{% trans %}Notification{% endtrans %}:</td>
										<td>{% if activity %}{{ activity.getSendEmailNotification ? 'Send Email'|trans : 'Do not send email'|trans }}{% endif %}</td>
									</tr>
									<tr>
										<td class=frmLabel>{% trans %}Assigned To{% endtrans %}:</td>
										<td>{{ activity ? activity.getAssignee.getUserNameDnAbbreviated : '' }}</td>
									</tr>
								</table>
							</td>
						</tr>
					</table><br>

					<table class="DlgTable" width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<span> 
									<b>{% trans %}Activity Subject{% endtrans %}:</b><br/>{{ activity ? activity.getSubject : '' }}<br/><br/>
									<b>{% trans %}Activity Message{% endtrans %}:</b><br/>{{ activity ? activity.getMessage : '' }}<br/><br/>
									{% if activity and activity.getAcknowledged %}
									<b>{% trans %}Acknowledgement{% endtrans %}:</b><br/>{% trans %}Activity has been completed{% endtrans %}<br/>
									{% endif %}
									{% if activity and activity.getResponse %}
									<b>{% trans %}Response/Answer{% endtrans %}:</b><br/>{{ activity.getResponse }}<br/>
									{% endif %}
								</span>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
	<!------------------Microsoft suggestion to force no cacheing of documents------------>
	<HEAD>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
	<META HTTP-EQUIV="EXPIRES" CONTENT="0">
	</HEAD>
	<!------------------END SUBFORM sfKillCache  ------------>
</body>
</html>