<!doctype html><html>
<head>
<title>{% trans %}User Activity{% endtrans %}</title>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDialogBase.css') }}"	type="text/css" />
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
{% include 'DocovaBundle:Default:scriptMessagesTranslation.html.twig' %}
<script language="JavaScript" type="text/javascript">
var info = {
	"UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
	"UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}", 
	"UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
	"UserRoles" : "$$WebClient;[Administration]", 
	"HTTP_Referer" : "",
	"Query_String" : "EditDocument", 
	"Query_String_Decoded" : "EditDocument",
	"Path_Info_Decoded" : "{{ path('docova_editactivity', { 'activity' : activity.getId }) }}?EditDocument",
	"ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
	"NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
	"ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
	"PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
	"PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
	"DocID" : "{{ activity.getId }}", 
	"SSLState" :"OFF"
};
function getinfovar() {
	return info;
}

var dlgForm = null; //declare global variable to represent current form
var dlgDoc = null;

// For convenience
function stopContextMenu()
{
	return false;
}

//-------------------------- OnLoad initialization ----------------------------------------------
function initDialog()
{
	//Global variables for convenience
	dlgDoc = document;
	InitVars(info);
	$("#Subject").prop("disabled", true);
	$("#Body").prop("disabled", true);
	
	//-----Hide or show the AcknowledgementSection and ResponseSection sections depending on if this Activity needs them-----
	if(Docova.Utils.getField("ActivityObligation") == "0") {
		$("#NoActionRequired").css("display", "");
	}	
	if(Docova.Utils.getField("ActivityObligation") == "1"){
		$("#AcknowledgementSection").css("display", "");
	}	
	if(Docova.Utils.getField("ActivityObligation") == "2"){
		$("#ResponseSection").css("display", "");
	}
}
</script>
</head>
<body text="#000000" bgcolor="white" class="dlgBody" SCROLL="no" onload="initDialog();">
	<div id="dlgContentNh" style="width:100%;" class="ui-widget">
		<input name="tmpSubject" value="{{ activity.getSubject }}" type="hidden">
		<input name="tmpDocumentOwner" value="{{ activity.getDocument.getOwner.getUserNameDnAbbreviated }}" type="hidden"> 
		<input name="ParentDocKey" value="{{ activity.getDocument.getId }}" type="hidden"> 
		<input name="ActivityObligation" value="{{ activity.getRequestResponse ? '2' : (activity.getAckRequired ? '1' : '0') }}" type="hidden">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr valign="top">
				<td class="txFldLabel" width="100%">
					<table class="tblFields" style="border-collapse: collapse; width: 100%;" border=0>
						<tr>
							<td class=frmLabel width=80>{% trans %}Action{% endtrans %}:</td>
							<td class="frmText">{{ activity.getActivityAction }}</td>
						</tr>
						<tr>
							<td class=frmLabel>{% trans %}Obligation{% endtrans %}:</td>
							<td class=frmText>
							{% if activity.getRequestResponse %}{% trans %}Response Required{% endtrans %}
							{% elseif activity.getAckRequired %}{% trans %}Acknowledgement Required{% endtrans %}
							{% else %}{% trans %}No Action Required{% endtrans %}{% endif %}
							</td>
						</tr>
						<tr>
							<td class=frmLabel>{% trans %}Notification{% endtrans %}:</td>
							<td class=frmText>{{ activity.getSendEmailNotification ? 'Send Email'|trans : 'Do not send email'|trans }}</td>
						</tr>
					</table>							
				</td>
			</tr>
		</table><br>
		<table style="border-collapse: collapse; width: 100%;" border=0>
			<tr>
				<td>
					<span id="FieldLabel"> <b>{% trans %}Activity Subject{% endtrans %}:</b></span><br /> 
					<input id="Subject" name="Subject" value="{{ activity.getSubject }}" class="txFld" style="width: 400px; margin-bottom: 5px; padding: 2px;"><br />
					<span id="FieldLabel"><b>{% trans %}Activity Message{% endtrans %}:</b></span><br /> 
					<textarea class="txFld" style="width: 400px; padding: 2px;" class="txFld" id="Body" name="Body" rows="3">{{ activity.getMessage }}</textarea> <br /><br>
					<div id="AcknowledgementSection" style="display: none">
						<span id="FieldLabel"><b>{% trans %}Acknowledgement{% endtrans %}:</b></span><br /> 
						<label><input type="checkbox" name="ActivityAcknowledged" id="ActivityAcknowledged" value="1">{% trans %}I have completed this activity{% endtrans %}</label> <br />
					</div>
					<div id="ResponseSection" style="display: none">
						<span id="FieldLabel"><b>{% trans %}Response/Answer{% endtrans %}:</b></span><br />
						<textarea style="width: 400px; padding: 2px;" class="txFld" id="ActivityResponse" name="ActivityResponse" rows="4"></textarea>
					</div>
					<div id="NoActionRequired" style="display: none">
						<b>{% trans %}No action required.  Click the Done button to clear this Activity.{% endtrans %}</b>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!------------------ SUBFORM sfKillCache ------------>
	<!------------------Microsoft suggestion to force no cacheing of documents------------>
<HEAD>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
</HEAD>
<!------------------END SUBFORM sfKillCache  ------------>
</body>
</html>