<!DOCTYPE html>
<html>
<head>
<title>{% trans %}Folders{% endtrans %}</title>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/docova/js/jstree/themes/style.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleFolderControl.css') }}">
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/json2.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/jstree/jstree.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/folderControl.js') }}" charset="UTF-8"></script>
<!-- <script language="JavaScript" type="text/javascript" src="./loaderFolderControl.js?OpenPage" charset="UTF-8"></script> -->
{% include 'DocovaBundle:Default:scriptMessagesTranslation.html.twig' %}
<script language="JavaScript" type="text/javascript">
var srcWindow = window.dialogArguments;
var info = {
	  "UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
	  "UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
	  "UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
	  "UserRoles" : "$$WebClient;[Administration]",
	  "HTTP_Referer" : "",
	  "Query_String" : "ReadForm&flags=create,notcurrent,norecycle",
	  "Query_String_Decoded" : "ReadForm&flags=create,notcurrent,norecycle",
	  "Path_Info_Decoded" : "{{ path('docova_folderselect') }}?ReadForm&flags=create,notcurrent,norecycle",
	  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
	  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 1] }}",
	  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
	  "PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
	  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 1] }}",
	  "Flags" : "create,notcurrent,norecycle"
};
function getinfovar() {
	return info;
}

var foldercontrolconfig = {
	"LoadAllAtStartup" : {{ user.getUserProfile.getLoadLibraryFolders == false ? 'false' : 'true' }},
	"LibraryUrl" : "{{ path('docova_userlibraries') }}",
	"LoadUrl" : "/GetFolders.json?",
	"LoadUrlPartial" : "/FolderDataByParentID.json?",
	"LoadDocsUrl" : "",
	"DocumentService" : "",
	"FolderService" : "/FolderServices",
	"FolderAccessUrl" : "/xFolderAccess.xml?ParentUNID=",
	"FolderPropertiesUrl" : "/xFolderProperties.xml?ParentUNID=",
	"FavoritesUrl" : "{{ path('docova_userwatchlists') }}?listid=1&format=ADO",
	"FavoritesService" : "{{ path('docova_dataservices') }}",
	"UrlType" : 0,
	"ReadLimit" : 1000,
	"onFoldersReady" : "",
	"onClick" : "FolderClicked",
	"onDoubleClick" : "",
	"onContextMenu" : "",
	"onBeforeFolderCreate" : "",
	"onFolderCreate" : "",
	"onAfterFolderCreate" : "",
	"onBeforeDocumentCreate" : "",
	"onDocumentCreate" : "",
	"onBeforeFolderRename" : "",
	"onFolderRename" : "",
	"onAfterFolderRename" : "",
	"onBeforeFolderDelete" : "",
	"onFolderDelete" : "",
	"onAfterFolderDelete" : "",
	"onBeforeDocumentDelete" : "",
	"onDocumentDelete" : "",
	"onAfterDocumentDelete" : "",
	"onBeforeAddFavorite" : "",
	"onAddFavorite" : "",
	"onAfterAddFavorite" : "",
	"onBeforeDeleteFavorite" : "",
	"onDeleteFavorite" : "DeleteFavorite",
	"onAfterDeleteFavorite" : "RefreshFavorites",
	"onBeforeOpenInNewTab" : "",
	"onOpenInNewTab" : "",
	"onAfterOpenInNewTab" : "",
	"onBeforeAddFiles" : "",
	"onAddFiles" : "",
	"onAfterAddFiles" : "",
	"onBeforeFileExport" : "",
	"onFileExport" : "",
	"onAfterFileExport" : "",
	"onBeforeFolderCopy" : "",
	"onFolderCopy" : "",
	"onAfterFolderCopy" : "",
	"onBeforeFolderCut" : "",
	"onFolderCut" : "",
	"onAfterFolderCut" : "",
	"onBeforeFolderPaste" : "",
	"onFolderPaste" : "",
	"onAfterFolderPaste" : "",
	"onPropertiesMenu" : "",
	"onSubscriptionClick" : "showSubscriptionDialog",
	"onBeforeExpandAll" : "",
	"onAfterExpandAll" : "",
	"onBeforeCopyFolderLink" : "",
	"onCopyFolderLink" : "",
	"onAfterCopyFolderLink" : ""
};

/*======================================================================
Folder events
======================================================================*/

function FolderClicked(){
	var flags = docInfo.Flags;
	flags = flags.split(",");
	
	var createAccessRequired = (ArrayGetIndex(flags, "create") > -1);
	var noRecycleBin = (ArrayGetIndex(flags, "norecycle") > -1);
	var notCurrentFolder = (ArrayGetIndex(flags, "notcurrent") > -1);
	
	//-------- get folder control ----------------	
	var DlitFolders = DLITFolderView;
	if (DlitFolders == null){
		return(false);
	}
	
	//=========================================================
	var redirectURL = DlitFolders.FolderOpenUrl;
	if (redirectURL == undefined){
	    redirectURL = "";
	}

	//-------- redirect if specified ---------------	
	if(redirectURL != "") {
		var dlgParams = window;
		var dlgUrl = redirectURL + "&flags=create,notcurrent,norecycle";
		var dlgSettings = "dialogHeight:600px;dialogWidth:700px;center:yes; help:no; resizable:yes; status:no;";
		window.showModalDialog(dlgUrl,dlgParams,dlgSettings);
		return false;
	}
	//=========================================================	
	
	if (noRecycleBin && DlitFolders.CurrentFolderName == "Recycle Bin"){
			alert("{% trans %}Please choose a destination folder other than the recycle bin.{% endtrans %}");
			return(false);
	}
	
	if (notCurrentFolder){
		try{
			var parentdocinfo = srcWindow.getinfovar();
			var parentFolderID = parentdocinfo.FolderID;
			if(DlitFolders.CurrentFolderID == parentFolderID){
				alert("{% trans %}Please choose a destination folder other than the source document folder.{% endtrans %}");
				return(false);
			}
		}catch(e){};
	}
	
	return(true);
}

function completeWizardFromAltURL(LibraryID, FolderID, FolderUNID, CurrentFolderAccess) {	

	var retValues = new Array();

	retValues[0] = LibraryID;
	retValues[1] = FolderID;
	retValues[2] = FolderUNID;
  	retValues[3] = CurrentFolderAccess;

	window.returnValue = retValues;
	window.close();
}


function completeWizard()
{	
	var retValues = new Array();
	
	var flags = docInfo.Flags;
	flags = flags.split(",");
	
	var createAccessRequired = (ArrayGetIndex(flags, "create") > -1);
	var noRecycleBin = (ArrayGetIndex(flags, "norecycle") > -1);
	var notCurrentFolder = (ArrayGetIndex(flags, "notcurrent") > -1);
	
	retValues[0] = "";
	retValues[1] = "";
	retValues[2] = "";
	retValues[3] = "";
	
	//-------- get folder control ------------	
	var DlitFolders = DLITFolderView;
	//--------get library id ----------------	
	var LibraryID = DlitFolders.CurrentLibraryID;
	if (LibraryID == ""){
		alert("{% trans %}Please select a folder from the folder list before selecting Ok.{% endtrans %}");
		return(false);
	}else{
		retValues[0] = LibraryID;   //-- ID of selected library
	}

	//--------get folder ID -----------------	
	if (DlitFolders.IsFolderSelected == false){
 	  alert("{% trans %}Please select a folder from the folder list before selecting Ok.{% endtrans %}");
       return(false);
	}else{
		//--------get folder ID -------------------
	    var FolderID = DlitFolders.CurrentFolderID;
	    if (FolderID == ""){
			alert("{% trans %}Please select a folder from the folder list before selecting Ok.{% endtrans %}");	    
		    return(false);
		//--------- check to see if user selected the recycle bin
	    } else if (noRecycleBin && DlitFolders.CurrentFolderName == "Recycle Bin"){
			alert("{% trans %}Please choose a destination folder other than the recycle bin.{% endtrans %}");
			return(false);
		//-------- check if user has access to create documents in destination folder
	    } else if (createAccessRequired && Number(DlitFolders.CurrentFolderAccess) < 3){
	    		alert("{% trans %}You do not have sufficient rights to create documents in the selected folder. Please choose an alternate folder.{% endtrans %}");
				return(false);
		//--------- check to see if user selected the current folder		
	    }else if (notCurrentFolder){
			try{
				var parentdocinfo = srcWindow.getinfovar();
				var parentFolderID = parentdocinfo.FolderID;
				if(FolderID == parentFolderID){
					alert("{% trans %}Please choose a destination folder other than the source document folder.{% endtrans %}");
					return(false);
				}
			}catch(e){};
		}
       retValues[1] = FolderID;		//-- ID of selected folder 
       retValues[2] = DlitFolders.CurrentUNID;	//-- UNID of selected folder
       retValues[3] = DlitFolders.CurrentFolderAccess;  //-- user access to selected folder
	}
	
	return retValues;
}
</script>
</head>
<body text="#000000" bgcolor="#FFFFFF" SCROLL="no" onload="Initialize();">
<form action="">
	<div id="divFolderControl">
		<div id="divFolderControlTabContainer" style="display: none;">
			<div id="divFolderControlTabs">
				<div id="divFolderControlStopWrap">
					<ul>
						<li><a href="#tabs-1" title="Applications and Libraries">Apps &	Libraries</a></li>
						<li><a href="#tabs-2" title="Favorites"><span
								class="ui-icon ui-icon-star"></span></a></li>
						<li>
							<button id="btnSubscribe" title="Subscriptions" onclick="DLITFolderView.ShowSubscriptions();return(false);"></button>
							<button id="btnRefreshLibs" title="Refresh" onclick="DLITFolderView.RefreshAllLibraries();return(false);"></button>
						</li>
					</ul>
				</div>
				<div id="tabs-1" style="padding: 2px 4px 2px 4px; width: 100%; height: 100%; position: relative; top: 0px; left: 0px; overflow: auto;">
					<div id="divTreeView"></div>
				</div>
				<div id="tabs-2" style="padding: 0px 0px 0px 0px; width: 100%; height: 100%; position: relative; top: 0px; left: 0px; overflow: auto;">
					<!---------------------- Favorites Data table ------------------------------>
					<div id="divFavorites" style="display:; width: 100%;">
						<table id="tblFavorites" datasrc="#Favorites">
							<thead>
								<tr>
									<td style="width: 24px;" class="ui-widget-header"></td>
									<td class="ui-widget-header">Title</td>
									<td class="ui-widget-header">Library</td>
								</tr>
							</thead>
							<tbody id="otblFavorites">
								<tr>
									<td><div class="favorite-img" style="display: none;" datafld="rectype"></div></td>
									<td><div datafld="Title"></div></td>
									<td><div datafld="LibraryName"></div></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--------  This is a dummy div to force a refresh on the ipad...this div is updated when the user clicks the Libraries and Applications tab in an ipad----->
	<div id="ipad" style="position:absolute; left:-300px; top:-300px" ></div>
</form>
</body>
</html>