<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>{% trans %}Paste Related Link{% endtrans %}</title>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/' ~ user.getUserProfile.getTheme ~ '/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDialogBase.css') }}" type="text/css" />
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}" ></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa_ieemu_xpath.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
{% include 'DocovaBundle:Default:scriptMessagesTranslation.html.twig' %}
<script language="JavaScript" type="text/javascript">
var dlgDoc = null;
var params= window.dialogArguments;
var info = {
  "UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'})  }}",
  "UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
  "UserNameCN" : "{{ user.getUserProfile.getDisplayName }}",
  "UserRoles" : "$$WebClient;[Administration]",
  "HTTP_Referer" : "",
  "Query_String" : "OpenForm",
  "Query_String_Decoded" : "OpenForm",
  "Path_Info_Decoded" : "{{ path('docova_linksdialog') }}",
  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}"
};
function getinfovar(){
   return info;
}	
document.oncontextmenu=stopContextMenu;
function stopContextMenu(){
	return false;
}



// -------------------------- OnLoad initialization ----------------------------------------------
function initDialog()
{
	//Global variables for convenience
	InitVars(info);
}

jQuery(document).ready(function(){
	if(window.top.Docova.IsPluginAlive){
		var data = window.top.DocovaExtensions.GetCBData("text");
		if(data){
			jQuery("#linkURL").text(data);
		}
	}
	
	jQuery("#linkURL").focus();		
});
</script>
</head>
<body text="#000000" bgcolor="white" class="dlgBody" SCROLL="no" onload="initDialog();">
	<download id="dwn" style="behavior:url(#default#download)" />
	<table class="DlgTable" width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td class="DlgContentCell" width="100%">
                <div id="dlgContentNh" class="ui-widget" style="width:100%;">
	                <span class="frmLabel">{% trans %}Description (optional){% endtrans %}:</span><br>
	                <input style="width:370px;" class="frmText" id="linkDescription" name="linkDescription" val="">
    	            <br>
        	        <span id="FieldLabel"class="frmLabel">{% trans %}Use CTRL+V to paste your link{% endtrans %}:</span><br>
        	        <textarea style="width:370px;" rows="4" class="txFld" id="linkURL" name="linkURL"></textarea>
                </div>
			</td>
		</tr>
	</table>
	<!------------------ SUBFORM sfKillCache ------------>
	<!------------------Microsoft suggestion to force no cacheing of documents------------>
<HEAD>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
</HEAD>
<!------------------END SUBFORM sfKillCache  ------------>
</body>
</html>