<!doctype html><html>
<head>
<title>{% trans %}Import From File{% endtrans %}</title>
<META content="0" http-equiv="expires"><META content="0" http-equiv="cache-control"><META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDialogBase.css') }}" type="text/css" />
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}" ></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa_ieemu_xpath.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
{% include 'DocovaBundle:Default:scriptMessagesTranslation.html.twig' %}
<script language="JavaScript" type="text/javascript">
var info = {
  "UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
  "UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
  "UserNameCN" : "{{ user.getUserProfile.getDisplayName }}",
  "UserRoles" : "$$WebClient;[Administration]",
  "HTTP_Referer" : "",
  "SystemKey" : "{{ settings.getSystemKey }}",
  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "FolderID" : "{{ app.request.query.get('folderid') }}",
  "LibraryID" : "{{ app.request.query.get('appid') }}",
  "ShowCurrentOnly" : "false"
};
function getinfovar(){
   return info;
}		

window.returnValue=false;

//========== Finish button click handler ============
function completeWizard(cb)
{
	if(DLIUploader1.FileCount==0){
			alert("{% trans %}Please select one or more files to import.{% endtrans %}");
			return false;
		}
	if(Docova.Utils.getField( "DocumentTypeKey")=="N"){
			alert("{% trans %}Please select a type of document to create.{% endtrans %}");
			return false;
		}
	

	container = this;
	retValue = DLIUploader1.Submit({
		Navigate: false, 
		GetResults: true,
		onOk: function() {
				cb.call(this, DLIUploader1.SubmitResultPage);
		},
		onOtherwise: function(){
				alert ( "Import from File Cancelled.");
				cb.call(this);
		}
	} );
	
	return true;
}
</script>
</head>

<body text="#000000" bgcolor="#FFFFFF" class="dlgBody" SCROLL="no" onload="InitVars(info);">

	<form method="post" action="{{ path('docova_importfromfile') }}?OpenForm{%  if folder %}&amp;folderid={{ folder.getId }}{% endif %}{% if application %}&amp;appid={{ application.getId }}{% endif %}&amp;Seq=1" enctype="multipart/form-data" name="_dlgImportFromFile">
		<link rel="stylesheet" href="{{ asset('bundles/docova/font-awesome/css/all.min.css') }}">
		<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.ui.widget.js') }}" charset="UTF-8"></script>
		<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.fileupload.js') }}" charset="UTF-8"></script>
		<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.iframe-transport.js') }}" charset="UTF-8"></script>
		<script language="JavaScript" type="text/javascript" src ="{{ asset('bundles/docova/jquery/jQueryFileDownload.js') }}"></script>
		<script language="JavaScript" type="text/javascript" src ="{{ asset('bundles/docova/js/Uploader.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/docova/css/uploader.css') }}">
		<span style="display:none;">
			<input name="OFileNames" value="">
			<input name="OFileDates" value="">
			<input name="SyncCreate" value="">
			<input name="SyncRemoveFile" value=""> 
			<input name="SyncUnid" value="">
			<input name="tmpAddedFiles" value="" id="tmpAddedFiles">
			<input name="tmpEditedFiles" value="" id="tmpEditedFiles">
		</span>
		<div id="dlgContentNhs" style="padding:10px 10px 10px 10px;font-size: 11px; font-family: verdana, arial, helvetica, sans-serif;">
			<div style="font: bold 11px verdana, arial, helvetica, sans-serif; margin-bottom:5px;">
				<b>	{% trans %}Import Documents from File:{% endtrans %}</b>
			</div>
			<table style="" cellpadding="0" border="0" cellspacing="0">
				<tr>
					<td width="500px">
						<span style="font-size: 11px; color: black; font-family: verdana, arial, helvetica, sans-serif; ">{% trans %}CSV import file (a new document will be created for each row in the file){% endtrans %}:</span><br>
						<span style="font-size: 11px; color: black; font-family: verdana, arial, helvetica, sans-serif; ">{% trans %}The first row in the CSV file must contain the field names to store corresponding values to.{% endtrans %}:</span>
					</td>
					<td width="200px" align="right">
						<button type="button" onclick="DLIUploader1.AddFile();" value="{% trans %}Add Files{% endtrans %}" id="btnAddFiles" class="txButton" style="margin-bottom:3px;"></button>
						<button type="button" onclick="DLIUploader1.RemoveSelectedFiles();" value="{% trans %}Remove Files{% endtrans %}" id="btnRemoveFiles" class="txButton"></button>
					</td>
				</tr>
			</table>
			<!--------------------------------------------- DLI Uploader Section ---------------------------------------------------->
 			<input name="MultiFileCtrlStorage" value="" style="display:none">
			<input name="RefreshStorage" value="" style="display:none"> 
			<input id="BaseUpld" style="display: none" type="file" name="Uploader_DLI_Tools[]"> 
			<div align=right id="divUploaderButtons-1" style="right: 20px; top: 5px; font:11px Verdana, Arial; z-index:1;">
				<span align=left style="padding-right: 20px" id="uploaderMode" >{% trans %}Mode{% endtrans %} : 
					<span id="upmode" style="font-weight:normal">{% trans %}Basic{% endtrans %}</span>
				</span>
			</div>
			<div class="ui-widget ui-widget-content itemcontainer" id="attachDisplay" style="height: 150px"></div>
		</div>
		<!--------------------------------------------------------------------------------------------------------->
		<table style="margin-top:5px;" cellpadding="0" border="0" cellspacing="0">
			<tr>
				<td>
					<span style="font-size: 11px; color: black; font-family: verdana, arial, helvetica, sans-serif; ">{% trans %}Import as form{% endtrans %}:</span>
				</td>
				<td width="350" align="right">
					<select name="DocumentTypeKey" onchange="" id="DocumentTypeKey" style="width: 340px; ">
						<option value="N">----- {% trans %}Select Form{% endtrans %} ----- 
						{% if doc_types|length > 0 %} 
							{% for option in doc_types %}
						<option value="{{ option|split("|", 3)[1] }}">{{ option|split("|", 3)[0] }} 
							{% endfor %} 
						{% endif %}
					</select>
				</td>
			</tr>
		</table>
		<script type="text/javascript">
			$(document).ready(function()
			{
				$.support.cors = true;
				DLIUploader1= new Docova.Uploader({ 
						divId : "attachDisplay",
						AttachmentNames : "",
						AttachmentLengths:  "",
						AttachmentDates:  "",
						AllowedFileExtensions: "csv",
						Height: "100",
						FileCtrlId: "BaseUpld",
						ListType: "D",
						MaxFiles: 0,				
					});
				DLIUploader1.init();
				$( "#btnAddFiles" )
						.button({
							text:false,
							label: "Add Files"
				});
				$( "#btnRemoveFiles" )
						.button({
							text:false,
							label: "Remove Files"
				});
			});
		</script>
		<!------------------ SUBFORM sfKillCache ------------>
		<!------------------Microsoft suggestion to force no cacheing of documents------------>
		<HEAD>
			<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
			<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
			<META HTTP-EQUIV="EXPIRES" CONTENT="0">
		</HEAD>
		<!------------------END SUBFORM sfKillCache  ------------>
	</form>
</body>
</html>