<!DOCTYPE HTML>
<html>
<head>
	<title>{% trans %}Import Email Messages{% endtrans %}</title>
	<base target="_self" />
	<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleModernMailAcquire.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDialogBase.css') }}" />
	<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/docova/js/modernMailAcquire.js') }}"></script>
	<style type="text/css">
#mail_folders {
	height: 420px;
	overflow: hidden;
	overflow-y: auto; 
}
#mail_folders LI {
	display: block;
	min-height: 18px;
	line-height: 18px;
	min-width: 18px;
	white-space: nowrap;
	margin-left: 18px;
	background: transparent url('{{ asset('bundles/docova/images/d.png') }}') repeat-y -90px 0;
}
#mailbox { background: transparent url('{{ asset('bundles/docova/images/FIcon_Home.jpg') }}') no-repeat; }
#inbox { background: transparent url('{{ asset('bundles/docova/images/FIcon_Mail.gif') }}') no-repeat; }
.folder{ background: transparent url('{{ asset('bundles/docova/images/icons/folder.gif') }}') no-repeat; }
.tr-open, .tr-leaf, .tr-close, .tr-default {
	background: transparent url('{{ asset('bundles/docova/images/d.png') }}') repeat-y;
}
.tr-default { background-position: -90px 0px; }
.tr-open { background-position: -72px 0px; cursor: pointer; }
.tr-close { background-position: -54px 0; cursor: pointer; }
.tr-leaf { background-position: -36px 0px; }
</style>
{% include 'DocovaBundle:Default:scriptMessagesTranslation.html.twig' %}
	<script type="text/javascript">
var docInfo = {
  "UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
  "UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
  "UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
  "Query_String" : "{{ app.request.query.get('associatemail') ? 'associatemail=true' : '' }}",
  "Query_String_Decoded" : "{{ app.request.query.get('associatemail') ? 'associatemail=true' : '' }}",
  "Path_Info_Decoded" : "{{ path('docova_mailacquiremessages') }}",
  "MailViewPageSize" : 20,
  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
  "PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}"
};
var parentWin = window.top.Docova.GlobalStorage["divDlgAcquireMessages"].sourcewindow,
	parentDoc = window.top.Docova.GlobalStorage["divDlgAcquireMessages"].sourcedocument,
	srcDocInfo = parentWin.getinfovar();
	//srcDocInfo = parentDoc.docInfo,
	importedCount = 0;
	</script>
</head>
<body scroll="no" class="ui-widget">
{% if app.session.get('epass') == '' %}
<table id="userpass_container">
	<tr>
		<td>{% trans with {'%usermail%': user.getUserMail} %}Please provide a valid password for "%usermail%"{% endtrans %}</td>
	</tr>
	<tr>
		<td><input type="password" id="pass" name="pass" value="" class="ui-widget ui-widget-content" style="width: 200px;"></td>
	</tr>
	<tr>
		<td><button id="submitpass">{% trans %}Submit{% endtrans %}</button>&nbsp;</td>
	</tr>
</table>
<div id="authentication"></div>
<form action="" method="post" id="hiddenForm"></form>
{% endif %}
	<h3>{% trans with {'%foruser%' : user.getUserNameDnAbbreviated, '%onmail%' : user.getUserMail} %}Mail for %foruser% on %onmail%{% endtrans %}</h3>
	<table id="contianer" border=0 cellspacing=0 cellpadding=0>
		<tr>
			<td class="leftNav"><h4>{% trans %}Folders and views{% endtrans %}</h4></td>
			<td>
				<div class="toprows">
					<h4 id="listInfo">{% trans with {'%from%' : 0, '%to%' : 0, '%total%' : 0} %}Documents %from% to %to% of %total%{% endtrans %}</h4>
					<ul id="navigators">
						<li>{% trans %}First page{% endtrans %}</li>
						<li>{% trans %}Previous page{% endtrans %}</li>
						<li>{% trans %}Next page{% endtrans %}</li>
						<li>{% trans %}Last page{% endtrans %}</li>
					</ul>
				</div>
				<div class="toprows">
					&nbsp;<label>{% trans %}Search for{% endtrans %}: </label>
					<input type="text" name="search_for" id="search_for" class="ui-widget ui-widget-content">
					<button id="search">{% trans %}Search{% endtrans %}</button>
					<button id="clear">{% trans %}Clear{% endtrans %}</button>
				</div>
			</td>
		</tr>
		<tr>
			<td class="leftNav bg">
				<ul id="mail_folders">
					<li class="root">
						<ins class="tr-open"></ins>
						<a id="mailbox">{% trans %}Mail{% endtrans %}</a>
						<ul>
							<li class="{{ folders ? 'tr-default' : 'none' }}">
								<ins class="tr-leaf"></ins>
								<a id="inbox" href="#INBOX">{% trans %}Inbox{% endtrans %}</a>
							</li>
							{% macro generateTree(item, fname, count, prname, index) %}
								{% if item is iterable %}
									{% import _self as tree2 %}
									<li class="{{ item|length > 1 or count > 1 ? 'tr-default' : 'none' }}">
										<ins class="tr-open"></ins>
										<a class="folder" href="#{{ prname ~ fname }}">{{ fname }}</a>
										<ul>
									{% for key,child in item %}
										{{ tree2.generateTree(child, key, item|length, prname ~ fname ~ '\\', loop.index) }}
									{% endfor %}
										</ul>
									</li>
								{% else %}
								<li class="{{ index == count ? 'none' : 'tr-default' }}">
									<ins class="tr-leaf"></ins>
									<a class="folder" href="#{{ prname ~ fname }}">{{ fname }}</a>
								</li>
								{% endif %}
							{% endmacro %}
							{% if folders|length > 0 %}
								{% import _self as tree %}
								{% for fname,item in folders %}
									{{ tree.generateTree(item, fname, folders|length, '',loop.index) }}
								{% endfor %}
							{% endif %}
						</ul>
					</li>
				</ul>
			</td>
			<td id="list_container">
				<div>
				<table id="mail_list" border=0 cellspacing=0 cellpadding=0 >
					<tr class="ui-widget-header ui-state-hover">
						<th class="s"></th>
						<th class="m">{% trans %}Who{% endtrans %}</th>
						<th class="sm">{% trans %}Date{% endtrans %}</th>
						<th class="sm">{% trans %}Size{% endtrans %}</th>
						<th class="s"></th>
						<th>{% trans %}Subject{% endtrans %}</th>
					</tr>
				</table>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>