{% macro bytesToSize(bytes) %}
{% spaceless %}
    {% set kilobyte = 1024 %}
    {% set megabyte = kilobyte * 1024 %}
    {% set gigabyte = megabyte * 1024 %}
    {% set terabyte = gigabyte * 1024 %}

    {% if bytes < kilobyte %}
        {{ bytes ~ ' B' }}
    {% elseif bytes < megabyte %}
        {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
    {% elseif bytes < gigabyte %}
        {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
    {% elseif bytes < terabyte %}
        {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
    {% else %}
        {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
    {% endif %}
{% endspaceless %}
{% endmacro %}
{% import _self as utils %}
<!doctype html>
<html>
<head>
<title>{% trans %}Public Access{% endtrans %}</title>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleViewDialogBase.css') }}" type="text/css" />
<style>
.MAIN_FONT {font-family: Verdana;font-size: x-small;}
.SMALL_FONT {font-family: Verdana;font-size: xx-small;}
.fileRow:hover {background-color: #f5f5f5; }
</style>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}" ></script>
<script language="JavaScript" type="text/javascript">

var info = {
  "Query_String" : "OpenForm&ParentUNID={{ app.request.query.get('ParentUNID') }}",
  "Query_String_Decoded" : "OpenForm&ParentUNID={{ app.request.query.get('ParentUNID') }}",
  "Path_Info_Decoded" : "{{ path('docova_publicaccesssettings') }}?OpenForm&ParentUNID={{ app.request.query.get('ParentUNID') }}",
  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
  "ServerUrl" : "{{ app.request.server.get('HTTP_SCHEME') }}://{{ app.request.server.get('HTTP_HOST') }}",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "ReplicaId" : "",
  "ParentUNID" : "{{ app.request.query.get('ParentUNID') }}",
  "SessionDateFormat" : "{{ settings.getDefaultDateFormat|lower|replace({'yyyy': 'yy'}) }}"
};
function getinfovar(){
   return info;
}
$(document).ready(function(){
	var arguments = window.top.Docova.GlobalStorage["divPASettingsParams"].params;

	var name = arguments[1];
	var filelist = arguments[2];
	var expirationdate = arguments[3];
	var accesstype = arguments[4];
	var selectedDocIds = arguments[5];
	
	//Set Name field
	$("#Name").val(name);
	
	//Set AccessType
	$('input[name=AccessType][value="' + accesstype + '"]').prop('checked', true);
		
	//Set checked file list
	var filelistarray = filelist.split(";");
	$('input:checkbox[name=Files]').each(function(){
		for(var x=0; x<filelistarray.length; x++){
			if($(this).val() == filelistarray[x]){
				$(this).prop("checked", true);
			}
		}
	});

	//If accesstype is 1, All Files, disable the ability to check files off and hide
	if(accesstype=="1" || accesstype==""){
		$('input:checkbox[name=Files]').attr("disabled", true);
		$("#rowFiles").css("display", "none");
	}

	
	//Set ExpirationDate
	var fullDt = expirationdate;
	if (fullDt!=null && fullDt!='' && fullDt.indexOf("T")>-1){
		fullDt = fullDt.substring(0,10);
	}
    jQuery("#ExpirationDate").datepicker( { dateFormat: "yy-mm-dd" } ); 
    jQuery("#ExpirationDate").val(fullDt);
   
	    
});

// -------------------------- OnLoad initialization ----------------------------------------------
function initDialog()
{
	InitVars(info);
	document.getElementById("Name").focus();
}

function completeWizard()
{
	var result = false;
	
	var name = jQuery("#Name").val();
	var accesstype = jQuery("#AccessType:checked").val();
	var expdate = jQuery("#ExpirationDate").val();
	
	var filelist = "";
	if(accesstype == "0"){ //Selected files
		jQuery('input:checkbox[name=Files]:checked').each(function(){
			if(filelist == ""){
				filelist += $(this).val();
			}else{
				filelist += ";" + $(this).val();
			}
		});
	}

	/*		
	if(expdate == ""){
		alert("{% trans %}Please provide an Expiration Date. (Format: yyyy-mm-dd){% endtrans %}");
		return result;
	}
	*/
			
	if(filelist == "" && accesstype == "0"){  //--no files but selected files chosen
		alert("{% trans %}If you choose 'Selected Files', then you must select at least one file.{% endtrans %}");
		return result;
	}

	var expirationdateISO = expdate;
	
	result = {"Name" : name, "Files" : filelist, "Expiration" : expirationdateISO, "Type" : accesstype };

	return result;				
}
</script>
</head>
<body text="#000000" bgcolor="white" class="dlgBody tundra" SCROLL="no" onload="initDialog();">
	<table class="DlgTable" width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td class="DlgContentCell" width="100%">
				<div id="dlgContentNh" style="width: 97%; overflow: auto;">
					<div id="profileXML" style="display: none;">{# needs to be calculated here #}</div>
					<div id="scrollPanel" style="height: 410px; overflow-y: auto;">
						<fieldset id="fieldsetContent" style="font-size: 8pt; border: 1px solid #CCC; margin:0;">
							<legend>
								<span style="font-weight: bold;">{% trans %}Shared Content{% endtrans %}</span>
							</legend>
							<table border="0" class="txFldLabel" style="padding: 0px; margin: 0px; border-collapse: collapse;width:100%;">
								<tr id='rowName' style='display: none;'>
									<td class="TD_CLASS"><span id="FieldLabel" class="txFldLabel">{% trans %}Name{% endtrans %}:</span></td>
									<td><input name="Name" value="" id="Name" class="txFld" style="width: 225px; margin-bottom: 5px; padding: 2px;" title="{% trans %}A common name for this access profile{% endtrans %}"></td>
								</tr>
								<tr id="rowAccessType">
									<td class="TD_CLASS" style="padding: 0px 0px 5px 0px;width:100px;">
										<span id="FieldLabel" class="txFldLabel">{% trans %}Content{% endtrans %}:</span>
									</td>
									<td style="padding: 0px 0px 5px 0px;">
										<label><input type="radio" name="AccessType" value="1" checked
											onclick="if(this.value=='1'){ //All files radio clicked so uncheck all files, disable ability to select, hide files section
	$('input:checkbox[name=Files]').prop('checked', false);
	$('input:checkbox[name=Files]').attr('disabled', true);
	$('#rowFiles').css('display', 'none')
}else{ //Select files, enable ability to select files, unhide files section
	$('input:checkbox[name=Files]').removeAttr('disabled', true);
	$('#rowFiles').css('display', '');
}"
										 id="AccessType" title="{% trans %}The content to grant public access to{% endtrans %}">{% trans %}All Files{% endtrans %}</label>
										 
									</td>
								</tr>
								<tr>
									<td></td>
									<td style="padding: 0px 0px 5px 0px;">
										<label><input type="radio" name="AccessType" value="0"
											onclick="if(this.value=='1'){ //All files radio clicked so uncheck all files, disable ability to select, hide files section
	$('input:checkbox[name=Files]').prop('checked', false);
	$('input:checkbox[name=Files]').attr('disabled', true);
	$('#rowFiles').css('display', 'none')
}else{ //Select files, enable ability to select files, unhide files section
	$('input:checkbox[name=Files]').removeAttr('disabled', true);
	$('#rowFiles').css('display', '');
}"
										 id="AccessType" title="{% trans %}The content to grant public access to{% endtrans %}">{% trans %}Selected Files{% endtrans %}</label>
									</td>
								</tr>
								</table>								
								<table border="0" class="txFldLabel" style="padding: 0px; margin: 0px; border-collapse: collapse;width:100%;">								
								<tr id="rowFiles" style="display: none; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc;">	
									<td colspan="3">
										{% if attachments is defined and attachments|length!=0%}
											<form method="post">
											 
											 <table border=0 class="SMALL_FONT" cellpadding="4px" cellspacing="4px">		   
												<tr>
												    <td></td>
													<td style="min-width:110px;" width="60%"><b>Name</b></td>
													<td style="min-width:55px;" width="20%"><b>Size</b></td>
													<td style="min-width:75px;" width="20%"><b>Date</b></td>
										        </tr>
										     </table>
										     <div id="attachmentSelect" style="height:188px;overflow-y:auto;overflow-x: hidden;">
											<table border=0 class="SMALL_FONT" cellpadding="4px" cellspacing="4px">	 
												{%for attachment in attachments %}
													<tr class="fileRow">
													    <label>
															<td>
															  {% if sourceType=='Folder' %}															  
															  	<input type="checkbox" name="Files" value="{{  attachment.getFileName|raw }}|{{ attachment.getDocument.getId}}" id="Files" style="MAIN_FONT;margin-bottom: 5px; padding: 2px;" 
															        title="{% trans %}The content to grant public access to{% endtrans %}" />
															  {%  else %}
															   	<input type="checkbox" name="Files" value="{{  attachment.getFileName|raw }}" id="Files" style="MAIN_FONT;margin-bottom: 5px; padding: 2px;" 
															        title="{% trans %}The content to grant public access to{% endtrans %}" />
															  {% endif %}
															</td>
															<td style="min-width:110px;">{{  attachment.getFileName|raw }}</td>
															<td style="min-width:55px;" width="20%">{{  utils.bytesToSize( attachment.getFileSize ) }}</td>					
															<td style="min-width:75px;"  width="20%">{{  attachment.getFileDate|date("Y/m/d") }}</td>
														</label>
													</tr>
												{% endfor %}												
										    </table>
										    </div>
										    </form>
										    
										    {% if errorMessage is defined  %}
									    	  <p/>
									    	  <span style="color:red;" class="MAIN_FONT">ERROR: {{ errorMessage }}</span>
									        {%  endif %}
									</td>										
								</tr>
								{%  else %}
								<tr>
									<td colspan="4">
									    	<!-- No attachments are available -->
									    	<span class="MAIN_FONT"><br/>No attachment were found for the associated {{ sourceType }}<p/></span>
									</td>
								</tr>									    										        
								{%  endif %}
																
														
								<tr id="rowExpiration">
									<td class="TD_CLASS" style="width:100px;">
										<span id="FieldLabel" class="txFldLabel">{% trans %}Expiration{% endtrans %}:</span>
									</td>
									<td style="padding: 5px 0px 0px 5px;">
										<input name="ExpirationDate" value="" id="ExpirationDate" class="txFld" style="padding: 2px; position: relative; z-index: 999;" size="11" maxlength="10" title="{% trans %}The date that this public access profile will expire on{% endtrans %}">
									</td>
								</tr>
							</table>													
						</fieldset>
						<input name="DefaultExpiration" value="" id="DefaultExpiration" type='hidden'>
					</div>
				</div>
			</td>
		</tr>
	</table>
	
	
	
</body>
</html>