<!doctype html>
<html>
<head>
	<title>{% trans %}Save Perspective{% endtrans %}</title>
	<META content="0" http-equiv="expires">
	<META content="0" http-equiv="cache-control">
	<META content="no-cache" http-equiv="Pragma">
	<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/docova/css/admin/styleAdministration.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleViewDialogBase.css') }}" type="text/css" />
	<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
	<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
	<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
	<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}" ></script>
	{% include 'DocovaBundle:Default:scriptMessagesTranslation.html.twig' %}
	<script language="JavaScript" type="text/javascript">
	var parentWin = window.top.Docova.GlobalStorage["divDlgViewPerspective"].sourcewindow;
	var params = parentWin.dlgParams;
	var info = {
		  "UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
		  "UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
		  "UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
		  "UserRoles" : "$$WebClient;[User]",
		  "HTTP_Referer" : "",
		  "Query_String" : "OpenForm&ParentUNID={{ folder.getId }}",
		  "Query_String_Decoded" : "OpenForm&ParentUNID={{ folder.getId }}",
		  "Path_Info_Decoded" : "{{ path('docova_saveperspective') }}?OpenForm&ParentUNID={{ folder.getId }}",
		  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
		  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
		  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
		  "PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length -1] }}",
		  "PortalNsfName" : "{{ path('docova_homepage')[1:] }}",
		  "LibraryKey" : "{{ folder.getLibrary.getId }}"
	};
	function getinfovar() {
		return info;
	}
	
	document.oncontextmenu=stopContextMenu;
	function stopContextMenu(){
		return false;
	}

	// -------------------------- OnLoad initialization ----------------------------------------------
	function InitDialog()
	{
		InitVars(info);
		if(params[0] == "system")
		{
			$("#SaveOption_1").prop("checked", false);
			$("#SaveOption_2").prop("checked", true);
			//disable the radio options since this is a system perspective
			$("#SaveOption_1").prop("disabled", true);
			$("#SaveOption_2").prop("disabled", true);
		}else{
			$("#SaveOption_1").prop("checked", true);
			$("#SaveOption_2").prop("checked", false);
		}
		
		if(params[7]==true){
			$("#MakeDefault").prop("checked", true);
		}

		$("#Name").val(params[1]);
		$("#Description").val(params[2]);
		if(params[8] == "1"){
			$("#AutoCollapse").prop("checked", true);
		}

		if(params[0] == "custom"){
			if(params[5] == "L"){
				$("#LibScope").prop("checked", true);
			}
			if(params[6] == "D"){
				$("#LibDefault").prop("checked", true);
			}
		}
	}
</script>
</head>
<body text="#000000" bgcolor="white" class="dlgBody" SCROLL="no" onload="InitDialog();">
	<div id="dlgContentNh" class="ui-widget" style="width:100%;padding:0px 2px 0px 2px">
		<span class="frmLabel">{% trans %}Save options{% endtrans %}</span>
		<table class="tblFields" width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr valign="top">
				<td width="100%">
					<span id="SaveOptions" class="frmText">
						<label><input type="radio" id="SaveOption_1" name="SaveOption" value="UPDATEPERSPECTIVE"/>{% trans %}Update current perspective{% endtrans %}</label><br>
						<label><input type="radio" id="SaveOption_2" name="SaveOption" value="NEWPERSPECTIVE"/>{% trans %}Save as new perspective{% endtrans %}</label>
					</span>
				</td>
			</tr>
			<tr valign="top">
				<td width="100%">
					<span class="frmLabel">{% trans %}Perspective name{% endtrans %}:</span><br>
					<input id="Name" class="frmText" type="text" value=""/>
				</td>
			</tr>
			<tr valign="top">
				<td width="100%">
					<span class="frmLabel">{% trans %}Description{% endtrans %}:</span><br>
					<textarea class="frmText" id="Description" name="Description" style="width:98%;" rows="2"></textarea>
				</td>
			</tr>
			<tr valign="top">
				<td class="DlgContentCell" width="100%">
					<label class="frmText"><input type="checkbox" id="AutoCollapse" name="AutoCollapse" value="1"/>{% trans %}Collapse when first opened{% endtrans %}</label><br>
					<label class="frmText"><input type="checkbox" id="MakeDefault" name="MakeDefault" value="1"/>{% trans %}Set as default for current folder{% endtrans %}</label><br>
					<label class="frmText"><input type="checkbox" id="LibScope" name="LibScope" value="1"/>{% trans %}Make available in all folders in this library{% endtrans %}</label><br>
					<label class="frmText"><input type="checkbox" id="LibDefault" name="LibDefault" value="1"/>{% trans %}Set as default in this library{% endtrans %}</label><br>
				</td>
			</tr>
		</table>
	</div>
	<!------------------ SUBFORM sfKillCache ------------>
	<!------------------Microsoft suggestion to force no cacheing of documents------------>
	<HEAD>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
	<META HTTP-EQUIV="EXPIRES" CONTENT="0">
	</HEAD>
	<!------------------END SUBFORM sfKillCache  ------------>
</body>
</html>