<!DOCTYPE html>
<html>
<head>
<title>{% trans %}Subscriptions{% endtrans %}</title>
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleBasic.css') }}" type="text/css" />
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa_ieemu_xpath.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<style type="text/css">
.liblist UL {
	margin: 0;
	padding: 1px;
	list-style: none;
}
.liblist LI {
	padding: 1px 0 1px 16px;
}
.liblist LI.nopad {
	padding-left: 3px;
}
.liblist .tree {
	cursor: pointer;
}
legend {
	font-weight: bold;
}
</style>
{% include 'DocovaBundle:Default:scriptMessagesTranslation.html.twig' %}
<script language="JavaScript" type="text/javascript">
var info = {
	  "UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
	  "UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
	  "UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
	  "ServiceAgent" : "LibraryServices",
	  "UserRoles" : "$$WebClient;[Administration]",
	  "HTTP_Referer" : "",
	  "Query_String" : "ReadForm",
	  "Query_String_Decoded" : "ReadForm",
	  "Path_Info_Decoded" : "{{ path('docova_subscriptions') }}?ReadForm",
	  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
	  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
	  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
	  "PortalWebPath" : "{{ path('docova_homepage') }}",
	  "PortalNsfName" : "{{ path('docova_homepage') }}",
	  "SecureUrl" : "OFF"
};
function getinfovar() {
	return info;
}
InitVars(info);

$(document).ready(function() {
	$('img.tree').on('click', function(){
		collapseExpand(this);
	});

	$('input[name=selsub]').on('click', function() {
		autoSelectCats(this);
	});
});

function collapseExpand(obj)
{
	var child = $(obj).attr('expcol');
	if ($(obj).prop('title') == 'expand') {
		$('#' + child).show();
		$(obj).prop('alt', '-');
		$(obj).prop('title', 'collapse');
		$(obj).prop('src', '{{ asset('bundles/docova/images/minus.gif') }}');
	}
	else {
		$('#' + child).hide();
		$(obj).prop('alt', '+');
		$(obj).prop('title', 'expand');
		$(obj).prop('src', '{{ asset('bundles/docova/images/plus.gif') }}');
	}
}

function autoSelectCats(obj)
{
	if ($(obj).prop('checked')) {
		$(obj).parent().next().find('input').each(function() {
			$(this).prop('checked', true);
		});
	}
	else {
		$(obj).parent().next().find('input').each(function() {
			$(this).prop('checked', false);
		});
	}
}

function AddLibrary(){
	ProcessSelections('available', "SUBADD");
}

function RemoveLibrary(){
	ProcessSelections('subscribed', "SUBREMOVE");
}

function ProcessSelections(obj, Action){

	var nodes = null;
	$('input[name=selected'+ obj +']').each(function() {
		if ($(this).prop('checked')) {
			nodes += ('<DocKey>' + $(this).val() + '</DocKey>');
		}
	});
	if (nodes == null){
		alert("{% trans %}Please select libraries to update.{% endtrans %}");
		return;
	}

	LibsSelected = "<Request><Action>" + Action + "</Action><UserName><![CDATA[" + docInfo.UserNameAB + "]]></UserName>" + nodes + "</Request>";
	$('#btnSubscribe,#btnUnsubscribe').addClass("ui-state-disabled");;
	ShowProgressMessage("{% trans %}Processing request. Please wait{% endtrans %}...");
	var url = "/" + docInfo.NsfName + "/" + docInfo.ServiceAgent + "?OpenAgent";
	var httpObj = new objHTTP();	
	if(httpObj.PostData(encodeURIComponent(LibsSelected), url)){
		if(httpObj.status=="OK" ){
			var randomnumber = Math.floor(Math.random()*1000001);
			$.ajax({
				'type' : 'GET',
				'url' : "/" + docInfo.NsfName + "/ReadUserSubscription?OpenPage&" + randomnumber.toString(),
				'processData' : false
			})
			.done(function(data) {
				$('#subscriptionLibraries').html('');
				$('#subscriptionLibraries').append(data);
				$('#btnUnsubscribe').removeClass("ui-state-disabled");;
			});

			$.ajax({
				'type' : 'GET',
				'url' : "/" + docInfo.NsfName + "/getavailablelibraries.xml?OpenAgent&" + randomnumber.toString(),
				'processData' : false
			})
			.done(function(data) {
				$('#availableLibraries').html('');
				$('#availableLibraries').append(data);
				$('#btnSubscribe').removeClass("ui-state-disabled");;
			});
//				LoadSubscribedLibraries();								
		}else{
			window.top.Docova.Utils.messageBox({"title": "Error", "prompt" : "{% trans %}Library subscription update failed.{% endtrans%}", "icontype" : 1, "msgboxtype" : 0});
		}
	}

	//------------------------------------------------------------------------------------------------	
	HideProgressMessage();
	httpObj = null;
}
</script>
</head>
<body text="#000000" bgcolor="#FFFFFF" SCROLL="no">
	<fieldset>
		<legend>{% trans %}Available Libraries{% endtrans %}&nbsp;</legend>
		<!---------- available libraries table content ------>
		<div id="availableLibraries" class="liblist" style="width: 100%; height:140px; overflow-y:auto; overflow-x: hidden;">
{% if available_libs %}
	<ul id="tblLibraryData">
	{% for key, item in available_libs %}
		{% if key and key == 'community' %}
			{% for ckey, community in item %}
		<li class="nopad">
			<img src="{{ asset('bundles/docova/images/plus.gif') }}" class="tree" alt="+" title="expand" expcol="subav_{{ ckey|replace({' ':'_', '.':'_', '&':'_'}) }}" />
			<img src="{{ asset('bundles/docova/images/file248.bmp') }}" alt="community" title="community" />
			<label><input type="checkbox" name="selsub" value="cm_{{ ckey|replace({' ':'_', '.':'_', '&':'_'}) }}" /> {{ ckey }}</label>
			<ul id="subav_{{ ckey|replace({' ':'_', '.':'_', '&':'_'}) }}" style="display:none;">
				{% for rkey, realms in community %}
				{% if rkey and rkey == 'realm' %}
					{% for lkey, realm in realms %}
				<li>
					<img src="{{ asset('bundles/docova/images/plus.gif') }}" class="tree" alt="+" title="expand" expcol="subav_{{ lkey|replace({' ':'_', '.':'_', '&':'_'}) }}" />
					<img src="{{ asset('bundles/docova/images/file249.bmp') }}" alt="realm" title="realm" />
					<label><input type="checkbox" name="selsub" value="cm_{{ lkey|replace({' ':'_', '.':'_', '&':'_'}) }}" /> {{ lkey }}</label>
					<ul id="subav_{{ lkey|replace({' ':'_', '.':'_', '&':'_'}) }}" style="display:none">
						{% for libs in realm %}
						<li>
							<img src="{{ asset('bundles/docova/images/file23.bmp') }}" alt="lib" />
							<label><input type="checkbox" name="selectedavailable" value="{{ libs['id'] }}"> {{ libs['Library_Title'] }}</label></li>
						{% endfor %}
					</ul>
				</li>
					{% endfor %}
				{% else %}
				<li>
					<img src="{{ asset('bundles/docova/images/file23.bmp') }}" alt="lib" />
					<label><input type="checkbox" name="selectedavailable" value="{{ realms['id'] }}"> {{ realms['Library_Title'] }}</label>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</li>
			{% endfor %}
		{% elseif key and key == 'realm' %}
			{% for lkey, realm in item %}
		<li class="nopad">
			<img src="{{ asset('bundles/docova/images/plus.gif') }}" class="tree" alt="+" title="expand" />
			<img src="{{ asset('bundles/docova/images/file249.bmp') }}" alt="libs" title="libraries" expcol="subav_{{ lkey|replace({' ':'_', '.':'_', '&':'_'}) }}" />
			<label><input type="checkbox" name="selsub" value="cm_{{ lkey|replace({' ':'_', '.':'_', '&':'_'}) }}" /> {{ lkey }}</label>
			<ul id="subav_{{ lkey|replace({' ':'_', '.':'_', '&':'_'}) }}">
				{% for libs in realm %}
				<li>
					<img src="{{ asset('bundles/docova/images/file23.bmp') }}" alt="lib" />
					<label><input type="checkbox" name="selectedavailable" value="{{ libs['id'] }}"> {{ libs['Library_Title'] }}</label>
				</li>
				{% endfor %}
			</ul>
		</li>
			{% endfor %}
		{% else %}
		<li class="nopad">
			<img src="{{ asset('bundles/docova/images/file23.bmp') }}" alt="lib" />
			<label><input type="checkbox" name="selectedavailable" value="{{ item['id'] }}"> {{ item['Library_Title'] }}</label>
		</li>
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	<div id="NoLibAvailableMsg" style="margin:4px; font: 12px Verdana,Arial; ">{% trans %}There are no libraries available to you for subscription.{% endtrans %}</div>
{% endif %}
		</div>
		<!--end available libraries table content ----->
	</fieldset>
	<br>
	
	<div style="text-align: center;">
		<button id="btnSubscribe" type="button" title="Subscribe to selected items" onclick="AddLibrary();" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" style="height: 20px; text-align: center; width: 100px;">
			<span class="ui-button-icon-primary ui-icon ui-icon-circle-arrow-s"></span>
			<span class="ui-button-text" style="display: inline;">Add</span>
		</button>
		<button id="btnUnsubscribe" type="button" title="Unsubscribe to selected items" onclick="RemoveLibrary();" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" style="height: 20px; text-align: center; width: 100px;">
			<span class="ui-button-icon-primary ui-icon ui-icon-circle-arrow-n"></span>
			<span class="ui-button-text" style="display: inline;">Remove</span>
		</button>
	</div>
	<br>
	
	<!---subscribed libraries content---------------->
	<fieldset>
		<legend>{% trans %}Your Libraries{% endtrans %}&nbsp;</legend>
		<div id="subscriptionLibraries" class="liblist" style="width: 100%; height:140px; overflow-y:auto; overflow-x: hidden;">
{% if subscribed_libs %}
	<ul id="tblLibraryData">
	{% for key, item in subscribed_libs %}
		{% if key and key == 'community' %}
			{% for ckey, community in item %}
		<li class="nopad">
			<img src="{{ asset('bundles/docova/images/plus.gif') }}" class="tree" alt="+" title="expand" expcol="subsb_{{ ckey|replace({' ':'_', '.':'_', '&':'_'}) }}" />
			<img src="{{ asset('bundles/docova/images/file248.bmp') }}" alt="community" title="community" />
			<label><input type="checkbox" name="selsub" value="cm_{{ ckey|replace({' ':'_', '.':'_', '&':'_'}) }}" /> {{ ckey }}</label>
			<ul id="subsb_{{ ckey|replace({' ':'_', '.':'_', '&':'_'}) }}" style="display:none;">
				{% for rkey, realms in community %}
				{% if rkey and rkey == 'realm' %}
					{% for lkey, realm in realms %}
				<li>
					<img src="{{ asset('bundles/docova/images/plus.gif') }}" class="tree" alt="+" title="expand" expcol="subsb_{{ lkey|replace({' ':'_', '.':'_', '&':'_'}) }}" />
					<img src="{{ asset('bundles/docova/images/file249.bmp') }}" alt="realm" title="realm" />
					<label><input type="checkbox" name="selsub" value="cm_{{ lkey|replace({' ':'_', '.':'_', '&':'_'}) }}" /> {{ lkey }}</label>
					<ul id="subsb_{{ lkey|replace({' ':'_', '.':'_', '&':'_'}) }}" style="display:none">
						{% for libs in realm %}
						<li>
							<img src="{{ asset('bundles/docova/images/file23.bmp') }}" alt="lib" />
							<label><input type="checkbox" name="selectedsubscribed" value="{{ libs['id'] }}"> {{ libs['Library_Title'] }}</label></li>
						{% endfor %}
					</ul>
				</li>
					{% endfor %}
				{% else %}
				<li>
					<img src="{{ asset('bundles/docova/images/file23.bmp') }}" alt="lib" />
					<label><input type="checkbox" name="selectedsubscribed" value="{{ realms['id'] }}"> {{ realms['Library_Title'] }}</label>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</li>
			{% endfor %}
		{% elseif key and key == 'realm' %}
			{% for lkey, realm in item %}
		<li class="nopad">
			<img src="{{ asset('bundles/docova/images/plus.gif') }}" class="tree" alt="+" title="expand" />
			<img src="{{ asset('bundles/docova/images/file249.bmp') }}" alt="libs" title="libraries" expcol="subsb_{{ lkey|replace({' ':'_', '.':'_', '&':'_'}) }}" />
			<label><input type="checkbox" name="selsub" value="cm_{{ lkey|replace({' ':'_', '.':'_', '&':'_'}) }}" /> {{ lkey }}</label>
			<ul id="subsb_{{ lkey|replace({' ':'_', '.':'_', '&':'_'}) }}">
				{% for libs in realm %}
				<li>
					<img src="{{ asset('bundles/docova/images/file23.bmp') }}" alt="lib" />
					<label><input type="checkbox" name="selectedsubscribed" value="{{ libs['id'] }}"> {{ libs['Library_Title'] }}</label>
				</li>
				{% endfor %}
			</ul>
		</li>
			{% endfor %}
		{% else %}
		<li class="nopad">
			<img src="{{ asset('bundles/docova/images/file23.bmp') }}" alt="lib" />
			<label><input type="checkbox" name="selectedsubscribed" value="{{ item['id'] }}"> {{ item['Library_Title'] }}</label>
		</li>
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	<div id="NoLibMsg" style="padding:4px; font: bold 12px Verdana,Arial; ">{% trans %}You are currently not subscribed to any libraries. Please select one or more libraries above then click "Subscribe" button.{% endtrans %}</div>
{% endif %}
		</div>
		<!--end subscribed libraries table content ----->
	</fieldset>
</body>
</html>
