<!DOCTYPE html><html>
<head>
<title>{% trans %}Workflow Information Request{% endtrans %}</title>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"><META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0"><META HTTP-EQUIV="EXPIRES" CONTENT="0">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDialogBase.css') }}" type="text/css" />
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}" ></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/sarissa_ieemu_xpath.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<style type="text/css">
.tblFields td{ border-bottom: 0 !important; padding: 2px !important; }
</style>
{% include 'DocovaBundle:Default:scriptMessagesTranslation.html.twig' %}
<script language="JavaScript" type="text/javascript">
var dlgDoc = null;
var info = {
  "UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
  "UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
  "UserNameCN" : "{{ user.getUserProfile.getDisplayName }}",
  "UserRoles" : "$$WebClient;[Administration]",
  "HTTP_Referer" : "",
  "Query_String" : "OpenForm&ParentUNID={{ document.getId }}&AllowPause={{ app.request.query.get('AllowPause') }}",
  "Query_String_Decoded" : "OpenForm&ParentUNID={{ document.getId }}&AllowPause={{ app.request.query.get('AllowPause') }}",
  "Path_Info_Decoded" : "{{ path('docova_wfrequestdialog') }}?OpenForm&ParentUNID={{ document.getId }}&AllowPause={{ app.request.query.get('AllowPause') }}",
  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}"
};
function getinfovar(){
   return info;
}		

//document.oncontextmenu = stopContextMenu;

//For convenience
function stopContextMenu()
{
	return false;
}

function completeWizard()
{
	var retValues = {};
	
	retValues.sendto = jQuery("[name=SendTo]").val().trim();
	retValues.subject  = jQuery("[name=Subject]").val().trim();
	retValues.comment = jQuery("[name=Body]").val();
	retValues.pause = jQuery("[name=PauseWorkflow]:checked").val();
	
	return retValues;
}//--end completeWizard

function showAddressDialog(fieldname, dlgtype, title){
	window.top.Docova.Utils.showAddressDialog({
		fieldname: fieldname, 
		dlgtype: dlgtype,
		title: title,
		sourcedocument: document,
		dlgdivname : "divDlgWorkflowInfoRequest"
	});
}

// -------------------------- OnLoad initialization ----------------------------------------------
function initDialog()
{
	jQuery( "button" ).button();
	InitVars(info);
}
</script>
</head>
<body text="#000000" bgcolor="#FFFFFF" onload="initDialog();">
	<div id="dlgContentNh" style="width: 100%;">
		<table class="tblFields" width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td class="frmLabel">{% trans %}Recipients{% endtrans %}:</td>
			</tr>
			<tr>
				<td>
					<textarea class="txFldReadOnly" style="width: 372px; margin-bottom: 5px; padding: 2px;" id="SendTo" name="SendTo" cols="50" rows="3" readonly=true>{{ user.getUserNameDnAbbreviated }}</textarea>
					<button onclick="showAddressDialog('SendTo', 'multi', 'Select Names'); return false;">
						<IMG SRC="{{ asset('bundles/docova/images/icons/vwicn004.gif') }}" ALT="{% trans %}Name Selection{% endtrans %}" Border=0 align=top>
					</button>
				</td>
			</tr>
			<tr>
				<td class="frmLabel">{% trans %}Subject{% endtrans %}:</td>
			</tr>
			<tr>
				<td><input name="Subject" value="Re: {{ document.getDocTitle }}" class="txFld" style="width: 400px; margin-bottom: 5px; padding: 2px;"></td>
			</tr>
			<tr>
				<td class="frmLabel">{% trans %}Message{% endtrans %}:</td>
			</tr>
			<tr>
				<td><textarea style="width: 400px; padding: 2px;" class="txFld" id="Body" name="Body" rows="7"></textarea></td>
			</tr>
			{% if app.request.query.get('AllowPause') == 'true' %}
			<tr>
				<td><label> <input type="checkbox" name="PauseWorkflow" value="1">{% trans %}Pause document workflow while awaiting answer{% endtrans %}</label></td>
			</tr>
			{% endif %}
		</table>
	</div>
	<!------------------ SUBFORM sfKillCache ------------>
	<!------------------Microsoft suggestion to force no cacheing of documents------------>
<HEAD>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
</HEAD>
<!------------------END SUBFORM sfKillCache  ------------>
</body>
</html>