<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Workflow Process Selection</title>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleViewDialogBase.css') }}" type="text/css" />
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
{% include 'DocovaBundle:Default:scriptMessagesTranslation.html.twig' %}
<script language="JavaScript" type="text/javascript">
var params= window.dialogArguments;
window.returnValue=null;
	
var dlgForm = null; //declare global variable to represent current form
var dlgDoc = null;
var info = {
  "UserName" : "",
  "UserNameAB" : "",
  "UserNameCN" : "",
  "UserRoles" : "$$WebClient;[Administration]",
  "HTTP_Referer" : "",
  "Query_String" : "OpenForm",
  "Query_String_Decoded" : "OpenForm",
  "Path_Info_Decoded" : "{{ path('docova_wfselectprocess') }}",
  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}"
};
function getinfovar(){
   return info;
}		
document.oncontextmenu=stopContextMenu;

// For convenience
function stopContextMenu()
{
return false;
}

function completeWizard()
{
	var retArray = new Array();
		{
		if(dlgDoc.nSelect.length) //multiple fields
		{
			for( var k=0; k<dlgDoc.nSelect.length; k++)
				{
					if(dlgDoc.nSelect[k].checked)
					{
					var rs = dlgDoc.ProcessSettings.recordset;
					rs.AbsolutePosition = dlgDoc.nSelectVal[k].recordNumber;
					retArray[0] = rs.Fields("wfID").Value;
					retArray[1] = rs.Fields("wfName").Value;
					retArray[2] = rs.Fields("EnableImmediateRelease").Value;
					retArray[3] = rs.Fields("wfCustomizeAction").Value;
					}
				}
		}
		else
		{
				if(dlgDoc.nSelect.checked)
					{
					var rs = dlgDoc.ProcessSettings.recordset;
					rs.AbsolutePosition = dlgDoc.nSelectVal[k].recordNumber;
					retArray[0] = rs.Fields("wfID").Value;
					retArray[1] = rs.Fields("wfName").Value;
					retArray[2] = rs.Fields("EnableImmediateRelease").Value;
					retArray[3] = rs.Fields("wfCustomizeAction").Value;
					}
		}
		if(retArray.length == 0)
			{
			thingFactory.MessageBox("Please select a workflow.", 16, "Invalid entry" );
			return false;
			}
		}
	window.returnValue=retArray;
	window.close()
}

function cancelWizard()
{
	window.close();
}
// -------------------------- OnLoad initialization ----------------------------------------------
function initDialog()
{
	//Global variables for convenience
	dlgDoc = document.all;
	InitVars(info);
	if(params)
	{
		var objNode = null;
		var selectorHTML =  '<input type="radio" name="nSelect" id = "nSelect" />';
		selectorHTML += '<input type="hidden" id = "nSelectVal" datafld="wfID"/>';
		dlgDoc.nodeSelector.innerHTML = selectorHTML ;
		
		var xmlText = "<Documents>";
		while( (objNode = params.nextNode()))
			{
			xmlText += objNode.xml;
			}
			xmlText += "</Documents>";
			dlgDoc.ProcessSettings.loadXML(xmlText)
	}
}
</script>
</head>
<body text="#000000" bgcolor="white" class="dlgBody" SCROLL="no" onload="initDialog();">
	<download id="dwn" style="behavior:url(#default#download)" />
	<!-- Subform -- thingFactory -->
	<script src="{{ path('docova_dlextensions') }}" language="javascript"></script>
	<!-- End Subform -- thingFactory -->
	<xml id="ProcessSettings"></xml>
	<table class="DlgTable" width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td width="100%"><img width="1" height="1" src="{{ asset('bundles/docova/images/icons/ecblank.gif') }}" border="0" alt=""></td>
		</tr>
		<tr valign="top">
			<td class="DlgContentCell" width="100%">
				<div id="dlgContentNh" style="width: 100%;">
					<span id="FieldLabel" class="txFldLabel">Please select the applicable workflow:</span>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr valign="top">
							<td width="100%" colspan="3">
								<table id="tblDataEdit" datasrc="#ProcessSettings" border=0 style="width: 100%; border-collapse: collapse; table-layout: fixed; margin-top: 3px;">
									<!------------------------------------------------------------>
									<thead>
										<tr style="background-color: #efefef;">
											<td style="width: 20px; font: normal 11px Verdana, Ariall; border-bottom: 1px solid silver;">&nbsp;</td>
											<td style="width: 90px; font: normal 11px Verdana, Ariall; border-bottom: 1px solid silver;">Workflow name</td>
											<td style="width: 120px; font: normal 11px Verdana, Arial; border-bottom: 1px solid silver;">{% trans %}Description{% endtrans %}</td>
										</tr>
									</thead>
									<!------------------------------------------------------------>
									<tr style="background-color: #ffffff;">
										<td id="nodeSelector" style="border-bottom: 1px solid silver; padding-left: 3px;">
											<span datafld="wfID" style="font: 11px Verdana, Arial; color: #00000;"></span>
										</td>
										<td style="border-bottom: 1px solid silver; padding-left: 3px;">
											<span datafld="wfName" style="font: 11px Verdana, Arial; color: #00000;"></span>
										</td>
										<td style="border-bottom: 1px solid silver; padding-left: 3px;">
											<span datafld="wfDescription" style="font: 11px Verdana, Arial; color: #000080;"></span>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr valign="top">
			<td id="buttonCell" class="DlgButtonCell" width="100%" valign="middle">
				<div align="right">
					<input type="button" onclick="completeWizard()" value="Ok" id="btnFinish" class="txButtonSubmit" style="width: 50px;">&nbsp;&nbsp;&nbsp;
					<font size="2"> </font> <input type="button" onclick="window.close()" value="Cancel" id="btnCancel" class="txButtonCancel">
				</div>
			</td>
		</tr>
	</table>
	<!------------------ SUBFORM sfKillCache ------------>
	<!------------------Microsoft suggestion to force no cacheing of documents------------>
<HEAD>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
</HEAD>
<!------------------END SUBFORM sfKillCache  ------------>
</body>
</html>