<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleFolderBase.css') }}" type="text/css" />
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
{% include 'DocovaBundle:Default:scriptMessagesTranslation.html.twig' %}
<script language="JavaScript" type="text/javascript">
var CurrentRow = null;
var info = {
  "Search" : "",
  "UserNamesList" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }};[Administration]",
  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
  "PortalWebPath" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}"
};
function getinfovar(){
   return info;
}		

//-----Trap enter keystroke for when user enters search text in search input field and hits the enter key-----
document.onkeydown = function() // IE
{
    var ks=event.keyCode;
    var elemID=event.srcElement.id;
	if (ks==13 && elemID=="inpQuery"){
		ViewFTSearch();
		return false;
	}
};
  
function SetHighlight(obj, bSelected)
{		
	if (bSelected == true){
		obj.runtimeStyle.backgroundColor = "#DFEFFF";
	}else{
		if (	CurrentRow == obj){
			obj.runtimeStyle.backgroundColor = "#FAFAD2";  //"#4682B4";
		}else{
			obj.runtimeStyle.backgroundColor = "";
		}
	}
}

function gup( name )
{
  name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
  var regexS = "[\\?&]"+name.toUpperCase() +"=([^&#]*)";
  var regex = new RegExp( regexS );
  var results = regex.exec( window.location.href.toUpperCase() );
  if( results == null )
    return "";
  else
    return results[1];
}


function ViewFTSearch(customQuery){
	var query=(customQuery)? customQuery : document.all.inpQuery.value;
	
	var url = docInfo.ServerUrl + "/" + docInfo.NsfName +  "/GetFolderFiles?openform&FolderID=" + gup( 'FolderID' ) + "&search=" + query;

//	document.all.btnFTClear.style.display = "inline";
	window.location.href = url;
	
}

function ViewFTClear(){
	var url = "GetFolderFiles?openform&FolderID=" + gup( 'FolderID' );
//	document.all.btnFTClear.style.display = "none";
	window.location.href = url;
}

function isInAuthorsList( docauthors){
		var docArray = docauthors.split(";");
		var namesList = info.UserNamesList;
		var nameListArray = namesList.split(";");
		var found = false;
		for ( var j = 0; j < docArray.length ; j++ ){
				for (var p = 0; p <  nameListArray.length; p ++ ){
					
					if ( docArray[j] == nameListArray[p] ) {
						found = true;
						break;
					}
				}
		}
		return found;
}

function GetNodeInfo( XmlDoc, num, obj){
	num = num - 1;
	var Node1 = XmlDoc.XMLDocument.documentElement.childNodes( num );
	if (Node1 == null){
		return;
	}
	
	var fixNode= Node1.selectSingleNode('docauthors' );
	
	var authors = fixNode.text;

	var checkOutNode = Node1.selectSingleNode('aco' );
	
	if ( checkOutNode.text == "1" ) {
			var editable = isInAuthorsList( authors );
	
			if ( !editable ) checkOutNode.text = "0";
	}
	
	
	
//--------------------------------------------------------------	
	window.external.DocLogic_ShowFiles( Node1.xml );
//--------------------------------------------------------------	
	if ((CurrentRow != obj) & (CurrentRow != null)){
		CurrentRow.runtimeStyle.backgroundColor = "";
		CurrentRow.runtimeStyle.color = "";
	}
	CurrentRow = obj;
//--------------------------------------------------------------	
	return(true);
}


//----------- custom search ------------
function CustomSearch()
{
	var dlgUrl = docInfo.ServerUrl + docInfo.PortalWebPath + "/dlgCustomSearch?OpenForm";
	var dlgParams = window;
	var dlgSettings = "dialogHeight:300px;dialogWidth:550px;center:yes; help:no; resizable:no; status:no;";
	var retVal= window.showModelessDialog(dlgUrl,dlgParams,dlgSettings); //Display the custom search dialog
}

function HandleKeyPress(e,form){	
	var key=e.keyCode || e.which;
	if (key==13){
		ViewFTSearch();
		return false;
	}
}
</script>

</head>
<body text="#000000" bgcolor="#FFFFFF" oncontextmenu='return false' onselectstart='return false' SCROLL="no" onload="InitVars(info);
if ( docInfo.Search  != &quot;&quot; ) 	{
	document.all.btnFTClear.style.display='inline';
	document.all.inpQuery.style.display='none';
	document.all.btnFTSearch.style.display='none';
	document.all.btnCustomSearch.style.display='none';
}">

	<form action="">
	<xml id="ResultData">{{ documents_xml|raw }}</xml>
	<div id="divHeaderSection" style="width: 100%; padding: 3px 6px 2px 10px; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#F3F0E7', EndColorStr='#D9D2B6'); border-bottom: groove 2px; height: 24px;">
		<div id="divHeadingTitle" style="float:left;color: #0050D1; font-size: 12px; font-family: Verdana,Arial;font-weight: bold;">{% if folder %}{% trans %}Folder{% endtrans %}: {{ folder.getFolderName }}{% else %}{% trans %}Please select a folder{% endtrans %}{% endif %}<br/>
			<span style="width: 75px; ">{% trans %}Search for{% endtrans %}:</span>
			<input id="inpQuery" type="text" onkeypress="return HandleKeyPress(event,this.form)" style="width: 200px;height:18px;"/>
			&nbsp;<button id="btnFTSearch" style="height: 20px; width: 45px; font : normal 11px arial,verdana,sans-serif; " onclick="ViewFTSearch();">{% trans %}Search{% endtrans %}</button>&nbsp;
			<button id="btnCustomSearch" style="height: 20px; width: 60px; font : normal 11px Icon, sans-serif; " onclick="CustomSearch();">{% trans %}Advanced{% endtrans %}</button>&nbsp;
			<button id="btnFTClear" style="height: 20px; width: 35px; font : normal 11px arial,verdana,sans-serif; display:none;" onclick="ViewFTClear();">{% trans %}Clear{% endtrans %}</button>
		</div>
	</div>
	<input type="hidden" id="CurrentRecord">
	<div id="divContent" style="width: expression(document.body.clientWidth); height: expression(document.body.clientHeight - document.all.divHeaderSection.offsetHeight ) ; position:absolute; top: expression(document.all.divHeaderSection.offsetHeight); padding: 0px; 0px 0px 0px; margin: 0px 0px 0px 0px; overflow: auto;">
		<table width=100%" style="font: 11px verdana, Arial; border-collapse: collapse;background-color:white;" id="DisplayFiles" datasrc="#ResultData" border=0>
		<tbody>
			<tr onClick="GetNodeInfo( ResultData, this.recordNumber, this)" style="cursor:hand;" onMouseOver="SetHighlight(this, true)"  onMouseOut="SetHighlight(this, false)">
				<td style="border-bottom: 1px solid gray; padding-right: 10px;">
					<span datafld="Summary" dataformatas="html"></span>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
	</form>
</body>
</html>