{% if app.request.query.get('mainframe') %}
<HTML>
<HEAD>
<TITLE>{{ settings.getApplicationTitle }}</TITLE>
<script src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript">
//prompt user to close browser window - hidden unless feature enabled in app settings
{% if settings.getPromptToClose %}
jQuery(window).bind('beforeunload', function() {
    return '\nBe sure to save any documents you may have been working on before closing DOCOVA.\n';
});
{% endif %}

 	function isMobileBrowser() {
	//var mobile = (/iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));
	var mobile = (/iphone|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));
       if (mobile){
	 	var docID="";
	    var gotoOptions="{{ app.request.query.get('goto') }}";
		var splitIds = gotoOptions.split(",");
        var currentUrl = document.location.href;
		var redirectUrl = ""; // get the server
        var homePath = currentUrl.substring(0, currentUrl.lastIndexOf(".nsf") + 4); 
		var serverDirPath = currentUrl.substring(0, homePath.lastIndexOf("/")); 
		var libPath="{% if not app.request.query.get('goto') %}{{ path('docova_blankcontent') }}{% else %}{% endif %}";
		//check if there are any params
		if(splitIds.length > 2) {
		    docID= splitIds[splitIds.length-1];
			redirectUrl =libPath+"/lumobile/"+docID+"?opendocument&emailLink=true";
			document.location.href=redirectUrl ;
		}else{
			// rediect do docova mobile home page
			document.location.href = homePath + "/mobile.htm";
		}
      }
    }
  
  //check for mobile page & redirect
  isMobileBrowser(); 
</script>
</HEAD>
<frameset  name="fsMain" id="fsMain" ROWS="{{ app.request.query.get('fullscreen') == 1 ? '0,*' : '70,*' }}" FRAMESPACING="0" FRAMEBORDER="0">
	<frame name="fraToolbar" id="fraToolbar" SCROLLING="no"  NORESIZE FRAMEBORDER="0" SRC="{{ path('docova_hometop') }}?ReadForm{{ app.request.query.get('goto') ? '&goto='~app.request.query.get('goto') : '' }}{{ app.request.query.get('fullscreen') == 1 ? '&fullscreen=1' : '' }}">
	{% if user.getUserProfile.getWorkspaceTheme == 'T' %}
	<frame name="fraWorkspace" id="fraWorkspace" TOPMARGIN="0" LEFTMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0" FRAMEBORDER="0" BORDER="0" src="{{ path('docova_workspaceframe') }}">
	{% else %}
	<frame name="fraWorkspace" id="fraWorkspace" TOPMARGIN="0" LEFTMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0" FRAMEBORDER="0" BORDER="0" src="{{ path('docova_modernworkspace') }}">
	{% endif %}
</frameset>
</HTML>
{% else %}
<!DOCTYPE HTML>
<HTML>
<TITLE>{{ settings.getApplicationTitle }}</TITLE>
<META charset="utf-8">
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/multiselect.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/admin/styleAdministration.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDocovaMenu.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/docova/font-awesome/css/all.min.css') }}">
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/multiselect.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/Docova.js') }}" charset="UTF-8"></script>
<link rel="icon" href="{{ asset('bundles/docova/images/favicon.ico') }}">
<script type="text/javascript">
var info = {
  "UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
  "UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
  "ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "SystemKey" : "{{ settings.getSystemKey }}",
  "ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
  "PortalWebPath" : "{{ url('docova_homepage')[:url('docova_homepage')|length - 1] }}",
  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}"
};
var docInfo = info;
var docovaCookie = {};

function getinfovar(){
   return info;
}		


/* global vars for iframe resize */
var rtime = new Date(1, 1, 2000, 12,00,00);
var timeout = false;
var delta = 200;

/* resize event timer */
function resizeStart(cb) {
    rtime = new Date();
    if (timeout === false) {
        timeout = true;
        setTimeout(function(){resizeEnd(cb)}, delta);
    }
}//-- end resizeStart

/* resize event timer */
function resizeEnd(cb) {
    if (new Date() - rtime < delta) {
        setTimeout(function(){resizeEnd(cb)}, delta);
    } else {
        timeout = false;
        cb.call();
    }               
}//-- end resizeEnd

/* Adjusts iframe sizing */
function adjustIFrameSize(){
	try{
		jQuery("#iFrameMain").height(jQuery(window).height());
		jQuery("#iFrameMain").width(jQuery(window).width());
	}catch(e){}
}//--end adjustFolderPaneSize
</script>
<style>
html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	overflow: hidden;
}
#iFrameMain  {
	border: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.ui-dialog-titlebar {
	background: transparent ;
	border: 0px;
	
}
</style>
</HEAD>
<BODY>
<iframe id="iFrameMain" src="about:blank"></iframe>
<script>
var timer = null;
adjustIFrameSize();
var url = "{{ path('docova_mainpage') }}?ReadForm&mainframe=true&goto={{ app.request.query.get('goto') }}{{ app.request.query.get('fullscreen') == 1 ? '&fullscreen=1' : '' }}";
jQuery("#iFrameMain").attr("src", url);
jQuery(window).resize(function(){resizeStart(adjustIFrameSize)});

if ( window.top.Docova.IsPluginAlive == null ){
	window.top.Docova.checkPluginAlive({
		onSuccess: function(){
			window.top.Docova.IsPluginAlive = true;
		},
		onFailure: function(){
			window.top.Docova.IsPluginAlive = false;
			var uiw = window.top.Docova.getUIWorkspace(document);
			var fratoolbar = uiw.getDocovaFrame('fraToolbar', 'window');
			if ( fratoolbar )
				fratoolbar .showPluginNotRunning();
		}
	});
}
</script>
</BODY>
</HTML>
{% endif %}