<!DOCTYPE HTML>
<html>
<head>
<title>DOCOVA SE V1-0-0</title>
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<STYLE type=text/css>
HTML, BODY {
	padding: 0;
	margin : 0;
	height: 100%;
}
BODY {
	background: #70d3e0; /* Old browsers */
	background: -moz-linear-gradient(top, #C8DFFB 0%, #7DA5E0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C8DFFB), color-stop(100%,#7DA5E0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #C8DFFB 0%,#7DA5E0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #C8DFFB 0%,#7DA5E0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #C8DFFB 0%,#7DA5E0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #C8DFFB 0%,#7DA5E0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C8DFFB', endColorstr='#7DA5E0',GradientType=0 ); /* IE6-9 */
}
</STYLE>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}"></link>
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
<script language="JavaScript" type="text/javascript">
var info = {
	"NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
	"PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
	"PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}"
};
function getinfovar() {
	return info;
}

$(function() {
	$('#openApp').button().click(function() {
		location.href = "{{ path('docova_mainpage') }}";
	});
});
</script>

</head>
<body text="#000000" bgcolor="#FFFFFF">
<!-- if custom html code is defined => Admin: HtmlResource:HomePage -->
{%  if html_resource is defined and html_resource is not null %}
	{{ html_resource.getHtmlCode|raw }}
{% else %}	
	
	<div style="margin: 40px;">
		<img src="{{ asset('bundles/docova/images/Docova_logo_Tag_197x100.gif') }}" width="197" height="100" style="filter: progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=2)" onclick="OpenApplication()" alt="">
		<br /> <br /> 
		<span style="color: #0050D1; font-size: 14pt; font-family: Verdana, Arial; font-weight: bold;">DOCOVA SE</span><br /> 
		<span style="color: #000000; font-size: 10px; font-family: Verdana, Arial; padding-left: 1px">Release 5.5.0 SE<span><br /> <br /> 
		<span style="color: #000000; font-size: 13px; font-family: Verdana, Arial;"><b>DLI Tools Inc.</b><br /> <a href="http://www.dlitools.com">www.dlitools.com</a></span> 
		<br /> <br />
		<button id="openApp">{% trans %}Open the application{% endtrans %}</button>
	</div>
{% endif %}
</body>
</html>
