<!DOCTYPE html>
<html>
<head>
<title>Libraries and Applications</title>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/docova/js/jstree/themes/style.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleFolderControl.css') }}">
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/json2.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/jstree/jstree.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/multiselect.js') }}" charset="UTF-8"></script>
{% include 'DocovaBundle:Default:scriptMessagesTranslation.html.twig' %}
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/folderControl.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript">
var info = {
	"UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
	"UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}", 
	"UserNameCN" : "{{ f_Name("[CN]", user.getUserNameDnAbbreviated)|replace({'\\': '\\\\'}) }}",
	"UserRoles" : "$$WebClient;[Administration]",
	"HTTP_Referer" : "{{ url('docova_homepage') }}", 
	"Query_String" : "OpenForm",
	"Query_String_Decoded" : "OpenForm",
	"Path_Info_Decoded" : "{{ path('docova_homepage') }}?OpenForm",
	"ServerName" : "{{ app.request.server.get('HTTP_HOST') }}",
	"NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
	"ServerUrl" : "{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}", 
	"PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
	"PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
	"UserNameList" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}, {{ user.username }}, *, [Administration]",
	"RMEEnabled" : "",
	"SecureAccess" : "{{ app.request.getscheme|lower == 'https' ? 'ON' : 'OFF' }}",
	"SubscriptionsUseSearch" : "",
	"LimitPathLength" : {{ settings.getLimitFolderPathLength and settings.getFolderPathLength ? settings.getFolderPathLength : 0 }},
	"GoToParam" : "{{ app.request.query.get('goto') }}"
};

var foldercontrolconfig = {
	"LoadAllAtStartup" : {{ user.getUserProfile.getLoadLibraryFolders == false ? 'false' : 'true' }},
	"LibraryUrl" : "{{ path('docova_userlibraries') }}{{ app.request.query.get('LibList') ? '?LibList=' ~ app.request.query.get('LibList') : '' }}",
	"LoadUrl" : "/GetFolders.json?",
	"LoadUrlPartial" : "/FolderDataByParentID.json?",
	"LoadDocsUrl" : "/DocumentDataByParentID.json?RestrictToCategory=",
//	"DocumentService" : "/DocumentServices?OpenAgent",
	"FolderService" : "/FolderServices",
	"FolderAccessUrl" : "/xFolderAccess.xml?ParentUNID=",
	"FolderPropertiesUrl" : "/xFolderProperties.xml?ParentUNID=",
	"FavoritesUrl" : "{{ path('docova_userwatchlists') }}?listid=1",
	"FavoritesService" : "{{ path('docova_dataservices') }}",
	"ImagePath" : "{{ asset('bundles/docova/images/') }}",
	"UrlType" : 0,
	"ReadLimit" : 1000,
	"onFoldersReady" : "loadGoTo",
	"onClick" : "FolderClicked",
	"onDoubleClick" : "FolderDblClicked",
	"onContextMenu" : "generateContextMenu",
	"onBeforeFolderCreate" : "BeforeFolderCreate",
	"onFolderCreate" : "FolderCreate",
	"onAfterFolderCreate" : "",
	"onBeforeDocumentCreate" : "",
	"onDocumentCreate" : "DocumentCreate",
	"onBeforeFolderRename" : "BeforeFolderRename",
	"onFolderRename" : "FolderRename",
	"onAfterFolderRename" : "AfterFolderRename",
	"onBeforeFolderDelete" : "BeforeFolderDelete",
	"onImportFolder" : "ImportFolder",
	"onFolderDelete" : "FolderDelete",
	"onAfterFolderDelete" : "AfterFolderDelete",
	"onBeforeDocumentDelete" : "BeforeDocumentDelete",
	"onDocumentDelete" : "DocumentDelete",
	"onAfterDocumentDelete" : "AfterDocumentDelete",
	"onBeforeAddFavorite" : "",
	"onAddFavorite" : "AddFavorite",
	"onAfterAddFavorite" : "RefreshFavorites",
	"onBeforeDeleteFavorite" : "",
	"onDeleteFavorite" : "DeleteFavorite",
	"onAfterDeleteFavorite" : "RefreshFavorites",
	"onBeforeOpenInNewTab" : "",
	"onOpenInNewTab" : "OpenInNewTab",
	"onAfterOpenInNewTab" : "",
	"onBeforeAddFiles" : "",
	"onAddFiles" : "AddFiles",
	"onAfterAddFiles" : "",
	"onBeforeFileExport" : "",
	"onFileExport" : "FileExport",
	"onAfterFileExport" : "",
	"onBeforeFolderCopy" : "",
	"onFolderCopy" : "FolderCopy",
	"onAfterFolderCopy" : "",
	"onBeforeFolderCut" : "BeforeFolderCut",
	"onFolderCut" : "FolderCut",
	"onAfterFolderCut" : "",
	"onBeforeFolderPaste" : "BeforePasteFolder",
	"onFolderPaste" : "PasteFolder",
	"onAfterFolderPaste" : "AfterPasteFolder",
	"onPropertiesMenu" : "ShowPropertiesMenu",
	"onSubscriptionClick" : "showSubscriptionDialog",
	"onBeforeExpandAll" : "",
	"onAfterExpandAll" : "",
	"onBeforeCopyFolderLink" : "",
	"onCopyFolderLink" : "CopyFolderLink",
	"onAfterCopyFolderLink" : ""
};
</script>
</head>
<body text="#000000" bgcolor="#FFFFFF" SCROLL="no" onload="Initialize();">
	<div id="divFolderControl">
		<div id="divFolderControlTabContainer" style="display: none;">
			<div id="divFolderControlTabs">
				<div id="divFolderControlStopWrap">
					<ul>
						<li><a href="#tabs-1" title="{% trans %}Applications and Libraries{% endtrans %}">{% trans %}Apps & Libraries{% endtrans %}</a></li>
						<li><a href="#tabs-2" title="{% trans %}Favorites{% endtrans %}"><span
								class="ui-icon ui-icon-star"></span></a></li>
						<li>
							<button id="btnSubscribe" title="{% trans %}Subscriptions{% endtrans %}" onclick="DLITFolderView.ShowSubscriptions();return(false);"></button>
							<button id="btnRefreshLibs" title="{% trans %}Refresh{% endtrans %}" onclick="DLITFolderView.RefreshAllLibraries();return(false);"></button>
						</li>
					</ul>
				</div>
				<div id="tabs-1" style="padding: 2px 4px 2px 4px; width: 100%; height: 100%; position: relative; top: 0px; left: 0px; overflow: auto;">
					<div id="divTreeView"></div>
				</div>
				<div id="tabs-2" style="padding: 0px 0px 0px 0px; width: 100%; height: 100%; position: relative; top: 0px; left: 0px; overflow: auto;">
					<!---------------------- Favorites Data table ------------------------------>
					<div id="divFavorites" style="display:; width: 100%;">
						<table id="tblFavorites" datasrc="#Favorites">
							<thead>
								<tr>
									<td style="width: 24px;" class="ui-widget-header"></td>
									<td class="ui-widget-header">Title</td>
									<td class="ui-widget-header">Library</td>
								</tr>
							</thead>
							<tbody id="otblFavorites">
								<tr>
									<td><div class="favorite-img" style="display: none;" datafld="rectype"></div></td>
									<td><div datafld="Title"></div></td>
									<td><div datafld="LibraryName"></div></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--------  This is a dummy div to force a refresh on the ipad...this div is updated when the user clicks the Libraries and Applications tab in an ipad----->
	<div id="ipad" style="position:absolute; left:-300px; top:-300px" ></div>
</body>
</html>