<!DOCTYPE HTML>
<html>
<head>
	<title>{{ settings.getApplicationTitle }}</title>
	<META content="0" http-equiv="expires">
	<META content="0" http-equiv="cache-control">
	<META content="no-cache" http-equiv="Pragma">
	<style type='text/css'>
		body {margin:0px; padding:0px;border:0px; overflow:hidden;}
	</style> 
	<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
	<script type="text/javascript">
	var redirect = false;
	var info = {
      "isAppSettingsExist" : "true",
      "isAppSettingsUnidExist" : "true",
      "systemKey" : "{{ settings.getSystemKey }}",
      "redirectMobileReader" : "No",
      "browserType" : "{% if 'Chrome/' in app.request.server.get('HTTP_USER_AGENT') %}Chrome{% elseif 'Firefox/' in app.request.server.get('HTTP_USER_AGENT') %}Firefox{% else %}Microsoft{% endif %}",
      "mobileUrl" : "{{ path('docova_mobile') }}",
      "appSettingsUrl" : "{{ path('docova_homepage') }}AdminProfileInitialSetup?StartUpPage=Yes",
      "gotoReaderUrl" : "{{ path('docova_mobile') }}",
      "licenseIssueUrl" : "{{ path('docova_licenseguide') }}?OpenPage",
      "finalUrl" : "{{ path('docova_mainpage') }}",
      "expired" : "{{ settings.getExpiryDate ? (settings.getExpiryDate.diff(date('now')).format('%R%a')|number_format >= 0 ? 'true' : 0) : 0 }}",
      "license" : "{{ settings.getLicenseCode }}"
	};

	function getinfovar(){
		return info;
	}
/*
	var request = "";
	request += "<Request>";
	request += "<Action>LICENSECHECK</Action>";
	request += "<UserName><![CDATA[{{ user.getUsername }}]]></UserName>";
	request += "</Request>";

	$.ajax({
		'type' : "POST",
		'url' : "",
		'data' : request,
		'async' : false,
		'processData' : false,
		'contentType' : false,
		'dataType' : 'text'
	})
	.done(function(data) {
		if(data != "") {
			if(data == 0) {
				top.location.replace(info.licenseIssueUrl + "&issue=users");
				redirect = true;
			}
		}
	});
*/
	if(info.expired == "true") {
		top.location.replace(info.licenseIssueUrl + "&issue=date");
		redirect = true;
	}

	if(info.license == "") {
		top.location.replace(info.licenseIssueUrl + "&issue=code");
		redirect = true;
	}

	function isMobileBrowser() {
		//var mobile = (/iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));
		var mobile = (/iphone|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));
		if (mobile) {
			document.location.href = info.mobileUrl;
			return true;
		}
		return false;
	}

	//-- Mobile Browser check and redirect
	if (isMobileBrowser()){
		//if mobile browser was detected page was redirected
	}

	// if a user setting is set to redirect then don't check for components
	if (info.redirectMobileReader == "Yes"){
		top.location.replace(info.mobileUrl);  
	}
	    // if no application settings configured then redirect to app settings page
	if (info.isAppSettingsUnidExist ==""){
		top.location.replace(info.appSettingsUrl); 
	}

	if(!redirect) {
		top.location.replace(info.finalUrl);  
	}
	</script>
</head>
<body text="#000000" bgcolor="#FFFFFF">

</body>
</html>