<!doctype html>
<html>
<head>
<title>{% trans %}Library Activity{% endtrans %}</title>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/docova/css/dataTables.jqueryui.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<style>body {
	font: 62.5% "Verdana", sans-serif;
	margin: 25px;
}
#icons {
	margin: 0;
	padding: 0;
}
#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}
select {font-size: x-small;}
</style>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" language="javascript" src="{{ asset('bundles/docova/jquery/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" language="javascript" src="{{ asset('bundles/docova/jquery/dataTables.jqueryui.min.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
<script language="JavaScript" type="text/javascript">
function loadActivity(){
	$("#activityTable").html("{% trans %}Loading Activity (please wait){% endtrans %}...");		
	//JRP
	//fetch an XML activity table for this library
	//First define the parameters and target
	var divActivity = $("#activityTable");
	var libraryKey =  $("#libraryKey").text();
	var folderKey =  $("#folderKey").text();
	var homePath =  $("#homePath").text();
	var interval="daily";
	if (document.getElementById("interval_0").checked)
		interval="daily";
	else if (document.getElementById("interval_1").checked)
		interval="weekly";
	else if (document.getElementById("interval_2").checked)
		interval="monthly";
		
    if (folderKey)
		var url = homePath + "LibraryActivity?OpenAgent&path="+libraryKey +","+folderKey+","+Math.random()+","+interval;
	else
		var url = homePath + "LibraryActivity?OpenAgent&path="+libraryKey +","+Math.random()+","+interval;

	$('#intervalOptions').buttonset();		

	try{	

		//Now fetch the summary into the page
		$.get( url, null, function(data,status,xhr){		
			if (status && status=="success"){					
				divActivity.html(data);			
	
				//render as a data table
				var maxheight = jQuery(window).height() - 300;
				maxheight = (maxheight < 150) ? 150 : maxheight;
				  
				//render as a data table
				$('#tblActivity').dataTable({"scrollY": maxheight, "scrollCollapse":true});	
			}
			else{
				divActivity.html("Error loading activity - "+status);
			}
				
		},"html");

	}
	catch(e){ }
}

function OpenTargetDocument(label, libraryPath,libraryKey,folderKey,documentKey) {    
	var ws = window.top.Docova.getUIWorkspace(document);
	var fraFolderWin = ws.getDocovaFrame("foldercontrol", "window");
	var folderControl = fraFolderWin.DLITFolderView;
	
	if(documentKey == ""){ //if no documentkey, like is a folder
		folderControl.OpenFolder(folderKey, false, libraryKey);
	}else{
		libraryPath = $("#libraryPath").text();
		folderControl.OpenFolder(folderKey, false, libraryKey, function(result){
			if(result){
				var newDocUrl = docInfo.ServerUrl + libraryPath + "/ReadDocument/" + documentKey + "?OpenDocument&ParentUNID=" + folderKey;
				var fraTabbedTableWin = ws.getDocovaFrame("fraTabbedTable", "window")
				fraTabbedTableWin.objTabBar.CreateTab(label, documentKey, "D", newDocUrl);
			}else{
				alert("The selected document folder could not be found.")
			}
		})
	}
} 
</script>
</head>
<body text="#000000" bgcolor="#EFEFEF" SCROLL="no" onload="$(document).ready(function(){ loadActivity(); });">
	<div id="divContentSection">
		<span id="intervalOptions">
			<input type="radio" name="interval" id="interval_0"  checked="checked" value="daily" onClick="loadActivity()"/>
			<label for="interval_0">{% trans %}Day{% endtrans %}</label>
			<input type="radio" name="interval" id="interval_1" value="weekly" onClick="loadActivity()"/>
			<label for="interval_1">{% trans %}Week{% endtrans %}</label>
			<input type="radio" name="interval" id="interval_2" value="monthly"  onClick="loadActivity()"/>
			<label for="interval_2">{% trans %}Month{% endtrans %}</label>
		</span>
		<br/><br/>
  		<div id="activityTable" class="container" style="height:100%;"> </div>  
		<span id="libraryKey" style="display:none;">{{ app.request.query.get('lib') }}</span>
		<span id="libraryPath" style="display:none;">{{ path('docova_homepage') }}</span>
		<span id="folderKey" style="display:none;">{{ app.request.query.get('FolderID') }}</span>
		<span id="homePath" style="display:none;">{{ path('docova_homepage') }}</span>
	</div>
	<script type="text/javascript">
var info = {
  "ServerUrl"  :"{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}"
};
function getinfovar(){
   return info;
}
InitVars(info);
	</script>
</body>
</html>