<!DOCTYPE html>
<html>
<head>
	<title>{% trans %}System Messages{% endtrans %}</title>
	<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}"></script>
	<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/popupmenu.js') }}" charset="UTF-8" ></script>
	<script type="text/javascript">
	function CloseDocument()
	{
		window.close();
		return false;
	}
	</script>
</head>
<body>
	{% if message %}
	<div sytle="clear:both; with:100%; text-align:center; margin:5px auto; color:red">{{ message|raw }}</div>
	{% endif %}
	<!-- Subform -- thingFactory -->
	<script src="{{ path('docova_dlextensions') }}" language="javascript"></script>
	<!-- End Subform -- thingFactory --><script language="javascript">aBar.Initialize()</script>
	{% set date_format = settings.getDefaultDateFormat|replace({'MM' : 'm', 'DD' : 'd', 'YYYY' : 'Y'}) %}
	<span id="info" style="display: none;"
	DocID=""
	DocKey=""
	DocumentNumber=""
	ThreadKey=""
	UserName="{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}"
	UserNameAB="{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}"
	UserNameCN="{{ user.username }}"
	TodayDate="{{ 'now'|date(date_format) }}"
	isNewDoc="true"
	isDocBeingEdited="true"
	Mode=""
	LoadAction=""
	HTTP_Referer=""
	Query_String="OpenForm&ParentUNID="
	Query_String_Decoded="OpenForm&ParentUNID="
	Path_Info_Decoded="{{ path('docova_systemmessagesadmin') }}?OpenForm&ParentUNID="
	ServerName="{{ app.request.server.get('HTTP_HOST') }}"
	ServerUrl="{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}"
	NsfName="{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}"
	LogNsfName=""
	ArchiveNsfName=""
	PortalWebPath="{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}"
	PortalNsfName="{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}"
	CreatedBy=""
	CreatedDate=""
	Managers=""
	Authors="[Administration]"
	Readers=""
	LastModifiedBy=""
	LastModifiedDate=""
	LastModifiedServer=""
	SessionDateFormat="mm/dd/yyyy"
	DocAccessLevel="7"
	CanDeleteDocuments="true"
	DocAccessRole="Manager"
	DbAccessLevel="7"
	isEditable="true"
	DocovaEnvironment="Internal"
	isAppSettings=""
	isUserUpdate="No"
	userProfileRetUrl="/Docova/Dev/JAV/3-5-1/DOCOVAHome.nsf/luUserProfilesByName/Javad Rahimi/DLI?OpenDocument&uType=user"
	formName=""
	initUserRole=""
	></span>
	<!------------------------------------>
	<form action="{{ path('docova_systemmessagesadmin') }}" method="post" >
		<div style="border-top:1px #CCC solid; border-bottom:1px #CCC solid; background-color:#ECE9D8; height:32px; clear:both; width:100%" >
			<input type="button" id="close" value="Close" onclick="CloseDocument();">
			<input type="submit" id="Save_Close" value="Save and Close" >
		</div>
		<table>
			<tr>
				<td>Message Name:</td><td><input type="text" name="MessageName" value=""></td>
			</tr>
			<tr>
				<td colspan="2">Message Link:</td>
			</tr>
			<tr>
				<td colspan="2"><label><input type="radio" value="w" name="LinOption"> Open whole application </label>&nbsp;<label><input type="radio" value="d" name="LinkOption" > Open document only </label></td>
			</tr>
			<tr>
				<td>Sender:</td><td>System message sender name will be used if empty.</td>
			</tr>
			<tr>
				<td colspan="2">
					<textarea rows="4" cols="60" name="Principal" readonly="readonly"></textarea>
					<button style="width: 20px; height: 18px;" onClick="showAddressDialog('Principal','multi')">
						<img alt="add" src="{{ asset('bundles/docova/images/icons/vwicn004.gif') }}" align="top" >
					</button>
				</td>
			</tr>
			<tr>
				<td colspan="2">Subject Line:</td>
			</tr>
			<tr>
				<td colspan="2"><input type="text" name="Subject" value="" ></td>
			</tr>
			<tr>
				<td colspan="2">Body content:</td>
			</tr>
			<tr>
				<td colspan="2"><textarea rows="10" cols="70" name="Body"></textarea></td>
			</tr>
		</table>
	</form>
</body>
</html>