<!DOCTYPE HTML>
<HTML>
<HEAD>
<TITLE>{{ settings.getApplicationTitle }}</TITLE>
<META charset="utf-8">
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/admin/styleAdministration.css') }}">
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/commonFunctions.js') }}" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('bundles/docova/js/Docova.js') }}" charset="UTF-8"></script>
<link rel="icon" href="{{ asset('bundles/docova/images/favicon.ico') }}">
<script type="text/javascript">
var info = {
  "UserName" : "{{ user.getUserNameDn|replace({'\\': '\\\\'}) }}",
  "UserNameAB" : "{{ user.getUserNameDnAbbreviated|replace({'\\': '\\\\'}) }}",
  "ServerName" : "",
  "NsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}",
  "SystemKey" : "{{ settings.getSystemKey }}",
  "ServerUrl"  :"{{ app.request.getscheme }}://{{ app.request.server.get('HTTP_HOST') }}",
  "PortalWebPath" : "{{ path('docova_homepage')[:path('docova_homepage')|length - 1] }}",
  "PortalNsfName" : "{{ path('docova_homepage')[1:path('docova_homepage')|length - 2] }}"
};
var docInfo = info;
var docovaCookie = {};
function getinfovar(){
   return info;
}		
/* global vars for iframe resize */
var rtime = new Date(1, 1, 2000, 12,00,00);
var timeout = false;
var delta = 200;
/* resize event timer */
function resizeStart(cb) {
    rtime = new Date();
    if (timeout === false) {
        timeout = true;
        setTimeout(function(){resizeEnd(cb)}, delta);
    }
}//-- end resizeStart
/* resize event timer */
function resizeEnd(cb) {
    if (new Date() - rtime < delta) {
        setTimeout(function(){resizeEnd(cb)}, delta);
    } else {
        timeout = false;
        cb.call();
    }               
}//-- end resizeEnd
/* Adjusts iframe sizing */
function adjustIFrameSize(){
	try{
		jQuery("#iFrameMain").height(jQuery(window).height());
		jQuery("#iFrameMain").width(jQuery(window).width());
	}catch(e){}
}//--end adjustFolderPaneSize
</script>
<style>
    html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	overflow: hidden;
    }
    #iFrameMain  {
	border: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
    }
</style>
</HEAD>
<BODY>
<iframe id="iFrameMain" src="about:blank"></iframe>
<script>
  adjustIFrameSize();
  var url = "./wHomeFrame2?ReadForm&goto={{ app.request.query.get('goto') }}";
  jQuery("#iFrameMain").attr("src", url);
  jQuery(window).resize(function(){resizeStart(adjustIFrameSize)});
  if ( window.top.Docova.IsPluginAlive == null ){
	 window.top.Docova.checkPluginAlive({
		onSuccess: function(){
			 window.top.Docova.IsPluginAlive = true;
		},
		onFailure: function(){
			window.top.Docova.IsPluginAlive = false;
			var uiw = window.top.Docova.getUIWorkspace(document);
			var fratoolbar = uiw.getDocovaFrame('fraToolbar', 'window');
			if ( fratoolbar )
				fratoolbar .showPluginNotRunning();
			
		}
	});
}
</script>
</BODY>
</HTML>