<!doctype html>
<html>
<head>
</head>
<body>
	<div style='margin-left: 10px;'>
		<table id='tblActivity'>
			<thead class='ui-widget-header'>
				<th class='headercell'>{% trans %}Folder{% endtrans %}</th>
				<th class='headercell'>{% trans %}Subject{% endtrans %}</th>
				<th class='headercell'>{% trans %}Modified On{% endtrans %}</th>
				<th class='headercell'>{% trans %}Modified By{% endtrans %}</th>
			</thead>
			<tbody class='ui-widget-content'>
			{% if documents %}
			{% for item in documents %}
				<tr>
					<td class='datacell'>
						<a href='#' onclick="OpenTargetDocument('{{ item.getFolder.getFolderName }}','','{{ library }}','{{ item.getFolder.getId }}','');return false;">{{ item.getFolder.getFolderName }}</a>
					</td>
					<td class='datacell'>
						<a href='#' onclick="OpenTargetDocument('{{ item.getFolder.getFolderName }}','','{{ library }}','{{ item.getFolder.getId }}','{{ item.getId }}');return false;">{{ item.getDocTitle }}</a>
					</td>
					<td class='datacell'>{{ item.getDateModified().format('r') }}</td>
					<td class='datacell'>{{ item.getModifier().getUserProfile.getDisplayName }}</td>
				</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
		<br />
		<span style='font-weight: bold;'>
			<font face='verdana,arial' size='1'>{% trans %}Generated on{% endtrans %}: </font>
		</span>
		<span><font face='verdana,arial' size='1'>{{ 'now'|date('r') }}</font></span>
	</div>
</body>
</html>